Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/build-maintainers, @coq/ci-maintainers, @coq/windows-build-maintainers, @coq/nix-maintainers, @coq/bench-maintainers, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/kernel-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/pretyper-maintainers, @coq/stm-maintainers, @coq/plugin-tutorial-maintainers, @coq/lib-maintainers, @coq/coqide-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/stdlib-maintainers, @coq/typeclasses-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/number-maintainers, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @herbelin, @coq/dev-tools-maintainers

cominductive: make conclusion flexible earlier
  vernac/comInductive.ml
  vernac/comInductive.mli
Owners: @coq/vernac-maintainers

Use univ_flexible_alg glob sort for inductives
  engine/evd.ml
  engine/evd.mli
  engine/uState.ml
  engine/uState.mli
  vernac/comInductive.ml
  vernac/record.ml
Owners: @coq/engine-maintainers, @coq/universes-maintainers, @coq/vernac-maintainers

Move `is_sort_variable` to only user in record, add normalization
  engine/evd.ml
  engine/evd.mli
  engine/uState.ml
  engine/uState.mli
  vernac/record.ml
Owners: @coq/engine-maintainers, @coq/universes-maintainers, @coq/vernac-maintainers

Don't minimize universes in inductive_levels
  test-suite/output/PrimitiveProjectionsAttribute_Records.out
  test-suite/output/UnivBinders.out
  vernac/comInductive.ml
  vernac/record.ml
Owners: @coq/vernac-maintainers

UState.make_flexible_variable is always called with [true]
  engine/evd.ml
  engine/evd.mli
  engine/uState.ml
  engine/uState.mli
  vernac/comInductive.ml
  vernac/record.ml
Owners: @coq/engine-maintainers, @coq/universes-maintainers, @coq/vernac-maintainers

Stop recognizing `((fun _ => Type) : nat -> _) 0` as pseudo_poly in cominductive
  vernac/comInductive.ml
Owners: @coq/vernac-maintainers

Fix create_overlay loop when non github repo
  dev/tools/create_overlays.sh
Owners: @coq/dev-tools-maintainers

[coqdep] Cleanup unused logic for processing input directories
  tools/coqdep/coqdep.ml
  tools/coqdep/lib/common.ml
  tools/coqdep/lib/common.mli
  tools/coqdep/lib/loadpath.mli
  tools/dune_rule_gen/dep_info.ml
Owners: @coq/build-maintainers

[coqdep] Add some labels
  tools/coqdep/lib/common.ml
Owners: @coq/build-maintainers

[coqdep] Remove always on verbose flag
  tools/coqdep/lib/common.ml
Owners: @coq/build-maintainers

add note about expectations on answers to forum questions in code of conduct
  CODE_OF_CONDUCT.md
Owners: @coq/code-of-conduct-team

[coqidetop] Fix print depth setting for Richpp clients
  ide/coqide/idetop.ml
Owners: @coq/coqide-maintainers

Fixes #15221 part 1: notation with flexible head not a bounded application.
  interp/notationextern.ml
Owners: @coq/extensible-syntax-maintainers

Fixes #15221 part 2: a case of ill-typed eta-expansion in notations.
  interp/notation_ops.ml
  test-suite/output/bug_15221.out
  test-suite/output/bug_15221.v
Owners: @coq/extensible-syntax-maintainers

Adding changelog for #17841
  doc/changelog/03-notations/17841-master+fixes15221-invalid-eta-expansion-notation.rst
Owners: none

Fixes #15322: treat non-standard way to set associativity.
  test-suite/output/PrintingParentheses.out
  test-suite/output/bug_15322.out
  test-suite/output/bug_15322.v
  vernac/metasyntax.ml
Owners: @coq/parsing-maintainers

Adding changelog for #17844
  doc/changelog/03-notations/17844-master+fix15322-set-printing-parenthesis-hole.rst
Owners: none

Remove the deprecated elimtype and casetype tactics from Ltac.
  doc/changelog/04-tactics/16904-deprecate-elim-case-type.rst
  doc/sphinx/proofs/writing-proofs/reasoning-inductives.rst
  doc/tools/docgram/common.edit_mlg
  doc/tools/docgram/fullGrammar
  doc/tools/docgram/orderedGrammar
  plugins/ltac/coretactics.mlg
  tactics/tactics.ml
  tactics/tactics.mli
  tools/coqdoc/output.ml
Owners: @coq/doc-maintainers, @coq/ltac-maintainers, @coq/tactics-maintainers, @coq/coqdoc-maintainers

Simplify internals of exfalso.
  proofs/clenv.ml
  proofs/clenv.mli
  tactics/tactics.ml
Owners: @coq/engine-maintainers, @coq/tactics-maintainers

Small inversion
  pretyping/cases.ml
  theories/Classes/EquivDec.v
Owners: @coq/pretyper-maintainers, @coq/typeclasses-maintainers

Fix handling of coercions in patterns
  pretyping/cases.ml
Owners: @coq/pretyper-maintainers

Correction filter
  pretyping/cases.ml
Owners: @coq/pretyper-maintainers

Rebase
  pretyping/cases.ml
  pretyping/cases.mli
Owners: @coq/pretyper-maintainers

Fix universes and indices order
  pretyping/cases.ml
Owners: @coq/pretyper-maintainers

Fix Case10.v
  pretyping/cases.ml
  test-suite/success/Case10.v
Owners: @coq/pretyper-maintainers

Remove printing
  pretyping/cases.ml
Owners: @coq/pretyper-maintainers

Remove printing
  pretyping/cases.ml
Owners: @coq/pretyper-maintainers

Fix incorrect sigma for push_rel_context in return pred
  pretyping/cases.ml
Owners: @coq/pretyper-maintainers

Tentative fix for "as" with evar
  pretyping/cases.ml
Owners: @coq/pretyper-maintainers

Fix exhaustivity error/support for 'as' clause in non-inductive case
  pretyping/cases.ml
Owners: @coq/pretyper-maintainers

Fix "as": keep expanding in small-inversion internal matches
  pretyping/cases.ml
Owners: @coq/pretyper-maintainers

Fix for rebasing with master
  pretyping/cases.ml
Owners: @coq/pretyper-maintainers

Fix ConstructiveEpsilon
  theories/Logic/ConstructiveEpsilon.v
Owners: @coq/stdlib-maintainers

Add BRiCk to CI
  .gitlab-ci.yml
  Makefile.ci
  dev/ci/ci-basic-overlay.sh
  dev/ci/ci-brick.sh
Owners: @coq/ci-maintainers

add Coinduction plugin to Coq's CI
  .gitlab-ci.yml
  Makefile.ci
  dev/ci/ci-basic-overlay.sh
  dev/ci/ci-coinduction.sh
Owners: @coq/ci-maintainers

Fix #17852 (universe issue with reverse coercions)
  pretyping/coercion.ml
  test-suite/bugs/bug_17852.v
Owners: @coq/pretyper-maintainers

Ignore test-suite files produced by extraction.
  .gitignore
Owners: none

Enforcing right associativity of right-open notations at level 0.
  test-suite/bugs/bug_11121.v
  test-suite/bugs/bug_3468.v
  test-suite/bugs/bug_7462.v
  test-suite/bugs/bug_8672.v
  test-suite/output-coqtop/LookaheadErrors.out
  test-suite/output-coqtop/LookaheadErrors.v
  test-suite/output/activation.v
  test-suite/output/bug_17627.out
  test-suite/output/bug_17627.v
  test-suite/output/locate.v
  test-suite/ssr/ipat_tac.v
  test-suite/success/Notations.v
  test-suite/success/Notations2.v
  test-suite/success/Typeclasses.v
  theories/Numbers/Cyclic/Int63/Uint63.v
Owners: @coq/ssreflect-maintainers, @coq/number-maintainers

Fixes #17854 anomaly: check for duplicates was too late for disjunctive patterns.
  interp/constrintern.ml
  test-suite/output/bug_17854.out
  test-suite/output/bug_17854.v
Owners: @coq/extensible-syntax-maintainers

Preventing notations to refer to levels strictly less than 0.
  test-suite/output/Notations4.out
  test-suite/output/Notations4.v
  vernac/metasyntax.ml
Owners: @coq/parsing-maintainers

.github/CODEOWNERS:

# This file associates maintainer teams to each component.
# See CONTRIBUTING.md

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers

########## Build system ##########

/Makefile                       @coq/build-maintainers
/dev/tools/make_git_revision.sh @coq/build-maintainers

/configure                      @coq/build-maintainers
/tools/configure/*              @coq/build-maintainers

/tools/coqdep/                  @coq/build-maintainers

/boot/                          @coq/build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/dev/lint-*.sh       @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/.github/workflows   @coq/ci-maintainers
/dev/ci/platform/    @coq/windows-build-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/bench/            @coq/bench-maintainers

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst
/dev/doc/changes.md
# Trick to avoid getting review requests
# each time someone modifies the changelog

/dev/doc/build-system.dune.md @coq/build-maintainers
/dev/doc/critical-bugs        @coq/kernel-maintainers
/dev/doc/econstr.md           @coq/engine-maintainers
/dev/doc/proof-engine.md      @coq/engine-maintainers
/dev/doc/release-process.md   @coq/contributing-process-maintainers
/dev/doc/shield-icon.png      @coq/contributing-process-maintainers
/dev/doc/SProp.md             @coq/universes-maintainers
/dev/doc/style.txt            @coq/contributing-process-maintainers
/dev/doc/unification.txt      @coq/pretyper-maintainers
/dev/doc/universes.md         @coq/universes-maintainers
/dev/doc/xml-protocol         @coq/stm-maintainers

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/engine/          @coq/engine-maintainers

/engine/univ*     @coq/universes-maintainers
/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/kernel/          @coq/kernel-maintainers

/kernel/byterun/  @coq/vm-native-maintainers
/kernel/native*   @coq/vm-native-maintainers
/kernel/vm*       @coq/vm-native-maintainers
/kernel/vconv.*   @coq/vm-native-maintainers
/kernel/genOpcodefiles.* @coq/vm-native-maintainers

/kernel/sorts.*   @coq/universes-maintainers
/kernel/uGraph.*  @coq/universes-maintainers
/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/gramlib/         @coq/parsing-maintainers
/parsing/         @coq/parsing-maintainers

########## Standard library and plugins ##########

/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers

/plugins/btauto/       @coq/btauto-maintainers
/theories/btauto/      @coq/btauto-maintainers

/plugins/cc/           @coq/cc-maintainers
/theories/cc/          @coq/cc-maintainers

/plugins/derive/       @coq/derive-maintainers
/theories/derive/      @coq/derive-maintainers

/plugins/extraction/   @coq/extraction-maintainers
/theories/extraction/  @coq/extraction-maintainers

/plugins/firstorder/   @coq/firstorder-maintainers
/theories/firstorder/  @coq/firstorder-maintainers

/plugins/funind/       @coq/funind-maintainers
/theories/funind/      @coq/funind-maintainers

/plugins/ltac/         @coq/ltac-maintainers
/theories/ltac/        @coq/ltac-maintainers

/plugins/micromega/    @coq/micromega-maintainers
/theories/micromega/   @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/        @coq/nsatz-maintainers
/theories/nsatz/       @coq/nsatz-maintainers

/plugins/ring/  @coq/ring-maintainers
/theories/setoid_ring/ @coq/ring-maintainers

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/theories/ssrmatching/ @coq/ssreflect-maintainers

/plugins/ssr/          @coq/ssreflect-maintainers
/theories/ssr/         @coq/ssreflect-maintainers

/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @coq/rtauto-maintainers
/theories/rtauto/      @coq/rtauto-maintainers

/plugins/ltac2/        @coq/ltac2-maintainers
/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/pretyping/             @coq/pretyper-maintainers

/pretyping/vnorm.*      @coq/vm-native-maintainers
/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/proofs/          @coq/engine-maintainers

########## STM ##########

/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/tactics/         @coq/tactics-maintainers

/tactics/class_tactics.* @coq/typeclasses-maintainers

########## Number ##########

/interp/numTok.*                     @coq/number-maintainers
/kernel/float64*                     @coq/number-maintainers
/kernel/uint63*                      @coq/number-maintainers
/plugins/syntax/g_number_string.mlg  @coq/number-maintainers
/plugins/syntax/number.ml            @coq/number-maintainers
/user-contrib/Ltac2/Int.v            @coq/number-maintainers
/test-suite/output/FloatExtraction*  @coq/number-maintainers
/test-suite/output/*Number*          @coq/number-maintainers
/test-suite/primitive/float/         @coq/number-maintainers
/test-suite/primitive/sint63/        @coq/number-maintainers
/test-suite/primitive/uint63/        @coq/number-maintainers
/theories/Init/Decimal.v             @coq/number-maintainers
/theories/Init/Hexadecimal.v         @coq/number-maintainers
/theories/Init/Nat.v                 @coq/number-maintainers
/theories/Init/Number.v              @coq/number-maintainers
/theories/*Arith/                    @coq/number-maintainers
/theories/Numbers/                   @coq/number-maintainers
/theories/Floats/                    @coq/number-maintainers
/theories/extraction/Extr*Nat*       @coq/number-maintainers
/theories/extraction/Extr*Z*         @coq/number-maintainers
/theories/extraction/ExtrOCamlFloats.v  @coq/number-maintainers
/theories/extraction/ExtrOCamlInt*   @coq/number-maintainers

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/toplevel/   @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers
/sysinit/    @coq/toplevel-maintainers

########## Vernacular ##########

/vernac/              @coq/vernac-maintainers

/vernac/metasyntax.*  @coq/parsing-maintainers

/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers
