Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/build-maintainers, @coq/ci-maintainers, @coq/windows-build-maintainers, @coq/nix-maintainers, @coq/bench-maintainers, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/kernel-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/pretyper-maintainers, @coq/stm-maintainers, @coq/plugin-tutorial-maintainers, @coq/lib-maintainers, @coq/coqide-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/stdlib-maintainers, @coq/typeclasses-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/number-maintainers, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @herbelin, @coq/dev-tools-maintainers

Simplification of Tacred.special_red_case.
  pretyping/tacred.ml
Owners: @coq/pretyper-maintainers

Generalize the URL for base repository in the bench script.
  dev/bench/bench.sh
Owners: @coq/bench-maintainers

Unify test for hconsing between constant and inductive types.
  kernel/safe_typing.ml
Owners: @coq/kernel-maintainers

Adding Section.on_previous_section.
  kernel/section.ml
  kernel/section.mli
Owners: @coq/kernel-maintainers

DeclareUniv: Cosmetic name uniformization.
  vernac/declareUniv.ml
Owners: @coq/vernac-maintainers

ssr_mini_mathcomp.v: address various warnings.
  test-suite/prerequisite/ssr_mini_mathcomp.v
Owners: none

Adding functions to pop the dirpath of kns.
  kernel/names.ml
  kernel/names.mli
Owners: @coq/kernel-maintainers

Overlays for Equations, HoTT and metacoq
  dev/ci/user-overlays/17888-herbelin-master+discharge-on-the-fly.sh
Owners: none

Implement discharge on the fly.
  kernel/cooking.ml
  kernel/cooking.mli
  kernel/discharge.ml
  kernel/safe_typing.ml
  kernel/safe_typing.mli
  kernel/section.ml
  kernel/section.mli
  library/global.ml
  library/global.mli
  library/lib.ml
  library/lib.mli
  library/libobject.ml
  library/libobject.mli
  library/nametab.ml
  library/nametab.mli
  pretyping/structures.ml
  test-suite/output/Projections.out
  test-suite/output/Projections.v
  test-suite/success/discharge.v
  vernac/canonical.ml
  vernac/classes.ml
  vernac/comCoercion.ml
  vernac/declareUniv.ml
  vernac/declaremods.ml
  vernac/library.ml
  vernac/prettyp.ml
Owners: @coq/kernel-maintainers, @coq/library-maintainers, @coq/pretyper-maintainers, @coq/vernac-maintainers, @coq/typeclasses-maintainers

Write discharge functions in a principled way.
  interp/impargs.ml
  interp/notation.ml
  kernel/names.ml
  kernel/names.mli
  library/coqlib.ml
  library/globnames.ml
  library/globnames.mli
  library/lib.ml
  library/lib.mli
  plugins/funind/indfun_common.ml
  pretyping/arguments_renaming.ml
  pretyping/coercionops.ml
  pretyping/coercionops.mli
  pretyping/reductionops.ml
  pretyping/structures.ml
  pretyping/structures.mli
  tactics/declareScheme.ml
  tactics/hints.ml
  tactics/redexpr.ml
  vernac/canonical.ml
  vernac/classes.ml
  vernac/comArguments.ml
  vernac/comCoercion.ml
  vernac/declareInd.ml
  vernac/record.ml
Owners: @coq/extensible-syntax-maintainers, @coq/kernel-maintainers, @coq/library-maintainers, @coq/funind-maintainers, @coq/pretyper-maintainers, @coq/tactics-maintainers, @coq/vernac-maintainers, @coq/typeclasses-maintainers

Fixes #18004: check linearity before disjunctive patterns.
  doc/changelog/02-specification-language/17857-master+fix17854-too-late-duplicate-var-check-pattern-matching.rst
  interp/constrintern.ml
  test-suite/output/bug_17854.out
  test-suite/output/bug_17854.v
Owners: @coq/extensible-syntax-maintainers

[CI] Test MathComp 2 in CI
  .gitlab-ci.yml
  Makefile.ci
  dev/ci/ci-basic-overlay.sh
  dev/ci/ci-mathcomp_1.sh
  dev/ci/docker/edge_ubuntu/Dockerfile
Owners: @coq/ci-maintainers

Bump the MetaCoq CI timeout to 1h30.
  .gitlab-ci.yml
Owners: @coq/ci-maintainers

Make changelog items uniformly without a period before the parenthesis.
  doc/sphinx/changes.rst
Owners: @coq/doc-maintainers

Fix max stack size computation in VM instance compilation.
  kernel/vmbytegen.ml
Owners: @coq/vm-native-maintainers

Pass bound universes directly as an instance in the VM.
  kernel/vconv.ml
  kernel/vmbytecodes.ml
  kernel/vmbytecodes.mli
  kernel/vmbytegen.ml
  kernel/vmsymtable.ml
  kernel/vmvalues.ml
  kernel/vmvalues.mli
  pretyping/vnorm.ml
Owners: @coq/vm-native-maintainers

Optimize identity instances in VM compilation.
  kernel/vmbytegen.ml
Owners: @coq/vm-native-maintainers

Optimize closed universe instances in VM compilation.
  kernel/vmbytegen.ml
  kernel/vmemitcodes.ml
  kernel/vmvalues.ml
  kernel/vmvalues.mli
Owners: @coq/vm-native-maintainers

Further simplification of sort compilation in the VM.
  kernel/univ.ml
  kernel/univ.mli
  kernel/vmbytegen.ml
  kernel/vmvalues.ml
Owners: @coq/universes-maintainers, @coq/vm-native-maintainers

Adding changelog for #17991
  doc/changelog/05-Ltac-language/17991-master+simpl-and-eta-conversion.rst
Owners: none

Take benefit of eta to remove an old complex refolding circumvention in simpl.
  pretyping/tacred.ml
  test-suite/success/simpl.v
Owners: @coq/pretyper-maintainers

small reindent in record.ml
  vernac/record.ml
Owners: @coq/vernac-maintainers

overlays for inductive_levels refactor
  dev/ci/user-overlays/17795-SkySkimmer-comind-level-compute.sh
Owners: none

Don't minimize universes in inductive_levels
  test-suite/output/PrimitiveProjectionsAttribute_Records.out
  test-suite/output/UnivBinders.out
  vernac/comInductive.ml
  vernac/record.ml
Owners: @coq/vernac-maintainers

Don't minimize universes in def_class_levels
  engine/uState.ml
  vernac/record.ml
Owners: @coq/universes-maintainers, @coq/vernac-maintainers

cominductive: make conclusion flexible earlier
  vernac/comInductive.ml
  vernac/comInductive.mli
Owners: @coq/vernac-maintainers

Stop recognizing `((fun _ => Type) : nat -> _) 0` as pseudo_poly in cominductive
  vernac/comInductive.ml
Owners: @coq/vernac-maintainers

Revert "Warn when minimizing inductive to set even though minim to set is off"
  engine/univMinim.mli
  vernac/comInductive.ml
  vernac/comInductive.mli
  vernac/record.ml
Owners: @coq/universes-maintainers, @coq/vernac-maintainers

Move `is_sort_variable` to only user in record, add normalization
  engine/evd.ml
  engine/evd.mli
  engine/uState.ml
  engine/uState.mli
  vernac/record.ml
Owners: @coq/engine-maintainers, @coq/universes-maintainers, @coq/vernac-maintainers

UState.make_flexible_variable is always called with [true]
  engine/evd.ml
  engine/evd.mli
  engine/uState.ml
  engine/uState.mli
  vernac/comInductive.ml
  vernac/record.ml
Owners: @coq/engine-maintainers, @coq/universes-maintainers, @coq/vernac-maintainers

Move a universe minimization call into inductive_levels
  vernac/comInductive.ml
  vernac/record.ml
Owners: @coq/vernac-maintainers

Add glob_sort to produce flexible algebraic sorts
  interp/constrextern.ml
  interp/constrintern.ml
  interp/notation.ml
  interp/notation_ops.ml
  parsing/g_constr.mlg
  plugins/funind/glob_term_to_relation.ml
  plugins/ssr/ssrcommon.ml
  pretyping/detyping.ml
  pretyping/glob_ops.ml
  pretyping/glob_term.mli
  pretyping/pretyping.ml
  printing/ppconstr.ml
  vernac/comInductive.ml
  vernac/record.ml
Owners: @coq/extensible-syntax-maintainers, @coq/parsing-maintainers, @coq/funind-maintainers, @coq/ssreflect-maintainers, @coq/pretyper-maintainers, @coq/vernac-maintainers

cominductive.inductive_levels works on econstr
  engine/eConstr.ml
  engine/eConstr.mli
  vernac/comInductive.ml
  vernac/comInductive.mli
Owners: @coq/engine-maintainers, @coq/vernac-maintainers

Keep constraints on bounded from below univs when minim to set is off
  engine/univMinim.ml
  test-suite/bugs/bug_17795_1.v
Owners: @coq/universes-maintainers

Refactor ComInductive.inductive_levels to avoid adhoc max functions
  test-suite/bugs/bug_13300.v
  test-suite/bugs/bug_17801.v
  vernac/comInductive.ml
Owners: @coq/vernac-maintainers

Remove redundant "if len >= 2 then set_leq_sort set du" code
  vernac/comInductive.ml
Owners: @coq/vernac-maintainers

Fix universe handling with definitional class
  test-suite/bugs/bug_17796.v
  vernac/record.ml
Owners: @coq/vernac-maintainers

Use univ_flexible_alg glob sort for inductives
  engine/evd.ml
  engine/evd.mli
  engine/uState.ml
  engine/uState.mli
  vernac/comInductive.ml
  vernac/record.ml
Owners: @coq/engine-maintainers, @coq/universes-maintainers, @coq/vernac-maintainers

Make type universe_opt_subst abstract and move to new file UnivFlex
  dev/top_printers.ml
  engine/evarutil.ml
  engine/evd.ml
  engine/evd.mli
  engine/termops.ml
  engine/uState.ml
  engine/uState.mli
  engine/univFlex.ml
  engine/univFlex.mli
  engine/univMinim.ml
  engine/univMinim.mli
  engine/univSubst.ml
  engine/univSubst.mli
  kernel/univ.ml
  kernel/univ.mli
  test-suite/output/ShowUnivs.out
Owners: @coq/engine-maintainers, @coq/universes-maintainers

Changelog for inductive_levels refactor
  doc/changelog/08-vernac-commands-and-options/17795-comind-level-compute.rst
Owners: none

.github/CODEOWNERS:

# This file associates maintainer teams to each component.
# See CONTRIBUTING.md

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers

########## Build system ##########

/Makefile                       @coq/build-maintainers
/dev/tools/make_git_revision.sh @coq/build-maintainers

/configure                      @coq/build-maintainers
/tools/configure/*              @coq/build-maintainers

/tools/coqdep/                  @coq/build-maintainers

/boot/                          @coq/build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/dev/lint-*.sh       @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/.github/workflows   @coq/ci-maintainers
/dev/ci/platform/    @coq/windows-build-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/bench/            @coq/bench-maintainers

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst
/dev/doc/changes.md
# Trick to avoid getting review requests
# each time someone modifies the changelog

/dev/doc/build-system.dune.md @coq/build-maintainers
/dev/doc/critical-bugs        @coq/kernel-maintainers
/dev/doc/econstr.md           @coq/engine-maintainers
/dev/doc/proof-engine.md      @coq/engine-maintainers
/dev/doc/release-process.md   @coq/contributing-process-maintainers
/dev/doc/shield-icon.png      @coq/contributing-process-maintainers
/dev/doc/SProp.md             @coq/universes-maintainers
/dev/doc/style.txt            @coq/contributing-process-maintainers
/dev/doc/unification.txt      @coq/pretyper-maintainers
/dev/doc/universes.md         @coq/universes-maintainers
/dev/doc/xml-protocol         @coq/stm-maintainers

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/engine/          @coq/engine-maintainers

/engine/univ*     @coq/universes-maintainers
/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/kernel/          @coq/kernel-maintainers

/kernel/byterun/  @coq/vm-native-maintainers
/kernel/native*   @coq/vm-native-maintainers
/kernel/vm*       @coq/vm-native-maintainers
/kernel/vconv.*   @coq/vm-native-maintainers
/kernel/genOpcodefiles.* @coq/vm-native-maintainers

/kernel/sorts.*   @coq/universes-maintainers
/kernel/uGraph.*  @coq/universes-maintainers
/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/gramlib/         @coq/parsing-maintainers
/parsing/         @coq/parsing-maintainers

########## Standard library and plugins ##########

/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers

/plugins/btauto/       @coq/btauto-maintainers
/theories/btauto/      @coq/btauto-maintainers

/plugins/cc/           @coq/cc-maintainers
/theories/cc/          @coq/cc-maintainers

/plugins/derive/       @coq/derive-maintainers
/theories/derive/      @coq/derive-maintainers

/plugins/extraction/   @coq/extraction-maintainers
/theories/extraction/  @coq/extraction-maintainers

/plugins/firstorder/   @coq/firstorder-maintainers
/theories/firstorder/  @coq/firstorder-maintainers

/plugins/funind/       @coq/funind-maintainers
/theories/funind/      @coq/funind-maintainers

/plugins/ltac/         @coq/ltac-maintainers
/theories/ltac/        @coq/ltac-maintainers

/plugins/micromega/    @coq/micromega-maintainers
/theories/micromega/   @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/        @coq/nsatz-maintainers
/theories/nsatz/       @coq/nsatz-maintainers

/plugins/ring/  @coq/ring-maintainers
/theories/setoid_ring/ @coq/ring-maintainers

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/theories/ssrmatching/ @coq/ssreflect-maintainers

/plugins/ssr/          @coq/ssreflect-maintainers
/theories/ssr/         @coq/ssreflect-maintainers

/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @coq/rtauto-maintainers
/theories/rtauto/      @coq/rtauto-maintainers

/plugins/ltac2/        @coq/ltac2-maintainers
/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/pretyping/             @coq/pretyper-maintainers

/pretyping/vnorm.*      @coq/vm-native-maintainers
/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/proofs/          @coq/engine-maintainers

########## STM ##########

/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/tactics/         @coq/tactics-maintainers

/tactics/class_tactics.* @coq/typeclasses-maintainers

########## Number ##########

/interp/numTok.*                     @coq/number-maintainers
/kernel/float64*                     @coq/number-maintainers
/kernel/uint63*                      @coq/number-maintainers
/plugins/syntax/g_number_string.mlg  @coq/number-maintainers
/plugins/syntax/number.ml            @coq/number-maintainers
/user-contrib/Ltac2/Int.v            @coq/number-maintainers
/test-suite/output/FloatExtraction*  @coq/number-maintainers
/test-suite/output/*Number*          @coq/number-maintainers
/test-suite/primitive/float/         @coq/number-maintainers
/test-suite/primitive/sint63/        @coq/number-maintainers
/test-suite/primitive/uint63/        @coq/number-maintainers
/theories/Init/Decimal.v             @coq/number-maintainers
/theories/Init/Hexadecimal.v         @coq/number-maintainers
/theories/Init/Nat.v                 @coq/number-maintainers
/theories/Init/Number.v              @coq/number-maintainers
/theories/*Arith/                    @coq/number-maintainers
/theories/Numbers/                   @coq/number-maintainers
/theories/Floats/                    @coq/number-maintainers
/theories/extraction/Extr*Nat*       @coq/number-maintainers
/theories/extraction/Extr*Z*         @coq/number-maintainers
/theories/extraction/ExtrOCamlFloats.v  @coq/number-maintainers
/theories/extraction/ExtrOCamlInt*   @coq/number-maintainers

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/toplevel/   @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers
/sysinit/    @coq/toplevel-maintainers

########## Vernacular ##########

/vernac/              @coq/vernac-maintainers

/vernac/metasyntax.*  @coq/parsing-maintainers

/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers
