Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/build-maintainers, @coq/ci-maintainers, @coq/windows-build-maintainers, @coq/nix-maintainers, @coq/bench-maintainers, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/kernel-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/pretyper-maintainers, @coq/stm-maintainers, @coq/plugin-tutorial-maintainers, @coq/lib-maintainers, @coq/coqide-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/stdlib-maintainers, @coq/typeclasses-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/number-maintainers, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @herbelin, @coq/dev-tools-maintainers

.github/CODEOWNERS:

# This file associates maintainer teams to each component.
# See CONTRIBUTING.md

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers

########## Build system ##########

/Makefile                       @coq/build-maintainers
/dev/tools/make_git_revision.sh @coq/build-maintainers

/configure                      @coq/build-maintainers
/tools/configure/*              @coq/build-maintainers

/tools/coqdep/                  @coq/build-maintainers

/boot/                          @coq/build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/dev/lint-*.sh       @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/.github/workflows   @coq/ci-maintainers
/dev/ci/platform/    @coq/windows-build-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/bench/            @coq/bench-maintainers

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst
/dev/doc/changes.md
# Trick to avoid getting review requests
# each time someone modifies the changelog

/dev/doc/build-system.dune.md @coq/build-maintainers
/dev/doc/critical-bugs        @coq/kernel-maintainers
/dev/doc/econstr.md           @coq/engine-maintainers
/dev/doc/proof-engine.md      @coq/engine-maintainers
/dev/doc/release-process.md   @coq/contributing-process-maintainers
/dev/doc/shield-icon.png      @coq/contributing-process-maintainers
/dev/doc/SProp.md             @coq/universes-maintainers
/dev/doc/style.txt            @coq/contributing-process-maintainers
/dev/doc/unification.txt      @coq/pretyper-maintainers
/dev/doc/universes.md         @coq/universes-maintainers
/dev/doc/xml-protocol         @coq/stm-maintainers

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/engine/          @coq/engine-maintainers

/engine/univ*     @coq/universes-maintainers
/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/kernel/          @coq/kernel-maintainers

/kernel/byterun/  @coq/vm-native-maintainers
/kernel/native*   @coq/vm-native-maintainers
/kernel/vm*       @coq/vm-native-maintainers
/kernel/vconv.*   @coq/vm-native-maintainers
/kernel/genOpcodefiles.* @coq/vm-native-maintainers

/kernel/sorts.*   @coq/universes-maintainers
/kernel/uGraph.*  @coq/universes-maintainers
/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/gramlib/         @coq/parsing-maintainers
/parsing/         @coq/parsing-maintainers

########## Standard library and plugins ##########

/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers

/plugins/btauto/       @coq/btauto-maintainers
/theories/btauto/      @coq/btauto-maintainers

/plugins/cc/           @coq/cc-maintainers
/theories/cc/          @coq/cc-maintainers

/plugins/derive/       @coq/derive-maintainers
/theories/derive/      @coq/derive-maintainers

/plugins/extraction/   @coq/extraction-maintainers
/theories/extraction/  @coq/extraction-maintainers

/plugins/firstorder/   @coq/firstorder-maintainers
/theories/firstorder/  @coq/firstorder-maintainers

/plugins/funind/       @coq/funind-maintainers
/theories/funind/      @coq/funind-maintainers

/plugins/ltac/         @coq/ltac-maintainers
/theories/ltac/        @coq/ltac-maintainers

/plugins/micromega/    @coq/micromega-maintainers
/theories/micromega/   @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/        @coq/nsatz-maintainers
/theories/nsatz/       @coq/nsatz-maintainers

/plugins/ring/  @coq/ring-maintainers
/theories/setoid_ring/ @coq/ring-maintainers

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/theories/ssrmatching/ @coq/ssreflect-maintainers

/plugins/ssr/          @coq/ssreflect-maintainers
/theories/ssr/         @coq/ssreflect-maintainers

/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @coq/rtauto-maintainers
/theories/rtauto/      @coq/rtauto-maintainers

/plugins/ltac2/        @coq/ltac2-maintainers
/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/pretyping/             @coq/pretyper-maintainers

/pretyping/vnorm.*      @coq/vm-native-maintainers
/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/proofs/          @coq/engine-maintainers

########## STM ##########

/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/tactics/         @coq/tactics-maintainers

/tactics/class_tactics.* @coq/typeclasses-maintainers

########## Number ##########

/interp/numTok.*                     @coq/number-maintainers
/kernel/float64*                     @coq/number-maintainers
/kernel/uint63*                      @coq/number-maintainers
/plugins/syntax/g_number_string.mlg  @coq/number-maintainers
/plugins/syntax/number.ml            @coq/number-maintainers
/user-contrib/Ltac2/Int.v            @coq/number-maintainers
/test-suite/output/FloatExtraction*  @coq/number-maintainers
/test-suite/output/*Number*          @coq/number-maintainers
/test-suite/primitive/float/         @coq/number-maintainers
/test-suite/primitive/sint63/        @coq/number-maintainers
/test-suite/primitive/uint63/        @coq/number-maintainers
/theories/Init/Decimal.v             @coq/number-maintainers
/theories/Init/Hexadecimal.v         @coq/number-maintainers
/theories/Init/Nat.v                 @coq/number-maintainers
/theories/Init/Number.v              @coq/number-maintainers
/theories/*Arith/                    @coq/number-maintainers
/theories/Numbers/                   @coq/number-maintainers
/theories/Floats/                    @coq/number-maintainers
/theories/extraction/Extr*Nat*       @coq/number-maintainers
/theories/extraction/Extr*Z*         @coq/number-maintainers
/theories/extraction/ExtrOCamlFloats.v  @coq/number-maintainers
/theories/extraction/ExtrOCamlInt*   @coq/number-maintainers

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/toplevel/   @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers
/sysinit/    @coq/toplevel-maintainers

########## Vernacular ##########

/vernac/              @coq/vernac-maintainers

/vernac/metasyntax.*  @coq/parsing-maintainers

/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers

Move error on right-opened or next-level-based notations at level 0 to a warning.
  test-suite/bugs/bug_9517.v
  test-suite/output/Notations4.out
  test-suite/output/Notations4.v
  test-suite/ssr/intro_noop.v
  vernac/metasyntax.ml
Owners: @coq/ssreflect-maintainers, @coq/parsing-maintainers

Change log for #15341
  doc/changelog/03-notations/15341-master+addresses15336-prevent-setting-level-minus1-inadvertently.rst
Owners: none

Add overlay
  dev/ci/user-overlays/15341-herbelin-prevent-setting-minus1-inadvertently.sh
Owners: none

Never backtrack when `Typeclasses Unique Instances` is enabled.
  tactics/class_tactics.ml
Owners: @coq/typeclasses-maintainers

Stop mentioning Local, Export, Global prefixes for Set.
  doc/sphinx/language/core/basic.rst
Owners: @coq/doc-maintainers

Adding changelog for #17857
  doc/changelog/02-specification-language/17857-master+fix17854-too-late-duplicate-var-check-pattern-matching.rst
Owners: none

Ignore repeated "as id" clauses with same id.
  interp/constrintern.ml
Owners: @coq/extensible-syntax-maintainers

Adding change log for #17115
  doc/changelog/03-notations/17115-master+unify-CPatNotation-CNotation-partial-fix17094.rst
Owners: none

Overlay for tactician
  dev/ci/user-overlays/17115-herbelin-master+unify-CPatNotation-CNotation-partial-fix17094.sh
Owners: none

Better fix for #13078: supporting "ident"/"pattern" in notations for patterns.
  test-suite/output/Notations3.out
  test-suite/output/Notations3.v
  vernac/metasyntax.ml
Owners: @coq/parsing-maintainers

Make the internal interpretation of CPatNotation closer to CNotation.
  interp/abbreviation.ml
  interp/abbreviation.mli
  interp/constrexpr.mli
  interp/constrexpr_ops.ml
  interp/constrextern.ml
  interp/constrintern.ml
  interp/notation.ml
  interp/notation.mli
  interp/notation_ops.ml
  interp/notation_ops.mli
  interp/notationextern.ml
  interp/notationextern.mli
  parsing/g_constr.mlg
  printing/ppconstr.ml
  test-suite/output/Notations3.out
  test-suite/output/Notations3.v
  vernac/egramcoq.ml
  vernac/metasyntax.ml
Owners: @coq/extensible-syntax-maintainers, @coq/parsing-maintainers, @coq/vernac-maintainers

Extraction to OCaml: use dot notation for non-primitive projections in functors.
  plugins/extraction/extraction.ml
  test-suite/output/extraction_projection.out
Owners: @coq/extraction-maintainers

Fixes #17860: missing check in notations with repeated recursive binder variable.
  interp/notation_ops.ml
  test-suite/bugs/bug_17860.v
Owners: @coq/extensible-syntax-maintainers

Adding changelog for #17861
  doc/changelog/03-notations/17861-master+fix17860-anomaly-isnone-notation-recursive-binders.rst
Owners: none

Refine #9874 by using a combination of vm+cbv for printing numerals.
  interp/notation.ml
Owners: @coq/extensible-syntax-maintainers

Support for recognizing string constants tokens in notations.
  doc/sphinx/user-extensions/syntax-extensions.rst
  doc/tools/docgram/common.edit_mlg
  doc/tools/docgram/fullGrammar
  interp/constrextern.ml
  interp/notation.ml
  interp/notation.mli
  parsing/cLexer.ml
  parsing/g_constr.mlg
  parsing/tok.ml
  test-suite/output/NotationSyntax.out
  test-suite/output/NotationSyntax.v
  test-suite/output/PrintGrammar.out
  test-suite/output/PrintGrammarConstr.out
  vernac/egramcoq.ml
  vernac/metasyntax.ml
Owners: @coq/doc-maintainers, @coq/extensible-syntax-maintainers, @coq/parsing-maintainers, @coq/vernac-maintainers

Adding change log for #17123
  doc/changelog/03-notations/17123-master+support-for-string-constant-tokens-in-notations.rst
Owners: none

Don't complain about reregistering a hook afte backtracking
  pretyping/coercion.ml
Owners: @coq/pretyper-maintainers

Cleaning in notation_ops.ml.
  interp/notation_ops.ml
Owners: @coq/extensible-syntax-maintainers

Constrintern cleanup post PR#12100 (a386c2f1ba38).
  interp/constrintern.ml
Owners: @coq/extensible-syntax-maintainers

Notations: compute the notation variables binding in a notation variable.
  interp/constrintern.ml
  interp/constrintern.mli
  interp/genintern.ml
  interp/genintern.mli
  interp/notation_ops.ml
  interp/notation_term.mli
  interp/notationextern.ml
  vernac/metasyntax.ml
Owners: @coq/extensible-syntax-maintainers, @coq/parsing-maintainers

Overlay for serapi
  dev/ci/user-overlays/17827-herbelin-master+collecting-ntn-vars-binding-in-ntn-var.sh
Owners: none

Fix broken link in XML protocol documentation.
  dev/doc/xml-protocol.md
Owners: @coq/doc-maintainers

Using full "notation_entry_relative_level" in unparsing.
  interp/notationextern.mli
  printing/ppconstr.ml
  printing/ppextend.ml
  printing/ppextend.mli
  vernac/metasyntax.ml
Owners: @coq/extensible-syntax-maintainers, @coq/parsing-maintainers

Remove dead code in induction internals.
  tactics/induction.ml
Owners: @coq/tactics-maintainers

Fix #17871 inconsistency with native_compute and primitive floats
  dev/doc/critical-bugs
  doc/changelog/01-kernel/17872-fix_17871.rst
  kernel/nativeconv.ml
  kernel/nativevalues.ml
  kernel/nativevalues.mli
  pretyping/nativenorm.ml
  test-suite/bugs/bug_17871.v
Owners: @coq/kernel-maintainers, @coq/vm-native-maintainers

Adding the possibility to request a non-empty printing level coercion.
  interp/notation.ml
  interp/notation.mli
Owners: @coq/extensible-syntax-maintainers

Passing level of printing continuation in preparation of support for rule collisions.
  printing/ppconstr.ml
  printing/ppconstr.mli
Owners: @coq/extensible-syntax-maintainers

Moving prec_less in notation.ml.
  interp/notation.ml
  interp/notation.mli
  plugins/ltac/pptactic.ml
  printing/ppconstr.ml
  printing/ppconstr.mli
Owners: @coq/extensible-syntax-maintainers, @coq/ltac-maintainers

Preparing to add printer support for parsing rules overlapping on right and left.
  printing/ppconstr.ml
Owners: @coq/extensible-syntax-maintainers

Add printer support for constr rules of the form "SELF ; ... ; term LEVEL XX".
  interp/notation.ml
  interp/notation.mli
  printing/ppconstr.ml
  test-suite/output/Notations4.out
  test-suite/output/Notations4.v
Owners: @coq/extensible-syntax-maintainers

Add printer support for custom rules of the form "SELF ; ... ; myterm LEVEL XX".
  interp/constrextern.ml
  test-suite/output/Notations4.out
  test-suite/output/Notations4.v
Owners: @coq/extensible-syntax-maintainers

Registering Rle_refl and Rle_refl for reflexivity
  theories/Reals/RIneq.v
Owners: @coq/reals-library-maintainers

Registering Rlt_trans, Rle_trans, Rgt_trans and Rlt_trans for transitivity.
  theories/Reals/RIneq.v
  theories/Reals/Raxioms.v
Owners: @coq/reals-library-maintainers

Adding change log for #16873.
  doc/changelog/11-standard-library/16873-master+register-R-order-reflexive-transitive-class.rst
Owners: none

CI: adjust Windows CI to changes in Coq Platform (folder name)
  dev/ci/platform/coq-pf-04-installer.bat
Owners: @coq/windows-build-maintainers

Normalize inductive parameters through kernel rather than VM.
  pretyping/vnorm.ml
Owners: @coq/vm-native-maintainers

Revert "Correctly normalize constructor parameters in the VM."
  pretyping/vnorm.ml
Owners: @coq/vm-native-maintainers

Correctly normalize constructor parameters in the VM.
  pretyping/vnorm.ml
Owners: @coq/vm-native-maintainers

Externalize ETerm and co
  pretyping/GADT.ml
  pretyping/cases.ml
  pretyping/cases.mli
  pretyping/eTerm.ml
Owners: @coq/pretyper-maintainers
