Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/legacy-build-maintainers, @coq/build-maintainers, @coq/ci-maintainers, @coq/windows-build-maintainers, @coq/nix-maintainers, @ghost, @coq/bench-maintainers, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/kernel-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/pretyper-maintainers, @coq/stm-maintainers, @coq/plugin-tutorial-maintainers, @coq/lib-maintainers, @coq/coqide-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/stdlib-maintainers, @coq/typeclasses-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/number-maintainers, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @herbelin, @coq/dev-tools-maintainers

.github/CODEOWNERS:

# This file associates maintainer teams to each component.
# See CONTRIBUTING.md

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers

########## Build system ##########

/Makefile*                      @coq/legacy-build-maintainers
/dev/tools/make_git_revision.sh @coq/legacy-build-maintainers

/configure              @coq/legacy-build-maintainers @coq/build-maintainers
/tools/configure/*      @coq/legacy-build-maintainers @coq/build-maintainers

/boot/               @coq/build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/dev/lint-*.sh       @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/.github/workflows   @coq/ci-maintainers
/dev/ci/platform/    @coq/windows-build-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh @ghost
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/bench/            @coq/bench-maintainers

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/Makefile.doc          @coq/doc-maintainers

/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst @ghost
/dev/doc/changes.md    @ghost
# Trick to avoid getting review requests
# each time someone modifies the changelog

/dev/doc/build-system*.txt    @coq/legacy-build-maintainers
/dev/doc/build-system.dune.md @coq/build-maintainers
/dev/doc/critical-bugs        @coq/kernel-maintainers
/dev/doc/econstr.md           @coq/engine-maintainers
/dev/doc/proof-engine.md      @coq/engine-maintainers
/dev/doc/release-process.md   @coq/contributing-process-maintainers
/dev/doc/shield-icon.png      @coq/contributing-process-maintainers
/dev/doc/SProp.md             @coq/universes-maintainers
/dev/doc/style.txt            @coq/contributing-process-maintainers
/dev/doc/unification.txt      @coq/pretyper-maintainers
/dev/doc/universes.md         @coq/universes-maintainers
/dev/doc/xml-protocol         @coq/stm-maintainers

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/core/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/core/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/core/engine/          @coq/engine-maintainers

/core/engine/univ*     @coq/universes-maintainers
/core/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/core/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/core/kernel/          @coq/kernel-maintainers

/core/kernel/byterun/  @coq/vm-native-maintainers
/core/kernel/native*   @coq/vm-native-maintainers
/core/kernel/vm*       @coq/vm-native-maintainers
/core/kernel/vconv.*   @coq/vm-native-maintainers
/core/kernel/genOpcodefiles.* @coq/vm-native-maintainers

/core/kernel/sorts.*   @coq/universes-maintainers
/core/kernel/uGraph.*  @coq/universes-maintainers
/core/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/core/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/core/gramlib/         @coq/parsing-maintainers
/core/parsing/         @coq/parsing-maintainers

########## Standard library and plugins ##########

/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers

/plugins/btauto/       @coq/btauto-maintainers
/theories/btauto/      @coq/btauto-maintainers

/plugins/cc/           @coq/cc-maintainers
/theories/cc/          @coq/cc-maintainers

/plugins/derive/       @coq/derive-maintainers
/theories/derive/      @coq/derive-maintainers

/plugins/extraction/   @coq/extraction-maintainers
/theories/extraction/  @coq/extraction-maintainers

/plugins/firstorder/   @coq/firstorder-maintainers
/theories/firstorder/  @coq/firstorder-maintainers

/plugins/funind/       @coq/funind-maintainers
/theories/funind/      @coq/funind-maintainers

/plugins/ltac/         @coq/ltac-maintainers
/theories/ltac/        @coq/ltac-maintainers

/plugins/micromega/    @coq/micromega-maintainers
/theories/micromega/   @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/        @coq/nsatz-maintainers
/theories/nsatz/       @coq/nsatz-maintainers

/plugins/ring/  @coq/ring-maintainers
/theories/setoid_ring/ @coq/ring-maintainers

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/theories/ssrmatching/ @coq/ssreflect-maintainers

/plugins/ssr/          @coq/ssreflect-maintainers
/theories/ssr/         @coq/ssreflect-maintainers

/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @coq/rtauto-maintainers
/theories/rtauto/      @coq/rtauto-maintainers

/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/core/pretyping/             @coq/pretyper-maintainers

/core/pretyping/vnorm.*      @coq/vm-native-maintainers
/core/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/core/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/core/proofs/          @coq/engine-maintainers

########## STM ##########

/core/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/core/tactics/         @coq/tactics-maintainers

/core/tactics/class_tactics.* @coq/typeclasses-maintainers
/test-suite/typeclasses/ @coq/typeclasses-maintainers

########## Number ##########

/interp/numTok.*                     @coq/number-maintainers
/kernel/float64*                     @coq/number-maintainers
/kernel/uint63*                      @coq/number-maintainers
/plugins/syntax/g_number_string.mlg  @coq/number-maintainers
/plugins/syntax/int63_syntax_plugin.mllib  @coq/number-maintainers
/plugins/syntax/number.ml            @coq/number-maintainers
/plugins/syntax/number_string_notation_plugin.mllib  @coq/number-maintainers
/user-contrib/Ltac2/Int.v            @coq/number-maintainers
/test-suite/output/FloatExtraction*  @coq/number-maintainers
/test-suite/output/*Number*          @coq/number-maintainers
/test-suite/primitive/float/         @coq/number-maintainers
/test-suite/primitive/sint63/        @coq/number-maintainers
/test-suite/primitive/uint63/        @coq/number-maintainers
/theories/Init/Decimal.v             @coq/number-maintainers
/theories/Init/Hexadecimal.v         @coq/number-maintainers
/theories/Init/Nat.v                 @coq/number-maintainers
/theories/Init/Number.v              @coq/number-maintainers
/theories/*Arith/                    @coq/number-maintainers
/theories/Numbers/                   @coq/number-maintainers
/theories/Floats/                    @coq/number-maintainers
/theories/extraction/Extr*Nat*       @coq/number-maintainers
/theories/extraction/Extr*Z*         @coq/number-maintainers
/theories/extraction/ExtrOCamlFloats.v  @coq/number-maintainers
/theories/extraction/ExtrOCamlInt*   @coq/number-maintainers

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coqdep*  @coq/legacy-build-maintainers @coq/build-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/core/toplevel/   @coq/toplevel-maintainers
/core/sysinit/    @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers

########## Vernacular ##########

/core/vernac/              @coq/vernac-maintainers

/core/vernac/metasyntax.*  @coq/parsing-maintainers

/core/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers

Fixes #10796: regular error when calling Separate Extraction in a module.
  plugins/extraction/extract_env.ml
  test-suite/bugs/closed/bug_10796.v
Owners: @coq/extraction-maintainers

Adding change log for #14670.
  doc/changelog/07-vernac-commands-and-options/14670-master+fix10796-separate-extraction-in-module.rst
Owners: @ghost

Adding change log for #14669.
  doc/changelog/07-vernac-commands-and-options/14669-master+fix7228-anomaly-extraction-singleton-conservative.rst
Owners: @ghost

Fixes #7228: Anomaly with Set Extraction Conservative Types on singletons.
  plugins/extraction/extraction.ml
  test-suite/bugs/closed/bug_7228.v
Owners: @coq/extraction-maintainers

Fix missing evar normalization when reifying match in vm/native norm
  pretyping/nativenorm.ml
  pretyping/vnorm.ml
  test-suite/bugs/closed/bug_13950.v
Owners: none

New treatment on non-existing files for coqdep:
  tools/coqdep_common.ml
Owners: @coq/legacy-build-maintainers, @coq/build-maintainers

Correctly cache opaque body access in Print Assumptions.
  vernac/assumptions.ml
Owners: none

Clarify behavior of Locate command
  doc/sphinx/proof-engine/vernacular-commands.rst
Owners: @coq/doc-maintainers

Fixing #15043: trailing let-ins were dropped in specialize.
  tactics/tactics.ml
  test-suite/bugs/closed/bug_15043.v
Owners: none

Change log for #15046
  doc/changelog/04-tactics/15046-master+fix-bug15043-specialize-with-trailing-let.rst
Owners: @ghost

Fix spacing issue (adjacent italic words lose space in output)
  doc/sphinx/practical-tools/coq-commands.rst
Owners: @coq/doc-maintainers

Remove dubious calls to Parray.to_array.
  pretyping/nativenorm.ml
  pretyping/vnorm.ml
Owners: none

Adding a test for the bug.
  test-suite/bugs/closed/bug_15070.v
Owners: none

Use a uniform representation for the internal persistent arrays.
  kernel/parray.ml
  kernel/parray.mli
Owners: none

Change the native compilation scheme of arrays.
  kernel/nativecode.ml
  kernel/nativevalues.ml
  kernel/nativevalues.mli
  kernel/parray.ml
  kernel/parray.mli
Owners: none

Documenting the critical issue.
  dev/doc/critical-bugs
  doc/sphinx/changes.rst
Owners: @coq/kernel-maintainers, @coq/doc-maintainers

Fix "obligation already solved" message
  test-suite/output/bug_15106.out
  test-suite/output/bug_15106.v
  vernac/declare.ml
Owners: none

[build] Ensure `dune install` is called with the right root detection options.
  Makefile.common
Owners: @coq/legacy-build-maintainers

Refresh universes in apply tactic
  tactics/tactics.ml
  test-suite/bugs/closed/bug_8310.v
Owners: none

Changelog for 8.14.1
  doc/changelog/02-specification-language/14666-master+fix14505-modtype-missing-constraints.rst
  doc/changelog/04-tactics/14671-master+partial-fix12298-abstract-ltac-value-with-unflushed-evar.rst
  doc/changelog/04-tactics/15046-master+fix-bug15043-specialize-with-trailing-let.rst
  doc/changelog/07-vernac-commands-and-options/14669-master+fix7228-anomaly-extraction-singleton-conservative.rst
  doc/changelog/07-vernac-commands-and-options/14670-master+fix10796-separate-extraction-in-module.rst
  doc/sphinx/changes.rst
Owners: @ghost, @coq/doc-maintainers

Switch back to non-release mode.
  tools/configure/configure.ml
Owners: @coq/legacy-build-maintainers, @coq/build-maintainers

Improve the documentation of the release process a bit.
  dev/doc/release-process.md
Owners: @coq/contributing-process-maintainers

Substitute universes in types when admitting a proof.
  test-suite/bugs/closed/bug_15099.v
  vernac/declare.ml
Owners: none

Minor cleanup
  ide/coqide/idetop.ml
  lib/pp_diff.ml
  printing/printer.ml
  printing/proof_diffs.ml
  test-suite/unit-tests/printing/proof_diffs_test.ml
Owners: @coq/coqide-maintainers

disable native-compiler
  dev/ci/ci-itauto.sh
Owners: @coq/ci-maintainers

Adding overlays.
  dev/ci/user-overlays/15159-ppedrot-tacmach-tacticals-old.sh
Owners: @ghost

Port the Show Intro command to the new API.
  tactics/tactics.ml
  tactics/tactics.mli
  vernac/vernacentries.ml
Owners: none

Remove the last call to interp_wit from ssreflect.
  plugins/ssr/ssrcommon.ml
  plugins/ssr/ssrcommon.mli
Owners: @coq/ssreflect-maintainers

[CI] Add a CI job to test the MetaCoq artifact
  .gitlab-ci.yml
  Makefile.ci
  dev/ci/ci-metacoq_test_artifact.sh
Owners: @coq/ci-maintainers

Remove the ssrsearch plugin and the ssr Search command
  doc/changelog/06-ssreflect/13760-remove_ssr_search.rst
  doc/sphinx/changes.rst
  doc/sphinx/proof-engine/ssreflect-proof-language.rst
  doc/tools/docgram/doc_grammar.ml
  doc/tools/docgram/dune
  plugins/ssrsearch/dune
  plugins/ssrsearch/g_search.mlg
  plugins/ssrsearch/ssrsearch_plugin.mllib
  theories/dune
  theories/ssrsearch/ssrsearch.v
Owners: @ghost, @coq/doc-maintainers, @coq/build-maintainers, @coq/stdlib-maintainers

Fix docgram files after ssrsearch removal
  doc/tools/docgram/common.edit_mlg
  doc/tools/docgram/fullGrammar
  doc/tools/docgram/orderedGrammar
Owners: @coq/doc-maintainers

Remove dead code using the legacy engine in funind.
  plugins/funind/indfun_common.ml
  plugins/funind/indfun_common.mli
Owners: @coq/funind-maintainers

Doc: correct deprecation date for Apply With Renaming
  doc/sphinx/proof-engine/tactics.rst
Owners: @coq/doc-maintainers

Remove the last bits of backwards compatibility layer in congruence.
  plugins/cc/ccalgo.ml
  plugins/cc/ccalgo.mli
  plugins/cc/cctac.ml
Owners: @coq/cc-maintainers

Remove V82 compatibility layer used in printing.
  ide/coqide/idetop.ml
  printing/printer.ml
  printing/printer.mli
  printing/proof_diffs.ml
  printing/proof_diffs.mli
Owners: @coq/coqide-maintainers

Really remove ssrsearch/g_search.mlg
  Makefile.doc
  Makefile.make
  doc/stdlib/hidden-files
  plugins/ssrsearch/g_search.mlg
Owners: @coq/doc-maintainers, @coq/legacy-build-maintainers

[coq_makefile] Use a concrete list of enabled warnings
  tools/configure/configure.ml
Owners: @coq/legacy-build-maintainers, @coq/build-maintainers

Termops: adding a function to return occurrences of rels and short qualids.
  engine/eConstr.ml
  engine/eConstr.mli
  engine/termops.ml
  engine/termops.mli
Owners: none

Implicit arguments: add support for giving implicit arguments by position.
  interp/constrexpr.ml
  interp/constrexpr_ops.ml
  interp/constrextern.ml
  interp/constrintern.ml
  interp/impargs.ml
  interp/impargs.mli
  parsing/g_constr.mlg
  printing/ppconstr.ml
  test-suite/success/implicit.v
  vernac/comArguments.ml
  vernac/comProgramFixpoint.ml
  vernac/prettyp.ml
Owners: none

Adding change log for #11099.
  doc/changelog/02-specification-language/11099-master+instantiate-non-dependent-arguments-by-position.rst
Owners: @ghost
