Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/build-maintainers, @coq/ci-maintainers, @coq/windows-build-maintainers, @coq/nix-maintainers, @coq/bench-maintainers, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/kernel-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/pretyper-maintainers, @coq/stm-maintainers, @coq/plugin-tutorial-maintainers, @coq/lib-maintainers, @coq/coqide-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/stdlib-maintainers, @coq/typeclasses-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/number-maintainers, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @herbelin, @coq/dev-tools-maintainers

[dev] [doc] convert profiling.txt to markdown
  dev/doc/profiling.md
Owners: @coq/doc-maintainers

[doc] [dev] Document memtrace use
  dev/doc/profiling.md
Owners: @coq/doc-maintainers

[dev] [doc] Remove very outdated mem profiling info
  dev/doc/profiling.md
Owners: @coq/doc-maintainers

Warn when minimizing inductive to set even though minim to set is off
  engine/univMinim.mli
  vernac/comInductive.ml
  vernac/comInductive.mli
  vernac/record.ml
Owners: @coq/universes-maintainers, @coq/vernac-maintainers

Don't drop loc in Tacinterp.wrap_error_loc when is_traced
  plugins/ltac/tacinterp.ml
  test-suite/output-coqtop/bug_16462.out
  test-suite/output/Errors.out
  test-suite/output/bug5778.out
  test-suite/output/bug6404.out
  test-suite/output/ltac.out
Owners: @coq/ltac-maintainers

Update the coqide.opam file to match what is accepted in opam-repository.
  coqide.opam
  dune-project
Owners: @coq/build-maintainers

Fix stack overflow in univ minimization
  engine/univMinim.ml
  test-suite/bugs/bug_17805.v
Owners: @coq/universes-maintainers

Default intuition solver is now `auto`
  doc/changelog/04-tactics/17811-intuit-auto.rst
  doc/sphinx/proofs/automatic-tactics/logic.rst
  plugins/ltac/tauto.ml
  theories/Init/Tauto.v
Owners: @coq/doc-maintainers, @coq/ltac-maintainers, @coq/stdlib-maintainers

Inline and simplify UState.refresh_constraints
  engine/uState.ml
Owners: @coq/universes-maintainers

[ci] bump pin coq-lsp
  dev/ci/ci-basic-overlay.sh
Owners: @coq/ci-maintainers

Replace an ad-hoc implementation with a common UnivProblem API in Unification.
  pretyping/unification.ml
Owners: @coq/pretyper-maintainers

Refactor VM error handling and catch error from generating too large code
  kernel/vconv.ml
  kernel/vmbytegen.ml
  kernel/vmemitcodes.ml
  kernel/vmerrors.ml
  kernel/vmerrors.mli
  kernel/vmlambda.ml
Owners: @coq/vm-native-maintainers

Clarify the duplicate-clear warning message
  doc/sphinx/proof-engine/ssreflect-proof-language.rst
  plugins/ssr/ssripats.ml
Owners: @coq/doc-maintainers, @coq/ssreflect-maintainers

decidability of Nat.divide
  theories/Arith/Compare_dec.v
Owners: @coq/number-maintainers

Address review comments
  parsing/cLexer.ml
  pretyping/detyping.ml
  pretyping/evarconv.ml
  printing/proof_diffs.ml
  vernac/vernacentries.ml
Owners: @coq/parsing-maintainers, @coq/pretyper-maintainers, @coq/extensible-syntax-maintainers, @coq/vernac-maintainers

Use command -v instead of which in make_git_revision
  dev/tools/make_git_revision.sh
Owners: @coq/dev-tools-maintainers

Auto-generate opam files using Dune.
  coq-core.opam
  coq-core.opam.template
  coq-doc.opam
  coq-stdlib.opam
  coq-stdlib.opam.template
  coq.opam
  coqide-server.opam
  coqide.opam
  dune-project
Owners: @coq/build-maintainers

A notation cleanup suggested in #17117: using records in place of tuples.
  interp/constrexpr.mli
  interp/constrextern.ml
  interp/notation.ml
  interp/notation_ops.ml
  interp/notation_ops.mli
  interp/notationextern.ml
  interp/notationextern.mli
  vernac/egramcoq.ml
  vernac/metasyntax.ml
Owners: @coq/extensible-syntax-maintainers, @coq/vernac-maintainers, @coq/parsing-maintainers

Move induction-like tactics to their own module.
  plugins/funind/functional_principles_proofs.ml
  plugins/funind/functional_principles_types.ml
  plugins/funind/gen_principle.ml
  plugins/funind/indfun.ml
  plugins/ltac/tacinterp.ml
  plugins/ltac2/tac2tactics.ml
  tactics/induction.ml
  tactics/induction.mli
  tactics/tactics.ml
  tactics/tactics.mli
  vernac/auto_ind_decl.ml
Owners: @coq/funind-maintainers, @coq/ltac-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/vernac-maintainers

Add overlay
  dev/ci/user-overlays/17823-herbelin-record-notation.sh
Owners: none

[doc] Update contributing guide for auto-generated opam files linter
  CONTRIBUTING.md
Owners: @coq/contributing-process-maintainers

Adding change log for #17344
  doc/changelog/13-misc/17344-master+fixes10739-extraction-inside-a-module.rst
Owners: none

Fixes #10739: anomaly with Extraction within a module.
  kernel/safe_typing.ml
  kernel/safe_typing.mli
  plugins/extraction/extract_env.ml
  plugins/extraction/modutil.ml
  plugins/extraction/table.ml
  plugins/extraction/table.mli
  test-suite/bugs/bug_10796.v
  test-suite/output/bug_10739.out
  test-suite/output/bug_10739.v
Owners: @coq/kernel-maintainers, @coq/extraction-maintainers

Removing -r to prevent the collision with -R.
  boot/usage.ml
  doc/sphinx/practical-tools/coq-commands.rst
  man/coqtop.1
  sysinit/coqargs.ml
Owners: @coq/build-maintainers, @coq/doc-maintainers, @coq/toplevel-maintainers

Adding options -require, -r, -require-from, -rfrom.
  boot/usage.ml
  doc/sphinx/practical-tools/coq-commands.rst
  man/coqtop.1
  sysinit/coqargs.ml
Owners: @coq/build-maintainers, @coq/doc-maintainers, @coq/toplevel-maintainers

Adding change log for #17364
  doc/changelog/09-cli-tools/17364-master+add-command-line-option-require.rst
Owners: none

coq_makefile: put file to install list in file instead of shell script
  doc/changelog/09-cli-tools/17697-filestoinstall.rst
  tools/CoqMakefile.in
Owners: @coq/coq-makefile-maintainers

deprecate ZArith.Zdigits
  doc/changelog/11-standard-library/17733-deprecate-Zdigits.rst
  theories/ZArith/Zdigits.v
Owners: @coq/number-maintainers

Fatal warnings for duplicate objects in Coq refman.
  doc/sphinx/addendum/extraction.rst
  doc/sphinx/proof-engine/ltac.rst
  doc/sphinx/proof-engine/tactics.rst
  doc/sphinx/proofs/writing-proofs/proof-mode.rst
  doc/sphinx/proofs/writing-proofs/reasoning-inductives.rst
  doc/sphinx/user-extensions/syntax-extensions.rst
  doc/tools/coqrst/coqdomain.py
Owners: @coq/doc-maintainers

Cleanup output/Function.v
  plugins/funind/g_indfun.mlg
  test-suite/output/Function.out
  test-suite/output/Function.v
Owners: @coq/funind-maintainers

Override unknown-warning for command line -w
  doc/changelog/08-vernac-commands-and-options/17747-warn-unknown-warn.rst
  lib/cWarnings.ml
  lib/cWarnings.mli
  sysinit/coqinit.ml
Owners: @coq/lib-maintainers, @coq/toplevel-maintainers

Warn when trying to enable an unknown warning
  doc/changelog/08-vernac-commands-and-options/17747-warn-unknown-warn.rst
  lib/cWarnings.ml
  lib/cWarnings.mli
  test-suite/success/unknown_warning.v
  vernac/vernacentries.ml
  vernac/vernacinterp.ml
Owners: @coq/lib-maintainers, @coq/vernac-maintainers

Try with a more recent version of docutils and rtd
  .gitlab-ci.yml
  dev/ci/docker/bionic_coq/Dockerfile
Owners: @coq/ci-maintainers

Bump Sphinx to 4.5.0
  .gitlab-ci.yml
  dev/ci/docker/bionic_coq/Dockerfile
  doc/README.md
  doc/changelog/12-infrastructure-and-dependencies/17772-bump-sphinx.rst
  doc/sphinx/conf.py
Owners: @coq/ci-maintainers, @coq/doc-maintainers

Fix documented lower bound for sphinx_rtd_theme.
  doc/README.md
Owners: @coq/doc-maintainers

Update doc versions
  doc/sphinx/conf.py
Owners: @coq/doc-maintainers

Fix #17775: Ltac2 Notations introduce invalid identifiers.
  plugins/ltac2/tac2entries.ml
  test-suite/bugs/bug_17775.v
Owners: @coq/ltac2-maintainers

Fix lower bound of beautifulsoup4: 4.0.6 did not exist.
  doc/README.md
Owners: @coq/doc-maintainers

Update nixpkgs and document upper bound on ANTLR compatibility.
  default.nix
  dev/nixpkgs.nix
  doc/README.md
Owners: @coq/nix-maintainers, @coq/doc-maintainers

Update the coqide.opam file to match what is accepted in opam-repository.
  coqide.opam
  dune-project
Owners: @coq/build-maintainers

.github/CODEOWNERS:

# This file associates maintainer teams to each component.
# See CONTRIBUTING.md

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers

########## Build system ##########

/Makefile                       @coq/build-maintainers
/dev/tools/make_git_revision.sh @coq/build-maintainers

/configure                      @coq/build-maintainers
/tools/configure/*              @coq/build-maintainers

/tools/coqdep/                  @coq/build-maintainers

/boot/                          @coq/build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/dev/lint-*.sh       @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/.github/workflows   @coq/ci-maintainers
/dev/ci/platform/    @coq/windows-build-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/bench/            @coq/bench-maintainers

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst
/dev/doc/changes.md
# Trick to avoid getting review requests
# each time someone modifies the changelog

/dev/doc/build-system.dune.md @coq/build-maintainers
/dev/doc/critical-bugs        @coq/kernel-maintainers
/dev/doc/econstr.md           @coq/engine-maintainers
/dev/doc/proof-engine.md      @coq/engine-maintainers
/dev/doc/release-process.md   @coq/contributing-process-maintainers
/dev/doc/shield-icon.png      @coq/contributing-process-maintainers
/dev/doc/SProp.md             @coq/universes-maintainers
/dev/doc/style.txt            @coq/contributing-process-maintainers
/dev/doc/unification.txt      @coq/pretyper-maintainers
/dev/doc/universes.md         @coq/universes-maintainers
/dev/doc/xml-protocol         @coq/stm-maintainers

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/engine/          @coq/engine-maintainers

/engine/univ*     @coq/universes-maintainers
/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/kernel/          @coq/kernel-maintainers

/kernel/byterun/  @coq/vm-native-maintainers
/kernel/native*   @coq/vm-native-maintainers
/kernel/vm*       @coq/vm-native-maintainers
/kernel/vconv.*   @coq/vm-native-maintainers
/kernel/genOpcodefiles.* @coq/vm-native-maintainers

/kernel/sorts.*   @coq/universes-maintainers
/kernel/uGraph.*  @coq/universes-maintainers
/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/gramlib/         @coq/parsing-maintainers
/parsing/         @coq/parsing-maintainers

########## Standard library and plugins ##########

/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers

/plugins/btauto/       @coq/btauto-maintainers
/theories/btauto/      @coq/btauto-maintainers

/plugins/cc/           @coq/cc-maintainers
/theories/cc/          @coq/cc-maintainers

/plugins/derive/       @coq/derive-maintainers
/theories/derive/      @coq/derive-maintainers

/plugins/extraction/   @coq/extraction-maintainers
/theories/extraction/  @coq/extraction-maintainers

/plugins/firstorder/   @coq/firstorder-maintainers
/theories/firstorder/  @coq/firstorder-maintainers

/plugins/funind/       @coq/funind-maintainers
/theories/funind/      @coq/funind-maintainers

/plugins/ltac/         @coq/ltac-maintainers
/theories/ltac/        @coq/ltac-maintainers

/plugins/micromega/    @coq/micromega-maintainers
/theories/micromega/   @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/        @coq/nsatz-maintainers
/theories/nsatz/       @coq/nsatz-maintainers

/plugins/ring/  @coq/ring-maintainers
/theories/setoid_ring/ @coq/ring-maintainers

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/theories/ssrmatching/ @coq/ssreflect-maintainers

/plugins/ssr/          @coq/ssreflect-maintainers
/theories/ssr/         @coq/ssreflect-maintainers

/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @coq/rtauto-maintainers
/theories/rtauto/      @coq/rtauto-maintainers

/plugins/ltac2/        @coq/ltac2-maintainers
/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/pretyping/             @coq/pretyper-maintainers

/pretyping/vnorm.*      @coq/vm-native-maintainers
/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/proofs/          @coq/engine-maintainers

########## STM ##########

/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/tactics/         @coq/tactics-maintainers

/tactics/class_tactics.* @coq/typeclasses-maintainers

########## Number ##########

/interp/numTok.*                     @coq/number-maintainers
/kernel/float64*                     @coq/number-maintainers
/kernel/uint63*                      @coq/number-maintainers
/plugins/syntax/g_number_string.mlg  @coq/number-maintainers
/plugins/syntax/number.ml            @coq/number-maintainers
/user-contrib/Ltac2/Int.v            @coq/number-maintainers
/test-suite/output/FloatExtraction*  @coq/number-maintainers
/test-suite/output/*Number*          @coq/number-maintainers
/test-suite/primitive/float/         @coq/number-maintainers
/test-suite/primitive/sint63/        @coq/number-maintainers
/test-suite/primitive/uint63/        @coq/number-maintainers
/theories/Init/Decimal.v             @coq/number-maintainers
/theories/Init/Hexadecimal.v         @coq/number-maintainers
/theories/Init/Nat.v                 @coq/number-maintainers
/theories/Init/Number.v              @coq/number-maintainers
/theories/*Arith/                    @coq/number-maintainers
/theories/Numbers/                   @coq/number-maintainers
/theories/Floats/                    @coq/number-maintainers
/theories/extraction/Extr*Nat*       @coq/number-maintainers
/theories/extraction/Extr*Z*         @coq/number-maintainers
/theories/extraction/ExtrOCamlFloats.v  @coq/number-maintainers
/theories/extraction/ExtrOCamlInt*   @coq/number-maintainers

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/toplevel/   @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers
/sysinit/    @coq/toplevel-maintainers

########## Vernacular ##########

/vernac/              @coq/vernac-maintainers

/vernac/metasyntax.*  @coq/parsing-maintainers

/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers
