Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/build-maintainers, @coq/ci-maintainers, @coq/windows-build-maintainers, @coq/nix-maintainers, @coq/bench-maintainers, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/kernel-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/pretyper-maintainers, @coq/stm-maintainers, @coq/plugin-tutorial-maintainers, @coq/lib-maintainers, @coq/coqide-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/stdlib-maintainers, @coq/typeclasses-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/number-maintainers, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @herbelin, @coq/dev-tools-maintainers

.github/CODEOWNERS:

# This file associates maintainer teams to each component.
# See CONTRIBUTING.md

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers

########## Build system ##########

/Makefile                       @coq/build-maintainers
/dev/tools/make_git_revision.sh @coq/build-maintainers

/configure                      @coq/build-maintainers
/tools/configure/*              @coq/build-maintainers

/tools/coqdep/                  @coq/build-maintainers

/boot/                          @coq/build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/dev/lint-*.sh       @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/.github/workflows   @coq/ci-maintainers
/dev/ci/platform/    @coq/windows-build-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/bench/            @coq/bench-maintainers

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst
/dev/doc/changes.md
# Trick to avoid getting review requests
# each time someone modifies the changelog

/dev/doc/build-system.dune.md @coq/build-maintainers
/dev/doc/critical-bugs        @coq/kernel-maintainers
/dev/doc/econstr.md           @coq/engine-maintainers
/dev/doc/proof-engine.md      @coq/engine-maintainers
/dev/doc/release-process.md   @coq/contributing-process-maintainers
/dev/doc/shield-icon.png      @coq/contributing-process-maintainers
/dev/doc/SProp.md             @coq/universes-maintainers
/dev/doc/style.txt            @coq/contributing-process-maintainers
/dev/doc/unification.txt      @coq/pretyper-maintainers
/dev/doc/universes.md         @coq/universes-maintainers
/dev/doc/xml-protocol         @coq/stm-maintainers

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/engine/          @coq/engine-maintainers

/engine/univ*     @coq/universes-maintainers
/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/kernel/          @coq/kernel-maintainers

/kernel/byterun/  @coq/vm-native-maintainers
/kernel/native*   @coq/vm-native-maintainers
/kernel/vm*       @coq/vm-native-maintainers
/kernel/vconv.*   @coq/vm-native-maintainers
/kernel/genOpcodefiles.* @coq/vm-native-maintainers

/kernel/sorts.*   @coq/universes-maintainers
/kernel/uGraph.*  @coq/universes-maintainers
/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/gramlib/         @coq/parsing-maintainers
/parsing/         @coq/parsing-maintainers

########## Standard library and plugins ##########

/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers

/plugins/btauto/       @coq/btauto-maintainers
/theories/btauto/      @coq/btauto-maintainers

/plugins/cc/           @coq/cc-maintainers
/theories/cc/          @coq/cc-maintainers

/plugins/derive/       @coq/derive-maintainers
/theories/derive/      @coq/derive-maintainers

/plugins/extraction/   @coq/extraction-maintainers
/theories/extraction/  @coq/extraction-maintainers

/plugins/firstorder/   @coq/firstorder-maintainers
/theories/firstorder/  @coq/firstorder-maintainers

/plugins/funind/       @coq/funind-maintainers
/theories/funind/      @coq/funind-maintainers

/plugins/ltac/         @coq/ltac-maintainers
/theories/ltac/        @coq/ltac-maintainers

/plugins/micromega/    @coq/micromega-maintainers
/theories/micromega/   @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/        @coq/nsatz-maintainers
/theories/nsatz/       @coq/nsatz-maintainers

/plugins/ring/  @coq/ring-maintainers
/theories/setoid_ring/ @coq/ring-maintainers

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/theories/ssrmatching/ @coq/ssreflect-maintainers

/plugins/ssr/          @coq/ssreflect-maintainers
/theories/ssr/         @coq/ssreflect-maintainers

/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @coq/rtauto-maintainers
/theories/rtauto/      @coq/rtauto-maintainers

/plugins/ltac2/        @coq/ltac2-maintainers
/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/pretyping/             @coq/pretyper-maintainers

/pretyping/vnorm.*      @coq/vm-native-maintainers
/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/proofs/          @coq/engine-maintainers

########## STM ##########

/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/tactics/         @coq/tactics-maintainers

/tactics/class_tactics.* @coq/typeclasses-maintainers

########## Number ##########

/interp/numTok.*                     @coq/number-maintainers
/kernel/float64*                     @coq/number-maintainers
/kernel/uint63*                      @coq/number-maintainers
/plugins/syntax/g_number_string.mlg  @coq/number-maintainers
/plugins/syntax/number.ml            @coq/number-maintainers
/user-contrib/Ltac2/Int.v            @coq/number-maintainers
/test-suite/output/FloatExtraction*  @coq/number-maintainers
/test-suite/output/*Number*          @coq/number-maintainers
/test-suite/primitive/float/         @coq/number-maintainers
/test-suite/primitive/sint63/        @coq/number-maintainers
/test-suite/primitive/uint63/        @coq/number-maintainers
/theories/Init/Decimal.v             @coq/number-maintainers
/theories/Init/Hexadecimal.v         @coq/number-maintainers
/theories/Init/Nat.v                 @coq/number-maintainers
/theories/Init/Number.v              @coq/number-maintainers
/theories/*Arith/                    @coq/number-maintainers
/theories/Numbers/                   @coq/number-maintainers
/theories/Floats/                    @coq/number-maintainers
/theories/extraction/Extr*Nat*       @coq/number-maintainers
/theories/extraction/Extr*Z*         @coq/number-maintainers
/theories/extraction/ExtrOCamlFloats.v  @coq/number-maintainers
/theories/extraction/ExtrOCamlInt*   @coq/number-maintainers

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/toplevel/   @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers
/sysinit/    @coq/toplevel-maintainers

########## Vernacular ##########

/vernac/              @coq/vernac-maintainers

/vernac/metasyntax.*  @coq/parsing-maintainers

/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers

Stop handling evars as free variables in the VM.
  kernel/vmbytecodes.ml
  kernel/vmbytecodes.mli
  kernel/vmbytegen.ml
  kernel/vmemitcodes.ml
  kernel/vmsymtable.ml
  kernel/vmvalues.ml
  kernel/vmvalues.mli
Owners: @coq/vm-native-maintainers

Add overlays.
  dev/ci/user-overlays/17719-ppedrot-vm-evar-global.sh
Owners: none

Don't parse attributes in mlg
  vernac/g_vernac.mlg
  vernac/g_vernac.mli
  vernac/ppvernac.ml
  vernac/vernacentries.ml
  vernac/vernacexpr.mli
Owners: @coq/vernac-maintainers

Factor some grammar rule
  doc/tools/docgram/common.edit_mlg
  doc/tools/docgram/fullGrammar
  doc/tools/docgram/orderedGrammar
  vernac/g_vernac.mlg
Owners: @coq/doc-maintainers, @coq/vernac-maintainers

Accept locality attribute for "field" of definitional typeclasses
  doc/sphinx/language/core/inductive.rst
  doc/tools/docgram/fullGrammar
  doc/tools/docgram/orderedGrammar
  plugins/funind/glob_term_to_relation.ml
  test-suite/bugs/bug_17451.v
  test-suite/output/bug_16224.out
  vernac/comInductive.ml
  vernac/g_vernac.mlg
  vernac/ppvernac.ml
  vernac/record.ml
  vernac/vernacentries.ml
  vernac/vernacexpr.mli
Owners: @coq/doc-maintainers, @coq/funind-maintainers, @coq/vernac-maintainers

Add overlays
  dev/ci/user-overlays/17754-proux01-locality_subinstance_def_classes.sh
Owners: none

Fix documentation after #17394.
  doc/changelog/08-vernac-commands-and-options/17394-remove_vernac_loadpath.rst
  doc/sphinx/proof-engine/vernacular-commands.rst
Owners: @coq/doc-maintainers

Changelog for 8.17.1.
  doc/changelog/13-misc/17324-master+fix14843-extraction-collision-record-field.rst
  doc/changelog/13-misc/17495-byextendmsg.rst
  doc/sphinx/changes.rst
Owners: @coq/doc-maintainers

Bump version number to 8.17.1.
  tools/configure/configure.ml
Owners: @coq/build-maintainers

Add changelog
  doc/changelog/02-specification-language/17754-master.rst
Owners: none

More compact on-file representation for global anonymous universes.
  vernac/declareUniv.ml
Owners: @coq/vernac-maintainers

Improve printing of reverse coercions
  pretyping/coercion.ml
  test-suite/output/bug_16224.out
  test-suite/output/relaxed_ambiguous_paths.out
  test-suite/output/reverse_coercions.out
  test-suite/output/reverse_coercions.v
  theories/Init/Prelude.v
Owners: @coq/pretyper-maintainers, @coq/stdlib-maintainers

Add changelog
  doc/changelog/03-notations/17484-rev_coerce.rst
Owners: none

[release] pin CI projects
  dev/ci/ci-basic-overlay.sh
Owners: @coq/ci-maintainers

Bump Sphinx to 4.5.0
  .gitlab-ci.yml
  dev/ci/docker/bionic_coq/Dockerfile
  doc/README.md
  doc/changelog/12-infrastructure-and-dependencies/17772-bump-sphinx.rst
  doc/sphinx/conf.py
Owners: @coq/ci-maintainers, @coq/doc-maintainers

Update doc versions
  doc/sphinx/conf.py
Owners: @coq/doc-maintainers

Move generalize-like tactics to their own module.
  plugins/firstorder/instances.ml
  plugins/firstorder/rules.ml
  plugins/funind/functional_principles_proofs.ml
  plugins/funind/gen_principle.ml
  plugins/funind/invfun.ml
  plugins/funind/recdef.ml
  plugins/ltac/coretactics.mlg
  plugins/ltac/extratactics.mlg
  plugins/ltac/internals.ml
  plugins/ltac/leminv.ml
  plugins/ltac/tacinterp.ml
  plugins/ltac2/tac2stdlib.ml
  plugins/ltac2/tac2tactics.ml
  plugins/micromega/coq_micromega.ml
  plugins/nsatz/nsatz.ml
  plugins/ssr/ssrview.ml
  tactics/equality.ml
  tactics/generalize.ml
  tactics/generalize.mli
  tactics/inv.ml
  tactics/tactics.ml
  tactics/tactics.mli
Owners: @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/ltac2-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ssreflect-maintainers, @coq/tactics-maintainers

Adding overlays.
  dev/ci/user-overlays/17768-ppedrot-split-generalize-tactics.sh
Owners: none

Fix #17775: Ltac2 Notations introduce invalid identifiers.
  plugins/ltac2/tac2entries.ml
  test-suite/bugs/bug_17775.v
Owners: @coq/ltac2-maintainers

Update base Ubuntu image in Dockerfile.
  .gitlab-ci.yml
  dev/ci/README-users.md
  dev/ci/docker/Dockerfile
  dev/ci/docker/README.md
  dev/doc/release-process.md
  dev/tools/check-cachekey.sh
Owners: @coq/ci-maintainers, @coq/contributing-process-maintainers, @coq/dev-tools-maintainers

Fixing an anomaly when overriding a custom ident rule with a global rule.
  test-suite/output/Notations4.out
  test-suite/output/Notations4.v
  vernac/metasyntax.ml
Owners: @coq/parsing-maintainers

Try with a more recent version of docutils and rtd
  .gitlab-ci.yml
  dev/ci/docker/bionic_coq/Dockerfile
Owners: @coq/ci-maintainers

Fatal warnings for duplicate objects in Coq refman.
  doc/sphinx/addendum/extraction.rst
  doc/sphinx/proof-engine/ltac.rst
  doc/sphinx/proof-engine/tactics.rst
  doc/sphinx/proofs/writing-proofs/proof-mode.rst
  doc/sphinx/proofs/writing-proofs/reasoning-inductives.rst
  doc/sphinx/user-extensions/syntax-extensions.rst
  doc/tools/coqrst/coqdomain.py
Owners: @coq/doc-maintainers

Fix documented lower bound for sphinx_rtd_theme.
  doc/README.md
Owners: @coq/doc-maintainers

add RM release item about propagating opam package changes prompted by opam-repository CI to Coq repo
  dev/doc/release-process.md
Owners: @coq/contributing-process-maintainers

Markup EQ as code.
  doc/sphinx/language/extensions/canonical.rst
Owners: @coq/doc-maintainers

Stop relying on opaque proof accessors in funind.
  plugins/funind/functional_principles_proofs.ml
  plugins/funind/gen_principle.ml
Owners: @coq/funind-maintainers

Update nixpkgs and document upper bound on ANTLR compatibility.
  default.nix
  dev/nixpkgs.nix
  doc/README.md
Owners: @coq/nix-maintainers, @coq/doc-maintainers

Fix lower bound of beautifulsoup4: 4.0.6 did not exist.
  doc/README.md
Owners: @coq/doc-maintainers

Move the documentation of Pwd and Cd to the extraction chapter.
  doc/sphinx/addendum/extraction.rst
  doc/sphinx/proof-engine/vernacular-commands.rst
Owners: @coq/doc-maintainers

add ATBR plugin to CI
  .gitlab-ci.yml
  Makefile.ci
  dev/ci/ci-atbr.sh
  dev/ci/ci-basic-overlay.sh
Owners: @coq/ci-maintainers

Mini-documentation in Constrintern.instantiate_notation_constr.
  interp/constrintern.ml
Owners: @coq/extensible-syntax-maintainers

Adding folding and equality on pairs.
  interp/notation_ops.ml
  lib/util.ml
  lib/util.mli
Owners: @coq/extensible-syntax-maintainers, @coq/lib-maintainers

Adding options -require, -r, -require-from, -rfrom.
  boot/usage.ml
  doc/sphinx/practical-tools/coq-commands.rst
  man/coqtop.1
  sysinit/coqargs.ml
Owners: @coq/build-maintainers, @coq/doc-maintainers, @coq/toplevel-maintainers

Removing -r to prevent the collision with -R.
  boot/usage.ml
  doc/sphinx/practical-tools/coq-commands.rst
  man/coqtop.1
  sysinit/coqargs.ml
Owners: @coq/build-maintainers, @coq/doc-maintainers, @coq/toplevel-maintainers

Adding change log for #17364
  doc/changelog/09-cli-tools/17364-master+add-command-line-option-require.rst
Owners: none

Adding change log for #17344
  doc/changelog/13-misc/17344-master+fixes10739-extraction-inside-a-module.rst
Owners: none

Fixes #10739: anomaly with Extraction within a module.
  kernel/safe_typing.ml
  kernel/safe_typing.mli
  plugins/extraction/extract_env.ml
  plugins/extraction/modutil.ml
  plugins/extraction/table.ml
  plugins/extraction/table.mli
  test-suite/bugs/bug_10796.v
  test-suite/output/bug_10739.out
  test-suite/output/bug_10739.v
Owners: @coq/kernel-maintainers, @coq/extraction-maintainers

Add warning on inspecting locally-generated docs
  doc/README.md
Owners: @coq/doc-maintainers

Add coercion hook
  doc/changelog/13-misc/17794-coercion_hook.rst
  pretyping/coercion.ml
  pretyping/coercion.mli
Owners: @coq/pretyper-maintainers
