Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/build-maintainers, @coq/ci-maintainers, @coq/windows-build-maintainers, @coq/nix-maintainers, @coq/bench-maintainers, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/kernel-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/pretyper-maintainers, @coq/stm-maintainers, @coq/plugin-tutorial-maintainers, @coq/lib-maintainers, @coq/coqide-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/stdlib-maintainers, @coq/typeclasses-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/number-maintainers, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @herbelin, @coq/dev-tools-maintainers

Markup EQ as code.
  doc/sphinx/language/extensions/canonical.rst
Owners: @coq/doc-maintainers

Don't drop loc in Tacinterp.wrap_error_loc when is_traced
  plugins/ltac/tacinterp.ml
  test-suite/output-coqtop/bug_16462.out
  test-suite/output/Errors.out
  test-suite/output/bug5778.out
  test-suite/output/bug6404.out
  test-suite/output/ltac.out
Owners: @coq/ltac-maintainers

Fix stack overflow in univ minimization
  engine/univMinim.ml
  test-suite/bugs/bug_17805.v
Owners: @coq/universes-maintainers

Warn when minimizing inductive to set even though minim to set is off
  engine/univMinim.mli
  vernac/comInductive.ml
  vernac/comInductive.mli
  vernac/record.ml
Owners: @coq/universes-maintainers, @coq/vernac-maintainers

Improve printing of reverse coercions
  pretyping/coercion.ml
  test-suite/output/bug_16224.out
  test-suite/output/relaxed_ambiguous_paths.out
  test-suite/output/reverse_coercions.out
  test-suite/output/reverse_coercions.v
  theories/Init/Prelude.v
Owners: @coq/pretyper-maintainers, @coq/stdlib-maintainers

Add changelog
  doc/changelog/03-notations/17484-rev_coerce.rst
Owners: none

Add coercion hook
  doc/changelog/13-misc/17794-coercion_hook.rst
  pretyping/coercion.ml
  pretyping/coercion.mli
Owners: @coq/pretyper-maintainers

Add overlays.
  dev/ci/user-overlays/17824-ppedrot-split-tactics-induction.sh
Owners: none

Removing obsolete declaration of notation "{ _ }" in g_constr.mlg.
  doc/tools/docgram/common.edit_mlg
  doc/tools/docgram/fullGrammar
  parsing/g_constr.mlg
  test-suite/output/PrintGrammar.out
  test-suite/output/PrintGrammarConstr.out
Owners: @coq/doc-maintainers, @coq/parsing-maintainers

In passing, using String.plural when possible in notation.ml.
  interp/notation.ml
Owners: @coq/extensible-syntax-maintainers

Adding a function to quote strings according to Coq convention.
  clib/cString.ml
  clib/cString.mli
  interp/notation.ml
  lib/pp.ml
Owners: @coq/lib-maintainers, @coq/extensible-syntax-maintainers

This suspectingly fixes a minor printing bug of tactic notations.
  plugins/ltac/pptactic.ml
  test-suite/output/bug_17829.out
  test-suite/output/bug_17829.v
Owners: @coq/ltac-maintainers

A confusing name in a evd function.
  engine/evd.ml
Owners: @coq/engine-maintainers

Mini-clarification in doc of declarations.ml.
  kernel/declarations.mli
Owners: @coq/kernel-maintainers

Clarifying confusing indentation.
  kernel/indtypes.ml
Owners: @coq/kernel-maintainers

Cosmetic
  engine/uState.ml
  vernac/comInductive.ml
Owners: @coq/universes-maintainers, @coq/vernac-maintainers

Some renamings of Univ.Context.Set from ctx to uctx.
  engine/evd.ml
Owners: @coq/engine-maintainers

Documenting metasyntax.ml: a pass on comments + unifying naming.
  vernac/metasyntax.ml
Owners: @coq/parsing-maintainers

Correcting mistakes from 8716a37 in gramlib comments.
  gramlib/grammar.ml
Owners: @coq/parsing-maintainers

Avoid Unicode subscript chars in implicit-coercions.rst
  doc/sphinx/addendum/implicit-coercions.rst
Owners: @coq/doc-maintainers

Avoid Unicode subscript chars in match.rst
  doc/sphinx/language/extensions/match.rst
Owners: @coq/doc-maintainers

Avoid Unicode subscript chars in ltac2.rst
  doc/sphinx/proof-engine/ltac2.rst
Owners: @coq/doc-maintainers

Avoid Unicode subscript chars in coq-commands.rst
  doc/sphinx/practical-tools/coq-commands.rst
Owners: @coq/doc-maintainers

Remove redundant "if len >= 2 then set_leq_sort set du" code
  vernac/comInductive.ml
Owners: @coq/vernac-maintainers

Revert "Warn when minimizing inductive to set even though minim to set is off"
  engine/univMinim.mli
  vernac/comInductive.ml
  vernac/comInductive.mli
  vernac/record.ml
Owners: @coq/universes-maintainers, @coq/vernac-maintainers

small reindent in record.ml
  vernac/record.ml
Owners: @coq/vernac-maintainers

Keep constraints on bounded from below univs when minim to set is off
  engine/univMinim.ml
  test-suite/bugs/bug_17795_1.v
Owners: @coq/universes-maintainers

assert that interp_structure is never called as definitional class
  vernac/record.ml
Owners: @coq/vernac-maintainers

Move a universe minimization call into inductive_levels
  vernac/comInductive.ml
  vernac/record.ml
Owners: @coq/vernac-maintainers

Don't minimize universes in def_class_levels
  engine/uState.ml
  vernac/record.ml
Owners: @coq/universes-maintainers, @coq/vernac-maintainers

cominductive.inductive_levels works on econstr
  engine/eConstr.ml
  engine/eConstr.mli
  vernac/comInductive.ml
  vernac/comInductive.mli
Owners: @coq/engine-maintainers, @coq/vernac-maintainers

Fix universe handling with definitional class
  test-suite/bugs/bug_17796.v
  vernac/record.ml
Owners: @coq/vernac-maintainers

extract_levels: don't include the inductive itself
  vernac/comInductive.ml
Owners: @coq/vernac-maintainers

Use ComInductive.inductive_levels for record level computation
  test-suite/bugs/HoTT_coq_036.v
  test-suite/bugs/bug_6976.v
  test-suite/output/PrimitiveProjectionsAttribute_Records.out
  vernac/comInductive.ml
  vernac/comInductive.mli
  vernac/record.ml
Owners: @coq/vernac-maintainers

Changelog for inductive_levels refactor
  doc/changelog/08-vernac-commands-and-options/17795-comind-level-compute.rst
Owners: none

overlays for inductive_levels refactor
  dev/ci/user-overlays/17795-SkySkimmer-comind-level-compute.sh
Owners: none

Make type universe_opt_subst abstract and move to new file UnivFlex
  dev/top_printers.ml
  engine/evarutil.ml
  engine/evd.ml
  engine/evd.mli
  engine/termops.ml
  engine/uState.ml
  engine/uState.mli
  engine/univFlex.ml
  engine/univFlex.mli
  engine/univMinim.ml
  engine/univMinim.mli
  engine/univSubst.ml
  engine/univSubst.mli
  kernel/univ.ml
  kernel/univ.mli
  test-suite/output/ShowUnivs.out
Owners: @coq/engine-maintainers, @coq/universes-maintainers

Avoid [merge_context_set sideff:true] in rewrite.ml
  tactics/rewrite.ml
Owners: @coq/tactics-maintainers

Refactor ComInductive.inductive_levels to avoid adhoc max functions
  test-suite/bugs/bug_13300.v
  test-suite/bugs/bug_17801.v
  vernac/comInductive.ml
Owners: @coq/vernac-maintainers

Add glob_sort to produce flexible algebraic sorts
  interp/constrextern.ml
  interp/constrintern.ml
  interp/notation.ml
  interp/notation_ops.ml
  parsing/g_constr.mlg
  plugins/funind/glob_term_to_relation.ml
  plugins/ssr/ssrcommon.ml
  pretyping/detyping.ml
  pretyping/glob_ops.ml
  pretyping/glob_term.mli
  pretyping/pretyping.ml
  printing/ppconstr.ml
  vernac/comInductive.ml
  vernac/record.ml
Owners: @coq/extensible-syntax-maintainers, @coq/parsing-maintainers, @coq/funind-maintainers, @coq/ssreflect-maintainers, @coq/pretyper-maintainers, @coq/vernac-maintainers

.github/CODEOWNERS:

# This file associates maintainer teams to each component.
# See CONTRIBUTING.md

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers

########## Build system ##########

/Makefile                       @coq/build-maintainers
/dev/tools/make_git_revision.sh @coq/build-maintainers

/configure                      @coq/build-maintainers
/tools/configure/*              @coq/build-maintainers

/tools/coqdep/                  @coq/build-maintainers

/boot/                          @coq/build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/dev/lint-*.sh       @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/.github/workflows   @coq/ci-maintainers
/dev/ci/platform/    @coq/windows-build-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/bench/            @coq/bench-maintainers

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst
/dev/doc/changes.md
# Trick to avoid getting review requests
# each time someone modifies the changelog

/dev/doc/build-system.dune.md @coq/build-maintainers
/dev/doc/critical-bugs        @coq/kernel-maintainers
/dev/doc/econstr.md           @coq/engine-maintainers
/dev/doc/proof-engine.md      @coq/engine-maintainers
/dev/doc/release-process.md   @coq/contributing-process-maintainers
/dev/doc/shield-icon.png      @coq/contributing-process-maintainers
/dev/doc/SProp.md             @coq/universes-maintainers
/dev/doc/style.txt            @coq/contributing-process-maintainers
/dev/doc/unification.txt      @coq/pretyper-maintainers
/dev/doc/universes.md         @coq/universes-maintainers
/dev/doc/xml-protocol         @coq/stm-maintainers

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/engine/          @coq/engine-maintainers

/engine/univ*     @coq/universes-maintainers
/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/kernel/          @coq/kernel-maintainers

/kernel/byterun/  @coq/vm-native-maintainers
/kernel/native*   @coq/vm-native-maintainers
/kernel/vm*       @coq/vm-native-maintainers
/kernel/vconv.*   @coq/vm-native-maintainers
/kernel/genOpcodefiles.* @coq/vm-native-maintainers

/kernel/sorts.*   @coq/universes-maintainers
/kernel/uGraph.*  @coq/universes-maintainers
/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/gramlib/         @coq/parsing-maintainers
/parsing/         @coq/parsing-maintainers

########## Standard library and plugins ##########

/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers

/plugins/btauto/       @coq/btauto-maintainers
/theories/btauto/      @coq/btauto-maintainers

/plugins/cc/           @coq/cc-maintainers
/theories/cc/          @coq/cc-maintainers

/plugins/derive/       @coq/derive-maintainers
/theories/derive/      @coq/derive-maintainers

/plugins/extraction/   @coq/extraction-maintainers
/theories/extraction/  @coq/extraction-maintainers

/plugins/firstorder/   @coq/firstorder-maintainers
/theories/firstorder/  @coq/firstorder-maintainers

/plugins/funind/       @coq/funind-maintainers
/theories/funind/      @coq/funind-maintainers

/plugins/ltac/         @coq/ltac-maintainers
/theories/ltac/        @coq/ltac-maintainers

/plugins/micromega/    @coq/micromega-maintainers
/theories/micromega/   @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/        @coq/nsatz-maintainers
/theories/nsatz/       @coq/nsatz-maintainers

/plugins/ring/  @coq/ring-maintainers
/theories/setoid_ring/ @coq/ring-maintainers

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/theories/ssrmatching/ @coq/ssreflect-maintainers

/plugins/ssr/          @coq/ssreflect-maintainers
/theories/ssr/         @coq/ssreflect-maintainers

/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @coq/rtauto-maintainers
/theories/rtauto/      @coq/rtauto-maintainers

/plugins/ltac2/        @coq/ltac2-maintainers
/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/pretyping/             @coq/pretyper-maintainers

/pretyping/vnorm.*      @coq/vm-native-maintainers
/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/proofs/          @coq/engine-maintainers

########## STM ##########

/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/tactics/         @coq/tactics-maintainers

/tactics/class_tactics.* @coq/typeclasses-maintainers

########## Number ##########

/interp/numTok.*                     @coq/number-maintainers
/kernel/float64*                     @coq/number-maintainers
/kernel/uint63*                      @coq/number-maintainers
/plugins/syntax/g_number_string.mlg  @coq/number-maintainers
/plugins/syntax/number.ml            @coq/number-maintainers
/user-contrib/Ltac2/Int.v            @coq/number-maintainers
/test-suite/output/FloatExtraction*  @coq/number-maintainers
/test-suite/output/*Number*          @coq/number-maintainers
/test-suite/primitive/float/         @coq/number-maintainers
/test-suite/primitive/sint63/        @coq/number-maintainers
/test-suite/primitive/uint63/        @coq/number-maintainers
/theories/Init/Decimal.v             @coq/number-maintainers
/theories/Init/Hexadecimal.v         @coq/number-maintainers
/theories/Init/Nat.v                 @coq/number-maintainers
/theories/Init/Number.v              @coq/number-maintainers
/theories/*Arith/                    @coq/number-maintainers
/theories/Numbers/                   @coq/number-maintainers
/theories/Floats/                    @coq/number-maintainers
/theories/extraction/Extr*Nat*       @coq/number-maintainers
/theories/extraction/Extr*Z*         @coq/number-maintainers
/theories/extraction/ExtrOCamlFloats.v  @coq/number-maintainers
/theories/extraction/ExtrOCamlInt*   @coq/number-maintainers

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/toplevel/   @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers
/sysinit/    @coq/toplevel-maintainers

########## Vernacular ##########

/vernac/              @coq/vernac-maintainers

/vernac/metasyntax.*  @coq/parsing-maintainers

/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers
