Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/legacy-build-maintainers, @coq/build-maintainers, @coq/windows-build-maintainers, @coq/ci-maintainers, @coq/nix-maintainers, @ghost, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/plugin-tutorial-maintainers, @coq/kernel-maintainers, @coq/lib-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/coqide-maintainers, @coq/stm-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/pretyper-maintainers, @coq/tactics-maintainers, @coq/typeclasses-maintainers, @coq/stdlib-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @herbelin, @mattam82, @ppedrot, @JasonGross, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @coq/dev-tools-maintainers

.github/CODEOWNERS:

# This file describes the maintainers for the main components. See
# `dev/doc/MERGING.md`.

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers
/dev/doc/shield-icon.png    @coq/contributing-process-maintainers

/dev/doc/release-process.md @coq/contributing-process-maintainers

########## Build system ##########

/Makefile*                      @coq/legacy-build-maintainers
/dev/tools/make_git_revision.sh @coq/legacy-build-maintainers

/configure*        @coq/legacy-build-maintainers @coq/build-maintainers

/META.coq.in       @coq/legacy-build-maintainers

/dev/build/windows @coq/windows-build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/azure-pipelines.yml @coq/ci-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh @ghost
# Trick to avoid getting review requests
# each time someone adds an overlay

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/Makefile.doc          @coq/doc-maintainers

/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst @ghost
/dev/doc/changes.md    @ghost
# Trick to avoid getting review requests
# each time someone modifies the changelog

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/engine/          @coq/engine-maintainers

/engine/univ*     @coq/universes-maintainers
/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/kernel/          @coq/kernel-maintainers

/kernel/byterun/  @coq/vm-native-maintainers
/kernel/native*   @coq/vm-native-maintainers
/kernel/vm*       @coq/vm-native-maintainers
/kernel/vconv.*   @coq/vm-native-maintainers

/kernel/sorts.*   @coq/universes-maintainers
/kernel/uGraph.*  @coq/universes-maintainers
/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/gramlib/         @coq/parsing-maintainers
/parsing/         @coq/parsing-maintainers

########## Stdlib ##########

/stdlib/plugins/btauto/       @coq/btauto-maintainers

/stdlib/plugins/cc/           @coq/cc-maintainers

/stdlib/plugins/derive/       @coq/derive-maintainers

/stdlib/plugins/extraction/   @coq/extraction-maintainers

/stdlib/plugins/firstorder/   @coq/firstorder-maintainers

/stdlib/plugins/funind/       @coq/funind-maintainers

/stdlib/plugins/ltac/         @coq/ltac-maintainers

/stdlib/micromega/    @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/stdlib/plugins/nsatz/        @coq/nsatz-maintainers

/stdlib/plugins/setoid_ring/  @coq/ring-maintainers

/stdlib/ssrmatching/  @coq/ssreflect-maintainers
/stdlib/ssr/          @coq/ssreflect-maintainers
/test-suite/ssr/       @coq/ssreflect-maintainers

/stdlib/syntax/       @coq/parsing-maintainers

/stdlib/plugins/rtauto/       @coq/rtauto-maintainers

/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/pretyping/             @coq/pretyper-maintainers

/pretyping/vnorm.*      @coq/vm-native-maintainers
/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/proofs/          @coq/engine-maintainers

########## STM ##########

/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/tactics/         @coq/tactics-maintainers

/tactics/class_tactics.* @coq/typeclasses-maintainers
/test-suite/typeclasses/ @coq/typeclasses-maintainers

########## Standard library ##########

<<<<<<< HEAD
/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers
=======
/stdlib/Arith/          @herbelin

/stdlib/Bool/           @herbelin

/stdlib/Classes/        @mattam82
# Secondary maintainer @herbelin

/stdlib/FSets/          @herbelin

/stdlib/Init/           @ppedrot

/stdlib/Lists/          @ppedrot

/stdlib/Logic/          @herbelin
# Secondary maintainer @ppedrot

/stdlib/MSets/          @herbelin

/stdlib/NArith/         @herbelin

/stdlib/Numbers/        @herbelin

/stdlib/PArith/         @herbelin

/stdlib/Program/        @mattam82
# Secondary maintainer @herbelin

/stdlib/QArith/         @herbelin

/stdlib/Reals/          @coq/reals-library-maintainers
# Secondary maintainer @ppedrot

/stdlib/Relations/      @mattam82
# Secondary maintainer @ppedrot

/stdlib/Setoids/        @mattam82
# Secondary maintainer @ppedrot

/stdlib/Sets/           @herbelin

/stdlib/Sorting/        @herbelin

/stdlib/Strings/        @herbelin

/stdlib/Structures/     @herbelin

/stdlib/Unicode/        @herbelin

/stdlib/Wellfounded/    @mattam82

/stdlib/ZArith/         @herbelin

/stdlib/Compat/         @JasonGross
# Secondary maintainer @Zimmi48

/stdlib/Vectors/        @herbelin
>>>>>>> [stdlib] Consolidate the standard library in its on directory.

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coqdep*  @coq/legacy-build-maintainers @coq/build-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/toplevel/   @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers

########## Vernacular ##########

/vernac/              @coq/vernac-maintainers

/vernac/metasyntax.*  @coq/parsing-maintainers

/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers

Fix #11515: Ltac2 rewrite on wildcard.
  test-suite/bugs/closed/bug_11515.v
  user-contrib/Ltac2/tac2tactics.ml
Owners: @coq/ltac2-maintainers

Non maximal implicits: add overlays for several libraries
  dev/ci/user-overlays/11235-non-maximal-implicit.sh
Owners: @ghost

Add changelog for non maximal implicit args
  doc/changelog/02-specification-language/11235-non_maximal_implicit.rst
Owners: @ghost

Correct bug in non max local implicit arguments
  interp/constrintern.ml
  test-suite/success/ImplicitArguments.v
  test-suite/success/implicit.v
Owners: @coq/extensible-syntax-maintainers

Apply suggestions from Hugo
  dev/ci/user-overlays/11235-non-maximal-implicit.sh
  doc/sphinx/language/gallina-extensions.rst
Owners: @ghost, @coq/doc-maintainers

Add syntax for non maximally inserted implicit arguments
  interp/constrintern.ml
  interp/impargs.ml
  interp/impargs.mli
  interp/implicit_quantifiers.ml
  parsing/g_constr.mlg
  plugins/ssr/ssrvernac.mlg
  pretyping/glob_ops.ml
  pretyping/glob_term.ml
  printing/ppconstr.ml
  test-suite/success/Generalization.v
  test-suite/success/ImplicitArguments.v
  test-suite/success/implicit.v
  vernac/classes.ml
  vernac/comArguments.ml
  vernac/comArguments.mli
  vernac/comAssumption.ml
  vernac/g_vernac.mlg
  vernac/ppvernac.ml
  vernac/prettyp.ml
  vernac/vernacexpr.ml
Owners: @coq/extensible-syntax-maintainers, @coq/parsing-maintainers, @coq/pretyper-maintainers, @coq/typeclasses-maintainers, @coq/vernac-maintainers

Update doc for non max implicit arguments
  doc/sphinx/language/gallina-extensions.rst
  doc/sphinx/language/gallina-specification-language.rst
Owners: @coq/doc-maintainers

Non maximal implicits: entry in dev/doc/changes.md
  dev/doc/changes.md
  doc/changelog/02-specification-language/11235-non_maximal_implicit.rst
Owners: @ghost

Remove `unsafe_type_of` from `Coercion`
  pretyping/cases.ml
  pretyping/coercion.ml
  pretyping/program.ml
  pretyping/program.mli
Owners: @coq/pretyper-maintainers

[cleanup] remove useless EConstr qualifications
  plugins/ssr/ssrcommon.ml
  plugins/ssr/ssrelim.ml
Owners: none

Detect template polymorphism based on constrexpr instead of glob
  vernac/comInductive.ml
Owners: @coq/vernac-maintainers

Store the template polymorphic context inside the TemplateArity node.
  checker/checkInductive.ml
  checker/values.ml
  kernel/cooking.ml
  kernel/declarations.ml
  kernel/declareops.ml
  kernel/indTyping.ml
Owners: @coq/kernel-maintainers

Remove a dubious part of the checker code relying on a universe context data from a part where it should never access it.
  checker/checkInductive.ml
Owners: @coq/kernel-maintainers

Add --fuzz, --real, --user to timing scripts
  .gitignore
  Makefile.build
  dev/doc/INSTALL.make.md
  doc/changelog/08-tools/11302-better-timing-scripts-options.rst
  doc/sphinx/practical-tools/utilities.rst
  test-suite/coq-makefile/timing/precomputed-time-tests/001-correct-diff-sorting-order/run.sh
  test-suite/coq-makefile/timing/precomputed-time-tests/001-correct-diff-sorting-order/time-of-build-both-real.log.expected
  test-suite/coq-makefile/timing/precomputed-time-tests/001-correct-diff-sorting-order/time-of-build-both-user.log.expected
  test-suite/coq-makefile/timing/precomputed-time-tests/002-single-file-sorting/run.sh
  test-suite/coq-makefile/timing/precomputed-time-tests/002-single-file-sorting/time-of-build-pretty-real.log.expected
  test-suite/coq-makefile/timing/precomputed-time-tests/002-single-file-sorting/time-of-build-pretty-user.log.expected
  test-suite/coq-makefile/timing/precomputed-time-tests/004-per-file-fuzz/foo-real.v.timing.diff.expected
  test-suite/coq-makefile/timing/precomputed-time-tests/004-per-file-fuzz/foo-user.v.timing.diff.expected
  test-suite/coq-makefile/timing/precomputed-time-tests/004-per-file-fuzz/foo.v.after-timing.in
  test-suite/coq-makefile/timing/precomputed-time-tests/004-per-file-fuzz/foo.v.before-timing.in
  test-suite/coq-makefile/timing/precomputed-time-tests/004-per-file-fuzz/foo_after.v
  test-suite/coq-makefile/timing/precomputed-time-tests/004-per-file-fuzz/foo_before.v
  test-suite/coq-makefile/timing/precomputed-time-tests/004-per-file-fuzz/run.sh
  test-suite/coq-makefile/timing/precomputed-time-tests/run.sh
  tools/CoqMakefile.in
  tools/TimeFileMaker.py
  tools/make-both-single-timing-files.py
  tools/make-both-time-files.py
  tools/make-one-time-file.py
Owners: @coq/legacy-build-maintainers, @coq/doc-maintainers, @ghost, @coq/coq-makefile-maintainers

Remove Safe_typing.universes_of_private by handling them in upper layers
  engine/evd.ml
  engine/evd.mli
  engine/uState.ml
  engine/uState.mli
  kernel/safe_typing.ml
  kernel/safe_typing.mli
  tactics/declare.ml
Owners: @coq/engine-maintainers, @coq/universes-maintainers, @coq/kernel-maintainers, @coq/tactics-maintainers

replace RList by list R
  doc/changelog/10-standard-library/11404-removeRList.rst
  theories/Reals/RList.v
  theories/Reals/RiemannInt.v
  theories/Reals/RiemannInt_SF.v
  theories/Reals/Rtopology.v
Owners: @ghost, @coq/reals-library-maintainers

Refine test for unresolved evars: not reachable from initial evars
  dev/ci/user-overlays/07825-reachable-from-evars.sh
  doc/changelog/02-specification-language/07825-rechable-from-evars.rst
  engine/evarutil.ml
  engine/evarutil.mli
  engine/evd.ml
  engine/evd.mli
  engine/termops.ml
  tactics/tacticals.ml
  tactics/tactics.ml
  test-suite/bugs/closed/bug_4095.v
  test-suite/bugs/closed/bug_4413.v
Owners: @ghost, @coq/engine-maintainers, @coq/tactics-maintainers

Apply suggestions from code review
  doc/changelog/02-specification-language/07825-rechable-from-evars.rst
Owners: @ghost

unsafe_type_of -> get_type_of in Extractactics.destauto_in
  plugins/ltac/extratactics.mlg
Owners: none

unsafe_type_of -> type_of in ComCoercion.build_id_coercion
  vernac/comCoercion.ml
Owners: @coq/vernac-maintainers

unsafe_type_of -> get_type_of in Inv.raw_inversion
  tactics/inv.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> get_type_of in Tacticals.general_elim_then_using
  tactics/tacticals.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> type_of in Tactics.cut_and_apply
  tactics/tactics.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> get_type_of in Tactics.is_functional_induction
  tactics/tactics.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> get_type_of in Rewrite.decompose_app_rel
  plugins/ltac/rewrite.ml
Owners: none

unsafe_type_of -> get_type_of in Hints.make_trivial
  tactics/hints.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> get_type_of in Leminv.lemInv
  tactics/leminv.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> type_of in Tactics.intro_decomp_eq (hipattern changes)
  tactics/equality.ml
  tactics/hipattern.ml
  tactics/hipattern.mli
  tactics/tactics.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> get_type_of in Coq_omega.destructure_hyps
  plugins/omega/coq_omega.ml
Owners: none

unsafe_type_of -> get_type_of in Tactics.atomize_param_of_ind_then
  tactics/tactics.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> type_of in Tactics.change_on_subterm
  tactics/tactics.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> get_type_of in Elim.general_decomposer + pf_apply in ifOnHyp
  tactics/elim.ml
  tactics/tacticals.ml
  tactics/tacticals.mli
Owners: @coq/tactics-maintainers

unsafe_type_of -> type_of in Unification.applyHead
  pretyping/unification.ml
Owners: @coq/pretyper-maintainers

Remove Clenv.mk_clenv_type_of (hidden unsafe_type_of)
  proofs/clenv.ml
  proofs/clenv.mli
  tactics/tactics.ml
Owners: @coq/engine-maintainers, @coq/tactics-maintainers

unsafe_type_of -> type_of in Cctac (with small refactor)
  plugins/cc/cctac.ml
Owners: none

unsafe_type_of -> get_type_of in Contradiction.contradiction_term
  tactics/contradiction.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> get_type_of in cases
  pretyping/cases.ml
Owners: @coq/pretyper-maintainers

unsafe_type_of -> type_of in Tactics.induction_gen_l + fix bad env
  tactics/tactics.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> get_type_of in Equality.build_injrec
  tactics/equality.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> get_type_of in Tacticals.elimination_then
  tactics/tacticals.ml
Owners: @coq/tactics-maintainers
