Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/build-maintainers, @coq/ci-maintainers, @coq/windows-build-maintainers, @coq/nix-maintainers, @coq/bench-maintainers, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/kernel-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/pretyper-maintainers, @coq/stm-maintainers, @coq/plugin-tutorial-maintainers, @coq/lib-maintainers, @coq/coqide-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/stdlib-maintainers, @coq/typeclasses-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/number-maintainers, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @herbelin, @coq/dev-tools-maintainers

.github/CODEOWNERS:

# This file associates maintainer teams to each component.
# See CONTRIBUTING.md

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers

########## Build system ##########

/Makefile                       @coq/build-maintainers
/dev/tools/make_git_revision.sh @coq/build-maintainers

/configure                      @coq/build-maintainers
/tools/configure/*              @coq/build-maintainers

/tools/coqdep/                  @coq/build-maintainers

/boot/                          @coq/build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/dev/lint-*.sh       @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/.github/workflows   @coq/ci-maintainers
/dev/ci/platform/    @coq/windows-build-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/bench/            @coq/bench-maintainers

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst
/dev/doc/changes.md
# Trick to avoid getting review requests
# each time someone modifies the changelog

/dev/doc/build-system.dune.md @coq/build-maintainers
/dev/doc/critical-bugs        @coq/kernel-maintainers
/dev/doc/econstr.md           @coq/engine-maintainers
/dev/doc/proof-engine.md      @coq/engine-maintainers
/dev/doc/release-process.md   @coq/contributing-process-maintainers
/dev/doc/shield-icon.png      @coq/contributing-process-maintainers
/dev/doc/SProp.md             @coq/universes-maintainers
/dev/doc/style.txt            @coq/contributing-process-maintainers
/dev/doc/unification.txt      @coq/pretyper-maintainers
/dev/doc/universes.md         @coq/universes-maintainers
/dev/doc/xml-protocol         @coq/stm-maintainers

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/engine/          @coq/engine-maintainers

/engine/univ*     @coq/universes-maintainers
/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/kernel/          @coq/kernel-maintainers

/kernel/byterun/  @coq/vm-native-maintainers
/kernel/native*   @coq/vm-native-maintainers
/kernel/vm*       @coq/vm-native-maintainers
/kernel/vconv.*   @coq/vm-native-maintainers
/kernel/genOpcodefiles.* @coq/vm-native-maintainers

/kernel/sorts.*   @coq/universes-maintainers
/kernel/uGraph.*  @coq/universes-maintainers
/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/gramlib/         @coq/parsing-maintainers
/parsing/         @coq/parsing-maintainers

########## Standard library and plugins ##########

/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers

/plugins/btauto/       @coq/btauto-maintainers
/theories/btauto/      @coq/btauto-maintainers

/plugins/cc/           @coq/cc-maintainers
/theories/cc/          @coq/cc-maintainers

/plugins/derive/       @coq/derive-maintainers
/theories/derive/      @coq/derive-maintainers

/plugins/extraction/   @coq/extraction-maintainers
/theories/extraction/  @coq/extraction-maintainers

/plugins/firstorder/   @coq/firstorder-maintainers
/theories/firstorder/  @coq/firstorder-maintainers

/plugins/funind/       @coq/funind-maintainers
/theories/funind/      @coq/funind-maintainers

/plugins/ltac/         @coq/ltac-maintainers
/theories/ltac/        @coq/ltac-maintainers

/plugins/micromega/    @coq/micromega-maintainers
/theories/micromega/   @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/        @coq/nsatz-maintainers
/theories/nsatz/       @coq/nsatz-maintainers

/plugins/ring/  @coq/ring-maintainers
/theories/setoid_ring/ @coq/ring-maintainers

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/theories/ssrmatching/ @coq/ssreflect-maintainers

/plugins/ssr/          @coq/ssreflect-maintainers
/theories/ssr/         @coq/ssreflect-maintainers

/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @coq/rtauto-maintainers
/theories/rtauto/      @coq/rtauto-maintainers

/plugins/ltac2/        @coq/ltac2-maintainers
/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/pretyping/             @coq/pretyper-maintainers

/pretyping/vnorm.*      @coq/vm-native-maintainers
/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/proofs/          @coq/engine-maintainers

########## STM ##########

/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/tactics/         @coq/tactics-maintainers

/tactics/class_tactics.* @coq/typeclasses-maintainers

########## Number ##########

/interp/numTok.*                     @coq/number-maintainers
/kernel/float64*                     @coq/number-maintainers
/kernel/uint63*                      @coq/number-maintainers
/plugins/syntax/g_number_string.mlg  @coq/number-maintainers
/plugins/syntax/number.ml            @coq/number-maintainers
/user-contrib/Ltac2/Int.v            @coq/number-maintainers
/test-suite/output/FloatExtraction*  @coq/number-maintainers
/test-suite/output/*Number*          @coq/number-maintainers
/test-suite/primitive/float/         @coq/number-maintainers
/test-suite/primitive/sint63/        @coq/number-maintainers
/test-suite/primitive/uint63/        @coq/number-maintainers
/theories/Init/Decimal.v             @coq/number-maintainers
/theories/Init/Hexadecimal.v         @coq/number-maintainers
/theories/Init/Nat.v                 @coq/number-maintainers
/theories/Init/Number.v              @coq/number-maintainers
/theories/*Arith/                    @coq/number-maintainers
/theories/Numbers/                   @coq/number-maintainers
/theories/Floats/                    @coq/number-maintainers
/theories/extraction/Extr*Nat*       @coq/number-maintainers
/theories/extraction/Extr*Z*         @coq/number-maintainers
/theories/extraction/ExtrOCamlFloats.v  @coq/number-maintainers
/theories/extraction/ExtrOCamlInt*   @coq/number-maintainers

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/toplevel/   @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers
/sysinit/    @coq/toplevel-maintainers

########## Vernacular ##########

/vernac/              @coq/vernac-maintainers

/vernac/metasyntax.*  @coq/parsing-maintainers

/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers

Ltac2: Fresh.Free.t = ident FSet.t
  doc/changelog/06-Ltac2-language/18125-ltac2-fresh-set.rst
  plugins/ltac2/tac2core.ml
  plugins/ltac2/tac2ffi.ml
  plugins/ltac2/tac2ffi.mli
  test-suite/ltac2/fresh.v
  user-contrib/Ltac2/Fresh.v
Owners: @coq/ltac2-maintainers

Ltac2: named type variables can't be defined
  doc/changelog/06-Ltac2-language/18118-ltac2-rigid-typ-var.rst
  plugins/ltac2/tac2typing_env.ml
  test-suite/ltac2/typing.v
  user-contrib/Ltac2/List.v
Owners: @coq/ltac2-maintainers

Add documentation
  doc/changelog/03-notations/6134-master+type-scope-cast.rst
  doc/sphinx/language/core/definitions.rst
  doc/sphinx/user-extensions/syntax-extensions.rst
Owners: @coq/doc-maintainers

kernel conversion: universe on array literals is irrelevant
  kernel/conversion.ml
  test-suite/bugs/bug_17868.v
Owners: @coq/kernel-maintainers

Weak-head variation of lazy.
  plugins/funind/recdef.ml
  plugins/ltac/g_tactic.mlg
  plugins/ltac/tacintern.ml
  plugins/ltac/tacinterp.ml
  plugins/ltac2/tac2stdlib.ml
  plugins/ltac2/tac2tactics.ml
  plugins/ltac2/tac2tactics.mli
  plugins/ssr/ssrcommon.ml
  tactics/genredexpr.mli
  tactics/ppred.ml
  tactics/redexpr.ml
  tactics/redops.ml
  tactics/tactics.ml
  user-contrib/Ltac2/Std.v
Owners: @coq/funind-maintainers, @coq/ltac-maintainers, @coq/ltac2-maintainers, @coq/ssreflect-maintainers, @coq/tactics-maintainers

Use LRU cache to share lazy `to_constr` calls
  kernel/cClosure.ml
  kernel/dune
Owners: @coq/kernel-maintainers, @coq/build-maintainers

Add lru opam package to bench
  dev/bench/bench.sh
Owners: @coq/bench-maintainers

Trim the cache before adding new items
  kernel/cClosure.ml
Owners: @coq/kernel-maintainers

Remove the Numbers/Int31 library deprecated since 8.10
  doc/stdlib/index-list.html.template
  test-suite/bugs/bug_8885.v
  test-suite/output/Int31NumberSyntax.out
  test-suite/output/Int31NumberSyntax.v
  theories/Numbers/Cyclic/Int31/Cyclic31.v
  theories/Numbers/Cyclic/Int31/Int31.v
  theories/Numbers/Cyclic/Int31/Ring31.v
Owners: @coq/doc-maintainers, @coq/number-maintainers

Add small deprecate_file script in dev/tools
  dev/tools/deprecate_file.sh
Owners: @coq/dev-tools-maintainers

Deprecate Sorting/Heap.v
  theories/Sorting/Heap.v
Owners: @coq/stdlib-maintainers

Declare.ml: use None to indicate absence of recursivity in proof info.
  vernac/declare.ml
Owners: @coq/vernac-maintainers

Proof using: exclude the recursive names in computing the list of used names.
  vernac/comDefinition.ml
  vernac/comFixpoint.ml
  vernac/comProgramFixpoint.ml
  vernac/declare.ml
  vernac/declare.mli
  vernac/proof_using.ml
  vernac/proof_using.mli
  vernac/vernacentries.ml
Owners: @coq/vernac-maintainers

Constant_typing: extra check that declared hyps of body are valid.
  kernel/constant_typing.ml
  test-suite/success/definition_using.v
Owners: @coq/kernel-maintainers

Move check on id validity of "using" attribute and "Proof using" to proof_using.ml.
  vernac/proof_using.ml
  vernac/vernacentries.ml
Owners: @coq/vernac-maintainers

Constant_typing.ml: make error on undeclared used variables abstract.
  checker/checker.ml
  kernel/constant_typing.ml
  kernel/type_errors.ml
  kernel/type_errors.mli
  vernac/himsg.ml
Owners: @coq/kernel-maintainers, @coq/vernac-maintainers

Add overlays for #18007
  dev/ci/user-overlays/18007-herbelin-master+extra-checks-valid-declared-hyps.sh
Owners: none

Ltac1 and Ltac2: don't normalize evars for constr:() and open_constr:()
  plugins/ltac/tacinterp.ml
  plugins/ltac2/tac2core.ml
Owners: @coq/ltac-maintainers, @coq/ltac2-maintainers

Export NotConvertible error of convert_concl.
  tactics/tactics.ml
  tactics/tactics.mli
Owners: @coq/tactics-maintainers

Add specific error message when proof reconstruction in congruence fails.
  plugins/cc/cctac.ml
  test-suite/output/unifconstraints.out
  test-suite/output/unifconstraints.v
Owners: @coq/cc-maintainers

Fixes #5481: support for unification of universe variables in congruence.
  plugins/cc/ccalgo.ml
  plugins/cc/ccproof.ml
  test-suite/bugs/bug_5481.v
Owners: @coq/cc-maintainers

Change log for #18106
  doc/changelog/04-tactics/18106-master+fix5481-congruence-polyuniv.rst
Owners: none
