Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/build-maintainers, @coq/ci-maintainers, @coq/windows-build-maintainers, @coq/nix-maintainers, @coq/bench-maintainers, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/kernel-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/pretyper-maintainers, @coq/stm-maintainers, @coq/plugin-tutorial-maintainers, @coq/lib-maintainers, @coq/coqide-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/stdlib-maintainers, @coq/typeclasses-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/number-maintainers, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @herbelin, @coq/dev-tools-maintainers

frozen_and_pending: use option for trivial cases instead of lazy
  pretyping/pretyping.ml
Owners: @coq/pretyper-maintainers

Support evars in abstract
  doc/changelog/04-tactics/17745-abstract-evars.rst
  engine/evd.ml
  engine/evd.mli
  proofs/proof.ml
  proofs/proof.mli
  test-suite/success/abstract_with_evars.v
  vernac/declare.ml
  vernac/declare.mli
Owners: @coq/engine-maintainers, @coq/vernac-maintainers

Evarutil.advance: use Evd.find_defined
  engine/evarutil.ml
  engine/evd.ml
  engine/evd.mli
Owners: @coq/engine-maintainers

Stop evar normalizing the Ltac1 environment in abstract
  plugins/ltac/tacinterp.ml
Owners: @coq/ltac-maintainers

Stop doing early universe minimization and nf_evar in abstract
  vernac/declare.ml
Owners: @coq/vernac-maintainers

some econstr correcteness
  plugins/micromega/zify.ml
Owners: @coq/micromega-maintainers

Generalize Add Zify to accept terms not just refs
  doc/changelog/04-tactics/16868-zify-term.rst
  doc/sphinx/addendum/micromega.rst
  doc/tools/docgram/common.edit_mlg
  doc/tools/docgram/fullGrammar
  doc/tools/docgram/orderedGrammar
  plugins/micromega/g_zify.mlg
  plugins/micromega/zify.ml
  plugins/micromega/zify.mli
  test-suite/bugs/bug_16404.v
Owners: @coq/doc-maintainers, @coq/micromega-maintainers

Relax lookahead test for ltac2 `{ foo with ... }` to allow qualids
  doc/tools/docgram/common.edit_mlg
  doc/tools/docgram/fullGrammar
  parsing/pcoq.ml
  parsing/pcoq.mli
  plugins/ltac2/g_ltac2.mlg
  plugins/ltac2/g_ltac2.mli
  test-suite/ltac2/default_record.v
Owners: @coq/doc-maintainers, @coq/parsing-maintainers, @coq/ltac2-maintainers

Ltac2: Avoid generating useless letin when interning `{ foo with ... }`
  plugins/ltac2/tac2intern.ml
Owners: @coq/ltac2-maintainers

coq_makefile: allow -destination-of, -sources-of in any position
  lib/coqProject_file.ml
  lib/coqProject_file.mli
  test-suite/unit-tests/lib/coqProject.ml
  tools/coq_makefile.ml
Owners: @coq/lib-maintainers, @coq/coq-makefile-maintainers

coq_makefile: print help to stdout when using -h, add -v --version flags
  tools/coq_makefile.ml
Owners: @coq/coq-makefile-maintainers

Ltac2: expose constructor -> inductive and constructor -> int
  plugins/ltac2/tac2core.ml
  user-contrib/Ltac2/Constructor.v
Owners: @coq/ltac2-maintainers

Ltac2: remove redundant constr_constructor external
  plugins/ltac2/tac2core.ml
  user-contrib/Ltac2/Constr.v
Owners: @coq/ltac2-maintainers

Factor `rewstrategy` into levels for clearer parsing
  doc/changelog/04-tactics/18093-stratfactoring.rst
  doc/sphinx/addendum/generalized-rewriting.rst
  doc/tools/docgram/fullGrammar
  doc/tools/docgram/orderedGrammar
  plugins/ltac/g_rewrite.mlg
Owners: @coq/doc-maintainers, @coq/ltac-maintainers

Global instruction counter library (Linux only).
  lib/dune
  lib/instr.mli
  lib/instr.noperf.ml
  lib/instr.perf.ml
  perf/dune
  perf/perf.c
  perf/perf.ml
  perf/perf.mli
Owners: @coq/build-maintainers, @coq/lib-maintainers

Add a new [Instructions] control vernacular.
  lib/pp.ml
  lib/pp.mli
  lib/system.ml
  lib/system.mli
  vernac/g_vernac.mlg
  vernac/ppvernac.ml
  vernac/synterp.ml
  vernac/synterp.mli
  vernac/vernacexpr.mli
  vernac/vernacinterp.ml
Owners: @coq/lib-maintainers, @coq/vernac-maintainers

Add changelog entries for instruction counting.
  doc/changelog/08-vernac-commands-and-options/17744-instruction-counting.rst
Owners: none

Add instruction counts to the new profiler.
  lib/newProfile.ml
Owners: @coq/lib-maintainers

Document the new [Instructions] command.
  doc/sphinx/proof-engine/vernacular-commands.rst
Owners: @coq/doc-maintainers

Update the generated grammar.
  doc/tools/docgram/common.edit_mlg
  doc/tools/docgram/fullGrammar
  doc/tools/docgram/orderedGrammar
Owners: @coq/doc-maintainers

Remove dead code exception try/catch
  tactics/class_tactics.ml
Owners: @coq/typeclasses-maintainers

Experiment with considering evars in + mode rigid for TC resolution
  tactics/class_tactics.ml
  tactics/hints.ml
  tactics/hints.mli
  test-suite/bugs/bug_18078.v
  test-suite/bugs/bug_3618.v
  test-suite/output/bug_13942.v
Owners: @coq/typeclasses-maintainers, @coq/tactics-maintainers

[CI] Make VST use CompCert from the CI
  .gitlab-ci.yml
  Makefile.ci
  dev/ci/ci-compcert.sh
  dev/ci/ci-vst.sh
Owners: @coq/ci-maintainers

Add overlay
  dev/ci/user-overlays/18039-proux01-vst.sh
Owners: none

Simplify catch_failerror implementation
  tactics/tacticals.ml
Owners: @coq/tactics-maintainers

Rename [perf/perf.c] into [perf/coq_perf.c].
  perf/coq_perf.c
  perf/dune
Owners: @coq/build-maintainers

Update doc URLs
  doc/sphinx/changes.rst
  doc/sphinx/conf.py
Owners: @coq/doc-maintainers

Fix ocamldebug load_printer calls after adding coq-core.perf
  dev/core_dune.dbg
  dev/db
Owners: @coq/build-maintainers

Bench: export TIMED=1 (enable coq_makefile per file timings)
  dev/bench/bench.sh
Owners: @coq/bench-maintainers

Interpreting a casted term in the scope bound to its type if any.
  interp/constrextern.ml
  interp/constrintern.ml
  test-suite/output/TermSyntax.out
  test-suite/output/TermSyntax.v
Owners: @coq/extensible-syntax-maintainers

Exporting functions to compute the scope class of a glob constr.
  interp/notation.ml
  interp/notation.mli
  pretyping/coercionops.ml
  pretyping/coercionops.mli
Owners: @coq/extensible-syntax-maintainers, @coq/pretyper-maintainers

Remove useless casts in test-suite
  test-suite/output/NNumberSyntax.out
  test-suite/output/NNumberSyntax.v
  test-suite/output/PosSyntax.out
  test-suite/output/PosSyntax.v
  test-suite/output/ZNumberSyntax.out
  test-suite/output/ZNumberSyntax.v
Owners: @coq/number-maintainers

Dropping two cast notations whose effect is done at in/externalization time.
  theories/ssr/ssreflect.v
Owners: @coq/ssreflect-maintainers

Interpreting a casted pattern in the scope bound to its type if any.
  interp/constrintern.ml
  test-suite/output/TermSyntax.out
  test-suite/output/TermSyntax.v
Owners: @coq/extensible-syntax-maintainers

Forcing use of type_scope when casting with a sort (see issue #6077).
  interp/constrexpr_ops.ml
  interp/constrexpr_ops.mli
  interp/constrextern.ml
  interp/constrintern.ml
  test-suite/output/TermSyntax.out
  test-suite/output/TermSyntax.v
Owners: @coq/extensible-syntax-maintainers

Bench: use make-both-time-files on opam logs
  dev/bench/bench.sh
Owners: @coq/bench-maintainers

Remove the `TacComplete` AST
  dev/ci/user-overlays/18124-LasseBlaauwbroek-remove-complete.sh
  plugins/ltac/pptactic.ml
  plugins/ltac/tacexpr.ml
  plugins/ltac/tacexpr.mli
  plugins/ltac/tacintern.ml
  plugins/ltac/tacinterp.ml
  plugins/ltac/tacsubst.ml
  plugins/ltac/tactic_debug.ml
Owners: @coq/ltac-maintainers

Bench: use make-both-time-files on the combined logs
  dev/bench/bench.sh
Owners: @coq/bench-maintainers

Use ltac backtrace in "tactic was not fully applied" error
  plugins/ltac/tacinterp.ml
  test-suite/output/ltac_missing_args.out
Owners: @coq/ltac-maintainers

Fix Class_tactics.run_on_goals setting incorrect typeclass evars
  tactics/class_tactics.ml
  test-suite/bugs/bug_18127.v
Owners: @coq/typeclasses-maintainers

.github/CODEOWNERS:

# This file associates maintainer teams to each component.
# See CONTRIBUTING.md

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers

########## Build system ##########

/Makefile                       @coq/build-maintainers
/dev/tools/make_git_revision.sh @coq/build-maintainers

/configure                      @coq/build-maintainers
/tools/configure/*              @coq/build-maintainers

/tools/coqdep/                  @coq/build-maintainers

/boot/                          @coq/build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/dev/lint-*.sh       @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/.github/workflows   @coq/ci-maintainers
/dev/ci/platform/    @coq/windows-build-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/bench/            @coq/bench-maintainers

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst
/dev/doc/changes.md
# Trick to avoid getting review requests
# each time someone modifies the changelog

/dev/doc/build-system.dune.md @coq/build-maintainers
/dev/doc/critical-bugs        @coq/kernel-maintainers
/dev/doc/econstr.md           @coq/engine-maintainers
/dev/doc/proof-engine.md      @coq/engine-maintainers
/dev/doc/release-process.md   @coq/contributing-process-maintainers
/dev/doc/shield-icon.png      @coq/contributing-process-maintainers
/dev/doc/SProp.md             @coq/universes-maintainers
/dev/doc/style.txt            @coq/contributing-process-maintainers
/dev/doc/unification.txt      @coq/pretyper-maintainers
/dev/doc/universes.md         @coq/universes-maintainers
/dev/doc/xml-protocol         @coq/stm-maintainers

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/engine/          @coq/engine-maintainers

/engine/univ*     @coq/universes-maintainers
/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/kernel/          @coq/kernel-maintainers

/kernel/byterun/  @coq/vm-native-maintainers
/kernel/native*   @coq/vm-native-maintainers
/kernel/vm*       @coq/vm-native-maintainers
/kernel/vconv.*   @coq/vm-native-maintainers
/kernel/genOpcodefiles.* @coq/vm-native-maintainers

/kernel/sorts.*   @coq/universes-maintainers
/kernel/uGraph.*  @coq/universes-maintainers
/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/gramlib/         @coq/parsing-maintainers
/parsing/         @coq/parsing-maintainers

########## Standard library and plugins ##########

/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers

/plugins/btauto/       @coq/btauto-maintainers
/theories/btauto/      @coq/btauto-maintainers

/plugins/cc/           @coq/cc-maintainers
/theories/cc/          @coq/cc-maintainers

/plugins/derive/       @coq/derive-maintainers
/theories/derive/      @coq/derive-maintainers

/plugins/extraction/   @coq/extraction-maintainers
/theories/extraction/  @coq/extraction-maintainers

/plugins/firstorder/   @coq/firstorder-maintainers
/theories/firstorder/  @coq/firstorder-maintainers

/plugins/funind/       @coq/funind-maintainers
/theories/funind/      @coq/funind-maintainers

/plugins/ltac/         @coq/ltac-maintainers
/theories/ltac/        @coq/ltac-maintainers

/plugins/micromega/    @coq/micromega-maintainers
/theories/micromega/   @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/        @coq/nsatz-maintainers
/theories/nsatz/       @coq/nsatz-maintainers

/plugins/ring/  @coq/ring-maintainers
/theories/setoid_ring/ @coq/ring-maintainers

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/theories/ssrmatching/ @coq/ssreflect-maintainers

/plugins/ssr/          @coq/ssreflect-maintainers
/theories/ssr/         @coq/ssreflect-maintainers

/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @coq/rtauto-maintainers
/theories/rtauto/      @coq/rtauto-maintainers

/plugins/ltac2/        @coq/ltac2-maintainers
/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/pretyping/             @coq/pretyper-maintainers

/pretyping/vnorm.*      @coq/vm-native-maintainers
/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/proofs/          @coq/engine-maintainers

########## STM ##########

/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/tactics/         @coq/tactics-maintainers

/tactics/class_tactics.* @coq/typeclasses-maintainers

########## Number ##########

/interp/numTok.*                     @coq/number-maintainers
/kernel/float64*                     @coq/number-maintainers
/kernel/uint63*                      @coq/number-maintainers
/plugins/syntax/g_number_string.mlg  @coq/number-maintainers
/plugins/syntax/number.ml            @coq/number-maintainers
/user-contrib/Ltac2/Int.v            @coq/number-maintainers
/test-suite/output/FloatExtraction*  @coq/number-maintainers
/test-suite/output/*Number*          @coq/number-maintainers
/test-suite/primitive/float/         @coq/number-maintainers
/test-suite/primitive/sint63/        @coq/number-maintainers
/test-suite/primitive/uint63/        @coq/number-maintainers
/theories/Init/Decimal.v             @coq/number-maintainers
/theories/Init/Hexadecimal.v         @coq/number-maintainers
/theories/Init/Nat.v                 @coq/number-maintainers
/theories/Init/Number.v              @coq/number-maintainers
/theories/*Arith/                    @coq/number-maintainers
/theories/Numbers/                   @coq/number-maintainers
/theories/Floats/                    @coq/number-maintainers
/theories/extraction/Extr*Nat*       @coq/number-maintainers
/theories/extraction/Extr*Z*         @coq/number-maintainers
/theories/extraction/ExtrOCamlFloats.v  @coq/number-maintainers
/theories/extraction/ExtrOCamlInt*   @coq/number-maintainers

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/toplevel/   @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers
/sysinit/    @coq/toplevel-maintainers

########## Vernacular ##########

/vernac/              @coq/vernac-maintainers

/vernac/metasyntax.*  @coq/parsing-maintainers

/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers
