Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/build-maintainers, @coq/ci-maintainers, @coq/windows-build-maintainers, @coq/nix-maintainers, @coq/bench-maintainers, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/kernel-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/pretyper-maintainers, @coq/stm-maintainers, @coq/plugin-tutorial-maintainers, @coq/lib-maintainers, @coq/coqide-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/stdlib-maintainers, @coq/typeclasses-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/number-maintainers, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @herbelin, @coq/dev-tools-maintainers

Fix externalizing GADT definitions
  dune
  pretyping/GADT.ml
  pretyping/cases.ml
  pretyping/cases.mli
Owners: @coq/build-maintainers, @coq/pretyper-maintainers

Stop reimplementing our own Pervasives shim in Util.
  engine/logic_monad.ml
  interp/notation.ml
  interp/numTok.ml
  lib/util.ml
  lib/util.mli
  parsing/notgram_ops.ml
  plugins/extraction/common.ml
  plugins/ltac/tactic_debug.ml
  plugins/ssr/ssrview.ml
  pretyping/coercionops.ml
  pretyping/find_subterm.ml
  pretyping/structures.ml
  tactics/btermdn.ml
  vernac/search.ml
Owners: @coq/engine-maintainers, @coq/extensible-syntax-maintainers, @coq/number-maintainers, @coq/lib-maintainers, @coq/parsing-maintainers, @coq/extraction-maintainers, @coq/ltac-maintainers, @coq/ssreflect-maintainers, @coq/pretyper-maintainers, @coq/tactics-maintainers, @coq/vernac-maintainers

Fix Case5.v
  pretyping/EJudgment.ml
  pretyping/EvarMapMonad.ml
  pretyping/cases.ml
Owners: @coq/pretyper-maintainers

CI: adjust Windows CI to changes in Coq Platform (folder name)
  dev/ci/platform/coq-pf-04-installer.bat
Owners: @coq/windows-build-maintainers

Fix #17871 inconsistency with native_compute and primitive floats
  dev/doc/critical-bugs
  doc/changelog/01-kernel/17872-fix_17871.rst
  kernel/nativeconv.ml
  kernel/nativevalues.ml
  kernel/nativevalues.mli
  pretyping/nativenorm.ml
  test-suite/bugs/bug_17871.v
Owners: @coq/kernel-maintainers, @coq/vm-native-maintainers

Clarify the duplicate-clear warning message
  doc/sphinx/proof-engine/ssreflect-proof-language.rst
  plugins/ssr/ssripats.ml
Owners: @coq/doc-maintainers, @coq/ssreflect-maintainers

Fix #17852 (universe issue with reverse coercions)
  pretyping/coercion.ml
  test-suite/bugs/bug_17852.v
Owners: @coq/pretyper-maintainers

Stop mentioning Local, Export, Global prefixes for Set.
  doc/sphinx/language/core/basic.rst
Owners: @coq/doc-maintainers

Use command -v instead of which in make_git_revision
  dev/tools/make_git_revision.sh
Owners: @coq/dev-tools-maintainers

Adding printers for ETerm and EJudgement.
  dev/include_printers
  dev/top_printers.dbg
  dev/top_printers.ml
  dev/top_printers.mli
  pretyping/EJudgment.ml
  pretyping/eTerm.ml
Owners: @coq/pretyper-maintainers

coq_makefile: make .filestoinstall during the rule needing it
  tools/CoqMakefile.in
Owners: @coq/coq-makefile-maintainers

Adding changelog for #17892
  doc/changelog/03-notations/17892-master+fix17071-anomaly-notation-wrong-number-constructor-arguments.rst
Owners: none

Fixes #17071: report nice error for notations too-much applied constructors.
  interp/constrintern.ml
  test-suite/output/Cases.out
  test-suite/output/Cases.v
Owners: @coq/extensible-syntax-maintainers

Adding changelog for #17891
  doc/changelog/03-notations/17891-master+fix17782-anomaly-disable-non-existing-custom-notation.rst
Owners: none

Fixing #17782: Not_found to catch on non-existing custom notation to disable.
  interp/notation.ml
  test-suite/output/activation.out
  test-suite/output/activation.v
Owners: @coq/extensible-syntax-maintainers

Add `Ltac2.Constr.{is_float,is_uint63,is_array}`
  doc/changelog/06-Ltac2-language/17894-is_float.rst
  user-contrib/Ltac2/Constr.v
Owners: @coq/ltac2-maintainers

Adding Map.filter_map.
  clib/cMap.ml
  clib/cMap.mli
  clib/hMap.ml
Owners: @coq/lib-maintainers

For arguments scopes, statically know the list of available scopes.
  interp/notation.ml
  interp/notation.mli
  test-suite/output/ArgumentsScope.out
  test-suite/output/ArgumentsScope.v
  vernac/metasyntax.ml
Owners: @coq/extensible-syntax-maintainers, @coq/parsing-maintainers

Make update_scope fully monotone when there are new scopes around.
  interp/notation.ml
Owners: @coq/extensible-syntax-maintainers

Fixes #10878: "Number Notation ty f g" insensitive to impl. arguments of f g ty.
  plugins/syntax/number.ml
  plugins/syntax/string_notation.ml
  test-suite/output/NumberNotations.v
Owners: @coq/number-maintainers, @coq/parsing-maintainers

Add changelog for #17902
  doc/changelog/03-notations/17902-master+fix11237-constructor-parameters-in-prim-notation-for-pattern.rst
  test-suite/output/StringSyntaxPrimitive.v
Owners: none

Fixes #11237: support constructor parameters in prim notations for patterns.
  interp/constrintern.ml
  interp/notation.ml
  interp/notation.mli
  test-suite/output/StringSyntaxPrimitive.v
  test-suite/success/Notations2.v
Owners: @coq/extensible-syntax-maintainers

Add ModPath.print (ok for user messages).
  kernel/names.ml
  kernel/names.mli
Owners: @coq/kernel-maintainers

About on a section name do not fail (at least not with an anomaly).
  test-suite/output/Nametab.out
  test-suite/output/Nametab.v
  vernac/prettyp.ml
Owners: @coq/vernac-maintainers

Attempt to set files to add waterproof plugin to CI
  .gitlab-ci.yml
  Makefile.ci
  dev/ci/ci-basic-overlay.sh
  dev/ci/ci-waterproof.sh
Owners: @coq/ci-maintainers

Produce warning+dynamic error on missing notation variable in Ltac2
  plugins/ltac2/tac2core.ml
  test-suite/bugs/bug_17833.v
Owners: @coq/ltac2-maintainers

Adding changelog for #17889
  doc/changelog/13-misc/17889-master+fix17817-extraction-prop-elim-error-not-ocaml-specific.rst
Owners: none

Fixes #17817: extraction error message refers to actual language of extraction.
  plugins/extraction/table.ml
Owners: @coq/extraction-maintainers

exposing interp_search_restriction
  vernac/comSearch.mli
Owners: @coq/vernac-maintainers

Update CACHEKEY in preparation for release
  .gitlab-ci.yml
Owners: @coq/ci-maintainers

Advertise Ltac2 in Ltac chapter.
  doc/sphinx/proof-engine/ltac.rst
Owners: @coq/doc-maintainers

faster setoid_ring/Ncring_polynom.v
  theories/setoid_ring/Ncring_polynom.v
Owners: @coq/ring-maintainers

Apply suggestions from code review
  doc/sphinx/changes.rst
Owners: @coq/doc-maintainers

Reorder changelog
  doc/sphinx/changes.rst
Owners: @coq/doc-maintainers

Update doc/sphinx/changes.rst
  doc/sphinx/changes.rst
Owners: @coq/doc-maintainers

[changelog] remove tacn: from elimtype and casetype
  doc/sphinx/changes.rst
Owners: @coq/doc-maintainers

Reorder changelog more
  doc/sphinx/changes.rst
Owners: @coq/doc-maintainers

[changelog] remove tacn: from elimtype and casetype
  doc/sphinx/changes.rst
Owners: @coq/doc-maintainers

Update doc/sphinx/changes.rst
  doc/sphinx/changes.rst
Owners: @coq/doc-maintainers

Reorder changelog
  doc/sphinx/changes.rst
Owners: @coq/doc-maintainers

.github/CODEOWNERS:

# This file associates maintainer teams to each component.
# See CONTRIBUTING.md

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers

########## Build system ##########

/Makefile                       @coq/build-maintainers
/dev/tools/make_git_revision.sh @coq/build-maintainers

/configure                      @coq/build-maintainers
/tools/configure/*              @coq/build-maintainers

/tools/coqdep/                  @coq/build-maintainers

/boot/                          @coq/build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/dev/lint-*.sh       @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/.github/workflows   @coq/ci-maintainers
/dev/ci/platform/    @coq/windows-build-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/bench/            @coq/bench-maintainers

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst
/dev/doc/changes.md
# Trick to avoid getting review requests
# each time someone modifies the changelog

/dev/doc/build-system.dune.md @coq/build-maintainers
/dev/doc/critical-bugs        @coq/kernel-maintainers
/dev/doc/econstr.md           @coq/engine-maintainers
/dev/doc/proof-engine.md      @coq/engine-maintainers
/dev/doc/release-process.md   @coq/contributing-process-maintainers
/dev/doc/shield-icon.png      @coq/contributing-process-maintainers
/dev/doc/SProp.md             @coq/universes-maintainers
/dev/doc/style.txt            @coq/contributing-process-maintainers
/dev/doc/unification.txt      @coq/pretyper-maintainers
/dev/doc/universes.md         @coq/universes-maintainers
/dev/doc/xml-protocol         @coq/stm-maintainers

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/engine/          @coq/engine-maintainers

/engine/univ*     @coq/universes-maintainers
/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/kernel/          @coq/kernel-maintainers

/kernel/byterun/  @coq/vm-native-maintainers
/kernel/native*   @coq/vm-native-maintainers
/kernel/vm*       @coq/vm-native-maintainers
/kernel/vconv.*   @coq/vm-native-maintainers
/kernel/genOpcodefiles.* @coq/vm-native-maintainers

/kernel/sorts.*   @coq/universes-maintainers
/kernel/uGraph.*  @coq/universes-maintainers
/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/gramlib/         @coq/parsing-maintainers
/parsing/         @coq/parsing-maintainers

########## Standard library and plugins ##########

/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers

/plugins/btauto/       @coq/btauto-maintainers
/theories/btauto/      @coq/btauto-maintainers

/plugins/cc/           @coq/cc-maintainers
/theories/cc/          @coq/cc-maintainers

/plugins/derive/       @coq/derive-maintainers
/theories/derive/      @coq/derive-maintainers

/plugins/extraction/   @coq/extraction-maintainers
/theories/extraction/  @coq/extraction-maintainers

/plugins/firstorder/   @coq/firstorder-maintainers
/theories/firstorder/  @coq/firstorder-maintainers

/plugins/funind/       @coq/funind-maintainers
/theories/funind/      @coq/funind-maintainers

/plugins/ltac/         @coq/ltac-maintainers
/theories/ltac/        @coq/ltac-maintainers

/plugins/micromega/    @coq/micromega-maintainers
/theories/micromega/   @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/        @coq/nsatz-maintainers
/theories/nsatz/       @coq/nsatz-maintainers

/plugins/ring/  @coq/ring-maintainers
/theories/setoid_ring/ @coq/ring-maintainers

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/theories/ssrmatching/ @coq/ssreflect-maintainers

/plugins/ssr/          @coq/ssreflect-maintainers
/theories/ssr/         @coq/ssreflect-maintainers

/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @coq/rtauto-maintainers
/theories/rtauto/      @coq/rtauto-maintainers

/plugins/ltac2/        @coq/ltac2-maintainers
/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/pretyping/             @coq/pretyper-maintainers

/pretyping/vnorm.*      @coq/vm-native-maintainers
/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/proofs/          @coq/engine-maintainers

########## STM ##########

/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/tactics/         @coq/tactics-maintainers

/tactics/class_tactics.* @coq/typeclasses-maintainers

########## Number ##########

/interp/numTok.*                     @coq/number-maintainers
/kernel/float64*                     @coq/number-maintainers
/kernel/uint63*                      @coq/number-maintainers
/plugins/syntax/g_number_string.mlg  @coq/number-maintainers
/plugins/syntax/number.ml            @coq/number-maintainers
/user-contrib/Ltac2/Int.v            @coq/number-maintainers
/test-suite/output/FloatExtraction*  @coq/number-maintainers
/test-suite/output/*Number*          @coq/number-maintainers
/test-suite/primitive/float/         @coq/number-maintainers
/test-suite/primitive/sint63/        @coq/number-maintainers
/test-suite/primitive/uint63/        @coq/number-maintainers
/theories/Init/Decimal.v             @coq/number-maintainers
/theories/Init/Hexadecimal.v         @coq/number-maintainers
/theories/Init/Nat.v                 @coq/number-maintainers
/theories/Init/Number.v              @coq/number-maintainers
/theories/*Arith/                    @coq/number-maintainers
/theories/Numbers/                   @coq/number-maintainers
/theories/Floats/                    @coq/number-maintainers
/theories/extraction/Extr*Nat*       @coq/number-maintainers
/theories/extraction/Extr*Z*         @coq/number-maintainers
/theories/extraction/ExtrOCamlFloats.v  @coq/number-maintainers
/theories/extraction/ExtrOCamlInt*   @coq/number-maintainers

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/toplevel/   @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers
/sysinit/    @coq/toplevel-maintainers

########## Vernacular ##########

/vernac/              @coq/vernac-maintainers

/vernac/metasyntax.*  @coq/parsing-maintainers

/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers
