Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/legacy-build-maintainers, @coq/build-maintainers, @coq/ci-maintainers, @coq/windows-build-maintainers, @coq/nix-maintainers, @ghost, @coq/bench-maintainers, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/kernel-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/pretyper-maintainers, @coq/stm-maintainers, @coq/plugin-tutorial-maintainers, @coq/lib-maintainers, @coq/coqide-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/stdlib-maintainers, @coq/typeclasses-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/number-maintainers, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @herbelin, @coq/dev-tools-maintainers

.github/CODEOWNERS:

# This file associates maintainer teams to each component.
# See CONTRIBUTING.md

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers

########## Build system ##########

/Makefile*                      @coq/legacy-build-maintainers
/dev/tools/make_git_revision.sh @coq/legacy-build-maintainers

/configure              @coq/legacy-build-maintainers @coq/build-maintainers
/tools/configure/*      @coq/legacy-build-maintainers @coq/build-maintainers

/boot/               @coq/build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/dev/lint-*.sh       @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/.github/workflows   @coq/ci-maintainers
/dev/ci/platform/    @coq/windows-build-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh @ghost
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/bench/            @coq/bench-maintainers

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/Makefile.doc          @coq/doc-maintainers

/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst @ghost
/dev/doc/changes.md    @ghost
# Trick to avoid getting review requests
# each time someone modifies the changelog

/dev/doc/build-system*.txt    @coq/legacy-build-maintainers
/dev/doc/build-system.dune.md @coq/build-maintainers
/dev/doc/critical-bugs        @coq/kernel-maintainers
/dev/doc/econstr.md           @coq/engine-maintainers
/dev/doc/proof-engine.md      @coq/engine-maintainers
/dev/doc/release-process.md   @coq/contributing-process-maintainers
/dev/doc/shield-icon.png      @coq/contributing-process-maintainers
/dev/doc/SProp.md             @coq/universes-maintainers
/dev/doc/style.txt            @coq/contributing-process-maintainers
/dev/doc/unification.txt      @coq/pretyper-maintainers
/dev/doc/universes.md         @coq/universes-maintainers
/dev/doc/xml-protocol         @coq/stm-maintainers

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/core/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/core/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/core/engine/          @coq/engine-maintainers

/core/engine/univ*     @coq/universes-maintainers
/core/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/core/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/core/kernel/          @coq/kernel-maintainers

/core/kernel/byterun/  @coq/vm-native-maintainers
/core/kernel/native*   @coq/vm-native-maintainers
/core/kernel/vm*       @coq/vm-native-maintainers
/core/kernel/vconv.*   @coq/vm-native-maintainers
/core/kernel/genOpcodefiles.* @coq/vm-native-maintainers

/core/kernel/sorts.*   @coq/universes-maintainers
/core/kernel/uGraph.*  @coq/universes-maintainers
/core/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/core/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/core/gramlib/         @coq/parsing-maintainers
/core/parsing/         @coq/parsing-maintainers

########## Standard library and plugins ##########

/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers

/plugins/btauto/       @coq/btauto-maintainers
/theories/btauto/      @coq/btauto-maintainers

/plugins/cc/           @coq/cc-maintainers
/theories/cc/          @coq/cc-maintainers

/plugins/derive/       @coq/derive-maintainers
/theories/derive/      @coq/derive-maintainers

/plugins/extraction/   @coq/extraction-maintainers
/theories/extraction/  @coq/extraction-maintainers

/plugins/firstorder/   @coq/firstorder-maintainers
/theories/firstorder/  @coq/firstorder-maintainers

/plugins/funind/       @coq/funind-maintainers
/theories/funind/      @coq/funind-maintainers

/plugins/ltac/         @coq/ltac-maintainers
/theories/ltac/        @coq/ltac-maintainers

/plugins/micromega/    @coq/micromega-maintainers
/theories/micromega/   @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/        @coq/nsatz-maintainers
/theories/nsatz/       @coq/nsatz-maintainers

/plugins/ring/  @coq/ring-maintainers
/theories/setoid_ring/ @coq/ring-maintainers

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/theories/ssrmatching/ @coq/ssreflect-maintainers

/plugins/ssr/          @coq/ssreflect-maintainers
/theories/ssr/         @coq/ssreflect-maintainers

/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @coq/rtauto-maintainers
/theories/rtauto/      @coq/rtauto-maintainers

/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/core/pretyping/             @coq/pretyper-maintainers

/core/pretyping/vnorm.*      @coq/vm-native-maintainers
/core/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/core/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/core/proofs/          @coq/engine-maintainers

########## STM ##########

/core/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/core/tactics/         @coq/tactics-maintainers

/core/tactics/class_tactics.* @coq/typeclasses-maintainers
/test-suite/typeclasses/ @coq/typeclasses-maintainers

########## Number ##########

/interp/numTok.*                     @coq/number-maintainers
/kernel/float64*                     @coq/number-maintainers
/kernel/uint63*                      @coq/number-maintainers
/plugins/syntax/g_number_string.mlg  @coq/number-maintainers
/plugins/syntax/int63_syntax_plugin.mllib  @coq/number-maintainers
/plugins/syntax/number.ml            @coq/number-maintainers
/plugins/syntax/number_string_notation_plugin.mllib  @coq/number-maintainers
/user-contrib/Ltac2/Int.v            @coq/number-maintainers
/test-suite/output/FloatExtraction*  @coq/number-maintainers
/test-suite/output/*Number*          @coq/number-maintainers
/test-suite/primitive/float/         @coq/number-maintainers
/test-suite/primitive/sint63/        @coq/number-maintainers
/test-suite/primitive/uint63/        @coq/number-maintainers
/theories/Init/Decimal.v             @coq/number-maintainers
/theories/Init/Hexadecimal.v         @coq/number-maintainers
/theories/Init/Nat.v                 @coq/number-maintainers
/theories/Init/Number.v              @coq/number-maintainers
/theories/*Arith/                    @coq/number-maintainers
/theories/Numbers/                   @coq/number-maintainers
/theories/Floats/                    @coq/number-maintainers
/theories/extraction/Extr*Nat*       @coq/number-maintainers
/theories/extraction/Extr*Z*         @coq/number-maintainers
/theories/extraction/ExtrOCamlFloats.v  @coq/number-maintainers
/theories/extraction/ExtrOCamlInt*   @coq/number-maintainers

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coqdep*  @coq/legacy-build-maintainers @coq/build-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/core/toplevel/   @coq/toplevel-maintainers
/core/sysinit/    @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers

########## Vernacular ##########

/core/vernac/              @coq/vernac-maintainers

/core/vernac/metasyntax.*  @coq/parsing-maintainers

/core/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers

Remove a useless call to Goal.V82.mk_goal in Ring.
  plugins/ring/ring.ml
Owners: @coq/ring-maintainers

Deprecate Goal.V82.mk_goal.
  proofs/goal.mli
  proofs/logic.ml
Owners: none

Deprecate Goal.V82.concl.
  ide/coqide/idetop.ml
  plugins/funind/recdef.ml
  plugins/ssrmatching/ssrmatching.ml
  printing/printer.ml
  printing/proof_diffs.ml
  proofs/goal.mli
  proofs/tacmach.ml
  tactics/class_tactics.ml
  tactics/hints.ml
Owners: @coq/coqide-maintainers, @coq/funind-maintainers, @coq/ssreflect-maintainers

Friendlier accumulator table for native compute w.r.t. naked pointers.
  kernel/nativevalues.ml
Owners: none

Stop relying on a fragile hack using legacy code in Funind.
  plugins/funind/functional_principles_proofs.ml
Owners: @coq/funind-maintainers

Adding an EConstr submodule to Inductiveops.
  pretyping/inductiveops.ml
  pretyping/inductiveops.mli
Owners: none

Adding a strong form of shrink_eta which normalizes under the lambda.
  pretyping/reductionops.ml
  pretyping/reductionops.mli
Owners: none

Inductiveops: adding a few functions to get info associated to constructors.
  pretyping/inductiveops.ml
  pretyping/inductiveops.mli
Owners: none

Add new, more permissive criterion for instantiating self-referencing evars.
  pretyping/evarconv.ml
  pretyping/evarsolve.ml
  test-suite/bugs/closed/bug_3477.v
Owners: none

Updating Set Debug syntax in test-suite.
  test-suite/bugs/closed/bug_10026.v
  test-suite/bugs/closed/bug_3594.v
  test-suite/bugs/closed/bug_3665.v
  test-suite/bugs/closed/bug_3666.v
  test-suite/bugs/closed/bug_3782.v
  test-suite/bugs/closed/bug_4097.v
  test-suite/bugs/closed/bug_4103.v
Owners: none

Moving Evd.evar_candidates to econstr.
  engine/evarutil.ml
  engine/evd.mli
  pretyping/evarconv.ml
Owners: none

CList: Adding a few map functions with counter.
  clib/cList.ml
  clib/cList.mli
Owners: none

A test about combining eta and first order heuristic.
  test-suite/success/unification.v
Owners: none

Update doc/changelog/06-ssreflect/15059-reflect-combinators.rst
  doc/changelog/06-ssreflect/15059-reflect-combinators.rst
Owners: @ghost

Simplify the intepretation functions of intropatterns.
  plugins/ltac/tacinterp.ml
Owners: @coq/ltac-maintainers

Retyping: unbound rels raise RetypeError not Not_found
  pretyping/retyping.ml
  pretyping/unification.ml
  tactics/class_tactics.ml
  test-suite/bugs/closed/bug_13946.v
  test-suite/bugs/closed/bug_15088.v
Owners: none

Introducing a new Internal module in the Ltac plugin.
  doc/sphinx/proof-engine/ltac.rst
  plugins/ltac/extratactics.mlg
  plugins/ltac/internals.ml
  plugins/ltac/internals.mli
Owners: @coq/doc-maintainers, @coq/ltac-maintainers

Documenting the changes.
  doc/changelog/07-vernac-commands-and-options/15116-make-infoH-a-command.rst
  doc/sphinx/proof-engine/ltac.rst
Owners: @ghost, @coq/doc-maintainers

Turn the ProofGeneral-specific infoH tactic into a command.
  plugins/ltac/extratactics.mlg
  plugins/ltac/g_ltac.mlg
  plugins/ltac/pptactic.ml
  plugins/ltac/tacexpr.ml
  plugins/ltac/tacexpr.mli
  plugins/ltac/tacintern.ml
  plugins/ltac/tacinterp.ml
  plugins/ltac/tacsubst.ml
  tactics/tacticals.ml
  tactics/tacticals.mli
Owners: @coq/ltac-maintainers

Remove the confusing changelog since it is a purely internal PR.
  doc/changelog/07-vernac-commands-and-options/15116-make-infoH-a-command.rst
Owners: @ghost

Regenerate the grammar file.
  doc/tools/docgram/fullGrammar
  doc/tools/docgram/orderedGrammar
Owners: @coq/doc-maintainers

Adding overlays.
  dev/ci/user-overlays/15119-ppedrot-vernac-arg-finer-interp-type.sh
Owners: @ghost

Allow different types of vernac argument interpretation functions.
  coqpp/coqpp_ast.mli
  coqpp/coqpp_main.ml
  coqpp/coqpp_parse.mly
Owners: @coq/parsing-maintainers

Introduce a simpler interpretation kind and make it the default.
  coqpp/coqpp_main.ml
  plugins/ltac/extraargs.mlg
  plugins/ltac/extratactics.mlg
  plugins/ltac/g_rewrite.mlg
  plugins/ltac/tacentries.ml
  plugins/ltac/tacentries.mli
  plugins/ltac/tacinterp.mli
  plugins/ssr/ssrcommon.ml
  plugins/ssr/ssrcommon.mli
  plugins/ssr/ssrparser.mlg
  plugins/ssrmatching/ssrmatching.ml
  plugins/ssrmatching/ssrmatching.mli
Owners: @coq/parsing-maintainers, @coq/ltac-maintainers, @coq/ssreflect-maintainers

Update doc/changelog/12-misc/15075-extraction-string.rst
  doc/changelog/12-misc/15075-extraction-string.rst
Owners: @ghost

Overlay for Flocq
  dev/ci/user-overlays/15101-pi8027-zify-instances.sh
Owners: @ghost

test-suite: report also after a subset of tests is run
  test-suite/Makefile
Owners: @coq/test-suite-maintainers

Restore an overline.
  doc/sphinx/language/core/modules.rst
Owners: @coq/doc-maintainers

Don't break a line between "delta-" and "reduced".
  doc/sphinx/language/core/modules.rst
Owners: @coq/doc-maintainers

Qualify all uses of Typeclasses in rewrite.ml
  plugins/ltac/rewrite.ml
Owners: @coq/ltac-maintainers

Remove Typeclasses.classes_transparent_state hook
  pretyping/typeclasses.ml
  pretyping/typeclasses.mli
  tactics/class_tactics.ml
  vernac/classes.ml
Owners: none

The access path should be "X".
  doc/sphinx/language/core/modules.rst
Owners: @coq/doc-maintainers

Use \End.
  doc/sphinx/language/core/modules.rst
Owners: @coq/doc-maintainers

Use \WF.
  doc/sphinx/language/core/modules.rst
Owners: @coq/doc-maintainers

The separator of global environment is ";".
  doc/sphinx/language/core/modules.rst
Owners: @coq/doc-maintainers

Remove a colon.
  doc/sphinx/language/core/modules.rst
Owners: @coq/doc-maintainers

Deprecation notice of ambiguous `Proof using` and `Collection` usage
  doc/sphinx/proofs/writing-proofs/proof-mode.rst
Owners: @coq/doc-maintainers

S2 in the conclusion of WF-MOD2 is not optional.
  doc/sphinx/language/core/modules.rst
  doc/sphinx/refman-preamble.sty
Owners: @coq/doc-maintainers

Add changelog for #15056
  doc/changelog/07-vernac-commands-and-options/15056-collection-variable-clash-deprecation-notice.rst
Owners: @ghost

Move the DeclareUctx module from tactics/ to vernac/.
  vernac/declareUctx.ml
  vernac/declareUctx.mli
Owners: none
