Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/build-maintainers, @coq/ci-maintainers, @coq/windows-build-maintainers, @coq/nix-maintainers, @coq/bench-maintainers, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/kernel-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/pretyper-maintainers, @coq/stm-maintainers, @coq/plugin-tutorial-maintainers, @coq/lib-maintainers, @coq/coqide-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/stdlib-maintainers, @coq/typeclasses-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/number-maintainers, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @herbelin, @coq/dev-tools-maintainers

.github/CODEOWNERS:

# This file associates maintainer teams to each component.
# See CONTRIBUTING.md

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers

########## Build system ##########

/Makefile                       @coq/build-maintainers
/dev/tools/make_git_revision.sh @coq/build-maintainers

/configure                      @coq/build-maintainers
/tools/configure/*              @coq/build-maintainers

/tools/coqdep/                  @coq/build-maintainers

/boot/                          @coq/build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/dev/lint-*.sh       @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/.github/workflows   @coq/ci-maintainers
/dev/ci/platform/    @coq/windows-build-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/bench/            @coq/bench-maintainers

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst
/dev/doc/changes.md
# Trick to avoid getting review requests
# each time someone modifies the changelog

/dev/doc/build-system.dune.md @coq/build-maintainers
/dev/doc/critical-bugs        @coq/kernel-maintainers
/dev/doc/econstr.md           @coq/engine-maintainers
/dev/doc/proof-engine.md      @coq/engine-maintainers
/dev/doc/release-process.md   @coq/contributing-process-maintainers
/dev/doc/shield-icon.png      @coq/contributing-process-maintainers
/dev/doc/SProp.md             @coq/universes-maintainers
/dev/doc/style.txt            @coq/contributing-process-maintainers
/dev/doc/unification.txt      @coq/pretyper-maintainers
/dev/doc/universes.md         @coq/universes-maintainers
/dev/doc/xml-protocol         @coq/stm-maintainers

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/engine/          @coq/engine-maintainers

/engine/univ*     @coq/universes-maintainers
/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/kernel/          @coq/kernel-maintainers

/kernel/byterun/  @coq/vm-native-maintainers
/kernel/native*   @coq/vm-native-maintainers
/kernel/vm*       @coq/vm-native-maintainers
/kernel/vconv.*   @coq/vm-native-maintainers
/kernel/genOpcodefiles.* @coq/vm-native-maintainers

/kernel/sorts.*   @coq/universes-maintainers
/kernel/uGraph.*  @coq/universes-maintainers
/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/gramlib/         @coq/parsing-maintainers
/parsing/         @coq/parsing-maintainers

########## Standard library and plugins ##########

/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers

/plugins/btauto/       @coq/btauto-maintainers
/theories/btauto/      @coq/btauto-maintainers

/plugins/cc/           @coq/cc-maintainers
/theories/cc/          @coq/cc-maintainers

/plugins/derive/       @coq/derive-maintainers
/theories/derive/      @coq/derive-maintainers

/plugins/extraction/   @coq/extraction-maintainers
/theories/extraction/  @coq/extraction-maintainers

/plugins/firstorder/   @coq/firstorder-maintainers
/theories/firstorder/  @coq/firstorder-maintainers

/plugins/funind/       @coq/funind-maintainers
/theories/funind/      @coq/funind-maintainers

/plugins/ltac/         @coq/ltac-maintainers
/theories/ltac/        @coq/ltac-maintainers

/plugins/micromega/    @coq/micromega-maintainers
/theories/micromega/   @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/        @coq/nsatz-maintainers
/theories/nsatz/       @coq/nsatz-maintainers

/plugins/ring/  @coq/ring-maintainers
/theories/setoid_ring/ @coq/ring-maintainers

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/theories/ssrmatching/ @coq/ssreflect-maintainers

/plugins/ssr/          @coq/ssreflect-maintainers
/theories/ssr/         @coq/ssreflect-maintainers

/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @coq/rtauto-maintainers
/theories/rtauto/      @coq/rtauto-maintainers

/plugins/ltac2/        @coq/ltac2-maintainers
/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/pretyping/             @coq/pretyper-maintainers

/pretyping/vnorm.*      @coq/vm-native-maintainers
/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/proofs/          @coq/engine-maintainers

########## STM ##########

/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/tactics/         @coq/tactics-maintainers

/tactics/class_tactics.* @coq/typeclasses-maintainers

########## Number ##########

/interp/numTok.*                     @coq/number-maintainers
/kernel/float64*                     @coq/number-maintainers
/kernel/uint63*                      @coq/number-maintainers
/plugins/syntax/g_number_string.mlg  @coq/number-maintainers
/plugins/syntax/number.ml            @coq/number-maintainers
/user-contrib/Ltac2/Int.v            @coq/number-maintainers
/test-suite/output/FloatExtraction*  @coq/number-maintainers
/test-suite/output/*Number*          @coq/number-maintainers
/test-suite/primitive/float/         @coq/number-maintainers
/test-suite/primitive/sint63/        @coq/number-maintainers
/test-suite/primitive/uint63/        @coq/number-maintainers
/theories/Init/Decimal.v             @coq/number-maintainers
/theories/Init/Hexadecimal.v         @coq/number-maintainers
/theories/Init/Nat.v                 @coq/number-maintainers
/theories/Init/Number.v              @coq/number-maintainers
/theories/*Arith/                    @coq/number-maintainers
/theories/Numbers/                   @coq/number-maintainers
/theories/Floats/                    @coq/number-maintainers
/theories/extraction/Extr*Nat*       @coq/number-maintainers
/theories/extraction/Extr*Z*         @coq/number-maintainers
/theories/extraction/ExtrOCamlFloats.v  @coq/number-maintainers
/theories/extraction/ExtrOCamlInt*   @coq/number-maintainers

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/toplevel/   @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers
/sysinit/    @coq/toplevel-maintainers

########## Vernacular ##########

/vernac/              @coq/vernac-maintainers

/vernac/metasyntax.*  @coq/parsing-maintainers

/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers

Working version with recursive check_clause_holds
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Fixed enforce_eq_can returning wrong canonical node!
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

add_clause to the model before computing first update_model
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

WIP fixing check_* functions
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Revert univMinim changes
  engine/univMinim.ml
Owners: @coq/universes-maintainers

Minor optimizations and add some path compression for equiv nodes
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Fix simplify_clauses_between missing some paths
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Allocate less intermediary structures when checking/enforcing a single constraint
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

!! Temporary !! test-suite output fix
  test-suite/output/UnivBinders.out
Owners: none

Fix perf issue in check_clause
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Remove no longer necessary data from the structure
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Avoid recomputing the cardinal of canonical universes at each check (fixes perf issue in n_polymorphic_universes in performance-tests)
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Avoid recomputing the cardinals of CanSets in the main loop
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Debugging in univMinim
  engine/univMinim.ml
Owners: @coq/universes-maintainers

Stop early in find_to_merge based on the values in the model
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Use a local hash-table instead of mutable marks
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Add fast path to enforce_leq if the constraint is already present
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Performance tuning of check_clause
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Fix enforce_eq definition
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Fix initialisation issue, missing some updated constraints
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Fix find_to_merge: we might have loops already in the clauses
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Name anonymous functions for easier tracing
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

TODO on universes
  TODO.md
Owners: none

Use the alternative checking function
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Changing check_model_fwd_aux to take w into account fails
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Fix wrong use of physical equality
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Remove bug 17002 testing not implemented yet explanations
  test-suite/output/bug_17002.v
Owners: none

commerntd
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Fix synchronization of w and cls structures
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Try to optimize checks
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Introduce partial models using `nat option` values
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Move model values outside of canonical nodes
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Implement entailment entirely using check
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Rebased on latest master
  engine/uState.ml
  engine/univMinim.ml
  kernel/loop_checking.ml
  kernel/loop_checking.mli
  kernel/uGraph.ml
Owners: @coq/universes-maintainers, @coq/kernel-maintainers

More efficient early stop for checking
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Add a fast path for checking implications
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Before separate W set
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Add a Check Constraint test-suite file
  test-suite/universe_check.v
Owners: none

Add a "Check Constraint" vernacular command
  vernac/declareUniv.ml
  vernac/declareUniv.mli
  vernac/g_vernac.mlg
  vernac/ppvernac.ml
  vernac/vernac_classifier.ml
  vernac/vernacentries.ml
  vernac/vernacexpr.mli
Owners: @coq/vernac-maintainers

No more w in check
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers
