Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/build-maintainers, @coq/ci-maintainers, @coq/windows-build-maintainers, @coq/nix-maintainers, @coq/bench-maintainers, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/kernel-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/pretyper-maintainers, @coq/stm-maintainers, @coq/plugin-tutorial-maintainers, @coq/lib-maintainers, @coq/coqide-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/stdlib-maintainers, @coq/typeclasses-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/number-maintainers, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @herbelin, @coq/dev-tools-maintainers

.github/CODEOWNERS:

# This file associates maintainer teams to each component.
# See CONTRIBUTING.md

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers

########## Build system ##########

/Makefile                       @coq/build-maintainers
/dev/tools/make_git_revision.sh @coq/build-maintainers

/configure                      @coq/build-maintainers
/tools/configure/*              @coq/build-maintainers

/tools/coqdep/                  @coq/build-maintainers

/boot/                          @coq/build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/dev/lint-*.sh       @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/.github/workflows   @coq/ci-maintainers
/dev/ci/platform/    @coq/windows-build-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/bench/            @coq/bench-maintainers

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst
/dev/doc/changes.md
# Trick to avoid getting review requests
# each time someone modifies the changelog

/dev/doc/build-system.dune.md @coq/build-maintainers
/dev/doc/critical-bugs        @coq/kernel-maintainers
/dev/doc/econstr.md           @coq/engine-maintainers
/dev/doc/proof-engine.md      @coq/engine-maintainers
/dev/doc/release-process.md   @coq/contributing-process-maintainers
/dev/doc/shield-icon.png      @coq/contributing-process-maintainers
/dev/doc/SProp.md             @coq/universes-maintainers
/dev/doc/style.txt            @coq/contributing-process-maintainers
/dev/doc/unification.txt      @coq/pretyper-maintainers
/dev/doc/universes.md         @coq/universes-maintainers
/dev/doc/xml-protocol         @coq/stm-maintainers

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/engine/          @coq/engine-maintainers

/engine/univ*     @coq/universes-maintainers
/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/kernel/          @coq/kernel-maintainers

/kernel/byterun/  @coq/vm-native-maintainers
/kernel/native*   @coq/vm-native-maintainers
/kernel/vm*       @coq/vm-native-maintainers
/kernel/vconv.*   @coq/vm-native-maintainers
/kernel/genOpcodefiles.* @coq/vm-native-maintainers

/kernel/sorts.*   @coq/universes-maintainers
/kernel/uGraph.*  @coq/universes-maintainers
/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/gramlib/         @coq/parsing-maintainers
/parsing/         @coq/parsing-maintainers

########## Standard library and plugins ##########

/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers

/plugins/btauto/       @coq/btauto-maintainers
/theories/btauto/      @coq/btauto-maintainers

/plugins/cc/           @coq/cc-maintainers
/theories/cc/          @coq/cc-maintainers

/plugins/derive/       @coq/derive-maintainers
/theories/derive/      @coq/derive-maintainers

/plugins/extraction/   @coq/extraction-maintainers
/theories/extraction/  @coq/extraction-maintainers

/plugins/firstorder/   @coq/firstorder-maintainers
/theories/firstorder/  @coq/firstorder-maintainers

/plugins/funind/       @coq/funind-maintainers
/theories/funind/      @coq/funind-maintainers

/plugins/ltac/         @coq/ltac-maintainers
/theories/ltac/        @coq/ltac-maintainers

/plugins/micromega/    @coq/micromega-maintainers
/theories/micromega/   @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/        @coq/nsatz-maintainers
/theories/nsatz/       @coq/nsatz-maintainers

/plugins/ring/  @coq/ring-maintainers
/theories/setoid_ring/ @coq/ring-maintainers

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/theories/ssrmatching/ @coq/ssreflect-maintainers

/plugins/ssr/          @coq/ssreflect-maintainers
/theories/ssr/         @coq/ssreflect-maintainers

/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @coq/rtauto-maintainers
/theories/rtauto/      @coq/rtauto-maintainers

/plugins/ltac2/        @coq/ltac2-maintainers
/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/pretyping/             @coq/pretyper-maintainers

/pretyping/vnorm.*      @coq/vm-native-maintainers
/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/proofs/          @coq/engine-maintainers

########## STM ##########

/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/tactics/         @coq/tactics-maintainers

/tactics/class_tactics.* @coq/typeclasses-maintainers

########## Number ##########

/interp/numTok.*                     @coq/number-maintainers
/kernel/float64*                     @coq/number-maintainers
/kernel/uint63*                      @coq/number-maintainers
/plugins/syntax/g_number_string.mlg  @coq/number-maintainers
/plugins/syntax/number.ml            @coq/number-maintainers
/user-contrib/Ltac2/Int.v            @coq/number-maintainers
/test-suite/output/FloatExtraction*  @coq/number-maintainers
/test-suite/output/*Number*          @coq/number-maintainers
/test-suite/primitive/float/         @coq/number-maintainers
/test-suite/primitive/sint63/        @coq/number-maintainers
/test-suite/primitive/uint63/        @coq/number-maintainers
/theories/Init/Decimal.v             @coq/number-maintainers
/theories/Init/Hexadecimal.v         @coq/number-maintainers
/theories/Init/Nat.v                 @coq/number-maintainers
/theories/Init/Number.v              @coq/number-maintainers
/theories/*Arith/                    @coq/number-maintainers
/theories/Numbers/                   @coq/number-maintainers
/theories/Floats/                    @coq/number-maintainers
/theories/extraction/Extr*Nat*       @coq/number-maintainers
/theories/extraction/Extr*Z*         @coq/number-maintainers
/theories/extraction/ExtrOCamlFloats.v  @coq/number-maintainers
/theories/extraction/ExtrOCamlInt*   @coq/number-maintainers

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/toplevel/   @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers
/sysinit/    @coq/toplevel-maintainers

########## Vernacular ##########

/vernac/              @coq/vernac-maintainers

/vernac/metasyntax.*  @coq/parsing-maintainers

/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers

Remove lift_lower, no longer used
  engine/univMinim.ml
Owners: @coq/universes-maintainers

NewProfile: move file handling and at_exit calling to init caller
  lib/newProfile.ml
  lib/newProfile.mli
  sysinit/coqinit.ml
Owners: @coq/lib-maintainers, @coq/toplevel-maintainers

Dubious optimization
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

NewProfile: pause and resumption API
  lib/newProfile.ml
  lib/newProfile.mli
Owners: @coq/lib-maintainers

Shortcut checking >= Set constraints, always valid
  kernel/loop_checking.ml
  kernel/loop_checking.mli
  kernel/uGraph.ml
Owners: @coq/kernel-maintainers, @coq/universes-maintainers

Move [RedFlags] out of [CClosure].
  engine/evarutil.mli
  interp/impargs.ml
  kernel/cClosure.ml
  kernel/cClosure.mli
  kernel/conversion.ml
  kernel/inferCumulativity.ml
  kernel/redFlags.ml
  kernel/redFlags.mli
  kernel/reduction.ml
  kernel/typeops.ml
  plugins/cc/cctac.ml
  plugins/firstorder/formula.ml
  plugins/firstorder/formula.mli
  plugins/firstorder/ground.ml
  plugins/funind/functional_principles_proofs.ml
  plugins/funind/gen_principle.ml
  plugins/micromega/zify.ml
  plugins/ring/ring.ml
  plugins/rtauto/refl_tauto.ml
  plugins/ssr/ssrcommon.ml
  plugins/ssr/ssrequality.ml
  pretyping/cbv.mli
  pretyping/heads.ml
  pretyping/nativenorm.ml
  pretyping/reductionops.ml
  pretyping/reductionops.mli
  pretyping/tacred.ml
  pretyping/tacred.mli
  pretyping/vnorm.ml
  tactics/cbn.ml
  tactics/cbn.mli
  tactics/eauto.ml
  tactics/redexpr.ml
  tactics/rewrite.ml
  tactics/tactics.ml
  vernac/declare.ml
Owners: @coq/engine-maintainers, @coq/extensible-syntax-maintainers, @coq/kernel-maintainers, @coq/cc-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/micromega-maintainers, @coq/ring-maintainers, @coq/rtauto-maintainers, @coq/ssreflect-maintainers, @coq/pretyper-maintainers, @coq/vm-native-maintainers, @coq/tactics-maintainers, @coq/vernac-maintainers

Making cbv independent from [CClosure].
  kernel/cClosure.ml
  kernel/cClosure.mli
  kernel/names.ml
  kernel/names.mli
  pretyping/cbv.ml
Owners: @coq/kernel-maintainers, @coq/pretyper-maintainers

Make [CClosure.usubs] monomorphic.
  kernel/cClosure.ml
  kernel/cClosure.mli
  kernel/conversion.ml
Owners: @coq/kernel-maintainers

Cleanup around the ref cache in [CClosure].
  kernel/cClosure.ml
Owners: @coq/kernel-maintainers

Define internal [is_red] function in [CClosure].
  kernel/cClosure.ml
Owners: @coq/kernel-maintainers

Avoid code duplication when creating [clos_info].
  kernel/cClosure.ml
Owners: @coq/kernel-maintainers

Overlays for coq/coq#18023.
  dev/ci/user-overlays/18023-rlepigre-brcleanup-cclosure.sh
Owners: none

Shortcut Set <= i checks
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

NewProfile: Add flush to the event printer and finish
  lib/newProfile.ml
Owners: @coq/lib-maintainers

Add `iff` versions of two stdlib bool lemmas
  theories/Bool/Bool.v
Owners: @coq/stdlib-maintainers

create_overlays: don't produce double end of file newline
  dev/tools/create_overlays.sh
Owners: @coq/dev-tools-maintainers

Don't rerun configure in dpdgraph if not needed
  dev/ci/ci-coq_dpdgraph.sh
Owners: @coq/ci-maintainers

ssr_mini_mathcomp.v: address various warnings.
  test-suite/prerequisite/ssr_mini_mathcomp.v
Owners: none

Adding functions to pop the dirpath of kns.
  kernel/names.ml
  kernel/names.mli
Owners: @coq/kernel-maintainers

Unify test for hconsing between constant and inductive types.
  kernel/safe_typing.ml
Owners: @coq/kernel-maintainers

Write discharge functions in a principled way.
  interp/impargs.ml
  interp/notation.ml
  kernel/names.ml
  kernel/names.mli
  library/coqlib.ml
  library/globnames.ml
  library/globnames.mli
  library/lib.ml
  library/lib.mli
  plugins/funind/indfun_common.ml
  pretyping/arguments_renaming.ml
  pretyping/coercionops.ml
  pretyping/coercionops.mli
  pretyping/reductionops.ml
  pretyping/structures.ml
  pretyping/structures.mli
  tactics/declareScheme.ml
  tactics/hints.ml
  tactics/redexpr.ml
  vernac/canonical.ml
  vernac/classes.ml
  vernac/comArguments.ml
  vernac/comCoercion.ml
  vernac/declareInd.ml
  vernac/record.ml
Owners: @coq/extensible-syntax-maintainers, @coq/kernel-maintainers, @coq/library-maintainers, @coq/funind-maintainers, @coq/pretyper-maintainers, @coq/tactics-maintainers, @coq/vernac-maintainers, @coq/typeclasses-maintainers

Adding Section.on_previous_section.
  kernel/section.ml
  kernel/section.mli
Owners: @coq/kernel-maintainers

Implement discharge on the fly in the kernel.
  kernel/cooking.ml
  kernel/cooking.mli
  kernel/discharge.ml
  kernel/safe_typing.ml
  kernel/safe_typing.mli
  kernel/section.ml
  kernel/section.mli
  library/global.ml
  library/global.mli
  library/lib.ml
Owners: @coq/kernel-maintainers, @coq/library-maintainers

DeclareUniv: Cosmetic name uniformization.
  vernac/declareUniv.ml
Owners: @coq/vernac-maintainers

Fix "r <num>" and "r <string>" commands in coqtop Ltac debugger
  doc/changelog/05-Ltac-language/18068-typed_debug_cmds.rst
  ide/coqide/wg_MessageView.ml
  plugins/ltac/tactic_debug.ml
Owners: @coq/coqide-maintainers, @coq/ltac-maintainers

Briefly rewritten proofs of Finite_sets_facts.v
  theories/Sets/Finite_sets_facts.v
Owners: @coq/stdlib-maintainers

Remove distro-specific badges from README.
  README.md
Owners: @coq/doc-maintainers

Fix GitHub CI badge in README by creating one for each workflow.
  README.md
Owners: @coq/doc-maintainers

Mention "Locate" output for Definitions, Theorems appears as Constant
  doc/sphinx/proof-engine/vernacular-commands.rst
Owners: @coq/doc-maintainers

Add Reflexive,Symmetric,Transitive,Antisymmetric,Asymmetric instances for Rle,Rge,Rlt,Rgt
  doc/changelog/11-standard-library/18059-real-instances.rst
  theories/Reals/RIneq.v
Owners: @coq/reals-library-maintainers

Smarter algorithm to build frozen_and_pending_holes
  pretyping/pretyping.ml
Owners: @coq/pretyper-maintainers

Simplify Declare.auto_solve_obligations
  vernac/declare.ml
  vernac/declare.mli
Owners: @coq/vernac-maintainers

Experiment: command modifier and tactic for allocation limits
  coq-core.opam
  dune-project
  engine/logic_monad.ml
  engine/logic_monad.mli
  engine/proofview.ml
  engine/proofview.mli
  lib/cErrors.ml
  lib/cErrors.mli
  lib/control.ml
  lib/control.mli
  lib/dune
  plugins/ltac/extratactics.mlg
  plugins/ltac/internals.ml
  plugins/ltac/internals.mli
  sysinit/coqinit.ml
  vernac/g_vernac.mlg
  vernac/himsg.ml
  vernac/ppvernac.ml
  vernac/synterp.ml
  vernac/synterp.mli
  vernac/vernacexpr.mli
  vernac/vernacinterp.ml
Owners: @coq/build-maintainers, @coq/engine-maintainers, @coq/lib-maintainers, @coq/ltac-maintainers, @coq/toplevel-maintainers, @coq/vernac-maintainers

coq_makefile: Properly delay variable expansion in combined glob/vo rule
  doc/changelog/09-cli-tools/18077-delayed-globvo.rst
  tools/CoqMakefile.in
Owners: @coq/coq-makefile-maintainers

[ltac2] FFI tactic definition mechanism.
  plugins/ltac2/tac2externals.ml
  plugins/ltac2/tac2externals.mli
Owners: @coq/ltac2-maintainers

[ltac2] use the FFI tactic definition mechanism.
  plugins/ltac2/tac2core.ml
  plugins/ltac2/tac2stdlib.ml
Owners: @coq/ltac2-maintainers

[ssreflect] Remove "x : p" notation
  theories/ssr/ssreflect.v
Owners: @coq/ssreflect-maintainers

[CI] Deriving ported to MathComp 2
  .gitlab-ci.yml
  Makefile.ci
Owners: @coq/ci-maintainers

Bench: allow setting new and old coq_commit through env variables
  dev/bench/bench.sh
Owners: @coq/bench-maintainers

Ltac2: mutable references are not values
  dev/ci/user-overlays/18082-SkySkimmer-tac2pure.sh
  doc/changelog/06-Ltac2-language/18082-tac2pure.rst
  doc/sphinx/proof-engine/ltac2.rst
  plugins/ltac2/tac2intern.ml
  test-suite/ltac2/rebind.v
Owners: @coq/doc-maintainers, @coq/ltac2-maintainers
