Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/build-maintainers, @coq/ci-maintainers, @coq/windows-build-maintainers, @coq/nix-maintainers, @coq/bench-maintainers, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/kernel-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/pretyper-maintainers, @coq/stm-maintainers, @coq/plugin-tutorial-maintainers, @coq/lib-maintainers, @coq/coqide-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/stdlib-maintainers, @coq/typeclasses-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/number-maintainers, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @herbelin, @coq/dev-tools-maintainers

.github/CODEOWNERS:

# This file associates maintainer teams to each component.
# See CONTRIBUTING.md

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers

########## Build system ##########

/Makefile                       @coq/build-maintainers
/dev/tools/make_git_revision.sh @coq/build-maintainers

/configure                      @coq/build-maintainers
/tools/configure/*              @coq/build-maintainers

/tools/coqdep/                  @coq/build-maintainers

/boot/                          @coq/build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/dev/lint-*.sh       @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/.github/workflows   @coq/ci-maintainers
/dev/ci/platform/    @coq/windows-build-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/bench/            @coq/bench-maintainers

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst
/dev/doc/changes.md
# Trick to avoid getting review requests
# each time someone modifies the changelog

/dev/doc/build-system.dune.md @coq/build-maintainers
/dev/doc/critical-bugs        @coq/kernel-maintainers
/dev/doc/econstr.md           @coq/engine-maintainers
/dev/doc/proof-engine.md      @coq/engine-maintainers
/dev/doc/release-process.md   @coq/contributing-process-maintainers
/dev/doc/shield-icon.png      @coq/contributing-process-maintainers
/dev/doc/SProp.md             @coq/universes-maintainers
/dev/doc/style.txt            @coq/contributing-process-maintainers
/dev/doc/unification.txt      @coq/pretyper-maintainers
/dev/doc/universes.md         @coq/universes-maintainers
/dev/doc/xml-protocol         @coq/stm-maintainers

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/engine/          @coq/engine-maintainers

/engine/univ*     @coq/universes-maintainers
/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/kernel/          @coq/kernel-maintainers

/kernel/byterun/  @coq/vm-native-maintainers
/kernel/native*   @coq/vm-native-maintainers
/kernel/vm*       @coq/vm-native-maintainers
/kernel/vconv.*   @coq/vm-native-maintainers
/kernel/genOpcodefiles.* @coq/vm-native-maintainers

/kernel/sorts.*   @coq/universes-maintainers
/kernel/uGraph.*  @coq/universes-maintainers
/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/gramlib/         @coq/parsing-maintainers
/parsing/         @coq/parsing-maintainers

########## Standard library and plugins ##########

/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers

/plugins/btauto/       @coq/btauto-maintainers
/theories/btauto/      @coq/btauto-maintainers

/plugins/cc/           @coq/cc-maintainers
/theories/cc/          @coq/cc-maintainers

/plugins/derive/       @coq/derive-maintainers
/theories/derive/      @coq/derive-maintainers

/plugins/extraction/   @coq/extraction-maintainers
/theories/extraction/  @coq/extraction-maintainers

/plugins/firstorder/   @coq/firstorder-maintainers
/theories/firstorder/  @coq/firstorder-maintainers

/plugins/funind/       @coq/funind-maintainers
/theories/funind/      @coq/funind-maintainers

/plugins/ltac/         @coq/ltac-maintainers
/theories/ltac/        @coq/ltac-maintainers

/plugins/micromega/    @coq/micromega-maintainers
/theories/micromega/   @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/        @coq/nsatz-maintainers
/theories/nsatz/       @coq/nsatz-maintainers

/plugins/ring/  @coq/ring-maintainers
/theories/setoid_ring/ @coq/ring-maintainers

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/theories/ssrmatching/ @coq/ssreflect-maintainers

/plugins/ssr/          @coq/ssreflect-maintainers
/theories/ssr/         @coq/ssreflect-maintainers

/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @coq/rtauto-maintainers
/theories/rtauto/      @coq/rtauto-maintainers

/plugins/ltac2/        @coq/ltac2-maintainers
/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/pretyping/             @coq/pretyper-maintainers

/pretyping/vnorm.*      @coq/vm-native-maintainers
/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/proofs/          @coq/engine-maintainers

########## STM ##########

/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/tactics/         @coq/tactics-maintainers

/tactics/class_tactics.* @coq/typeclasses-maintainers

########## Number ##########

/interp/numTok.*                     @coq/number-maintainers
/kernel/float64*                     @coq/number-maintainers
/kernel/uint63*                      @coq/number-maintainers
/plugins/syntax/g_number_string.mlg  @coq/number-maintainers
/plugins/syntax/number.ml            @coq/number-maintainers
/user-contrib/Ltac2/Int.v            @coq/number-maintainers
/test-suite/output/FloatExtraction*  @coq/number-maintainers
/test-suite/output/*Number*          @coq/number-maintainers
/test-suite/primitive/float/         @coq/number-maintainers
/test-suite/primitive/sint63/        @coq/number-maintainers
/test-suite/primitive/uint63/        @coq/number-maintainers
/theories/Init/Decimal.v             @coq/number-maintainers
/theories/Init/Hexadecimal.v         @coq/number-maintainers
/theories/Init/Nat.v                 @coq/number-maintainers
/theories/Init/Number.v              @coq/number-maintainers
/theories/*Arith/                    @coq/number-maintainers
/theories/Numbers/                   @coq/number-maintainers
/theories/Floats/                    @coq/number-maintainers
/theories/extraction/Extr*Nat*       @coq/number-maintainers
/theories/extraction/Extr*Z*         @coq/number-maintainers
/theories/extraction/ExtrOCamlFloats.v  @coq/number-maintainers
/theories/extraction/ExtrOCamlInt*   @coq/number-maintainers

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/toplevel/   @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers
/sysinit/    @coq/toplevel-maintainers

########## Vernacular ##########

/vernac/              @coq/vernac-maintainers

/vernac/metasyntax.*  @coq/parsing-maintainers

/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers

render_line_results: fix artifacts domain when running on inria gitlab
  dev/bench/render_line_results.ml
Owners: @coq/bench-maintainers

[CI] Add coq-neural-net-interp
  .gitlab-ci.yml
  Makefile.ci
  dev/ci/ci-basic-overlay.sh
  dev/ci/ci-neural_net_interp.sh
Owners: @coq/ci-maintainers

Stop using `assumption` in `replace by tac`
  dev/ci/user-overlays/17964-SkySkimmer-replace-assum.sh
  doc/changelog/04-tactics/17964-replace-assum.rst
  doc/sphinx/proofs/writing-proofs/equality.rst
  tactics/equality.ml
Owners: @coq/doc-maintainers, @coq/tactics-maintainers

Rebuild case info in nativenorm
  pretyping/nativenorm.ml
Owners: @coq/vm-native-maintainers

Native: cleanup unused asw_ci in case annotation
  kernel/nativecode.ml
  kernel/nativevalues.ml
  kernel/nativevalues.mli
Owners: @coq/vm-native-maintainers

ObjFile.open_trapping_failure: don't discard sub exception
  lib/objFile.ml
Owners: @coq/lib-maintainers

Efficiently track evars with candidates.
  engine/evd.ml
  engine/evd.mli
  pretyping/evarconv.ml
Owners: @coq/engine-maintainers, @coq/pretyper-maintainers

Document the roughness of the Floats library
  doc/sphinx/language/coq-library.rst
  theories/Floats/Floats.v
Owners: @coq/doc-maintainers, @coq/number-maintainers

Fixes #18006: Pass sigma to Guarded's printer.
  pretyping/inductiveops.ml
  test-suite/bugs/bug_18006.v
Owners: @coq/pretyper-maintainers

Adding changelog for #18006
  doc/changelog/08-vernac-commands-and-options/18008-master+fix18006-pass-sigma-to-Guarded-printer.rst
Owners: none

NewProfile produces google trace format
  lib/newProfile.ml
  lib/newProfile.mli
Owners: @coq/lib-maintainers

Doc for newprofile
  doc/changelog/08-vernac-commands-and-options/17702-trace.rst
  doc/sphinx/practical-tools/coq-commands.rst
  doc/sphinx/practical-tools/utilities.rst
Owners: @coq/doc-maintainers

newprofile: include line number for "command" component extra data
  toplevel/vernac.ml
Owners: @coq/toplevel-maintainers

newprofile: filter components to print events for using COQ_PROFILE_COMPONENTS
  dev/bench/bench.sh
  lib/newProfile.ml
Owners: @coq/bench-maintainers, @coq/lib-maintainers

Apply suggestions from code review
  doc/sphinx/practical-tools/coq-commands.rst
  doc/sphinx/practical-tools/utilities.rst
Owners: @coq/doc-maintainers

newprofile: include sum of times and call counts of subcategories in args
  lib/newProfile.ml
  lib/newProfile.mli
  toplevel/vernac.ml
Owners: @coq/lib-maintainers, @coq/toplevel-maintainers

add NewProfile calls
  interp/constrintern.ml
  kernel/conversion.ml
  kernel/typeops.ml
  kernel/vars.ml
  kernel/vconv.ml
  library/global.ml
  pretyping/evarconv.ml
  pretyping/pretyping.ml
  sysinit/coqargs.ml
  sysinit/coqargs.mli
  sysinit/coqinit.ml
  tactics/class_tactics.ml
  toplevel/vernac.ml
  vernac/vernacinterp.ml
  vernac/vernacstate.ml
Owners: @coq/extensible-syntax-maintainers, @coq/kernel-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/pretyper-maintainers, @coq/toplevel-maintainers, @coq/typeclasses-maintainers, @coq/vernac-maintainers

coq_makefile produces profile info when PROFILING set, bench sets it
  dev/bench/bench.sh
  dev/bench/gitlab-bench.yml
  tools/CoqMakefile.in
Owners: @coq/bench-maintainers, @coq/coq-makefile-maintainers

Changed NewProfile.MiniJson.t to polymorphic variants matching yojson
  lib/newProfile.ml
  lib/newProfile.mli
  toplevel/vernac.ml
Owners: @coq/lib-maintainers, @coq/toplevel-maintainers

Add a new loop-checking implementation of the "graph"
  kernel/loop_checking.ml
  kernel/loop_checking.mli
Owners: @coq/kernel-maintainers

Fixed constraints_of, add preliminary union-find structure
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Integrate new algorithm
  engine/uState.ml
  engine/univMinim.ml
  kernel/loop_checking.ml
  kernel/loop_checking.mli
  kernel/uGraph.ml
  kernel/univ.ml
  kernel/univ.mli
Owners: @coq/universes-maintainers, @coq/kernel-maintainers

Model modified by side-effect, not necessarily a good optimization
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Debugging in univMinim and uState
  engine/uState.ml
  engine/univMinim.ml
Owners: @coq/universes-maintainers

Back to a purely functional implementation of the model
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Implements clauses for a given conclusion as a set to avoid duplicate clauses
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Change ClausesForward representation
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Working version with clauses attached to canonical nodes
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Implement less efficient ClausesOf.filter_map as it is available only in ocaml >= 4.11.0
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

No need to update_model in the current setting
  kernel/loop_checking.ml
  kernel/loop_checking.mli
  kernel/uGraph.ml
Owners: @coq/kernel-maintainers, @coq/universes-maintainers

Cleanup and avoid recomputing a model update at each constraint introduction
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Reorganize infer_extension/enforce functions
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Working version with forward clauses
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Optimize simplify_clauses_between to use marking
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Forward and backward clauses sets
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Avoid rechecking model if possible after equating universes
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

WIP on more efficient folding over updated constraints
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Use a proper non-empty list datatype for premises
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

Backward search checking leq
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers

check_eq corresponds to equality of canonical nodes
  kernel/loop_checking.ml
Owners: @coq/kernel-maintainers
