Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/legacy-build-maintainers, @coq/build-maintainers, @coq/ci-maintainers, @coq/windows-build-maintainers, @coq/nix-maintainers, @ghost, @coq/bench-maintainers, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/kernel-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/pretyper-maintainers, @coq/stm-maintainers, @coq/plugin-tutorial-maintainers, @coq/lib-maintainers, @coq/coqide-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/stdlib-maintainers, @coq/typeclasses-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/number-maintainers, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @herbelin, @coq/dev-tools-maintainers

.github/CODEOWNERS:

# This file associates maintainer teams to each component.
# See CONTRIBUTING.md

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers

########## Build system ##########

/Makefile*                      @coq/legacy-build-maintainers
/dev/tools/make_git_revision.sh @coq/legacy-build-maintainers

/configure              @coq/legacy-build-maintainers @coq/build-maintainers
/tools/configure/*      @coq/legacy-build-maintainers @coq/build-maintainers

/boot/               @coq/build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/dev/lint-*.sh       @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/.github/workflows   @coq/ci-maintainers
/dev/ci/platform/    @coq/windows-build-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh @ghost
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/bench/            @coq/bench-maintainers

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/Makefile.doc          @coq/doc-maintainers

/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst @ghost
/dev/doc/changes.md    @ghost
# Trick to avoid getting review requests
# each time someone modifies the changelog

/dev/doc/build-system*.txt    @coq/legacy-build-maintainers
/dev/doc/build-system.dune.md @coq/build-maintainers
/dev/doc/critical-bugs        @coq/kernel-maintainers
/dev/doc/econstr.md           @coq/engine-maintainers
/dev/doc/proof-engine.md      @coq/engine-maintainers
/dev/doc/release-process.md   @coq/contributing-process-maintainers
/dev/doc/shield-icon.png      @coq/contributing-process-maintainers
/dev/doc/SProp.md             @coq/universes-maintainers
/dev/doc/style.txt            @coq/contributing-process-maintainers
/dev/doc/unification.txt      @coq/pretyper-maintainers
/dev/doc/universes.md         @coq/universes-maintainers
/dev/doc/xml-protocol         @coq/stm-maintainers

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/core/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/core/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/core/engine/          @coq/engine-maintainers

/core/engine/univ*     @coq/universes-maintainers
/core/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/core/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/core/kernel/          @coq/kernel-maintainers

/core/kernel/byterun/  @coq/vm-native-maintainers
/core/kernel/native*   @coq/vm-native-maintainers
/core/kernel/vm*       @coq/vm-native-maintainers
/core/kernel/vconv.*   @coq/vm-native-maintainers
/core/kernel/genOpcodefiles.* @coq/vm-native-maintainers

/core/kernel/sorts.*   @coq/universes-maintainers
/core/kernel/uGraph.*  @coq/universes-maintainers
/core/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/core/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/core/gramlib/         @coq/parsing-maintainers
/core/parsing/         @coq/parsing-maintainers

########## Standard library and plugins ##########

/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers

/plugins/btauto/       @coq/btauto-maintainers
/theories/btauto/      @coq/btauto-maintainers

/plugins/cc/           @coq/cc-maintainers
/theories/cc/          @coq/cc-maintainers

/plugins/derive/       @coq/derive-maintainers
/theories/derive/      @coq/derive-maintainers

/plugins/extraction/   @coq/extraction-maintainers
/theories/extraction/  @coq/extraction-maintainers

/plugins/firstorder/   @coq/firstorder-maintainers
/theories/firstorder/  @coq/firstorder-maintainers

/plugins/funind/       @coq/funind-maintainers
/theories/funind/      @coq/funind-maintainers

/plugins/ltac/         @coq/ltac-maintainers
/theories/ltac/        @coq/ltac-maintainers

/plugins/micromega/    @coq/micromega-maintainers
/theories/micromega/   @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/        @coq/nsatz-maintainers
/theories/nsatz/       @coq/nsatz-maintainers

/plugins/ring/  @coq/ring-maintainers
/theories/setoid_ring/ @coq/ring-maintainers

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/theories/ssrmatching/ @coq/ssreflect-maintainers

/plugins/ssr/          @coq/ssreflect-maintainers
/theories/ssr/         @coq/ssreflect-maintainers

/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @coq/rtauto-maintainers
/theories/rtauto/      @coq/rtauto-maintainers

/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/core/pretyping/             @coq/pretyper-maintainers

/core/pretyping/vnorm.*      @coq/vm-native-maintainers
/core/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/core/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/core/proofs/          @coq/engine-maintainers

########## STM ##########

/core/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/core/tactics/         @coq/tactics-maintainers

/core/tactics/class_tactics.* @coq/typeclasses-maintainers
/test-suite/typeclasses/ @coq/typeclasses-maintainers

########## Number ##########

/interp/numTok.*                     @coq/number-maintainers
/kernel/float64*                     @coq/number-maintainers
/kernel/uint63*                      @coq/number-maintainers
/plugins/syntax/g_number_string.mlg  @coq/number-maintainers
/plugins/syntax/int63_syntax_plugin.mllib  @coq/number-maintainers
/plugins/syntax/number.ml            @coq/number-maintainers
/plugins/syntax/number_string_notation_plugin.mllib  @coq/number-maintainers
/user-contrib/Ltac2/Int.v            @coq/number-maintainers
/test-suite/output/FloatExtraction*  @coq/number-maintainers
/test-suite/output/*Number*          @coq/number-maintainers
/test-suite/primitive/float/         @coq/number-maintainers
/test-suite/primitive/sint63/        @coq/number-maintainers
/test-suite/primitive/uint63/        @coq/number-maintainers
/theories/Init/Decimal.v             @coq/number-maintainers
/theories/Init/Hexadecimal.v         @coq/number-maintainers
/theories/Init/Nat.v                 @coq/number-maintainers
/theories/Init/Number.v              @coq/number-maintainers
/theories/*Arith/                    @coq/number-maintainers
/theories/Numbers/                   @coq/number-maintainers
/theories/Floats/                    @coq/number-maintainers
/theories/extraction/Extr*Nat*       @coq/number-maintainers
/theories/extraction/Extr*Z*         @coq/number-maintainers
/theories/extraction/ExtrOCamlFloats.v  @coq/number-maintainers
/theories/extraction/ExtrOCamlInt*   @coq/number-maintainers

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coqdep*  @coq/legacy-build-maintainers @coq/build-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/core/toplevel/   @coq/toplevel-maintainers
/core/sysinit/    @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers

########## Vernacular ##########

/core/vernac/              @coq/vernac-maintainers

/core/vernac/metasyntax.*  @coq/parsing-maintainers

/core/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers

CList: Adding exists_i.
  clib/cList.ml
  clib/cList.mli
Owners: none

Documenting non-dep implicit explicitation syntax (n:=id).
  doc/sphinx/language/core/assumptions.rst
  doc/sphinx/language/extensions/implicit-arguments.rst
  doc/tools/docgram/common.edit_mlg
  doc/tools/docgram/fullGrammar
  doc/tools/docgram/orderedGrammar
Owners: @coq/doc-maintainers

[errors] Introduce error registration API
  lib/cErrors.ml
  lib/cErrors.mli
Owners: none

[exn] Add missing info to tclZEROMSG / tclFAIL
  plugins/btauto/refl_btauto.ml
  plugins/cc/cctac.ml
  plugins/firstorder/ground.ml
  plugins/firstorder/instances.ml
  plugins/firstorder/rules.ml
  plugins/funind/indfun_common.ml
  plugins/funind/invfun.ml
  plugins/funind/recdef.ml
  plugins/ltac/coretactics.mlg
  plugins/ltac/extratactics.mlg
  plugins/ltac/g_auto.mlg
  plugins/ltac/internals.ml
  plugins/ltac/tauto.ml
  plugins/ltac2/tac2core.ml
  plugins/ltac2/tac2stdlib.ml
  plugins/ltac2/tac2tactics.ml
  plugins/micromega/coq_micromega.ml
  plugins/micromega/zify.ml
  plugins/ring/ring.ml
  plugins/ssr/ssrcommon.ml
  plugins/ssr/ssrequality.ml
  plugins/ssr/ssrview.ml
  tactics/class_tactics.ml
  tactics/eauto.ml
  tactics/eqdecide.ml
  tactics/equality.ml
  tactics/inv.ml
  tactics/tacticals.ml
  tactics/tacticals.mli
  vernac/auto_ind_decl.ml
Owners: @coq/btauto-maintainers, @coq/cc-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers

Minor doc fixes after #11099.
  doc/sphinx/language/extensions/implicit-arguments.rst
Owners: @coq/doc-maintainers

Fix the relevance generated by the set / pose tactics.
  tactics/tactics.ml
Owners: none

Give a try at using relevance_of_term instead of relevance_of_type.
  tactics/tactics.ml
Owners: none

Improve Ltac2 "unfold" error messages:
  pretyping/tacred.ml
  test-suite/output/bug_14485.out
  test-suite/output/bug_14485.v
Owners: none

Changelog for #15175
  doc/changelog/04-tactics/15175-undefined-variable-unfold-anomaly.rst
Owners: @ghost

Pass the genargs from the tactic closure to uconstr interpretation.
  plugins/ltac/tacinterp.ml
  plugins/ltac2/tac2core.ml
  pretyping/ltac_pretype.ml
  test-suite/bugs/closed/bug_15177.v
Owners: @coq/ltac-maintainers

ci-bedrock2: understand DOWNLOAD_ONLY
  dev/ci/ci-bedrock2.sh
Owners: @coq/ci-maintainers

Don't capture unnecessary ExnInfo
  pretyping/tacred.ml
Owners: none

Remove "(#1)" from \Indp and \Indpstr.
  doc/sphinx/refman-preamble.sty
Owners: @coq/doc-maintainers

Remove the unused argument of macros.
  doc/sphinx/language/core/modules.rst
  doc/sphinx/refman-preamble.sty
Owners: @coq/doc-maintainers

Use \ind instead of \Ind.
  doc/sphinx/language/core/modules.rst
  doc/sphinx/refman-preamble.sty
Owners: @coq/doc-maintainers

Use the current formalization of inductives.
  doc/sphinx/language/core/modules.rst
Owners: @coq/doc-maintainers

Pass breakpoints through DebugHook.Action, add debugger initialize sequence
  ide/coqide/coq.ml
  ide/coqide/coq.mli
  ide/coqide/coqOps.ml
  ide/coqide/coqOps.mli
  ide/coqide/coqide.ml
  ide/coqide/idetop.ml
  ide/coqide/protocol/interface.ml
  ide/coqide/protocol/xmlprotocol.ml
  ide/coqide/protocol/xmlprotocol.mli
  plugins/ltac/tacinterp.ml
  plugins/ltac/tactic_debug.ml
  toplevel/coqtop.ml
  vernac/debugHook.ml
  vernac/debugHook.mli
  vernac/vernacentries.ml
Owners: @coq/coqide-maintainers, @coq/ltac-maintainers

Remove the extra spaces around ":" in PDF.
  doc/sphinx/language/core/modules.rst
Owners: @coq/doc-maintainers

Send stack and variable maps through Answer, document protocol
  dev/doc/changes.md
  dev/doc/xml-protocol.md
  ide/coqide/idetop.ml
  ide/coqide/protocol/interface.ml
  ide/coqide/protocol/xmlprotocol.ml
  ide/coqide/protocol/xmlprotocol.mli
  plugins/ltac/tactic_debug.ml
  toplevel/coqtop.ml
  vernac/debugHook.ml
  vernac/debugHook.mli
Owners: @ghost, @coq/doc-maintainers, @coq/coqide-maintainers, @coq/ltac-maintainers

Describe "(c:T)" instead of "Assum()(c:T)".
  doc/sphinx/language/core/modules.rst
  doc/sphinx/refman-preamble.sty
Owners: @coq/doc-maintainers

Describe "(c:=t:T)" instead of "Def()(c:=t:T)".
  doc/sphinx/language/core/modules.rst
  doc/sphinx/refman-preamble.sty
Owners: @coq/doc-maintainers

WEVAL-APP don't delta-reduce.
  doc/sphinx/language/core/modules.rst
Owners: @coq/doc-maintainers

Use \subst.
  doc/sphinx/language/core/modules.rst
Owners: @coq/doc-maintainers

The PRIME character should be part of math.
  doc/sphinx/language/core/modules.rst
Owners: @coq/doc-maintainers

Replace hyps diff with new algorithm that fully preserves the order of idents in the added lines.
  printing/proof_diffs.ml
  printing/proof_diffs.mli
  test-suite/unit-tests/printing/proof_diffs_test.ml
  test-suite/unit-tests/printing/proof_diffs_test_cases.v
Owners: none

Remove unused "deprecated-Zify-Spec" warning
  plugins/micromega/g_zify.mlg
Owners: @coq/micromega-maintainers

Fix identifier capture in uconstr interpretation.
  pretyping/globEnv.ml
  test-suite/bugs/closed/bug_15161.v
Owners: none

Remove deprecated "autoapply using" syntax
  doc/changelog/04-tactics/15194-rm-autoapp-using.rst
  doc/tools/docgram/fullGrammar
  doc/tools/docgram/orderedGrammar
  plugins/ltac/g_class.mlg
Owners: @ghost, @coq/doc-maintainers, @coq/ltac-maintainers

Add a test for the second behaviour of #15195.
  test-suite/bugs/closed/bug_15195.v
Owners: none

Change release process to prepare the version change PR earlier
  dev/doc/release-process.md
Owners: @coq/contributing-process-maintainers

Update locations of ltac errors based on Loc.finer
  plugins/ltac/tacinterp.ml
  test-suite/output/UpdateLoc.out
  test-suite/output/UpdateLoc.v
Owners: @coq/ltac-maintainers

Describe changes from #14644 (Ltac visual debugger)
  dev/doc/changes.md
  doc/changelog/09-coqide/14644-debugger_gui.rst
Owners: @ghost

Faster computation of relevance_of_term for Prod.
  pretyping/retyping.ml
Owners: none

Prepare for 8.16
  doc/stdlib/index-list.html.template
  sysinit/coqargs.ml
  test-suite/success/CompatCurrentFlag.v
  test-suite/success/CompatOldFlag.v
  test-suite/success/CompatOldOldFlag.v
  test-suite/success/CompatPreviousFlag.v
  test-suite/tools/update-compat/run.sh
  theories/Compat/Coq816.v
  tools/configure/configure.ml
Owners: @coq/doc-maintainers, @coq/compat-maintainers, @coq/legacy-build-maintainers, @coq/build-maintainers
