Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/legacy-build-maintainers, @coq/build-maintainers, @coq/ci-maintainers, @coq/windows-build-maintainers, @coq/nix-maintainers, @ghost, @coq/bench-maintainers, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/kernel-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/pretyper-maintainers, @coq/stm-maintainers, @coq/plugin-tutorial-maintainers, @coq/lib-maintainers, @coq/coqide-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/stdlib-maintainers, @coq/typeclasses-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/number-maintainers, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @herbelin, @coq/dev-tools-maintainers

.github/CODEOWNERS:

# This file associates maintainer teams to each component.
# See CONTRIBUTING.md

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers

########## Build system ##########

/Makefile*                      @coq/legacy-build-maintainers
/dev/tools/make_git_revision.sh @coq/legacy-build-maintainers

/configure              @coq/legacy-build-maintainers @coq/build-maintainers
/tools/configure/*      @coq/legacy-build-maintainers @coq/build-maintainers

/boot/               @coq/build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/dev/lint-*.sh       @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/.github/workflows   @coq/ci-maintainers
/dev/ci/platform/    @coq/windows-build-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh @ghost
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/bench/            @coq/bench-maintainers

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/Makefile.doc          @coq/doc-maintainers

/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst @ghost
/dev/doc/changes.md    @ghost
# Trick to avoid getting review requests
# each time someone modifies the changelog

/dev/doc/build-system*.txt    @coq/legacy-build-maintainers
/dev/doc/build-system.dune.md @coq/build-maintainers
/dev/doc/critical-bugs        @coq/kernel-maintainers
/dev/doc/econstr.md           @coq/engine-maintainers
/dev/doc/proof-engine.md      @coq/engine-maintainers
/dev/doc/release-process.md   @coq/contributing-process-maintainers
/dev/doc/shield-icon.png      @coq/contributing-process-maintainers
/dev/doc/SProp.md             @coq/universes-maintainers
/dev/doc/style.txt            @coq/contributing-process-maintainers
/dev/doc/unification.txt      @coq/pretyper-maintainers
/dev/doc/universes.md         @coq/universes-maintainers
/dev/doc/xml-protocol         @coq/stm-maintainers

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/core/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/core/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/core/engine/          @coq/engine-maintainers

/core/engine/univ*     @coq/universes-maintainers
/core/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/core/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/core/kernel/          @coq/kernel-maintainers

/core/kernel/byterun/  @coq/vm-native-maintainers
/core/kernel/native*   @coq/vm-native-maintainers
/core/kernel/vm*       @coq/vm-native-maintainers
/core/kernel/vconv.*   @coq/vm-native-maintainers
/core/kernel/genOpcodefiles.* @coq/vm-native-maintainers

/core/kernel/sorts.*   @coq/universes-maintainers
/core/kernel/uGraph.*  @coq/universes-maintainers
/core/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/core/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/core/gramlib/         @coq/parsing-maintainers
/core/parsing/         @coq/parsing-maintainers

########## Standard library and plugins ##########

/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers

/plugins/btauto/       @coq/btauto-maintainers
/theories/btauto/      @coq/btauto-maintainers

/plugins/cc/           @coq/cc-maintainers
/theories/cc/          @coq/cc-maintainers

/plugins/derive/       @coq/derive-maintainers
/theories/derive/      @coq/derive-maintainers

/plugins/extraction/   @coq/extraction-maintainers
/theories/extraction/  @coq/extraction-maintainers

/plugins/firstorder/   @coq/firstorder-maintainers
/theories/firstorder/  @coq/firstorder-maintainers

/plugins/funind/       @coq/funind-maintainers
/theories/funind/      @coq/funind-maintainers

/plugins/ltac/         @coq/ltac-maintainers
/theories/ltac/        @coq/ltac-maintainers

/plugins/micromega/    @coq/micromega-maintainers
/theories/micromega/   @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/        @coq/nsatz-maintainers
/theories/nsatz/       @coq/nsatz-maintainers

/plugins/ring/  @coq/ring-maintainers
/theories/setoid_ring/ @coq/ring-maintainers

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/theories/ssrmatching/ @coq/ssreflect-maintainers

/plugins/ssr/          @coq/ssreflect-maintainers
/theories/ssr/         @coq/ssreflect-maintainers

/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @coq/rtauto-maintainers
/theories/rtauto/      @coq/rtauto-maintainers

/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/core/pretyping/             @coq/pretyper-maintainers

/core/pretyping/vnorm.*      @coq/vm-native-maintainers
/core/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/core/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/core/proofs/          @coq/engine-maintainers

########## STM ##########

/core/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/core/tactics/         @coq/tactics-maintainers

/core/tactics/class_tactics.* @coq/typeclasses-maintainers
/test-suite/typeclasses/ @coq/typeclasses-maintainers

########## Number ##########

/interp/numTok.*                     @coq/number-maintainers
/kernel/float64*                     @coq/number-maintainers
/kernel/uint63*                      @coq/number-maintainers
/plugins/syntax/g_number_string.mlg  @coq/number-maintainers
/plugins/syntax/int63_syntax_plugin.mllib  @coq/number-maintainers
/plugins/syntax/number.ml            @coq/number-maintainers
/plugins/syntax/number_string_notation_plugin.mllib  @coq/number-maintainers
/user-contrib/Ltac2/Int.v            @coq/number-maintainers
/test-suite/output/FloatExtraction*  @coq/number-maintainers
/test-suite/output/*Number*          @coq/number-maintainers
/test-suite/primitive/float/         @coq/number-maintainers
/test-suite/primitive/sint63/        @coq/number-maintainers
/test-suite/primitive/uint63/        @coq/number-maintainers
/theories/Init/Decimal.v             @coq/number-maintainers
/theories/Init/Hexadecimal.v         @coq/number-maintainers
/theories/Init/Nat.v                 @coq/number-maintainers
/theories/Init/Number.v              @coq/number-maintainers
/theories/*Arith/                    @coq/number-maintainers
/theories/Numbers/                   @coq/number-maintainers
/theories/Floats/                    @coq/number-maintainers
/theories/extraction/Extr*Nat*       @coq/number-maintainers
/theories/extraction/Extr*Z*         @coq/number-maintainers
/theories/extraction/ExtrOCamlFloats.v  @coq/number-maintainers
/theories/extraction/ExtrOCamlInt*   @coq/number-maintainers

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coqdep*  @coq/legacy-build-maintainers @coq/build-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/core/toplevel/   @coq/toplevel-maintainers
/core/sysinit/    @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers

########## Vernacular ##########

/core/vernac/              @coq/vernac-maintainers

/core/vernac/metasyntax.*  @coq/parsing-maintainers

/core/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers

Renaming implicit_side_condition into implicit_length_condition
  interp/impargs.ml
  interp/impargs.mli
Owners: none

Reorganizing/documenting impargs.{ml,mli} (no semantic change).
  interp/impargs.ml
  interp/impargs.mli
Owners: none

Renaming declare_var_implicits to follow convention in declare.ml.
  interp/impargs.ml
  interp/impargs.mli
  vernac/declare.ml
Owners: none

Renaming field implicit_status into implicit_kind to match its type implicit_kind.
  vernac/comArguments.ml
  vernac/g_vernac.mlg
  vernac/ppvernac.ml
  vernac/prettyp.ml
  vernac/vernacexpr.ml
Owners: none

name_of_argument -> id_of_argument and a new level of abstraction
  interp/constrintern.ml
  interp/impargs.ml
  interp/impargs.mli
  vernac/comProgramFixpoint.ml
  vernac/prettyp.ml
Owners: none

Making a parallel between the names set_auto_implicits and set_manual_implicits.
  interp/impargs.ml
  interp/impargs.mli
  vernac/comArguments.ml
Owners: none

Renaming declare_mib_implicits to follow convention in declareInd.ml.
  interp/impargs.ml
  interp/impargs.mli
  vernac/declareInd.ml
Owners: none

Add test that named goal selector doesn't drop focus
  test-suite/success/goal_selector.v
Owners: none

Change err_unmapped_library and err_notfound_library to algebraic... exceptions. Fix extra period. Reword message of err_unmapped_library.
  vernac/vernacentries.ml
Owners: none

add test for err_unmapped_library
  test-suite/output/bug_15097.out
  test-suite/output/bug_15097.v
Owners: none

Add missing zify class instances
  theories/micromega/ZifyBool.v
  theories/micromega/ZifyInst.v
Owners: @coq/micromega-maintainers

Add a changelog entry and test cases
  doc/changelog/04-tactics/10998-zify-instances.rst
  test-suite/micromega/zify.v
Owners: @ghost, @coq/micromega-maintainers

Cleanup of ZifyInst.v and ZifyBool.v
  theories/micromega/ZifyBool.v
  theories/micromega/ZifyInst.v
Owners: @coq/micromega-maintainers

[primitive floats] Deprecated frexp and ldexp
  doc/changelog/10-standard-library/15085-deprecate-frexp.rst
  test-suite/primitive/float/add.v
  test-suite/primitive/float/classify.v
  test-suite/primitive/float/compare.v
  test-suite/primitive/float/div.v
  test-suite/primitive/float/double_rounding.v
  test-suite/primitive/float/frexp.v
  test-suite/primitive/float/gen_compare.sh
  test-suite/primitive/float/ldexp.v
  test-suite/primitive/float/mul.v
  test-suite/primitive/float/next_up_down.v
  test-suite/primitive/float/normfr_mantissa.v
  test-suite/primitive/float/spec_conv.v
  test-suite/primitive/float/sqrt.v
  test-suite/primitive/float/sub.v
  test-suite/primitive/float/valid_binary_conv.v
  theories/Floats/FloatLemmas.v
  theories/Floats/FloatOps.v
  theories/Floats/Floats.v
Owners: @ghost, @coq/number-maintainers

Don't put a pointless cast when reduction did nothing
  dev/ci/user-overlays/15104-SkySkimmer-simpl-no-pointless-cast.sh
  tactics/tactics.ml
  test-suite/output/reduction.out
  test-suite/output/reduction.v
Owners: @ghost

Introduce a new directive to document known issues.
  doc/sphinx/README.rst
  doc/sphinx/proofs/automatic-tactics/auto.rst
  doc/tools/coqrst/coqdomain.py
Owners: @coq/doc-maintainers

Substitute universes in types when admitting a proof.
  test-suite/bugs/closed/bug_15099.v
  vernac/declare.ml
Owners: none

Remove dubious calls to Parray.to_array.
  pretyping/nativenorm.ml
  pretyping/vnorm.ml
Owners: none

Use a uniform representation for the internal persistent arrays.
  kernel/parray.ml
  kernel/parray.mli
Owners: none

Adding a test for the bug.
  test-suite/bugs/closed/bug_15070.v
Owners: none

Documenting the critical issue.
  dev/doc/critical-bugs
  doc/sphinx/changes.rst
Owners: @coq/kernel-maintainers, @coq/doc-maintainers

Change the native compilation scheme of arrays.
  kernel/nativecode.ml
  kernel/nativevalues.ml
  kernel/nativevalues.mli
  kernel/parray.ml
  kernel/parray.mli
Owners: none

Locate "unbound universe" error on the correct line
  engine/uState.ml
  lib/loc.ml
  lib/loc.mli
  vernac/topfmt.ml
  vernac/topfmt.mli
Owners: none

Use own exn for unbound univs error
  engine/uState.ml
Owners: none

Remove "printable_body"
  vernac/prettyp.ml
  vernac/prettyp.mli
  vernac/printmod.ml
  vernac/printmod.mli
  vernac/vernacentries.ml
Owners: none

Separate nametabs for open modules/modtypes/sections vs closed modules
  library/lib.ml
  library/nametab.ml
  library/nametab.mli
  test-suite/bugs/closed/bug_14529.v
  vernac/declaremods.ml
  vernac/prettyp.ml
  vernac/printmod.ml
Owners: none

Overlays for modules out of nametab dirtab
  dev/ci/user-overlays/15078-SkySkimmer-locatemod-noopen.sh
Owners: @ghost

changelog for module nametab
  doc/changelog/07-vernac-commands-and-options/15078-locatemod-noopen.rst
Owners: @ghost

Fix "obligation already solved" message
  test-suite/output/bug_15106.out
  test-suite/output/bug_15106.v
  vernac/declare.ml
Owners: none

Remove calls to Goal.V82.hyps and deprecate it.
  proofs/goal.mli
  proofs/proof.ml
  proofs/tacmach.ml
Owners: none

Deprecate the unused function Goal.V82.nf_hyps.
  proofs/goal.mli
Owners: none

Inline the only call to Goal.V82.partial_solution_to and remove it.
  plugins/ssrmatching/ssrmatching.ml
  proofs/goal.ml
  proofs/goal.mli
Owners: @coq/ssreflect-maintainers

Deprecate Goal.V82.nf_evars.
  printing/printer.ml
  proofs/goal.mli
Owners: none

Inline the only call to Goal.V82.progress.
  proofs/goal.ml
  proofs/goal.mli
  tactics/tacticals.ml
Owners: none

Remove calls to Goal.V82.env and deprecate it.
  ide/coqide/idetop.ml
  plugins/ssrmatching/ssrmatching.ml
  printing/printer.ml
  printing/proof_diffs.ml
  proofs/goal.mli
  proofs/tacmach.ml
  tactics/class_tactics.ml
  vernac/vernacentries.ml
Owners: @coq/coqide-maintainers, @coq/ssreflect-maintainers

Inline the only caller of Goal.V82.abstract_type.
  plugins/funind/recdef.ml
  proofs/goal.ml
  proofs/goal.mli
Owners: @coq/funind-maintainers

Port a low-level ssr tactic to the new API.
  plugins/ssrmatching/ssrmatching.ml
Owners: @coq/ssreflect-maintainers

Inline the last call to Goal.V82.partial_solution and deprecate it.
  proofs/goal.mli
  proofs/logic.ml
Owners: none

Port a low-level single-use ssr tactic to the new engine.
  plugins/ssr/ssrcommon.ml
Owners: @coq/ssreflect-maintainers

Do not rely on Goal.V82.mk_goal in the typeclass resolution function.
  tactics/class_tactics.ml
Owners: none
