Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/legacy-build-maintainers, @coq/build-maintainers, @coq/ci-maintainers, @coq/windows-build-maintainers, @coq/nix-maintainers, @ghost, @coq/bench-maintainers, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/kernel-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/pretyper-maintainers, @coq/stm-maintainers, @coq/plugin-tutorial-maintainers, @coq/lib-maintainers, @coq/coqide-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/stdlib-maintainers, @coq/typeclasses-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/number-maintainers, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @herbelin, @coq/dev-tools-maintainers

.github/CODEOWNERS:

# This file associates maintainer teams to each component.
# See CONTRIBUTING.md

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers

########## Build system ##########

/Makefile*                      @coq/legacy-build-maintainers
/dev/tools/make_git_revision.sh @coq/legacy-build-maintainers

/configure              @coq/legacy-build-maintainers @coq/build-maintainers
/tools/configure/*      @coq/legacy-build-maintainers @coq/build-maintainers

/boot/               @coq/build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/dev/lint-*.sh       @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/.github/workflows   @coq/ci-maintainers
/dev/ci/platform/    @coq/windows-build-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh @ghost
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/bench/            @coq/bench-maintainers

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/Makefile.doc          @coq/doc-maintainers

/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst @ghost
/dev/doc/changes.md    @ghost
# Trick to avoid getting review requests
# each time someone modifies the changelog

/dev/doc/build-system*.txt    @coq/legacy-build-maintainers
/dev/doc/build-system.dune.md @coq/build-maintainers
/dev/doc/critical-bugs        @coq/kernel-maintainers
/dev/doc/econstr.md           @coq/engine-maintainers
/dev/doc/proof-engine.md      @coq/engine-maintainers
/dev/doc/release-process.md   @coq/contributing-process-maintainers
/dev/doc/shield-icon.png      @coq/contributing-process-maintainers
/dev/doc/SProp.md             @coq/universes-maintainers
/dev/doc/style.txt            @coq/contributing-process-maintainers
/dev/doc/unification.txt      @coq/pretyper-maintainers
/dev/doc/universes.md         @coq/universes-maintainers
/dev/doc/xml-protocol         @coq/stm-maintainers

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/core/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/core/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/core/engine/          @coq/engine-maintainers

/core/engine/univ*     @coq/universes-maintainers
/core/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/core/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/core/kernel/          @coq/kernel-maintainers

/core/kernel/byterun/  @coq/vm-native-maintainers
/core/kernel/native*   @coq/vm-native-maintainers
/core/kernel/vm*       @coq/vm-native-maintainers
/core/kernel/vconv.*   @coq/vm-native-maintainers
/core/kernel/genOpcodefiles.* @coq/vm-native-maintainers

/core/kernel/sorts.*   @coq/universes-maintainers
/core/kernel/uGraph.*  @coq/universes-maintainers
/core/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/core/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/core/gramlib/         @coq/parsing-maintainers
/core/parsing/         @coq/parsing-maintainers

########## Standard library and plugins ##########

/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers

/plugins/btauto/       @coq/btauto-maintainers
/theories/btauto/      @coq/btauto-maintainers

/plugins/cc/           @coq/cc-maintainers
/theories/cc/          @coq/cc-maintainers

/plugins/derive/       @coq/derive-maintainers
/theories/derive/      @coq/derive-maintainers

/plugins/extraction/   @coq/extraction-maintainers
/theories/extraction/  @coq/extraction-maintainers

/plugins/firstorder/   @coq/firstorder-maintainers
/theories/firstorder/  @coq/firstorder-maintainers

/plugins/funind/       @coq/funind-maintainers
/theories/funind/      @coq/funind-maintainers

/plugins/ltac/         @coq/ltac-maintainers
/theories/ltac/        @coq/ltac-maintainers

/plugins/micromega/    @coq/micromega-maintainers
/theories/micromega/   @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/        @coq/nsatz-maintainers
/theories/nsatz/       @coq/nsatz-maintainers

/plugins/ring/  @coq/ring-maintainers
/theories/setoid_ring/ @coq/ring-maintainers

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/theories/ssrmatching/ @coq/ssreflect-maintainers

/plugins/ssr/          @coq/ssreflect-maintainers
/theories/ssr/         @coq/ssreflect-maintainers

/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @coq/rtauto-maintainers
/theories/rtauto/      @coq/rtauto-maintainers

/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/core/pretyping/             @coq/pretyper-maintainers

/core/pretyping/vnorm.*      @coq/vm-native-maintainers
/core/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/core/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/core/proofs/          @coq/engine-maintainers

########## STM ##########

/core/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/core/tactics/         @coq/tactics-maintainers

/core/tactics/class_tactics.* @coq/typeclasses-maintainers
/test-suite/typeclasses/ @coq/typeclasses-maintainers

########## Number ##########

/interp/numTok.*                     @coq/number-maintainers
/kernel/float64*                     @coq/number-maintainers
/kernel/uint63*                      @coq/number-maintainers
/plugins/syntax/g_number_string.mlg  @coq/number-maintainers
/plugins/syntax/int63_syntax_plugin.mllib  @coq/number-maintainers
/plugins/syntax/number.ml            @coq/number-maintainers
/plugins/syntax/number_string_notation_plugin.mllib  @coq/number-maintainers
/user-contrib/Ltac2/Int.v            @coq/number-maintainers
/test-suite/output/FloatExtraction*  @coq/number-maintainers
/test-suite/output/*Number*          @coq/number-maintainers
/test-suite/primitive/float/         @coq/number-maintainers
/test-suite/primitive/sint63/        @coq/number-maintainers
/test-suite/primitive/uint63/        @coq/number-maintainers
/theories/Init/Decimal.v             @coq/number-maintainers
/theories/Init/Hexadecimal.v         @coq/number-maintainers
/theories/Init/Nat.v                 @coq/number-maintainers
/theories/Init/Number.v              @coq/number-maintainers
/theories/*Arith/                    @coq/number-maintainers
/theories/Numbers/                   @coq/number-maintainers
/theories/Floats/                    @coq/number-maintainers
/theories/extraction/Extr*Nat*       @coq/number-maintainers
/theories/extraction/Extr*Z*         @coq/number-maintainers
/theories/extraction/ExtrOCamlFloats.v  @coq/number-maintainers
/theories/extraction/ExtrOCamlInt*   @coq/number-maintainers

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coqdep*  @coq/legacy-build-maintainers @coq/build-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/core/toplevel/   @coq/toplevel-maintainers
/core/sysinit/    @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers

########## Vernacular ##########

/core/vernac/              @coq/vernac-maintainers

/core/vernac/metasyntax.*  @coq/parsing-maintainers

/core/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers

test-suite coqdoc: capture stderr
  test-suite/Makefile
Owners: @coq/test-suite-maintainers

CI: disable pkg:nix:deploy
  .gitlab-ci.yml
Owners: @coq/ci-maintainers

Improve wording of deprecation notice
  doc/sphinx/proofs/writing-proofs/proof-mode.rst
Owners: @coq/doc-maintainers

Remove the Global call from Elim.
  tactics/elim.ml
Owners: none

Take an explicit environment in Tacticals.compute_constructor_signatures.
  tactics/elim.ml
  tactics/tacticals.ml
  tactics/tacticals.mli
  tactics/tactics.ml
Owners: none

Remove some calls to the Global API in Tactics.
  tactics/tactics.ml
Owners: none

Explicit environment-passing for global tactic references.
  tactics/tactics.ml
Owners: none

Remove a call to Global in Eqdecide.
  tactics/eqdecide.ml
Owners: none

Remove calls to Global functions in Hipattern.
  tactics/hipattern.ml
  tactics/hipattern.mli
  vernac/indschemes.ml
Owners: none

Remove a call to a Global primitive in Equality.
  tactics/equality.ml
Owners: none

Remove dead code accessing a Global environment in Hints.
  tactics/hints.ml
Owners: none

Further cleanup in ssrfwd.
  plugins/ssr/ssrcommon.ml
  plugins/ssr/ssrcommon.mli
  plugins/ssr/ssrfwd.ml
Owners: @coq/ssreflect-maintainers

Removing V82 compatibility layers in ssrbwd.
  plugins/ssr/ssrbwd.ml
  plugins/ssr/ssrcommon.ml
  plugins/ssr/ssrcommon.mli
  plugins/ssr/ssrequality.ml
Owners: @coq/ssreflect-maintainers

Remove some V82 compatibility layer in ssrbwd.
  plugins/ssr/ssrbwd.ml
  plugins/ssr/ssrcommon.mli
Owners: @coq/ssreflect-maintainers

Hide the use of V82 compat layer under the SSR API.
  plugins/ssr/ssrcommon.ml
  plugins/ssr/ssrcommon.mli
  plugins/ssr/ssrelim.ml
Owners: @coq/ssreflect-maintainers

Removing V82 compatibility layer in ssrequality.
  plugins/ssr/ssrequality.ml
Owners: @coq/ssreflect-maintainers

Use a simpler reference equality in ssreflect.
  plugins/ssr/ssrcommon.ml
Owners: @coq/ssreflect-maintainers

Removing V82 compatibility layer in ssrcommon.
  plugins/ssr/ssrcommon.ml
  plugins/ssr/ssrcommon.mli
Owners: @coq/ssreflect-maintainers

Port pf_abs_ssrterm to the new engine.
  plugins/ssr/ssrcommon.ml
  plugins/ssr/ssrcommon.mli
  plugins/ssr/ssrfwd.ml
Owners: @coq/ssreflect-maintainers

Simplification of the signature of pf_abs_ssrterm.
  plugins/ssr/ssrcommon.ml
  plugins/ssr/ssrcommon.mli
  plugins/ssr/ssrfwd.ml
Owners: @coq/ssreflect-maintainers

Propagate the V82 compatibility layer in ssrequality.
  plugins/ssr/ssrequality.ml
Owners: @coq/ssreflect-maintainers

Remove dead code from the ssrcommon API.
  plugins/ssr/ssrcommon.ml
  plugins/ssr/ssrcommon.mli
Owners: @coq/ssreflect-maintainers

Further commutation of compatiblity layers in ssrcommon.
  plugins/ssr/ssrcommon.ml
Owners: @coq/ssreflect-maintainers

Remove compatibility layer in ssripats.
  plugins/ssr/ssrcommon.ml
  plugins/ssr/ssrcommon.mli
  plugins/ssr/ssrfwd.ml
  plugins/ssr/ssripats.ml
  plugins/ssr/ssripats.mli
Owners: @coq/ssreflect-maintainers

Small cleanup removing the legacy API in Class_tactics.
  tactics/class_tactics.ml
Owners: none

Fix bug #13942: allow deterministic interpretation of modes
  doc/changelog/04-tactics/13952-typeclasses-eauto-best_effort.rst
  doc/sphinx/addendum/type-classes.rst
  doc/tools/docgram/common.edit_mlg
  doc/tools/docgram/fullGrammar
  doc/tools/docgram/orderedGrammar
  plugins/ltac/g_class.mlg
  tactics/auto.ml
  tactics/class_tactics.ml
  tactics/class_tactics.mli
  tactics/eauto.ml
  tactics/hints.ml
  tactics/hints.mli
  test-suite/bugs/closed/bug_14125.v
  test-suite/bugs/closed/bug_14441.v
  test-suite/output/bug_13942.out
  test-suite/output/bug_13942.v
  test-suite/success/HintMode.v
  test-suite/success/Typeclasses.v
Owners: @ghost, @coq/doc-maintainers, @coq/ltac-maintainers

Cleanup debugs in class_tactics.ml
  tactics/class_tactics.ml
Owners: none

Add overlay for coqhammer
  dev/ci/user-overlays/13952-mattam82-hints-modes.sh
Owners: @ghost

Upgrade to ocamlformat.0.19.0
  .ocamlformat
  plugins/funind/functional_principles_proofs.ml
  plugins/funind/functional_principles_types.ml
  plugins/funind/gen_principle.ml
  plugins/funind/glob_term_to_relation.ml
  plugins/funind/glob_termops.ml
  plugins/funind/indfun.ml
  plugins/funind/indfun_common.ml
  plugins/funind/invfun.ml
  plugins/funind/recdef.ml
  plugins/funind/recdef.mli
  plugins/micromega/certificate.ml
  plugins/micromega/coq_micromega.ml
  plugins/micromega/csdpcert.ml
  plugins/micromega/mfourier.ml
  plugins/micromega/micromega.mli
  plugins/micromega/mutils.ml
  plugins/micromega/persistent_cache.ml
  plugins/micromega/polynomial.ml
  plugins/micromega/polynomial.mli
  plugins/micromega/simplex.ml
  plugins/micromega/sos.ml
  plugins/micromega/vect.ml
  plugins/micromega/zify.ml
Owners: @coq/funind-maintainers, @coq/micromega-maintainers

Update LICENSE
  LICENSE
Owners: none

Move tactic code out of Extratactics into Internals.
  plugins/funind/g_indfun.mlg
  plugins/ltac/extratactics.mlg
  plugins/ltac/extratactics.mli
  plugins/ltac/internals.ml
  plugins/ltac/internals.mli
Owners: @coq/funind-maintainers, @coq/ltac-maintainers

Small cleanup in cbn refolding.
  tactics/cbn.ml
Owners: none

Don't gitignore user-contrib
  .gitignore
Owners: none

Add "Search pat in mods" syntax equivalent to "Search pat inside mods"
  doc/changelog/07-vernac-commands-and-options/15139-search-in.rst
  doc/sphinx/proof-engine/vernacular-commands.rst
  doc/tools/docgram/common.edit_mlg
  doc/tools/docgram/fullGrammar
  doc/tools/docgram/orderedGrammar
  test-suite/success/search.v
  vernac/g_vernac.mlg
Owners: @ghost, @coq/doc-maintainers

Remove deprecated unsafe_type_of
  pretyping/typing.ml
  pretyping/typing.mli
  proofs/tacmach.ml
  proofs/tacmach.mli
Owners: none

[ci-itauto] adds itauto to the CI
  .gitlab-ci.yml
  Makefile.ci
  dev/ci/ci-basic-overlay.sh
  dev/ci/ci-itauto.sh
Owners: @coq/ci-maintainers

Adding change log for #14596.
  doc/changelog/02-specification-language/14666-master+fix14505-modtype-missing-constraints.rst
Owners: @ghost

Fixes #14505: missing universes in module type interpretation.
  test-suite/bugs/closed/bug_14505.v
  vernac/declaremods.ml
Owners: none

Ad hoc fix for #12298: flushing defined Ltac evars in tactical abstract.
  plugins/ltac/tacinterp.ml
  test-suite/bugs/closed/bug_12298.v
Owners: @coq/ltac-maintainers

Adding change log for #14671.
  doc/changelog/04-tactics/14671-master+partial-fix12298-abstract-ltac-value-with-unflushed-evar.rst
Owners: @ghost
