Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/build-maintainers, @coq/ci-maintainers, @coq/windows-build-maintainers, @coq/nix-maintainers, @coq/bench-maintainers, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/kernel-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/pretyper-maintainers, @coq/stm-maintainers, @coq/plugin-tutorial-maintainers, @coq/lib-maintainers, @coq/coqide-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/stdlib-maintainers, @coq/typeclasses-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/number-maintainers, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @herbelin, @coq/dev-tools-maintainers

Apply suggestions from code review
  doc/sphinx/changes.rst
Owners: @coq/doc-maintainers

Reorder changelog more
  doc/sphinx/changes.rst
Owners: @coq/doc-maintainers

coq_makefile: make .filestoinstall during the rule needing it
  tools/CoqMakefile.in
Owners: @coq/coq-makefile-maintainers

[manual] update changelog w.r.t. the latest backports on v8.18
  doc/changelog/01-kernel/17872-fix_17871.rst
  doc/sphinx/changes.rst
Owners: @coq/doc-maintainers

Split Docker images in two: one for base and one for edge.
  .gitlab-ci.yml
  dev/ci/README-users.md
  dev/ci/ci-fiat_crypto_ocaml.sh
  dev/ci/docker/edge_ubuntu/Dockerfile
  dev/ci/docker/old_ubuntu_lts/Dockerfile
  dev/doc/release-process.md
  dev/tools/check-cachekey.sh
  doc/README.md
Owners: @coq/ci-maintainers, @coq/contributing-process-maintainers, @coq/dev-tools-maintainers, @coq/doc-maintainers

[manual] update changelog w.r.t. the latest backports on v8.18
  doc/changelog/01-kernel/17872-fix_17871.rst
  doc/sphinx/changes.rst
Owners: @coq/doc-maintainers

[release] bump version to 8.18+rc1
  tools/configure/configure.ml
Owners: @coq/build-maintainers

ssrbool: reenable overwriting-delimiting-key
  theories/ssr/ssrbool.v
Owners: @coq/ssreflect-maintainers

added app_eq_cons, app_inj_pivot, rev_inj to List.v
  doc/changelog/11-standard-library/17787-app_inj_pivot.rst
  theories/Lists/List.v
Owners: @coq/stdlib-maintainers

Update doc/sphinx/proof-engine/ltac.rst
  doc/sphinx/proof-engine/ltac.rst
Owners: @coq/doc-maintainers

Add attribution for `Acc_intro_generator`.
  theories/Init/Wf.v
Owners: @coq/stdlib-maintainers

Ltac2 type unification: assign type variables to unreduced type
  plugins/ltac2/tac2typing_env.ml
Owners: @coq/ltac2-maintainers

Bidirectionality in Ltac2 typechecking
  plugins/ltac2/tac2intern.ml
Owners: @coq/ltac2-maintainers

Ltac2: add type annotation to generated code for constr/goal_matching
  plugins/ltac2/tac2quote.ml
  user-contrib/Ltac2/Pattern.v
Owners: @coq/ltac2-maintainers

Add change log for #12429.
  doc/changelog/12-misc/12429-master+fix12428-extraction-inlined-signature-check.rst
Owners: none

Fixes #12428: extracting inlined constants was ignoring signature.
  plugins/extraction/extract_env.ml
  plugins/extraction/haskell.ml
  plugins/extraction/json.ml
  plugins/extraction/miniml.ml
  plugins/extraction/miniml.mli
  plugins/extraction/modutil.ml
  plugins/extraction/ocaml.ml
  plugins/extraction/scheme.ml
  test-suite/output/ExtractInlined.out
  test-suite/output/ExtractInlined.v
Owners: @coq/extraction-maintainers

Extraction: dead code.
  plugins/extraction/modutil.ml
Owners: @coq/extraction-maintainers

Extraction: use English typography for messages.
  plugins/extraction/haskell.ml
  plugins/extraction/ocaml.ml
  plugins/extraction/table.ml
Owners: @coq/extraction-maintainers

Extraction: obsolete record_iter_references.
  plugins/extraction/modutil.ml
Owners: @coq/extraction-maintainers

Extraction: prune unused declarations also in modules (fixes #4650).
  plugins/extraction/modutil.ml
  test-suite/output/bug7348.out
Owners: @coq/extraction-maintainers

Extraction internals: removal of a priori irrelevant code.
  plugins/extraction/modutil.ml
Owners: @coq/extraction-maintainers

Extraction internals: make type of module optional.
  plugins/extraction/extract_env.ml
  plugins/extraction/miniml.ml
  plugins/extraction/miniml.mli
  plugins/extraction/modutil.ml
  plugins/extraction/ocaml.ml
Owners: @coq/extraction-maintainers

Extraction internals: adding module path name to SEmodule/SEmodtype.
  plugins/extraction/extract_env.ml
  plugins/extraction/haskell.ml
  plugins/extraction/json.ml
  plugins/extraction/miniml.ml
  plugins/extraction/miniml.mli
  plugins/extraction/modutil.ml
  plugins/extraction/ocaml.ml
  plugins/extraction/scheme.ml
Owners: @coq/extraction-maintainers

Extraction: improving custom fix hack so that it produces correct mli.
  plugins/extraction/modutil.ml
Owners: @coq/extraction-maintainers

Remove geocoq from CI
  .gitlab-ci.yml
  Makefile.ci
  dev/bench/bench.sh
  dev/ci/ci-basic-overlay.sh
  dev/ci/ci-geocoq.sh
  dev/ci/nix/GeoCoq.nix
  dev/ci/nix/default.nix
Owners: @coq/ci-maintainers, @coq/bench-maintainers, @coq/nix-maintainers

Add overlays
  dev/ci/user-overlays/17875-herbelin-printer-support-for-entries-arbitrary-level-on-right.sh
Owners: none

Overlay for Elpi
  dev/ci/user-overlays/17827-herbelin-master+collecting-ntn-vars-binding-in-ntn-var.sh
Owners: none

Fix build after concurrent merge of #17875 and #17827
  interp/constrextern.ml
Owners: @coq/extensible-syntax-maintainers

Moving around functions that compute and check section hypotheses.
  kernel/constant_typing.ml
Owners: @coq/kernel-maintainers

Constant_typing: merging infer_* with build_constant_declaration.
  kernel/constant_typing.ml
Owners: @coq/kernel-maintainers

Kernel: removing the "translate" indirection in constant_typing.ml.
  kernel/constant_typing.ml
  kernel/constant_typing.mli
  kernel/safe_typing.ml
Owners: @coq/kernel-maintainers

Cleaning reliance on polyprop typing flag in extraction.
  plugins/extraction/extraction.ml
Owners: @coq/extraction-maintainers

Extraction: inserting coercions for sort-polymorphism landing in Prop.
  plugins/extraction/extraction.ml
  test-suite/success/extraction_polyprop.v
Owners: @coq/extraction-maintainers

Extraction: mini-cleaning + typo.
  plugins/extraction/extraction.ml
  plugins/extraction/mlutil.ml
Owners: @coq/extraction-maintainers

Removing now useless kernel/retyping polyprop infrastructure.
  kernel/inductive.ml
  kernel/inductive.mli
  pretyping/retyping.ml
  pretyping/retyping.mli
Owners: @coq/kernel-maintainers, @coq/pretyper-maintainers

Forbidding to use twice the same name in the same block of binders.
  interp/constrintern.ml
  test-suite/bugs/bug_10197.v
  test-suite/bugs/bug_12001.v
  test-suite/bugs/bug_1414.v
  test-suite/bugs/bug_5755.v
Owners: @coq/extensible-syntax-maintainers

Preferring "inhabitant" to "witness" for a term inhabiting a type.
  doc/sphinx/language/core/basic.rst
  doc/sphinx/language/core/sorts.rst
  doc/sphinx/language/extensions/evars.rst
Owners: @coq/doc-maintainers

Preliminary proposal for adding a header to the Variant and Inductive sections.
  doc/sphinx/language/core/basic.rst
  doc/sphinx/language/core/inductive.rst
  doc/sphinx/language/core/variants.rst
Owners: @coq/doc-maintainers

Improve the infrastructure of `nia` tests a bit
  test-suite/success/Nia.v
Owners: none

Replace Lemma with Example in nia test-suite
  test-suite/success/Nia.v
Owners: none

.github/CODEOWNERS:

# This file associates maintainer teams to each component.
# See CONTRIBUTING.md

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers

########## Build system ##########

/Makefile                       @coq/build-maintainers
/dev/tools/make_git_revision.sh @coq/build-maintainers

/configure                      @coq/build-maintainers
/tools/configure/*              @coq/build-maintainers

/tools/coqdep/                  @coq/build-maintainers

/boot/                          @coq/build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/dev/lint-*.sh       @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/.github/workflows   @coq/ci-maintainers
/dev/ci/platform/    @coq/windows-build-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/bench/            @coq/bench-maintainers

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst
/dev/doc/changes.md
# Trick to avoid getting review requests
# each time someone modifies the changelog

/dev/doc/build-system.dune.md @coq/build-maintainers
/dev/doc/critical-bugs        @coq/kernel-maintainers
/dev/doc/econstr.md           @coq/engine-maintainers
/dev/doc/proof-engine.md      @coq/engine-maintainers
/dev/doc/release-process.md   @coq/contributing-process-maintainers
/dev/doc/shield-icon.png      @coq/contributing-process-maintainers
/dev/doc/SProp.md             @coq/universes-maintainers
/dev/doc/style.txt            @coq/contributing-process-maintainers
/dev/doc/unification.txt      @coq/pretyper-maintainers
/dev/doc/universes.md         @coq/universes-maintainers
/dev/doc/xml-protocol         @coq/stm-maintainers

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/engine/          @coq/engine-maintainers

/engine/univ*     @coq/universes-maintainers
/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/kernel/          @coq/kernel-maintainers

/kernel/byterun/  @coq/vm-native-maintainers
/kernel/native*   @coq/vm-native-maintainers
/kernel/vm*       @coq/vm-native-maintainers
/kernel/vconv.*   @coq/vm-native-maintainers
/kernel/genOpcodefiles.* @coq/vm-native-maintainers

/kernel/sorts.*   @coq/universes-maintainers
/kernel/uGraph.*  @coq/universes-maintainers
/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/gramlib/         @coq/parsing-maintainers
/parsing/         @coq/parsing-maintainers

########## Standard library and plugins ##########

/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers

/plugins/btauto/       @coq/btauto-maintainers
/theories/btauto/      @coq/btauto-maintainers

/plugins/cc/           @coq/cc-maintainers
/theories/cc/          @coq/cc-maintainers

/plugins/derive/       @coq/derive-maintainers
/theories/derive/      @coq/derive-maintainers

/plugins/extraction/   @coq/extraction-maintainers
/theories/extraction/  @coq/extraction-maintainers

/plugins/firstorder/   @coq/firstorder-maintainers
/theories/firstorder/  @coq/firstorder-maintainers

/plugins/funind/       @coq/funind-maintainers
/theories/funind/      @coq/funind-maintainers

/plugins/ltac/         @coq/ltac-maintainers
/theories/ltac/        @coq/ltac-maintainers

/plugins/micromega/    @coq/micromega-maintainers
/theories/micromega/   @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/        @coq/nsatz-maintainers
/theories/nsatz/       @coq/nsatz-maintainers

/plugins/ring/  @coq/ring-maintainers
/theories/setoid_ring/ @coq/ring-maintainers

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/theories/ssrmatching/ @coq/ssreflect-maintainers

/plugins/ssr/          @coq/ssreflect-maintainers
/theories/ssr/         @coq/ssreflect-maintainers

/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @coq/rtauto-maintainers
/theories/rtauto/      @coq/rtauto-maintainers

/plugins/ltac2/        @coq/ltac2-maintainers
/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/pretyping/             @coq/pretyper-maintainers

/pretyping/vnorm.*      @coq/vm-native-maintainers
/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/proofs/          @coq/engine-maintainers

########## STM ##########

/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/tactics/         @coq/tactics-maintainers

/tactics/class_tactics.* @coq/typeclasses-maintainers

########## Number ##########

/interp/numTok.*                     @coq/number-maintainers
/kernel/float64*                     @coq/number-maintainers
/kernel/uint63*                      @coq/number-maintainers
/plugins/syntax/g_number_string.mlg  @coq/number-maintainers
/plugins/syntax/number.ml            @coq/number-maintainers
/user-contrib/Ltac2/Int.v            @coq/number-maintainers
/test-suite/output/FloatExtraction*  @coq/number-maintainers
/test-suite/output/*Number*          @coq/number-maintainers
/test-suite/primitive/float/         @coq/number-maintainers
/test-suite/primitive/sint63/        @coq/number-maintainers
/test-suite/primitive/uint63/        @coq/number-maintainers
/theories/Init/Decimal.v             @coq/number-maintainers
/theories/Init/Hexadecimal.v         @coq/number-maintainers
/theories/Init/Nat.v                 @coq/number-maintainers
/theories/Init/Number.v              @coq/number-maintainers
/theories/*Arith/                    @coq/number-maintainers
/theories/Numbers/                   @coq/number-maintainers
/theories/Floats/                    @coq/number-maintainers
/theories/extraction/Extr*Nat*       @coq/number-maintainers
/theories/extraction/Extr*Z*         @coq/number-maintainers
/theories/extraction/ExtrOCamlFloats.v  @coq/number-maintainers
/theories/extraction/ExtrOCamlInt*   @coq/number-maintainers

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/toplevel/   @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers
/sysinit/    @coq/toplevel-maintainers

########## Vernacular ##########

/vernac/              @coq/vernac-maintainers

/vernac/metasyntax.*  @coq/parsing-maintainers

/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers
