Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/legacy-build-maintainers, @coq/build-maintainers, @coq/ci-maintainers, @coq/windows-build-maintainers, @coq/nix-maintainers, @ghost, @coq/bench-maintainers, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/kernel-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/pretyper-maintainers, @coq/stm-maintainers, @coq/plugin-tutorial-maintainers, @coq/lib-maintainers, @coq/coqide-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/stdlib-maintainers, @coq/typeclasses-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/number-maintainers, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @herbelin, @coq/dev-tools-maintainers

.github/CODEOWNERS:

# This file associates maintainer teams to each component.
# See CONTRIBUTING.md

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers

########## Build system ##########

/Makefile*                      @coq/legacy-build-maintainers
/dev/tools/make_git_revision.sh @coq/legacy-build-maintainers

/configure              @coq/legacy-build-maintainers @coq/build-maintainers
/tools/configure/*      @coq/legacy-build-maintainers @coq/build-maintainers

/boot/               @coq/build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/dev/lint-*.sh       @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/.github/workflows   @coq/ci-maintainers
/dev/ci/platform/    @coq/windows-build-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh @ghost
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/bench/            @coq/bench-maintainers

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/Makefile.doc          @coq/doc-maintainers

/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst @ghost
/dev/doc/changes.md    @ghost
# Trick to avoid getting review requests
# each time someone modifies the changelog

/dev/doc/build-system*.txt    @coq/legacy-build-maintainers
/dev/doc/build-system.dune.md @coq/build-maintainers
/dev/doc/critical-bugs        @coq/kernel-maintainers
/dev/doc/econstr.md           @coq/engine-maintainers
/dev/doc/proof-engine.md      @coq/engine-maintainers
/dev/doc/release-process.md   @coq/contributing-process-maintainers
/dev/doc/shield-icon.png      @coq/contributing-process-maintainers
/dev/doc/SProp.md             @coq/universes-maintainers
/dev/doc/style.txt            @coq/contributing-process-maintainers
/dev/doc/unification.txt      @coq/pretyper-maintainers
/dev/doc/universes.md         @coq/universes-maintainers
/dev/doc/xml-protocol         @coq/stm-maintainers

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/core/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/core/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/core/engine/          @coq/engine-maintainers

/core/engine/univ*     @coq/universes-maintainers
/core/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/core/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/core/kernel/          @coq/kernel-maintainers

/core/kernel/byterun/  @coq/vm-native-maintainers
/core/kernel/native*   @coq/vm-native-maintainers
/core/kernel/vm*       @coq/vm-native-maintainers
/core/kernel/vconv.*   @coq/vm-native-maintainers
/core/kernel/genOpcodefiles.* @coq/vm-native-maintainers

/core/kernel/sorts.*   @coq/universes-maintainers
/core/kernel/uGraph.*  @coq/universes-maintainers
/core/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/core/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/core/gramlib/         @coq/parsing-maintainers
/core/parsing/         @coq/parsing-maintainers

########## Standard library and plugins ##########

/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers

/plugins/btauto/       @coq/btauto-maintainers
/theories/btauto/      @coq/btauto-maintainers

/plugins/cc/           @coq/cc-maintainers
/theories/cc/          @coq/cc-maintainers

/plugins/derive/       @coq/derive-maintainers
/theories/derive/      @coq/derive-maintainers

/plugins/extraction/   @coq/extraction-maintainers
/theories/extraction/  @coq/extraction-maintainers

/plugins/firstorder/   @coq/firstorder-maintainers
/theories/firstorder/  @coq/firstorder-maintainers

/plugins/funind/       @coq/funind-maintainers
/theories/funind/      @coq/funind-maintainers

/plugins/ltac/         @coq/ltac-maintainers
/theories/ltac/        @coq/ltac-maintainers

/plugins/micromega/    @coq/micromega-maintainers
/theories/micromega/   @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/        @coq/nsatz-maintainers
/theories/nsatz/       @coq/nsatz-maintainers

/plugins/ring/  @coq/ring-maintainers
/theories/setoid_ring/ @coq/ring-maintainers

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/theories/ssrmatching/ @coq/ssreflect-maintainers

/plugins/ssr/          @coq/ssreflect-maintainers
/theories/ssr/         @coq/ssreflect-maintainers

/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @coq/rtauto-maintainers
/theories/rtauto/      @coq/rtauto-maintainers

/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/core/pretyping/             @coq/pretyper-maintainers

/core/pretyping/vnorm.*      @coq/vm-native-maintainers
/core/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/core/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/core/proofs/          @coq/engine-maintainers

########## STM ##########

/core/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/core/tactics/         @coq/tactics-maintainers

/core/tactics/class_tactics.* @coq/typeclasses-maintainers
/test-suite/typeclasses/ @coq/typeclasses-maintainers

########## Number ##########

/interp/numTok.*                     @coq/number-maintainers
/kernel/float64*                     @coq/number-maintainers
/kernel/uint63*                      @coq/number-maintainers
/plugins/syntax/g_number_string.mlg  @coq/number-maintainers
/plugins/syntax/int63_syntax_plugin.mllib  @coq/number-maintainers
/plugins/syntax/number.ml            @coq/number-maintainers
/plugins/syntax/number_string_notation_plugin.mllib  @coq/number-maintainers
/user-contrib/Ltac2/Int.v            @coq/number-maintainers
/test-suite/output/FloatExtraction*  @coq/number-maintainers
/test-suite/output/*Number*          @coq/number-maintainers
/test-suite/primitive/float/         @coq/number-maintainers
/test-suite/primitive/sint63/        @coq/number-maintainers
/test-suite/primitive/uint63/        @coq/number-maintainers
/theories/Init/Decimal.v             @coq/number-maintainers
/theories/Init/Hexadecimal.v         @coq/number-maintainers
/theories/Init/Nat.v                 @coq/number-maintainers
/theories/Init/Number.v              @coq/number-maintainers
/theories/*Arith/                    @coq/number-maintainers
/theories/Numbers/                   @coq/number-maintainers
/theories/Floats/                    @coq/number-maintainers
/theories/extraction/Extr*Nat*       @coq/number-maintainers
/theories/extraction/Extr*Z*         @coq/number-maintainers
/theories/extraction/ExtrOCamlFloats.v  @coq/number-maintainers
/theories/extraction/ExtrOCamlInt*   @coq/number-maintainers

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coqdep*  @coq/legacy-build-maintainers @coq/build-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/core/toplevel/   @coq/toplevel-maintainers
/core/sysinit/    @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers

########## Vernacular ##########

/core/vernac/              @coq/vernac-maintainers

/core/vernac/metasyntax.*  @coq/parsing-maintainers

/core/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers

[lib] Move [Id.t] to `lib`
  kernel/names.ml
  kernel/names.mli
  lib/id.ml
  lib/id.mli
Owners: none

[lib] Move [DirPath.t] to `lib`
  kernel/names.ml
  kernel/names.mli
  lib/dirPath.ml
  lib/dirPath.mli
Owners: none

[wip] Split LoadPath to an independent library.
  lib/libnames.ml
  lib/libnames.mli
  loadpath/dune
  loadpath/loadpath.ml
  loadpath/loadpath.mli
Owners: @coq/build-maintainers

ignored .vscode/ folder
  .gitignore
Owners: none

Do not impose a compatibility case in Attributes.key_value_attribute.
  test-suite/success/indnamespace.v
  vernac/attributes.ml
Owners: none

Add support for registering constructors in a subnamespace of the inductive type.
  plugins/funind/glob_term_to_relation.ml
  vernac/attributes.ml
  vernac/attributes.mli
  vernac/comInductive.ml
  vernac/comInductive.mli
  vernac/declareInd.ml
  vernac/declareInd.mli
  vernac/record.ml
  vernac/record.mli
  vernac/vernacentries.ml
Owners: @coq/funind-maintainers

Stop using rectypes for iStream
  clib/iStream.ml
Owners: none

Monomorphize IStream node type
  clib/iStream.ml
  clib/iStream.mli
Owners: none

CI: call git submodule in git_download instead of by hand
  dev/ci/ci-argosy.sh
  dev/ci/ci-bedrock2.sh
  dev/ci/ci-common.sh
  dev/ci/ci-cross_crypto.sh
  dev/ci/ci-fiat_crypto.sh
  dev/ci/ci-fiat_crypto_legacy.sh
  dev/ci/ci-fiat_parsers.sh
  dev/ci/ci-perennial.sh
Owners: @coq/ci-maintainers

Correctly prevent backtracking in clear dependent.
  theories/Init/Tactics.v
Owners: @coq/stdlib-maintainers

Adding a changelog.
  doc/changelog/04-tactics/14984-fix-clear-dependent-backtrack.rst
Owners: @ghost

Print "n focused goals / x shelved / ID y" in 1 line
  printing/printer.ml
  test-suite/output-coqtop/DependentEvars.out
  test-suite/output-coqtop/DependentEvars2.out
  test-suite/output-coqtop/ShowGoal.out
  test-suite/output-coqtop/ShowProofDiffs.out
  test-suite/output/names.out
  test-suite/output/unifconstraints.out
  test-suite/output/unification.out
Owners: none

Remove optional header string from UserError
  checker/checker.ml
  engine/proofview.ml
  lib/cErrors.ml
  lib/cErrors.mli
  plugins/funind/glob_term_to_relation.ml
  plugins/funind/recdef.ml
  plugins/ltac/leminv.ml
  plugins/ltac/tactic_matching.ml
  plugins/ssr/ssrcommon.ml
  proofs/goal_select.ml
  proofs/logic.ml
  proofs/logic.mli
  stm/stm.ml
  tactics/hints.ml
  tactics/tacticals.ml
  tactics/tactics.ml
  user-contrib/Ltac2/tac2match.ml
  vernac/indschemes.ml
  vernac/vernacentries.ml
Owners: @coq/kernel-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/ssreflect-maintainers, @coq/ltac2-maintainers

Overlays for remove of user_err hdr
  dev/ci/user-overlays/15003-SkySkimmer-nohdr.sh
Owners: @ghost

Defunctionalize the Future.fix_exn type.
  stm/partac.ml
  stm/stm.ml
  vernac/future.ml
  vernac/future.mli
Owners: none

Move joining of futures outside of the API.
  vernac/future.ml
  vernac/future.mli
  vernac/opaques.ml
Owners: none

Do not join delegated futures in par: combinator.
  stm/partac.ml
Owners: none

Defunctionalize the implementation of delegated futures.
  vernac/future.ml
Owners: none

Stronger invariants on Stm.build_proof_here.
  stm/stm.ml
Owners: none

Small code factorization in the STM.
  stm/stm.ml
Owners: none

Make explicit that future assignment only depends on a thunk.
  stm/stm.ml
  vernac/future.ml
  vernac/future.mli
Owners: none

Remove the use of Future from Partac altogether.
  stm/partac.ml
Owners: none

Introduce an exn_info type in Stateid to communicate STM errors.
  lib/stateid.ml
  lib/stateid.mli
  stm/stm.ml
  vernac/future.ml
  vernac/future.mli
Owners: none

Adding overlays.
  dev/ci/user-overlays/15008-ppedrot-future-pure-shallow.sh
Owners: @ghost

Convert "Reasoning with inductive types" to prodn, part 3
  doc/sphinx/addendum/implicit-coercions.rst
  doc/sphinx/addendum/universe-polymorphism.rst
  doc/sphinx/changes.rst
  doc/sphinx/language/cic.rst
  doc/sphinx/language/coq-library.rst
  doc/sphinx/language/core/coinductive.rst
  doc/sphinx/language/core/definitions.rst
  doc/sphinx/language/core/inductive.rst
  doc/sphinx/language/core/records.rst
  doc/sphinx/language/extensions/implicit-arguments.rst
  doc/sphinx/language/extensions/match.rst
  doc/sphinx/proof-engine/ltac.rst
  doc/sphinx/proof-engine/vernacular-commands.rst
  doc/sphinx/proofs/writing-proofs/proof-mode.rst
  doc/sphinx/proofs/writing-proofs/reasoning-inductives.rst
  doc/sphinx/user-extensions/syntax-extensions.rst
  doc/tools/docgram/doc_grammar.ml
Owners: @coq/doc-maintainers

Fix setoid_rewrite under non dependent binders
  doc/changelog/04-tactics/14986-rewr-lambdas-clenv.rst
  proofs/clenv.ml
  test-suite/bugs/closed/bug_5369.v
Owners: @ghost

Added universe mismatch error message.
  doc/sphinx/proof-engine/vernacular-commands.rst
  engine/univGen.ml
  engine/univGen.mli
  pretyping/pretyping.ml
  printing/printer.ml
  test-suite/output/UnivBinders.out
Owners: @coq/doc-maintainers

Stop using dune private modules
  boot/dune
  engine/dune
  stm/dune
  tactics/dune
  toplevel/dune
  vernac/dune
Owners: @coq/build-maintainers

Slightly more type-safe Library API for vio tasks.
  stm/stm.mli
  vernac/library.ml
  vernac/library.mli
  vernac/opaques.ml
  vernac/opaques.mli
Owners: none

Remove unused Dumpglob.Feedback mode
  interp/dumpglob.ml
  interp/dumpglob.mli
Owners: none

Summary of changes for 8.14
  .mailmap
  doc/sphinx/changes.rst
Owners: @coq/doc-maintainers

Explicitly mention exponential notation in number syntax
  doc/sphinx/language/core/basic.rst
Owners: @coq/doc-maintainers

Describe exponential notation as a common practice in standard library, not as a hardcoded Coq design
  doc/sphinx/language/core/basic.rst
Owners: @coq/doc-maintainers

State default meaning of exponential notation in number related scopes
  doc/sphinx/language/core/basic.rst
Owners: @coq/doc-maintainers

Remove redundant "default", make example clearer
  doc/sphinx/language/core/basic.rst
Owners: @coq/doc-maintainers

Summary of changes for 8.14
  .mailmap
  doc/sphinx/changes.rst
Owners: @coq/doc-maintainers

Upgrade version number to 8.14.0.
  tools/configure/configure.ml
Owners: @coq/legacy-build-maintainers, @coq/build-maintainers

[termops] remove collapse_appl (fix #14972)
  engine/termops.ml
  engine/termops.mli
  pretyping/detyping.ml
  tactics/class_tactics.ml
  tactics/tactics.ml
  test-suite/output/detype_cast.out
  test-suite/output/detype_cast.v
Owners: none

Allow nary choice in rewrite_strat
  doc/changelog/04-tactics/14989-rw-nary-choice.rst
  doc/sphinx/addendum/generalized-rewriting.rst
  doc/tools/docgram/fullGrammar
  doc/tools/docgram/orderedGrammar
  plugins/ltac/g_rewrite.mlg
  plugins/ltac/rewrite.ml
  plugins/ltac/rewrite.mli
  test-suite/success/rewrite_strat.v
Owners: @ghost, @coq/doc-maintainers, @coq/ltac-maintainers

Update compat files before 8.15 branching
  doc/stdlib/index-list.html.template
  sysinit/coqargs.ml
  test-suite/success/CompatOldOldFlag.v
  test-suite/tools/update-compat/run.sh
  theories/Compat/Coq812.v
Owners: @coq/doc-maintainers, @coq/compat-maintainers
