Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/legacy-build-maintainers, @coq/build-maintainers, @coq/windows-build-maintainers, @coq/ci-maintainers, @coq/nix-maintainers, @ghost, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/plugin-tutorial-maintainers, @coq/kernel-maintainers, @coq/lib-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/coqide-maintainers, @coq/stm-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/pretyper-maintainers, @coq/tactics-maintainers, @coq/typeclasses-maintainers, @coq/stdlib-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @herbelin, @mattam82, @ppedrot, @JasonGross, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @coq/dev-tools-maintainers

unsafe_type_of -> get_type_of in Class_tactics.autoapply
  tactics/class_tactics.ml
Owners: @coq/typeclasses-maintainers

unsafe_type_of -> get_type_of in Rewrite.default_morphism
  plugins/ltac/rewrite.ml
Owners: none

unsafe_type_of -> get_type_of in Elim.induction_trailer
  tactics/elim.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> type_of in Celenv.mk_clenv_type_of
  proofs/clenv.ml
Owners: @coq/engine-maintainers

unsafe_type_of -> type_of in Tactics.symmetry_in
  tactics/tactics.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> get_type_of in Auto_ind_decl.do_replace_bl
  vernac/auto_ind_decl.ml
Owners: @coq/vernac-maintainers

unsafe_type_of -> type_of in Rewrite.resolve_morphism
  plugins/ltac/rewrite.ml
Owners: none

unsafe_type_of -> type_of in Tactics.guess_elim
  tactics/tactics.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> get_type_of in Equality.inject_if_homogenous_dependent_pair
  tactics/equality.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> get_type_of in Autorewrite.{find,decompose}_applied_relation
  tactics/autorewrite.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> type_of in Tactics.given_elim
  tactics/tactics.ml
Owners: @coq/tactics-maintainers

unsafe_type_of + match -> sort_of in Tactics.cut
  tactics/tactics.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> type_of in Pretyping.pretype_ref
  pretyping/pretyping.ml
Owners: @coq/pretyper-maintainers

unsafe_type_of -> type_of in Tactics.convert_concl
  tactics/tactics.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> type_of in Eauto.e_give_exact
  tactics/eauto.ml
Owners: @coq/tactics-maintainers

Fix evar map leak in Tactics.find_induction_type
  tactics/tactics.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> get_type_of in Extractactics.mkCaseEq
  plugins/ltac/extratactics.mlg
Owners: none

unsafe_type_of -> type_of in Sequent.extend_with_auto_hints
  plugins/firstorder/g_ground.mlg
  plugins/firstorder/sequent.ml
  tactics/hints.mli
Owners: @coq/tactics-maintainers

unsafe_type_of -> get_type_of in Rewrite.symmetry_in
  plugins/ltac/rewrite.ml
Owners: none

unsafe_type_of -> (get_)type_of in Equality.{discrEq,minimal_free_rels_rec,sig_clausal_form}
  tactics/equality.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> get_type_of in ComProgramFixpoint.build_wellfounded
  vernac/comProgramFixpoint.ml
Owners: @coq/vernac-maintainers

unsafe_type_of -> type_of in Rewrite.build_morphism_signature
  plugins/ltac/rewrite.ml
Owners: none

unsafe_type_of -> get_type_of in Firstorded.Instances.mk_open_instance
  plugins/firstorder/instances.ml
Owners: none

unsafe_type_of -> type_of in Eqdecide (2 occurrences)
  tactics/eqdecide.ml
Owners: @coq/tactics-maintainers

Remove useless unification in Equality.sig_clausal_form
  tactics/equality.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> type_of in Tactics.intro_or_and_pattern
  tactics/tactics.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> get_type_of in Hipattern.extract_eq_args
  tactics/hipattern.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> type_of in Tactics.abstract_args
  tactics/tactics.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> type_of in Tactics.rewrite_hyp_then (+ tclEVARSTHEN)
  tactics/tactics.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> get_type_of in Ccalgo
  plugins/cc/ccalgo.ml
Owners: none

unsafe_type_of -> type_of in Tacred.pattern_occs
  pretyping/tacred.ml
Owners: @coq/pretyper-maintainers

unsafe_type_of -> type_of in Tactics.prove_transitivity
  tactics/tactics.ml
Owners: @coq/tactics-maintainers

unsafe_type_of -> type_of in Logic.check_typability
  proofs/logic.ml
Owners: @coq/engine-maintainers

unsafe_type_of -> type_of in Tactics.find_eliminator
  tactics/tactics.ml
Owners: @coq/tactics-maintainers

Apply suggestions from code review
  doc/sphinx/practical-tools/utilities.rst
Owners: @coq/doc-maintainers

restore the default URL for coquelicot
  dev/ci/ci-basic-overlay.sh
Owners: @coq/ci-maintainers

[coqdep] Remove dumpgraph and broken options
  man/coqdep.1
  tools/coqdep.ml
Owners: @coq/doc-maintainers, @coq/legacy-build-maintainers, @coq/build-maintainers

[coqdep] Add changelog for recent modifications.
  doc/changelog/08-tools/11523-coqdep+refactor2.rst
Owners: @ghost

[coqdep] Remove deprecated -slash , unused, undocumented -mldep option.
  tools/coqdep.ml
  tools/coqdep_boot.ml
  tools/coqdep_common.ml
  tools/coqdep_common.mli
Owners: @coq/legacy-build-maintainers, @coq/build-maintainers

[coqdep] Don't treat stdlib specially in boot mode.
  Makefile.build
  dune
  tools/coqdep.ml
  tools/coqdep_boot.ml
Owners: @coq/legacy-build-maintainers, @coq/build-maintainers

.github/CODEOWNERS:

# This file describes the maintainers for the main components. See
# `dev/doc/MERGING.md`.

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers
/dev/doc/shield-icon.png    @coq/contributing-process-maintainers

/dev/doc/release-process.md @coq/contributing-process-maintainers

########## Build system ##########

/Makefile*                      @coq/legacy-build-maintainers
/dev/tools/make_git_revision.sh @coq/legacy-build-maintainers

/configure*        @coq/legacy-build-maintainers @coq/build-maintainers

/META.coq.in       @coq/legacy-build-maintainers

/dev/build/windows @coq/windows-build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/azure-pipelines.yml @coq/ci-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh @ghost
# Trick to avoid getting review requests
# each time someone adds an overlay

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/Makefile.doc          @coq/doc-maintainers

/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst @ghost
/dev/doc/changes.md    @ghost
# Trick to avoid getting review requests
# each time someone modifies the changelog

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/engine/          @coq/engine-maintainers

/engine/univ*     @coq/universes-maintainers
/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/kernel/          @coq/kernel-maintainers

/kernel/byterun/  @coq/vm-native-maintainers
/kernel/native*   @coq/vm-native-maintainers
/kernel/vm*       @coq/vm-native-maintainers
/kernel/vconv.*   @coq/vm-native-maintainers

/kernel/sorts.*   @coq/universes-maintainers
/kernel/uGraph.*  @coq/universes-maintainers
/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/gramlib/         @coq/parsing-maintainers
/parsing/         @coq/parsing-maintainers

########## Stdlib ##########

/stdlib/plugins/btauto/       @coq/btauto-maintainers

/stdlib/plugins/cc/           @coq/cc-maintainers

/stdlib/plugins/derive/       @coq/derive-maintainers

/stdlib/plugins/extraction/   @coq/extraction-maintainers

/stdlib/plugins/firstorder/   @coq/firstorder-maintainers

/stdlib/plugins/funind/       @coq/funind-maintainers

/stdlib/plugins/ltac/         @coq/ltac-maintainers

/stdlib/micromega/    @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/stdlib/plugins/nsatz/        @coq/nsatz-maintainers

/stdlib/plugins/setoid_ring/  @coq/ring-maintainers

/stdlib/ssrmatching/  @coq/ssreflect-maintainers
/stdlib/ssr/          @coq/ssreflect-maintainers
/test-suite/ssr/       @coq/ssreflect-maintainers

/stdlib/syntax/       @coq/parsing-maintainers

/stdlib/plugins/rtauto/       @coq/rtauto-maintainers

/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/pretyping/             @coq/pretyper-maintainers

/pretyping/vnorm.*      @coq/vm-native-maintainers
/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/proofs/          @coq/engine-maintainers

########## STM ##########

/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/tactics/         @coq/tactics-maintainers

/tactics/class_tactics.* @coq/typeclasses-maintainers
/test-suite/typeclasses/ @coq/typeclasses-maintainers

########## Standard library ##########

<<<<<<< HEAD
/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers
=======
/stdlib/Arith/          @herbelin

/stdlib/Bool/           @herbelin

/stdlib/Classes/        @mattam82
# Secondary maintainer @herbelin

/stdlib/FSets/          @herbelin

/stdlib/Init/           @ppedrot

/stdlib/Lists/          @ppedrot

/stdlib/Logic/          @herbelin
# Secondary maintainer @ppedrot

/stdlib/MSets/          @herbelin

/stdlib/NArith/         @herbelin

/stdlib/Numbers/        @herbelin

/stdlib/PArith/         @herbelin

/stdlib/Program/        @mattam82
# Secondary maintainer @herbelin

/stdlib/QArith/         @herbelin

/stdlib/Reals/          @coq/reals-library-maintainers
# Secondary maintainer @ppedrot

/stdlib/Relations/      @mattam82
# Secondary maintainer @ppedrot

/stdlib/Setoids/        @mattam82
# Secondary maintainer @ppedrot

/stdlib/Sets/           @herbelin

/stdlib/Sorting/        @herbelin

/stdlib/Strings/        @herbelin

/stdlib/Structures/     @herbelin

/stdlib/Unicode/        @herbelin

/stdlib/Wellfounded/    @mattam82

/stdlib/ZArith/         @herbelin

/stdlib/Compat/         @JasonGross
# Secondary maintainer @Zimmi48

/stdlib/Vectors/        @herbelin
>>>>>>> [stdlib] Consolidate the standard library in its on directory.

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coqdep*  @coq/legacy-build-maintainers @coq/build-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/toplevel/   @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers

########## Vernacular ##########

/vernac/              @coq/vernac-maintainers

/vernac/metasyntax.*  @coq/parsing-maintainers

/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers
