Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/build-maintainers, @coq/ci-maintainers, @coq/windows-build-maintainers, @coq/nix-maintainers, @coq/bench-maintainers, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/kernel-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/pretyper-maintainers, @coq/stm-maintainers, @coq/plugin-tutorial-maintainers, @coq/lib-maintainers, @coq/coqide-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/stdlib-maintainers, @coq/typeclasses-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/number-maintainers, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @herbelin, @coq/dev-tools-maintainers

Avoid [merge_context_set sideff:true] in rewrite.ml
  tactics/rewrite.ml
Owners: @coq/tactics-maintainers

Use ComInductive.inductive_levels for record level computation
  test-suite/bugs/HoTT_coq_036.v
  test-suite/bugs/bug_6976.v
  test-suite/output/PrimitiveProjectionsAttribute_Records.out
  vernac/comInductive.ml
  vernac/comInductive.mli
  vernac/record.ml
Owners: @coq/vernac-maintainers

extract_levels: don't include the inductive itself
  vernac/comInductive.ml
Owners: @coq/vernac-maintainers

assert that interp_structure is never called as definitional class
  vernac/record.ml
Owners: @coq/vernac-maintainers

More direct implementation of Unset Minimization ToSet
  engine/univMinim.ml
Owners: @coq/universes-maintainers

[release] minimalistic changes for 8.18
  doc/sphinx/changes.rst
Owners: @coq/doc-maintainers

Changelog and test for #17789
  doc/changelog/04-tactics/17789-change-uniq.rst
  test-suite/bugs/bug_6714.v
Owners: none

Fix #[warnings] attribute in synterp phase
  test-suite/bugs/bug_17982.v
  vernac/synterp.ml
  vernac/synterp.mli
  vernac/vernacentries.ml
  vernac/vernacinterp.ml
Owners: @coq/vernac-maintainers

Tacred.ml, simpl: simplifying code by removing unsafe_reference_opt_value.
  pretyping/tacred.ml
  test-suite/success/simpl.v
Owners: @coq/pretyper-maintainers

Expose [Evarconv.unify] as an Ltac2 primitive.
  doc/changelog/06-Ltac2-language/17777-evarconv-and-transparent-state.rst
  doc/stdlib/index-list.html.template
  plugins/ltac2/tac2ffi.ml
  plugins/ltac2/tac2ffi.mli
  plugins/ltac2/tac2stdlib.ml
  plugins/ltac2/tac2tactics.ml
  plugins/ltac2/tac2tactics.mli
  tactics/tactics.ml
  tactics/tactics.mli
  test-suite/ltac2/std_tactics.v
  user-contrib/Ltac2/Ltac2.v
  user-contrib/Ltac2/TransparentState.v
  user-contrib/Ltac2/Unification.v
Owners: @coq/doc-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers

[release] minimalistic changes for 8.18
  doc/sphinx/changes.rst
Owners: @coq/doc-maintainers

Fix #[warnings] attribute in synterp phase
  test-suite/bugs/bug_17982.v
  vernac/synterp.ml
  vernac/synterp.mli
  vernac/vernacentries.ml
  vernac/vernacinterp.ml
Owners: @coq/vernac-maintainers

Move typed_vernac to its own file from vernacextend
  coqpp/coqpp_main.ml
  dev/ci/user-overlays/17818-SkySkimmer-vernactypes.sh
  dev/top_printers.ml
  plugins/funind/g_indfun.mlg
  vernac/synterp.ml
  vernac/synterp.mli
  vernac/vernacentries.ml
  vernac/vernacentries.mli
  vernac/vernacextend.ml
  vernac/vernacextend.mli
  vernac/vernacinterp.ml
  vernac/vernactypes.ml
  vernac/vernactypes.mli
Owners: @coq/parsing-maintainers, @coq/funind-maintainers, @coq/vernac-maintainers

Don't use invalid_argument in Rewrite.decomp_pointwise
  tactics/rewrite.ml
  test-suite/output/bug_11347.out
  test-suite/output/bug_11347.v
Owners: @coq/tactics-maintainers

`resolve_tc c` solves typeclasses appearing in `c`
  doc/changelog/04-tactics/13071-resolve-tc-in-term.rst
  doc/sphinx/addendum/type-classes.rst
  plugins/ltac/g_ltac.mlg
  plugins/ltac/pptactic.ml
  plugins/ltac/tacexpr.ml
  plugins/ltac/tacexpr.mli
  plugins/ltac/tacintern.ml
  plugins/ltac/tacinterp.ml
  plugins/ltac/tacsubst.ml
  plugins/ltac/tactic_debug.ml
  pretyping/typeclasses.mli
  tactics/class_tactics.ml
  tactics/class_tactics.mli
  test-suite/success/resolve_tc.v
Owners: @coq/doc-maintainers, @coq/ltac-maintainers, @coq/pretyper-maintainers, @coq/typeclasses-maintainers

Implement resolve_tc in Ltac2 instead of Ltac1
  doc/changelog/04-tactics/13071-resolve-tc-in-term.rst
  doc/sphinx/addendum/type-classes.rst
  plugins/ltac/g_ltac.mlg
  plugins/ltac/pptactic.ml
  plugins/ltac/tacexpr.ml
  plugins/ltac/tacexpr.mli
  plugins/ltac/tacintern.ml
  plugins/ltac/tacinterp.ml
  plugins/ltac/tacsubst.ml
  plugins/ltac/tactic_debug.ml
  plugins/ltac2/tac2stdlib.ml
  test-suite/success/resolve_tc.v
  user-contrib/Ltac2/Std.v
Owners: @coq/doc-maintainers, @coq/ltac-maintainers, @coq/ltac2-maintainers

Always declare internal schemes univ poly
  tactics/ind_tables.ml
  test-suite/bugs/bug_16330.v
  vernac/indschemes.ml
Owners: @coq/tactics-maintainers, @coq/vernac-maintainers

[coqdep] Option `-w` to adjust warnings.
  doc/changelog/09-cli-tools/17946-br-fix-coqdep-warn.rst
  lib/system.mli
  man/coqdep.1
  test-suite/misc/coqdep-require-filter-categories/stderr.ref
  test-suite/misc/external-deps/file1.notfound.deps
  test-suite/misc/external-deps/file2.notfound.deps
  tools/coqdep/coqdep.ml
  tools/coqdep/lib/args.ml
  tools/coqdep/lib/common.ml
  tools/coqdep/lib/loadpath.ml
  tools/coqdep/lib/warning.ml
  tools/coqdep/lib/warning.mli
Owners: @coq/lib-maintainers, @coq/doc-maintainers, @coq/build-maintainers

Generalize the URL for base repository in the bench script.
  dev/bench/bench.sh
Owners: @coq/bench-maintainers

Make changelog items uniformly without a period before the parenthesis.
  doc/sphinx/changes.rst
Owners: @coq/doc-maintainers

[release] bump version to 8.18.0
  tools/configure/configure.ml
Owners: @coq/build-maintainers

Make Uint63.of_pos_rec recursive on the actual argument (fix #17626).
  theories/Numbers/Cyclic/Int63/Uint63.v
Owners: @coq/number-maintainers

Add test for #16880
  test-suite/bugs/bug_16880.v
Owners: none

Fix handling of opaque primitive projections in Evarconv
  doc/changelog/04-tactics/17788-opaque-primitive-evarconv.rst
  pretyping/evarconv.ml
  test-suite/bugs/bug_17774.v
Owners: @coq/pretyper-maintainers

Clean up a bit more in `Z.euclidean_division_equations_cleanup`
  doc/changelog/04-tactics/17984-zify-cleanup-more.rst
  theories/omega/PreOmega.v
Owners: @coq/stdlib-maintainers

Add more tests for `nia`
  test-suite/success/Nia.v
Owners: none

Revert "test-suite: coqchk: Pass `-bytecode-compiler yes`"
  test-suite/Makefile
Owners: @coq/test-suite-maintainers

Edit commented out `nia` tests
  test-suite/success/Nia.v
Owners: none

Set -bytecode-compiler yes for nia test
  test-suite/success/Nia.v
Owners: none

[test-suite] Edit proof of Z_rem_mul_r
  test-suite/success/Nia.v
Owners: none

test-suite: coqchk: Pass `-bytecode-compiler yes`
  test-suite/Makefile
Owners: @coq/test-suite-maintainers

Make all Invalid_argument critical (not just `equal: functional value`)
  lib/cErrors.ml
Owners: @coq/lib-maintainers

[release] script to publish opam packages
  dev/tools/opam-publish.sh
Owners: @coq/dev-tools-maintainers

Fix name generation in `destruct bla as [_ _0]` when name mangling is on
  tactics/tactics.ml
  test-suite/bugs/bug_17994.v
Owners: @coq/tactics-maintainers

deprecate Ndigits, Ndist
  doc/changelog/11-standard-library/17732-deprecate-Ndigits.rst
  test-suite/micromega/bug_14054.v
  theories/NArith/Ndec.v
  theories/NArith/Ndigits.v
  theories/NArith/Ndist.v
Owners: @coq/micromega-maintainers, @coq/number-maintainers

deprecate Numbers.NaryFunctions
  doc/changelog/11-standard-library/18026-deprecate-NaryFunc.rst
  theories/Numbers/NaryFunctions.v
Owners: @coq/number-maintainers

move ZModulo to test suite
  doc/stdlib/index-list.html.template
  test-suite/success/ZModulo.v
Owners: @coq/doc-maintainers

add changelog entry
  doc/changelog/11-standard-library/17258-remove-Zmodulo.rst
Owners: none

remove Zdigits
  doc/changelog/11-standard-library/18025-remove-Zdigits.rst
  doc/stdlib/index-list.html.template
  theories/ZArith/Zdigits.v
Owners: @coq/doc-maintainers, @coq/number-maintainers

deprecate ByteVector
  doc/changelog/11-standard-library/18022-deprecate-ByteVector.rst
  theories/Strings/ByteVector.v
Owners: @coq/stdlib-maintainers

.github/CODEOWNERS:

# This file associates maintainer teams to each component.
# See CONTRIBUTING.md

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers

########## Build system ##########

/Makefile                       @coq/build-maintainers
/dev/tools/make_git_revision.sh @coq/build-maintainers

/configure                      @coq/build-maintainers
/tools/configure/*              @coq/build-maintainers

/tools/coqdep/                  @coq/build-maintainers

/boot/                          @coq/build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/dev/lint-*.sh       @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/.github/workflows   @coq/ci-maintainers
/dev/ci/platform/    @coq/windows-build-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/bench/            @coq/bench-maintainers

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst
/dev/doc/changes.md
# Trick to avoid getting review requests
# each time someone modifies the changelog

/dev/doc/build-system.dune.md @coq/build-maintainers
/dev/doc/critical-bugs        @coq/kernel-maintainers
/dev/doc/econstr.md           @coq/engine-maintainers
/dev/doc/proof-engine.md      @coq/engine-maintainers
/dev/doc/release-process.md   @coq/contributing-process-maintainers
/dev/doc/shield-icon.png      @coq/contributing-process-maintainers
/dev/doc/SProp.md             @coq/universes-maintainers
/dev/doc/style.txt            @coq/contributing-process-maintainers
/dev/doc/unification.txt      @coq/pretyper-maintainers
/dev/doc/universes.md         @coq/universes-maintainers
/dev/doc/xml-protocol         @coq/stm-maintainers

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/engine/          @coq/engine-maintainers

/engine/univ*     @coq/universes-maintainers
/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/kernel/          @coq/kernel-maintainers

/kernel/byterun/  @coq/vm-native-maintainers
/kernel/native*   @coq/vm-native-maintainers
/kernel/vm*       @coq/vm-native-maintainers
/kernel/vconv.*   @coq/vm-native-maintainers
/kernel/genOpcodefiles.* @coq/vm-native-maintainers

/kernel/sorts.*   @coq/universes-maintainers
/kernel/uGraph.*  @coq/universes-maintainers
/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/gramlib/         @coq/parsing-maintainers
/parsing/         @coq/parsing-maintainers

########## Standard library and plugins ##########

/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers

/plugins/btauto/       @coq/btauto-maintainers
/theories/btauto/      @coq/btauto-maintainers

/plugins/cc/           @coq/cc-maintainers
/theories/cc/          @coq/cc-maintainers

/plugins/derive/       @coq/derive-maintainers
/theories/derive/      @coq/derive-maintainers

/plugins/extraction/   @coq/extraction-maintainers
/theories/extraction/  @coq/extraction-maintainers

/plugins/firstorder/   @coq/firstorder-maintainers
/theories/firstorder/  @coq/firstorder-maintainers

/plugins/funind/       @coq/funind-maintainers
/theories/funind/      @coq/funind-maintainers

/plugins/ltac/         @coq/ltac-maintainers
/theories/ltac/        @coq/ltac-maintainers

/plugins/micromega/    @coq/micromega-maintainers
/theories/micromega/   @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/        @coq/nsatz-maintainers
/theories/nsatz/       @coq/nsatz-maintainers

/plugins/ring/  @coq/ring-maintainers
/theories/setoid_ring/ @coq/ring-maintainers

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/theories/ssrmatching/ @coq/ssreflect-maintainers

/plugins/ssr/          @coq/ssreflect-maintainers
/theories/ssr/         @coq/ssreflect-maintainers

/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @coq/rtauto-maintainers
/theories/rtauto/      @coq/rtauto-maintainers

/plugins/ltac2/        @coq/ltac2-maintainers
/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/pretyping/             @coq/pretyper-maintainers

/pretyping/vnorm.*      @coq/vm-native-maintainers
/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/proofs/          @coq/engine-maintainers

########## STM ##########

/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/tactics/         @coq/tactics-maintainers

/tactics/class_tactics.* @coq/typeclasses-maintainers

########## Number ##########

/interp/numTok.*                     @coq/number-maintainers
/kernel/float64*                     @coq/number-maintainers
/kernel/uint63*                      @coq/number-maintainers
/plugins/syntax/g_number_string.mlg  @coq/number-maintainers
/plugins/syntax/number.ml            @coq/number-maintainers
/user-contrib/Ltac2/Int.v            @coq/number-maintainers
/test-suite/output/FloatExtraction*  @coq/number-maintainers
/test-suite/output/*Number*          @coq/number-maintainers
/test-suite/primitive/float/         @coq/number-maintainers
/test-suite/primitive/sint63/        @coq/number-maintainers
/test-suite/primitive/uint63/        @coq/number-maintainers
/theories/Init/Decimal.v             @coq/number-maintainers
/theories/Init/Hexadecimal.v         @coq/number-maintainers
/theories/Init/Nat.v                 @coq/number-maintainers
/theories/Init/Number.v              @coq/number-maintainers
/theories/*Arith/                    @coq/number-maintainers
/theories/Numbers/                   @coq/number-maintainers
/theories/Floats/                    @coq/number-maintainers
/theories/extraction/Extr*Nat*       @coq/number-maintainers
/theories/extraction/Extr*Z*         @coq/number-maintainers
/theories/extraction/ExtrOCamlFloats.v  @coq/number-maintainers
/theories/extraction/ExtrOCamlInt*   @coq/number-maintainers

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/toplevel/   @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers
/sysinit/    @coq/toplevel-maintainers

########## Vernacular ##########

/vernac/              @coq/vernac-maintainers

/vernac/metasyntax.*  @coq/parsing-maintainers

/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers
