Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/build-maintainers, @coq/ci-maintainers, @coq/windows-build-maintainers, @coq/nix-maintainers, @coq/bench-maintainers, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/kernel-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/pretyper-maintainers, @coq/stm-maintainers, @coq/plugin-tutorial-maintainers, @coq/lib-maintainers, @coq/coqide-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/stdlib-maintainers, @coq/typeclasses-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/number-maintainers, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @herbelin, @coq/dev-tools-maintainers

.github/CODEOWNERS:

# This file associates maintainer teams to each component.
# See CONTRIBUTING.md

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers

########## Build system ##########

/Makefile                       @coq/build-maintainers
/dev/tools/make_git_revision.sh @coq/build-maintainers

/configure                      @coq/build-maintainers
/tools/configure/*              @coq/build-maintainers

/tools/coqdep/                  @coq/build-maintainers

/boot/                          @coq/build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/dev/lint-*.sh       @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/.github/workflows   @coq/ci-maintainers
/dev/ci/platform/    @coq/windows-build-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/bench/            @coq/bench-maintainers

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst
/dev/doc/changes.md
# Trick to avoid getting review requests
# each time someone modifies the changelog

/dev/doc/build-system.dune.md @coq/build-maintainers
/dev/doc/critical-bugs        @coq/kernel-maintainers
/dev/doc/econstr.md           @coq/engine-maintainers
/dev/doc/proof-engine.md      @coq/engine-maintainers
/dev/doc/release-process.md   @coq/contributing-process-maintainers
/dev/doc/shield-icon.png      @coq/contributing-process-maintainers
/dev/doc/SProp.md             @coq/universes-maintainers
/dev/doc/style.txt            @coq/contributing-process-maintainers
/dev/doc/unification.txt      @coq/pretyper-maintainers
/dev/doc/universes.md         @coq/universes-maintainers
/dev/doc/xml-protocol         @coq/stm-maintainers

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/engine/          @coq/engine-maintainers

/engine/univ*     @coq/universes-maintainers
/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/kernel/          @coq/kernel-maintainers

/kernel/byterun/  @coq/vm-native-maintainers
/kernel/native*   @coq/vm-native-maintainers
/kernel/vm*       @coq/vm-native-maintainers
/kernel/vconv.*   @coq/vm-native-maintainers
/kernel/genOpcodefiles.* @coq/vm-native-maintainers

/kernel/sorts.*   @coq/universes-maintainers
/kernel/uGraph.*  @coq/universes-maintainers
/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/gramlib/         @coq/parsing-maintainers
/parsing/         @coq/parsing-maintainers

########## Standard library and plugins ##########

/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers

/plugins/btauto/       @coq/btauto-maintainers
/theories/btauto/      @coq/btauto-maintainers

/plugins/cc/           @coq/cc-maintainers
/theories/cc/          @coq/cc-maintainers

/plugins/derive/       @coq/derive-maintainers
/theories/derive/      @coq/derive-maintainers

/plugins/extraction/   @coq/extraction-maintainers
/theories/extraction/  @coq/extraction-maintainers

/plugins/firstorder/   @coq/firstorder-maintainers
/theories/firstorder/  @coq/firstorder-maintainers

/plugins/funind/       @coq/funind-maintainers
/theories/funind/      @coq/funind-maintainers

/plugins/ltac/         @coq/ltac-maintainers
/theories/ltac/        @coq/ltac-maintainers

/plugins/micromega/    @coq/micromega-maintainers
/theories/micromega/   @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/        @coq/nsatz-maintainers
/theories/nsatz/       @coq/nsatz-maintainers

/plugins/ring/  @coq/ring-maintainers
/theories/setoid_ring/ @coq/ring-maintainers

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/theories/ssrmatching/ @coq/ssreflect-maintainers

/plugins/ssr/          @coq/ssreflect-maintainers
/theories/ssr/         @coq/ssreflect-maintainers

/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @coq/rtauto-maintainers
/theories/rtauto/      @coq/rtauto-maintainers

/plugins/ltac2/        @coq/ltac2-maintainers
/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/pretyping/             @coq/pretyper-maintainers

/pretyping/vnorm.*      @coq/vm-native-maintainers
/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/proofs/          @coq/engine-maintainers

########## STM ##########

/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/tactics/         @coq/tactics-maintainers

/tactics/class_tactics.* @coq/typeclasses-maintainers

########## Number ##########

/interp/numTok.*                     @coq/number-maintainers
/kernel/float64*                     @coq/number-maintainers
/kernel/uint63*                      @coq/number-maintainers
/plugins/syntax/g_number_string.mlg  @coq/number-maintainers
/plugins/syntax/number.ml            @coq/number-maintainers
/user-contrib/Ltac2/Int.v            @coq/number-maintainers
/test-suite/output/FloatExtraction*  @coq/number-maintainers
/test-suite/output/*Number*          @coq/number-maintainers
/test-suite/primitive/float/         @coq/number-maintainers
/test-suite/primitive/sint63/        @coq/number-maintainers
/test-suite/primitive/uint63/        @coq/number-maintainers
/theories/Init/Decimal.v             @coq/number-maintainers
/theories/Init/Hexadecimal.v         @coq/number-maintainers
/theories/Init/Nat.v                 @coq/number-maintainers
/theories/Init/Number.v              @coq/number-maintainers
/theories/*Arith/                    @coq/number-maintainers
/theories/Numbers/                   @coq/number-maintainers
/theories/Floats/                    @coq/number-maintainers
/theories/extraction/Extr*Nat*       @coq/number-maintainers
/theories/extraction/Extr*Z*         @coq/number-maintainers
/theories/extraction/ExtrOCamlFloats.v  @coq/number-maintainers
/theories/extraction/ExtrOCamlInt*   @coq/number-maintainers

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/toplevel/   @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers
/sysinit/    @coq/toplevel-maintainers

########## Vernacular ##########

/vernac/              @coq/vernac-maintainers

/vernac/metasyntax.*  @coq/parsing-maintainers

/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers

Exporting version of pr_constr_expr/pr_lconstr_expr ensured not to be overriden.
  printing/ppconstr.ml
  printing/ppconstr.mli
Owners: @coq/extensible-syntax-maintainers

test-suite: Add support for customizing coqchk args
  test-suite/Makefile
Owners: @coq/test-suite-maintainers

[ci] Add coq-http
  .gitlab-ci.yml
  Makefile.ci
  dev/ci/ci-async_test.sh
  dev/ci/ci-basic-overlay.sh
  dev/ci/ci-ceres.sh
  dev/ci/ci-http.sh
  dev/ci/ci-itree.sh
  dev/ci/ci-itree_io.sh
  dev/ci/ci-json.sh
  dev/ci/ci-parsec.sh
  dev/ci/ci-quickchick_test.sh
Owners: @coq/ci-maintainers

Don't use boolean in interp_search_restriction, and expose it
  dev/ci/user-overlays/17928-SkySkimmer-search-restr.sh
  vernac/comSearch.ml
  vernac/comSearch.mli
  vernac/g_vernac.mli
  vernac/search.ml
  vernac/search.mli
  vernac/vernacexpr.mli
Owners: @coq/vernac-maintainers

[CI] Add new dependency for VsCoq
  .gitlab-ci.yml
  dev/ci/docker/edge_ubuntu/Dockerfile
Owners: @coq/ci-maintainers

coqdep: Windows: fix normalisation of paths containing \
  tools/coqdep/lib/fl.ml
Owners: @coq/build-maintainers

Statically enforce that hint paths are single references for instances.
  tactics/class_tactics.ml
  tactics/hints.ml
  tactics/hints.mli
  vernac/classes.ml
  vernac/comHints.ml
Owners: @coq/typeclasses-maintainers, @coq/tactics-maintainers, @coq/vernac-maintainers

Add overlays.
  dev/ci/user-overlays/17955-ppedrot-hint-cut-static-globref.sh
Owners: none

Delayed substitution in VM normalization of telescopes.
  pretyping/vnorm.ml
Owners: @coq/vm-native-maintainers

Small code factorization in simpl.
  pretyping/tacred.ml
Owners: @coq/pretyper-maintainers

Stronger invariant on Tacred.contract_cofix signature.
  pretyping/tacred.ml
Owners: @coq/pretyper-maintainers

Make TC observers summary safe
  test-suite/misc/tc_declaration_observer/observer.ml
  vernac/classes.ml
  vernac/classes.mli
Owners: @coq/typeclasses-maintainers

Fast path in strong simpl reduction for case / proj.
  pretyping/tacred.ml
Owners: @coq/pretyper-maintainers

Track coq-master branch of VsCoq
  dev/ci/ci-basic-overlay.sh
Owners: @coq/ci-maintainers

Fix "inconsistent assumptions" error message
  vernac/library.ml
Owners: @coq/vernac-maintainers

More positive messages in CoqIde's proof view
  ide/coqide/wg_ProofView.ml
Owners: @coq/coqide-maintainers

Statically eta-expand VERNAC actions in coqpp.
  coqpp/coqpp_main.ml
  vernac/vernacextend.mli
Owners: @coq/parsing-maintainers, @coq/vernac-maintainers

Don't specialize dep hyps in zify
  doc/changelog/04-tactics/17935-zify-no-dep-specialize.rst
  test-suite/bugs/bug_17936.v
  theories/Compat/Coq818.v
  theories/omega/PreOmega.v
Owners: @coq/compat-maintainers, @coq/stdlib-maintainers

Add overlay for fiat-crypto/rupicola
  dev/ci/user-overlays/17937-JasonGross-zify-no-dep-specialize.sh
Owners: none

Adding changelog for #17887
  doc/changelog/04-tactics/17887-master+fixes17417-hint-paths-modes-redundancies.rst
Owners: none

Fixes #17417: normalize hint modes and disjunctive paths.
  tactics/hints.ml
  test-suite/output/HintLocality.out
Owners: @coq/tactics-maintainers

Rebind `unify` to Evarconv
  tactics/tactics.ml
Owners: @coq/tactics-maintainers

Fixes #17985: Error on level of notation variable set more than once.
  test-suite/output/wish_17985.out
  test-suite/output/wish_17985.v
  vernac/metasyntax.ml
Owners: @coq/parsing-maintainers

Adding overlay for #17988
  doc/changelog/03-notations/17988-master+fix17963-search-anomaly-with-evars.rst
Owners: none

Update ssrbool.v
  theories/ssr/ssrbool.v
Owners: @coq/ssreflect-maintainers

Update theories/ssr/ssrbool.v
  theories/ssr/ssrbool.v
Owners: @coq/ssreflect-maintainers

Fixes #17963: missing sigma when printing result of Search.
  test-suite/output/Search.out
  test-suite/output/Search.v
  vernac/comSearch.ml
  vernac/search.ml
  vernac/search.mli
Owners: @coq/vernac-maintainers

Adding changelog for #17987
  doc/changelog/08-vernac-commands-and-options/17987-master+fix17963-search-anomaly-with-evars.rst
Owners: none

Overlays
  dev/ci/user-overlays/17987-herbelin-master+fix17963-search-anomaly-with-evars.sh
Owners: none

Update doc/sphinx/proof-engine/ltac.rst
  doc/sphinx/proof-engine/ltac.rst
Owners: @coq/doc-maintainers

Advertise Ltac2 in Ltac chapter.
  doc/sphinx/proof-engine/ltac.rst
Owners: @coq/doc-maintainers

Make TC observers summary safe
  test-suite/misc/tc_declaration_observer/observer.ml
  vernac/classes.ml
  vernac/classes.mli
Owners: @coq/typeclasses-maintainers

Fix "inconsistent assumptions" error message
  vernac/library.ml
Owners: @coq/vernac-maintainers

Statically eta-expand VERNAC actions in coqpp.
  coqpp/coqpp_main.ml
  vernac/vernacextend.mli
Owners: @coq/parsing-maintainers, @coq/vernac-maintainers

coqdep: Windows: fix normalisation of paths containing \
  tools/coqdep/lib/fl.ml
Owners: @coq/build-maintainers

Replace tab with space in Coq.Lists.List
  theories/Lists/List.v
Owners: @coq/stdlib-maintainers

Add some minor results about single-step behavior of nth_error
  doc/changelog/11-standard-library/17998-nth-error.rst
  theories/Lists/List.v
Owners: @coq/stdlib-maintainers

Adding a category "extraction" to changelog.
  doc/changelog/13-extraction/00000-title.rst
  doc/changelog/13-extraction/17889-master+fix17817-extraction-prop-elim-error-not-ocaml-specific.rst
  doc/changelog/14-misc/00000-title.rst
Owners: none

Factorize normalization to constructor in Tacred.
  pretyping/tacred.ml
Owners: @coq/pretyper-maintainers

Stop relying on fragile exception handling in simpl internals.
  pretyping/tacred.ml
Owners: @coq/pretyper-maintainers
