Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/legacy-build-maintainers, @coq/build-maintainers, @coq/ci-maintainers, @coq/windows-build-maintainers, @coq/nix-maintainers, @ghost, @coq/bench-maintainers, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/kernel-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/pretyper-maintainers, @coq/stm-maintainers, @coq/plugin-tutorial-maintainers, @coq/lib-maintainers, @coq/coqide-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/stdlib-maintainers, @coq/typeclasses-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/number-maintainers, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @herbelin, @coq/dev-tools-maintainers

.github/CODEOWNERS:

# This file associates maintainer teams to each component.
# See CONTRIBUTING.md

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers

########## Build system ##########

/Makefile*                      @coq/legacy-build-maintainers
/dev/tools/make_git_revision.sh @coq/legacy-build-maintainers

/configure              @coq/legacy-build-maintainers @coq/build-maintainers
/tools/configure/*      @coq/legacy-build-maintainers @coq/build-maintainers

/boot/               @coq/build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/dev/lint-*.sh       @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/.github/workflows   @coq/ci-maintainers
/dev/ci/platform/    @coq/windows-build-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh @ghost
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/bench/            @coq/bench-maintainers

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/Makefile.doc          @coq/doc-maintainers

/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst @ghost
/dev/doc/changes.md    @ghost
# Trick to avoid getting review requests
# each time someone modifies the changelog

/dev/doc/build-system*.txt    @coq/legacy-build-maintainers
/dev/doc/build-system.dune.md @coq/build-maintainers
/dev/doc/critical-bugs        @coq/kernel-maintainers
/dev/doc/econstr.md           @coq/engine-maintainers
/dev/doc/proof-engine.md      @coq/engine-maintainers
/dev/doc/release-process.md   @coq/contributing-process-maintainers
/dev/doc/shield-icon.png      @coq/contributing-process-maintainers
/dev/doc/SProp.md             @coq/universes-maintainers
/dev/doc/style.txt            @coq/contributing-process-maintainers
/dev/doc/unification.txt      @coq/pretyper-maintainers
/dev/doc/universes.md         @coq/universes-maintainers
/dev/doc/xml-protocol         @coq/stm-maintainers

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/core/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/core/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/core/engine/          @coq/engine-maintainers

/core/engine/univ*     @coq/universes-maintainers
/core/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/core/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/core/kernel/          @coq/kernel-maintainers

/core/kernel/byterun/  @coq/vm-native-maintainers
/core/kernel/native*   @coq/vm-native-maintainers
/core/kernel/vm*       @coq/vm-native-maintainers
/core/kernel/vconv.*   @coq/vm-native-maintainers
/core/kernel/genOpcodefiles.* @coq/vm-native-maintainers

/core/kernel/sorts.*   @coq/universes-maintainers
/core/kernel/uGraph.*  @coq/universes-maintainers
/core/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/core/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/core/gramlib/         @coq/parsing-maintainers
/core/parsing/         @coq/parsing-maintainers

########## Standard library and plugins ##########

/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers

/plugins/btauto/       @coq/btauto-maintainers
/theories/btauto/      @coq/btauto-maintainers

/plugins/cc/           @coq/cc-maintainers
/theories/cc/          @coq/cc-maintainers

/plugins/derive/       @coq/derive-maintainers
/theories/derive/      @coq/derive-maintainers

/plugins/extraction/   @coq/extraction-maintainers
/theories/extraction/  @coq/extraction-maintainers

/plugins/firstorder/   @coq/firstorder-maintainers
/theories/firstorder/  @coq/firstorder-maintainers

/plugins/funind/       @coq/funind-maintainers
/theories/funind/      @coq/funind-maintainers

/plugins/ltac/         @coq/ltac-maintainers
/theories/ltac/        @coq/ltac-maintainers

/plugins/micromega/    @coq/micromega-maintainers
/theories/micromega/   @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/        @coq/nsatz-maintainers
/theories/nsatz/       @coq/nsatz-maintainers

/plugins/ring/  @coq/ring-maintainers
/theories/setoid_ring/ @coq/ring-maintainers

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/theories/ssrmatching/ @coq/ssreflect-maintainers

/plugins/ssr/          @coq/ssreflect-maintainers
/theories/ssr/         @coq/ssreflect-maintainers

/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @coq/rtauto-maintainers
/theories/rtauto/      @coq/rtauto-maintainers

/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/core/pretyping/             @coq/pretyper-maintainers

/core/pretyping/vnorm.*      @coq/vm-native-maintainers
/core/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/core/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/core/proofs/          @coq/engine-maintainers

########## STM ##########

/core/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/core/tactics/         @coq/tactics-maintainers

/core/tactics/class_tactics.* @coq/typeclasses-maintainers
/test-suite/typeclasses/ @coq/typeclasses-maintainers

########## Number ##########

/interp/numTok.*                     @coq/number-maintainers
/kernel/float64*                     @coq/number-maintainers
/kernel/uint63*                      @coq/number-maintainers
/plugins/syntax/g_number_string.mlg  @coq/number-maintainers
/plugins/syntax/int63_syntax_plugin.mllib  @coq/number-maintainers
/plugins/syntax/number.ml            @coq/number-maintainers
/plugins/syntax/number_string_notation_plugin.mllib  @coq/number-maintainers
/user-contrib/Ltac2/Int.v            @coq/number-maintainers
/test-suite/output/FloatExtraction*  @coq/number-maintainers
/test-suite/output/*Number*          @coq/number-maintainers
/test-suite/primitive/float/         @coq/number-maintainers
/test-suite/primitive/sint63/        @coq/number-maintainers
/test-suite/primitive/uint63/        @coq/number-maintainers
/theories/Init/Decimal.v             @coq/number-maintainers
/theories/Init/Hexadecimal.v         @coq/number-maintainers
/theories/Init/Nat.v                 @coq/number-maintainers
/theories/Init/Number.v              @coq/number-maintainers
/theories/*Arith/                    @coq/number-maintainers
/theories/Numbers/                   @coq/number-maintainers
/theories/Floats/                    @coq/number-maintainers
/theories/extraction/Extr*Nat*       @coq/number-maintainers
/theories/extraction/Extr*Z*         @coq/number-maintainers
/theories/extraction/ExtrOCamlFloats.v  @coq/number-maintainers
/theories/extraction/ExtrOCamlInt*   @coq/number-maintainers

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coqdep*  @coq/legacy-build-maintainers @coq/build-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/core/toplevel/   @coq/toplevel-maintainers
/core/sysinit/    @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers

########## Vernacular ##########

/core/vernac/              @coq/vernac-maintainers

/core/vernac/metasyntax.*  @coq/parsing-maintainers

/core/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers

Documenting non-dep implicit explicitation syntax (n:=id).
  doc/sphinx/language/core/assumptions.rst
  doc/sphinx/language/extensions/implicit-arguments.rst
  doc/tools/docgram/fullGrammar
  doc/tools/docgram/orderedGrammar
Owners: @coq/doc-maintainers

Implicit arguments: add support for giving implicit arguments by position.
  interp/constrexpr.ml
  interp/constrexpr_ops.ml
  interp/constrextern.ml
  interp/constrintern.ml
  interp/impargs.ml
  interp/impargs.mli
  parsing/g_constr.mlg
  printing/ppconstr.ml
  test-suite/success/implicit.v
  vernac/comArguments.ml
  vernac/comProgramFixpoint.ml
  vernac/prettyp.ml
Owners: none

Termops: adding a function to return occurrences of rels and short qualids.
  engine/termops.ml
  engine/termops.mli
Owners: none

CList: Adding exists_i.
  clib/cList.ml
  clib/cList.mli
Owners: none

Preparing for ability to assign non-implicit arguments by name or position.
  interp/constrintern.ml
  interp/impargs.ml
  interp/impargs.mli
  plugins/syntax/number.ml
  vernac/comProgramFixpoint.ml
  vernac/prettyp.ml
Owners: @coq/number-maintainers

Adding change log for #11099.
  doc/changelog/02-specification-language/11099-master+instantiate-non-dependent-arguments-by-position.rst
Owners: @ghost

*** END PR #11099 ***
  DEPEND-ON-PR11099
Owners: none

Using relative positions in the computation of dependencies for implicit args.
  interp/constrextern.ml
  interp/constrintern.ml
  interp/impargs.ml
Owners: none

Moving functions working on the structure of implicit arguments in impargs.ml.
  interp/constrintern.ml
  interp/impargs.ml
  interp/impargs.mli
Owners: none

*** END PR #11141 ***
  DEPEND-ON-PR11141
Owners: none

*** END PR #10202 ***
  DEPEND-ON-PR10202
Owners: none

*** END PR #11143 ***
  DEPEND-ON-PR11143
Owners: none

Accepting to give any argument of a constant by name or nondep position.
  interp/constrintern.ml
  interp/impargs.ml
  interp/impargs.mli
  test-suite/success/implicit.v
  vernac/prettyp.ml
Owners: none

*** END PR #11142 ***
  DEPEND-ON-PR11142
Owners: none

*** END PR #13443 ***
  DEPEND-ON-PR13443
Owners: none

*** END PR #11132 ***
  DEPEND-ON-PR11132
Owners: none

*** END PR #11098 ***
  DEPEND-ON-PR11098
Owners: none

Apply implicit defensive printing mode also to manual implicit arguments.
  interp/constrintern.ml
  interp/impargs.ml
  interp/impargs.mli
  test-suite/output/Cases.out
  test-suite/output/Implicit.out
  test-suite/output/Implicit.v
  test-suite/output/Match_subterm.out
  test-suite/output/Projections.out
  test-suite/output/ltac.out
  vernac/comArguments.ml
  vernac/comProgramFixpoint.ml
  vernac/prettyp.ml
Owners: none

*** END PR #11135 ***
  DEPEND-ON-PR11135
Owners: none

Enforce impl. arguments for block of inductive types to match block structure.
  vernac/record.ml
Owners: none

Impargs: uniform indentation.
  interp/impargs.ml
Owners: none

Adding a period to an error message
  interp/implicit_quantifiers.ml
Owners: none

Removing useless implicit_position function.
  interp/impargs.ml
  interp/impargs.mli
Owners: none

Impargs: putting next to each other functions working on the same data type.
  interp/impargs.ml
Owners: none

Remove unused enriching flag.
  interp/impargs.ml
  interp/impargs.mli
Owners: none

Give manual impl. arguments directly at the time impargs for a decl are computed.
  interp/impargs.ml
  interp/impargs.mli
  vernac/classes.ml
  vernac/comAssumption.ml
  vernac/declare.ml
  vernac/declare.mli
  vernac/declareInd.ml
  vernac/record.ml
Owners: none

Removing now useless type declarations.
  interp/impargs.mli
Owners: none

Fix combining manual (Experimental changes around impl for Program).
  vernac/comProgramFixpoint.ml
Owners: none

All implicits at declare_time
  vernac/record.ml
Owners: none

declare_manual_implicits not needed anymore
  interp/impargs.ml
  interp/impargs.mli
Owners: none

Tell to use the name of the class also for the signature of manual implicit arguments.
  vernac/record.ml
Owners: none

When setting manual arguments: use the maximal check also for anonymous arguments.
  interp/impargs.ml
Owners: none

Slight shortcut in the computation of auto+manual implicit arguments.
  interp/impargs.ml
Owners: none

set_implicit_arguments: always take manually given name.
  interp/impargs.ml
Owners: none

Miscellaneous cosmetic changes (typos, layout, alpha-renaming, ...)
  interp/impargs.ml
Owners: none

Cleanup of the entry point for setting manual implicit arguments.
  interp/impargs.ml
  interp/impargs.mli
  plugins/ssr/ssrvernac.mlg
  vernac/comArguments.ml
Owners: @coq/ssreflect-maintainers

Comment in constrintern.ml.
  interp/constrintern.ml
Owners: none

Abstracting a bit more the API of impargs.ml.
  interp/constrintern.ml
  interp/impargs.ml
  interp/impargs.mli
  plugins/syntax/number.ml
  vernac/comProgramFixpoint.ml
  vernac/prettyp.ml
Owners: @coq/number-maintainers

Renaming set_manual_implicits into merge_auto_manual_implicits.
  interp/impargs.ml
Owners: none

Full reworking of the structure of the implicit arguments object.
  interp/impargs.ml
Owners: none
