Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/legacy-build-maintainers, @coq/build-maintainers, @coq/ci-maintainers, @coq/windows-build-maintainers, @coq/nix-maintainers, @ghost, @coq/bench-maintainers, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/kernel-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/pretyper-maintainers, @coq/stm-maintainers, @coq/plugin-tutorial-maintainers, @coq/lib-maintainers, @coq/coqide-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/stdlib-maintainers, @coq/typeclasses-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/number-maintainers, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @herbelin, @coq/dev-tools-maintainers

.github/CODEOWNERS:

# This file associates maintainer teams to each component.
# See CONTRIBUTING.md

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers

########## Build system ##########

/Makefile*                      @coq/legacy-build-maintainers
/dev/tools/make_git_revision.sh @coq/legacy-build-maintainers

/configure              @coq/legacy-build-maintainers @coq/build-maintainers
/tools/configure/*      @coq/legacy-build-maintainers @coq/build-maintainers

/boot/               @coq/build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/dev/lint-*.sh       @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/.github/workflows   @coq/ci-maintainers
/dev/ci/platform/    @coq/windows-build-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh @ghost
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/bench/            @coq/bench-maintainers

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/Makefile.doc          @coq/doc-maintainers

/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst @ghost
/dev/doc/changes.md    @ghost
# Trick to avoid getting review requests
# each time someone modifies the changelog

/dev/doc/build-system*.txt    @coq/legacy-build-maintainers
/dev/doc/build-system.dune.md @coq/build-maintainers
/dev/doc/critical-bugs        @coq/kernel-maintainers
/dev/doc/econstr.md           @coq/engine-maintainers
/dev/doc/proof-engine.md      @coq/engine-maintainers
/dev/doc/release-process.md   @coq/contributing-process-maintainers
/dev/doc/shield-icon.png      @coq/contributing-process-maintainers
/dev/doc/SProp.md             @coq/universes-maintainers
/dev/doc/style.txt            @coq/contributing-process-maintainers
/dev/doc/unification.txt      @coq/pretyper-maintainers
/dev/doc/universes.md         @coq/universes-maintainers
/dev/doc/xml-protocol         @coq/stm-maintainers

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/core/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/core/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/core/engine/          @coq/engine-maintainers

/core/engine/univ*     @coq/universes-maintainers
/core/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/core/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/core/kernel/          @coq/kernel-maintainers

/core/kernel/byterun/  @coq/vm-native-maintainers
/core/kernel/native*   @coq/vm-native-maintainers
/core/kernel/vm*       @coq/vm-native-maintainers
/core/kernel/vconv.*   @coq/vm-native-maintainers
/core/kernel/genOpcodefiles.* @coq/vm-native-maintainers

/core/kernel/sorts.*   @coq/universes-maintainers
/core/kernel/uGraph.*  @coq/universes-maintainers
/core/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/core/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/core/gramlib/         @coq/parsing-maintainers
/core/parsing/         @coq/parsing-maintainers

########## Standard library and plugins ##########

/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers

/plugins/btauto/       @coq/btauto-maintainers
/theories/btauto/      @coq/btauto-maintainers

/plugins/cc/           @coq/cc-maintainers
/theories/cc/          @coq/cc-maintainers

/plugins/derive/       @coq/derive-maintainers
/theories/derive/      @coq/derive-maintainers

/plugins/extraction/   @coq/extraction-maintainers
/theories/extraction/  @coq/extraction-maintainers

/plugins/firstorder/   @coq/firstorder-maintainers
/theories/firstorder/  @coq/firstorder-maintainers

/plugins/funind/       @coq/funind-maintainers
/theories/funind/      @coq/funind-maintainers

/plugins/ltac/         @coq/ltac-maintainers
/theories/ltac/        @coq/ltac-maintainers

/plugins/micromega/    @coq/micromega-maintainers
/theories/micromega/   @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/        @coq/nsatz-maintainers
/theories/nsatz/       @coq/nsatz-maintainers

/plugins/ring/  @coq/ring-maintainers
/theories/setoid_ring/ @coq/ring-maintainers

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/theories/ssrmatching/ @coq/ssreflect-maintainers

/plugins/ssr/          @coq/ssreflect-maintainers
/theories/ssr/         @coq/ssreflect-maintainers

/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @coq/rtauto-maintainers
/theories/rtauto/      @coq/rtauto-maintainers

/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/core/pretyping/             @coq/pretyper-maintainers

/core/pretyping/vnorm.*      @coq/vm-native-maintainers
/core/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/core/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/core/proofs/          @coq/engine-maintainers

########## STM ##########

/core/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/core/tactics/         @coq/tactics-maintainers

/core/tactics/class_tactics.* @coq/typeclasses-maintainers
/test-suite/typeclasses/ @coq/typeclasses-maintainers

########## Number ##########

/interp/numTok.*                     @coq/number-maintainers
/kernel/float64*                     @coq/number-maintainers
/kernel/uint63*                      @coq/number-maintainers
/plugins/syntax/g_number_string.mlg  @coq/number-maintainers
/plugins/syntax/int63_syntax_plugin.mllib  @coq/number-maintainers
/plugins/syntax/number.ml            @coq/number-maintainers
/plugins/syntax/number_string_notation_plugin.mllib  @coq/number-maintainers
/user-contrib/Ltac2/Int.v            @coq/number-maintainers
/test-suite/output/FloatExtraction*  @coq/number-maintainers
/test-suite/output/*Number*          @coq/number-maintainers
/test-suite/primitive/float/         @coq/number-maintainers
/test-suite/primitive/sint63/        @coq/number-maintainers
/test-suite/primitive/uint63/        @coq/number-maintainers
/theories/Init/Decimal.v             @coq/number-maintainers
/theories/Init/Hexadecimal.v         @coq/number-maintainers
/theories/Init/Nat.v                 @coq/number-maintainers
/theories/Init/Number.v              @coq/number-maintainers
/theories/*Arith/                    @coq/number-maintainers
/theories/Numbers/                   @coq/number-maintainers
/theories/Floats/                    @coq/number-maintainers
/theories/extraction/Extr*Nat*       @coq/number-maintainers
/theories/extraction/Extr*Z*         @coq/number-maintainers
/theories/extraction/ExtrOCamlFloats.v  @coq/number-maintainers
/theories/extraction/ExtrOCamlInt*   @coq/number-maintainers

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coqdep*  @coq/legacy-build-maintainers @coq/build-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/core/toplevel/   @coq/toplevel-maintainers
/core/sysinit/    @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers

########## Vernacular ##########

/core/vernac/              @coq/vernac-maintainers

/core/vernac/metasyntax.*  @coq/parsing-maintainers

/core/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers

[ssr] flip goals order if setoids are used (fix #5706)
  plugins/ssr/ssrequality.ml
  test-suite/bugs/closed/bug_5706.v
Owners: @coq/ssreflect-maintainers

Remove deprecated "Instance Generalized Output" flag
  doc/sphinx/addendum/type-classes.rst
  doc/sphinx/changes.rst
  plugins/ltac/rewrite.ml
  vernac/classes.ml
  vernac/classes.mli
Owners: @coq/doc-maintainers, @coq/ltac-maintainers

Remove abstraction_kind field of CGeneralization
  interp/constrexpr.ml
  interp/constrexpr_ops.ml
  interp/constrintern.ml
  parsing/g_constr.mlg
  printing/ppconstr.ml
  printing/proof_diffs.ml
Owners: none

Reduce distracting extraneous scrolling
  ide/coqide/coq.ml
  ide/coqide/coqOps.ml
  ide/coqide/wg_ScriptView.ml
Owners: @coq/coqide-maintainers

Defer messages from tacinterp.ml
  plugins/ltac/tacinterp.ml
  plugins/ltac/tactic_debug.ml
Owners: @coq/ltac-maintainers

Patch up the call stack
  ide/coqide/idetop.ml
  ide/coqide/wg_Debugger.ml
  plugins/ltac/tacinterp.ml
  plugins/ltac/tactic_debug.ml
  plugins/ltac/tactic_debug.mli
Owners: @coq/coqide-maintainers, @coq/ltac-maintainers

Eliminate unneeded queue and timer for processing feedback messages
  ide/coqide/coqOps.ml
Owners: @coq/coqide-maintainers

Call stack data and GUI behavior
  ide/coqide/coqide.ml
  ide/coqide/coqide_ui.ml
  ide/coqide/idetop.ml
  ide/coqide/preferences.ml
  ide/coqide/preferences.mli
  ide/coqide/protocol/interface.ml
  ide/coqide/protocol/xmlprotocol.ml
  ide/coqide/session.ml
  ide/coqide/session.mli
  ide/coqide/wg_Debugger.ml
  ide/coqide/wg_Debugger.mli
  ide/coqide/wg_MessageView.mli
  plugins/ltac/tactic_debug.ml
  vernac/debugHook.ml
  vernac/debugHook.mli
Owners: @coq/coqide-maintainers, @coq/ltac-maintainers

Improve behavior when session is reset
  ide/coqide/coq.ml
  ide/coqide/coq.mli
  ide/coqide/coqOps.ml
  ide/coqide/coqide.ml
  ide/coqide/tags.ml
  ide/coqide/tags.mli
Owners: @coq/coqide-maintainers

Direct function keys to associated session in detached messages+debugger panels
  ide/coqide/coqide.ml
  ide/coqide/session.ml
  ide/coqide/session.mli
  ide/coqide/wg_Command.ml
  ide/coqide/wg_Command.mli
  ide/coqide/wg_Debugger.ml
  ide/coqide/wg_Debugger.mli
  ide/coqide/wg_MessageView.ml
  ide/coqide/wg_MessageView.mli
Owners: @coq/coqide-maintainers

Include the file's module name in Loc.t in coqc Server side code for managing breakpoints
  ide/coqide/idetop.ml
  kernel/names.ml
  kernel/names.mli
  lib/feedback.ml
  lib/loc.ml
  lib/loc.mli
  library/libnames.ml
  plugins/ltac/tacenv.ml
  plugins/ltac/tactic_debug.ml
  toplevel/ccompile.ml
  toplevel/vernac.ml
  toplevel/vernac.mli
  vernac/debugHook.ml
  vernac/debugHook.mli
  vernac/loadpath.ml
  vernac/loadpath.mli
  vernac/topfmt.ml
  vernac/vernacentries.ml
  vernac/vernacinterp.ml
Owners: @coq/coqide-maintainers, @coq/ltac-maintainers

Add db_vars operation to protocol
  dev/doc/xml-protocol.md
  ide/coqide/coq.ml
  ide/coqide/coq.mli
  ide/coqide/coqOps.ml
  ide/coqide/coqOps.mli
  ide/coqide/coqide.ml
  ide/coqide/idetop.ml
  ide/coqide/protocol/interface.ml
  ide/coqide/protocol/xmlprotocol.ml
  ide/coqide/protocol/xmlprotocol.mli
  ide/coqide/wg_Debugger.ml
  ide/coqide/wg_Debugger.mli
  plugins/ltac/pptactic.ml
  plugins/ltac/tactic_debug.ml
  vernac/debugHook.ml
  vernac/debugHook.mli
Owners: @coq/doc-maintainers, @coq/coqide-maintainers, @coq/ltac-maintainers

Fix when breakpoints can be set
  ide/coqide/coq.ml
  ide/coqide/coq.mli
  ide/coqide/coqide.ml
Owners: @coq/coqide-maintainers

Reduce distracting extraneous scrolling
  ide/coqide/coqOps.ml
Owners: @coq/coqide-maintainers

Use tree control for variables
  ide/coqide/wg_Debugger.ml
Owners: @coq/coqide-maintainers

Overlay for elpi
  dev/ci/user-overlays/14354-jfehrle-modname_in_loct.sh
Owners: @ghost

Limit amount of terminal output more effectively
  ide/coqide/wg_MessageView.ml
Owners: @coq/coqide-maintainers

Add basic vars GUI
  ide/coqide/coq.ml
  ide/coqide/coqOps.ml
  ide/coqide/coqide.ml
  ide/coqide/idetop.ml
  ide/coqide/ideutils.ml
  ide/coqide/ideutils.mli
  ide/coqide/session.ml
  ide/coqide/wg_Debugger.ml
  ide/coqide/wg_Debugger.mli
  ide/coqide/wg_Detachable.ml
  ide/coqide/wg_Detachable.mli
  ide/coqide/wg_MessageView.ml
  ide/coqide/wg_MessageView.mli
  plugins/ltac/tactic_debug.ml
Owners: @coq/coqide-maintainers, @coq/ltac-maintainers

Use a record for InFile
  ide/coqide/idetop.ml
  lib/feedback.ml
  lib/loc.ml
  lib/loc.mli
  plugins/ltac/tactic_debug.ml
  toplevel/vernac.ml
  vernac/topfmt.ml
  vernac/vernacinterp.ml
Owners: @coq/coqide-maintainers, @coq/ltac-maintainers

Tweak warning messages, remove Seq
  ide/coqide/idetop.ml
  vernac/debugHook.ml
Owners: @coq/coqide-maintainers

Initial bits, partly broken
  ide/coqide/session.ml
  ide/coqide/session.mli
  ide/coqide/wg_Debugger.ml
  ide/coqide/wg_Debugger.mli
Owners: @coq/coqide-maintainers

Add stub for db_stack call
  dev/doc/xml-protocol.md
  ide/coqide/coq.ml
  ide/coqide/coq.mli
  ide/coqide/coqOps.ml
  ide/coqide/coqOps.mli
  ide/coqide/coqide.ml
  ide/coqide/idetop.ml
  ide/coqide/protocol/interface.ml
  ide/coqide/protocol/xmlprotocol.ml
  ide/coqide/protocol/xmlprotocol.mli
  ide/coqide/session.ml
  ide/coqide/wg_Debugger.ml
  ide/coqide/wg_MessageView.ml
  ide/coqide/wg_MessageView.mli
Owners: @coq/doc-maintainers, @coq/coqide-maintainers

Improve call stack data
  ide/coqide/idetop.ml
  plugins/ltac/tactic_debug.ml
Owners: @coq/coqide-maintainers, @coq/ltac-maintainers

Gather variable maps
  plugins/ltac/taccoerce.mli
  plugins/ltac/tacexpr.ml
  plugins/ltac/tacexpr.mli
  plugins/ltac/tacinterp.ml
  plugins/ltac/tacinterp.mli
  plugins/ltac/tactic_debug.ml
  plugins/ltac/tactic_debug.mli
  vernac/debugHook.ml
  vernac/debugHook.mli
Owners: @coq/ltac-maintainers

More tweaks
  ide/coqide/coqide.ml
  ide/coqide/ideutils.ml
  ide/coqide/protocol/richpp.ml
  ide/coqide/protocol/richpp.mli
  ide/coqide/wg_Debugger.ml
  ide/coqide/wg_Debugger.mli
  ide/coqide/wg_MessageView.ml
  ide/coqide/wg_ScriptView.ml
Owners: @coq/coqide-maintainers

Better printing of vars
  ide/coqide/coq.ml
  ide/coqide/coq.mli
  ide/coqide/coqide.ml
  ide/coqide/idetop.ml
  ide/coqide/protocol/richpp.ml
  ide/coqide/protocol/richpp.mli
  ide/coqide/session.ml
  ide/coqide/session.mli
  ide/coqide/wg_Debugger.ml
  plugins/ltac/tacinterp.ml
  plugins/ltac/tactic_debug.ml
Owners: @coq/coqide-maintainers, @coq/ltac-maintainers

Fix highlighting offsets for errors
  ide/coqide/coqOps.ml
  ide/coqide/coqide.ml
  ide/coqide/ideutils.ml
  ide/coqide/ideutils.mli
  ide/coqide/wg_ScriptView.ml
Owners: @coq/coqide-maintainers

Account for Coq offsets (UTF-8 bytes) vs GTK buffer offsets (unicode)
  dev/doc/xml-protocol.md
  ide/coqide/coqide.ml
  ide/coqide/ideutils.ml
  ide/coqide/ideutils.mli
  ide/coqide/session.ml
  ide/coqide/session.mli
  ide/coqide/wg_Debugger.ml
  ide/coqide/wg_ScriptView.ml
  plugins/ltac/tactic_debug.ml
Owners: @coq/doc-maintainers, @coq/coqide-maintainers, @coq/ltac-maintainers

Stack data fixup
  ide/coqide/wg_Debugger.ml
  plugins/ltac/profile_ltac.ml
  plugins/ltac/tacexpr.ml
  plugins/ltac/tacexpr.mli
  plugins/ltac/tacinterp.ml
  plugins/ltac/tactic_debug.ml
Owners: @coq/coqide-maintainers, @coq/ltac-maintainers

Better info in the stack panel
  dev/doc/xml-protocol.md
  gramlib/grammar.ml
  gramlib/plexing.ml
  gramlib/plexing.mli
  ide/coqide/coqOps.ml
  ide/coqide/coqide.ml
  ide/coqide/idetop.ml
  ide/coqide/protocol/interface.ml
  ide/coqide/protocol/xmlprotocol.ml
  ide/coqide/session.ml
  ide/coqide/wg_Debugger.ml
  ide/coqide/wg_Debugger.mli
  ide/coqide/wg_ScriptView.ml
  parsing/cLexer.ml
  plugins/ltac/tactic_debug.ml
  test-suite/ide/fake_ide.ml
Owners: @coq/doc-maintainers, @coq/coqide-maintainers, @coq/ltac-maintainers, @coq/stm-maintainers

Better update of vars table
  ide/coqide/wg_Debugger.ml
  plugins/ltac/tacinterp.ml
Owners: @coq/coqide-maintainers, @coq/ltac-maintainers

Update breakpoint positions in all sessions
  ide/coqide/coqide.ml
  ide/coqide/coqide_ui.ml
  ide/coqide/idetop.ml
  ide/coqide/microPG.ml
Owners: @coq/coqide-maintainers

Preserve \r in XML and don't bump the line count for it
  ide/coqide/coq.ml
  ide/coqide/protocol/xml_lexer.mll
  ide/coqide/protocol/xml_parser.ml
  ide/coqide/protocol/xml_parser.mli
Owners: @coq/coqide-maintainers

post-rebase fixups
  ide/coqide/coq.ml
  ide/coqide/coq.mli
  ide/coqide/coqide.ml
Owners: @coq/coqide-maintainers

Fixup stack chunks
  plugins/ltac/tacinterp.ml
  plugins/ltac/tactic_debug.ml
  plugins/ltac/tactic_debug.mli
Owners: @coq/ltac-maintainers

Improve the documentation of the release process a bit.
  dev/doc/release-process.md
Owners: @coq/contributing-process-maintainers

Bench: test iris-examples instead of lambda-rust
  dev/bench/bench.sh
Owners: @coq/bench-maintainers

create_overlays: use DOWNLOAD_ONLY
  dev/tools/create_overlays.sh
Owners: @coq/dev-tools-maintainers

Document Kernel Term Sharing
  doc/sphinx/proofs/writing-proofs/equality.rst
Owners: @coq/doc-maintainers

Add test for #6375
  test-suite/bugs/closed/bug_6375.v
Owners: none
