Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/legacy-build-maintainers, @coq/build-maintainers, @coq/windows-build-maintainers, @coq/ci-maintainers, @coq/nix-maintainers, @ghost, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/plugin-tutorial-maintainers, @coq/kernel-maintainers, @coq/lib-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/coqide-maintainers, @coq/stm-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/pretyper-maintainers, @coq/tactics-maintainers, @coq/typeclasses-maintainers, @coq/stdlib-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @herbelin, @mattam82, @ppedrot, @JasonGross, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @coq/dev-tools-maintainers

.github/CODEOWNERS:

# This file describes the maintainers for the main components. See
# `dev/doc/MERGING.md`.

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers
/dev/doc/shield-icon.png    @coq/contributing-process-maintainers

/dev/doc/release-process.md @coq/contributing-process-maintainers

########## Build system ##########

/Makefile*                      @coq/legacy-build-maintainers
/dev/tools/make_git_revision.sh @coq/legacy-build-maintainers

/configure*        @coq/legacy-build-maintainers @coq/build-maintainers

/META.coq.in       @coq/legacy-build-maintainers

/dev/build/windows @coq/windows-build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/azure-pipelines.yml @coq/ci-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh @ghost
# Trick to avoid getting review requests
# each time someone adds an overlay

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/Makefile.doc          @coq/doc-maintainers

/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst @ghost
/dev/doc/changes.md    @ghost
# Trick to avoid getting review requests
# each time someone modifies the changelog

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/engine/          @coq/engine-maintainers

/engine/univ*     @coq/universes-maintainers
/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/kernel/          @coq/kernel-maintainers

/kernel/byterun/  @coq/vm-native-maintainers
/kernel/native*   @coq/vm-native-maintainers
/kernel/vm*       @coq/vm-native-maintainers
/kernel/vconv.*   @coq/vm-native-maintainers

/kernel/sorts.*   @coq/universes-maintainers
/kernel/uGraph.*  @coq/universes-maintainers
/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/gramlib/         @coq/parsing-maintainers
/parsing/         @coq/parsing-maintainers

########## Stdlib ##########

/stdlib/plugins/btauto/       @coq/btauto-maintainers

/stdlib/plugins/cc/           @coq/cc-maintainers

/stdlib/plugins/derive/       @coq/derive-maintainers

/stdlib/plugins/extraction/   @coq/extraction-maintainers

/stdlib/plugins/firstorder/   @coq/firstorder-maintainers

/stdlib/plugins/funind/       @coq/funind-maintainers

/stdlib/plugins/ltac/         @coq/ltac-maintainers

/stdlib/micromega/    @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/stdlib/plugins/nsatz/        @coq/nsatz-maintainers

/stdlib/plugins/setoid_ring/  @coq/ring-maintainers

/stdlib/ssrmatching/  @coq/ssreflect-maintainers
/stdlib/ssr/          @coq/ssreflect-maintainers
/test-suite/ssr/       @coq/ssreflect-maintainers

/stdlib/syntax/       @coq/parsing-maintainers

/stdlib/plugins/rtauto/       @coq/rtauto-maintainers

/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/pretyping/             @coq/pretyper-maintainers

/pretyping/vnorm.*      @coq/vm-native-maintainers
/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/proofs/          @coq/engine-maintainers

########## STM ##########

/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/tactics/         @coq/tactics-maintainers

/tactics/class_tactics.* @coq/typeclasses-maintainers
/test-suite/typeclasses/ @coq/typeclasses-maintainers

########## Standard library ##########

<<<<<<< HEAD
/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers
=======
/stdlib/Arith/          @herbelin

/stdlib/Bool/           @herbelin

/stdlib/Classes/        @mattam82
# Secondary maintainer @herbelin

/stdlib/FSets/          @herbelin

/stdlib/Init/           @ppedrot

/stdlib/Lists/          @ppedrot

/stdlib/Logic/          @herbelin
# Secondary maintainer @ppedrot

/stdlib/MSets/          @herbelin

/stdlib/NArith/         @herbelin

/stdlib/Numbers/        @herbelin

/stdlib/PArith/         @herbelin

/stdlib/Program/        @mattam82
# Secondary maintainer @herbelin

/stdlib/QArith/         @herbelin

/stdlib/Reals/          @coq/reals-library-maintainers
# Secondary maintainer @ppedrot

/stdlib/Relations/      @mattam82
# Secondary maintainer @ppedrot

/stdlib/Setoids/        @mattam82
# Secondary maintainer @ppedrot

/stdlib/Sets/           @herbelin

/stdlib/Sorting/        @herbelin

/stdlib/Strings/        @herbelin

/stdlib/Structures/     @herbelin

/stdlib/Unicode/        @herbelin

/stdlib/Wellfounded/    @mattam82

/stdlib/ZArith/         @herbelin

/stdlib/Compat/         @JasonGross
# Secondary maintainer @Zimmi48

/stdlib/Vectors/        @herbelin
>>>>>>> [stdlib] Consolidate the standard library in its on directory.

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coqdep*  @coq/legacy-build-maintainers @coq/build-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/toplevel/   @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers

########## Vernacular ##########

/vernac/              @coq/vernac-maintainers

/vernac/metasyntax.*  @coq/parsing-maintainers

/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers

Remove confusing commented code in funind
  plugins/funind/functional_principles_proofs.ml
Owners: none

various unsafe_type_of -> type_of_variable in funind
  plugins/funind/functional_principles_proofs.ml
  plugins/funind/gen_principle.ml
  plugins/funind/glob_term_to_relation.ml
  plugins/funind/invfun.ml
  plugins/funind/recdef.ml
  pretyping/typing.ml
  pretyping/typing.mli
Owners: @coq/pretyper-maintainers

[ltac2] Add Check Ltac2 to print only the type
  doc/sphinx/proof-engine/ltac2.rst
  test-suite/ltac2/queries.v
  user-contrib/Ltac2/g_ltac2.mlg
  user-contrib/Ltac2/tac2entries.ml
  user-contrib/Ltac2/tac2entries.mli
Owners: @coq/doc-maintainers, @coq/ltac2-maintainers

Remove unsafe_type_of from funind
  plugins/funind/functional_principles_proofs.ml
  plugins/funind/gen_principle.ml
  plugins/funind/glob_term_to_relation.ml
  plugins/funind/indfun.ml
  plugins/funind/indfun_common.ml
  plugins/funind/indfun_common.mli
  plugins/funind/recdef.ml
Owners: none

Do not rely on the contents of the Monomorphic constructor for side-effects.
  kernel/safe_typing.ml
Owners: @coq/kernel-maintainers

Attempt removing f-c-l overlay
  dev/ci/user-overlays/07825-reachable-from-evars.sh
Owners: @ghost

Resolve #10342 : [Ltac2] Add array library
  doc/changelog/05-tactic-language/10343-issue-10342-ltac2-standard-library.rst
  test-suite/ltac2/array_lib.v
  user-contrib/Ltac2/Array.v
  user-contrib/Ltac2/tac2core.ml
Owners: @ghost, @coq/ltac2-maintainers

Fixing wrong comments in context.ml.
  kernel/context.ml
  kernel/context.mli
Owners: @coq/kernel-maintainers

Remove -compat 8.9.
  doc/stdlib/index-list.html.template
  test-suite/success/CompatOldOldFlag.v
  test-suite/tools/update-compat/run.sh
  theories/Compat/Coq89.v
  toplevel/coqargs.ml
Owners: @coq/doc-maintainers, @coq/compat-maintainers, @coq/toplevel-maintainers

Don't install doc_grammar
  Makefile.build
  Makefile.common
Owners: @coq/legacy-build-maintainers

Fix #11553: magicaly_constant_of_fixbody checks existence of made up constant
  pretyping/reductionops.ml
  test-suite/bugs/closed/bug_11553.v
Owners: @coq/pretyper-maintainers

Remove the Template Check option.
  checker/checkInductive.ml
  checker/check_stat.ml
  checker/values.ml
  kernel/cooking.ml
  kernel/declarations.ml
  kernel/declareops.ml
  kernel/environ.ml
  kernel/environ.mli
  kernel/indTyping.ml
  kernel/indTyping.mli
  library/global.ml
  library/global.mli
  printing/printer.ml
  printing/printer.mli
  test-suite/failure/Template.v
  toplevel/coqargs.ml
  toplevel/usage.ml
  vernac/assumptions.ml
  vernac/comInductive.ml
  vernac/comInductive.mli
  vernac/prettyp.ml
  vernac/record.ml
  vernac/vernacentries.ml
Owners: @coq/kernel-maintainers, @coq/library-maintainers, @coq/extensible-syntax-maintainers, @coq/toplevel-maintainers, @coq/vernac-maintainers

Recognize Default Proof Using in STM
  stm/stm.ml
Owners: @coq/stm-maintainers

[coqdep] mli cleanup, remove unused functions
  tools/coqdep.ml
  tools/coqdep_common.ml
  tools/coqdep_common.mli
Owners: @coq/legacy-build-maintainers, @coq/build-maintainers

Small improvement to "fix"/"cofix" printing rule.
  printing/ppconstr.ml
  test-suite/output/Fixpoint.out
Owners: @coq/extensible-syntax-maintainers

Another micro-improvement in printing "fix".
  printing/ppconstr.ml
Owners: @coq/extensible-syntax-maintainers

Cleanup the handling of the shelf in refine
  proofs/proof.ml
  proofs/refine.ml
Owners: @coq/engine-maintainers

Remove unused Environ.push_constraints_to_env
  kernel/environ.ml
  kernel/environ.mli
Owners: @coq/kernel-maintainers

Reinforcing the role of type "typing_constraint".
  interp/constrintern.ml
  pretyping/pretyping.ml
  pretyping/pretyping.mli
Owners: @coq/extensible-syntax-maintainers, @coq/pretyper-maintainers

Lately adding a changelog for PR#10202.
  doc/changelog/02-specification-language/10202-master+fix8011-stronger-check-on-typability-ltac-env.rst
Owners: @ghost

Fixing some residual bugs of PR #10202 (manual implicit args in subterms).
  interp/constrintern.ml
  interp/constrintern.mli
  interp/notation_ops.ml
  interp/notation_ops.mli
  test-suite/output/Naming.out
  test-suite/output/Naming.v
  test-suite/output/Notations3.v
  vernac/vernacentries.ml
Owners: @coq/extensible-syntax-maintainers, @coq/vernac-maintainers

Document the ability to use manual implicit arguments in subexpressions.
  doc/sphinx/language/gallina-extensions.rst
Owners: @coq/doc-maintainers

Remove fiat-crypto-legacy from CI
  .gitlab-ci.yml
  Makefile.ci
  dev/ci/ci-basic-overlay.sh
  dev/ci/ci-fiat-crypto-legacy.sh
  dev/ci/nix/default.nix
  dev/ci/nix/fiat_crypto_legacy.nix
Owners: @coq/ci-maintainers, @coq/nix-maintainers

Add paramcoq overlay
  dev/ci/user-overlays/10204-rm-unsafe-type-of-coercion.sh
Owners: @ghost

Fixing extra space in "Print Grammar" (i.e. Grammar.Entry.print in Gramlib).
  gramlib/grammar.ml
  test-suite/output/Notations4.out
Owners: @coq/parsing-maintainers

Update doc/sphinx/practical-tools/utilities.rst
  doc/sphinx/practical-tools/utilities.rst
Owners: @coq/doc-maintainers

[nix] Fix building of the documentation
  default.nix
Owners: @coq/nix-maintainers

Fix #11553: magicaly_constant_of_fixbody checks existence of made up constant
  pretyping/reductionops.ml
  test-suite/bugs/closed/bug_11553.v
Owners: @coq/pretyper-maintainers

Fix #11515: Ltac2 rewrite on wildcard.
  test-suite/bugs/closed/bug_11515.v
  user-contrib/Ltac2/tac2tactics.ml
Owners: @coq/ltac2-maintainers

ReferenceVariables error contains a globref instead of a constr
  kernel/type_errors.ml
  kernel/type_errors.mli
  kernel/typeops.ml
  kernel/typeops.mli
  pretyping/inductiveops.ml
  pretyping/typing.ml
  vernac/himsg.ml
Owners: @coq/kernel-maintainers, @coq/pretyper-maintainers, @coq/vernac-maintainers

Standardize constr -> globref operations to use destRef/isRef/isRefX
  engine/eConstr.ml
  engine/eConstr.mli
  engine/evarutil.ml
  engine/termops.ml
  engine/termops.mli
  interp/reserve.ml
  kernel/constr.ml
  kernel/constr.mli
  library/globnames.ml
  library/globnames.mli
  plugins/cc/cctac.ml
  plugins/firstorder/sequent.ml
  plugins/ltac/rewrite.ml
  plugins/ltac/taccoerce.ml
  plugins/setoid_ring/newring.ml
  plugins/ssrmatching/ssrmatching.ml
  pretyping/evarconv.ml
  pretyping/recordops.ml
  pretyping/tacred.ml
  pretyping/typeclasses.ml
  tactics/equality.ml
  tactics/hipattern.ml
  tactics/inv.ml
  tactics/tactics.ml
Owners: @coq/engine-maintainers, @coq/extensible-syntax-maintainers, @coq/kernel-maintainers, @coq/library-maintainers, @coq/pretyper-maintainers, @coq/tactics-maintainers

Check instance length in type_of_{inductive,constructor}
  kernel/inductive.ml
  test-suite/output/PrintAssumptions.out
  test-suite/output/PrintAssumptions.v
  vernac/assumptions.ml
Owners: @coq/kernel-maintainers, @coq/vernac-maintainers

overlay for removal of optname
  dev/ci/user-overlays/11521-SkySkimmer-no-optname.sh
Owners: @ghost

[toplevel] Refactor control loop
  toplevel/coqloop.ml
Owners: @coq/toplevel-maintainers

[toplevel] Make toplevel loop tail-recursive again
  toplevel/coqloop.ml
Owners: @coq/toplevel-maintainers

Split unicoq out of ci-mtac2.sh (keeping 1 CI job)
  Makefile.ci
  dev/ci/ci-mtac2.sh
  dev/ci/ci-unicoq.sh
Owners: @coq/ci-maintainers

Implicit arguments: Fixing count of the position in compute_implicit_statuses.
  interp/impargs.ml
Owners: @coq/extensible-syntax-maintainers

Arguments: removing the restriction to set an anonymous parameter implicit.
  doc/changelog/02-specification-language/11098-master+arguments-supports-anonymous-implicit.rst
  doc/sphinx/language/gallina-extensions.rst
  interp/impargs.ml
  test-suite/output/Arguments_renaming.out
  test-suite/output/Arguments_renaming.v
  test-suite/success/implicit.v
Owners: @ghost, @coq/doc-maintainers, @coq/extensible-syntax-maintainers

Update bug report address in coqwc man page.
  man/coqwc.1
Owners: @coq/doc-maintainers

[nix] Fix building of the documentation
  default.nix
Owners: @coq/nix-maintainers
