Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/legacy-build-maintainers, @coq/build-maintainers, @coq/ci-maintainers, @coq/windows-build-maintainers, @coq/nix-maintainers, @ghost, @coq/bench-maintainers, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/kernel-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/pretyper-maintainers, @coq/stm-maintainers, @coq/plugin-tutorial-maintainers, @coq/lib-maintainers, @coq/coqide-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/stdlib-maintainers, @coq/typeclasses-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/number-maintainers, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @herbelin, @coq/dev-tools-maintainers

Update nixpkgs to use Dune 2.9.
  dev/nixpkgs.nix
Owners: @coq/nix-maintainers

Fix spacing issue (adjacent italic words lose space in output)
  doc/sphinx/practical-tools/coq-commands.rst
Owners: @coq/doc-maintainers

New rules for disambiguation of Require: - exact match is prioritary - most recent -Q/-R is prioritary - ambiguous resolution within the same -Q/-R is an error
  clib/cList.ml
  clib/cList.mli
  lib/system.ml
  lib/system.mli
  tools/coqdep.ml
  tools/coqdep_common.ml
  tools/coqdep_common.mli
  tools/coqdep_lexer.mli
  tools/coqdep_lexer.mll
  vernac/loadpath.ml
  vernac/loadpath.mli
  vernac/vernacentries.ml
Owners: @coq/legacy-build-maintainers, @coq/build-maintainers

Add test about the order of -R options.
  test-suite/misc/deps-order-distinct-root.sh
  test-suite/misc/deps/DistinctRoot/A/File1.v
  test-suite/misc/deps/DistinctRoot/B/File1.v
  test-suite/misc/deps/DistinctRoot/File2.v
  test-suite/misc/deps/DistinctRootDeps.out
  test-suite/misc/deps/_CoqDistinctRoot
Owners: none

Change log for #14718.
  doc/changelog/08-cli-tools/14718-master+fix-coqdoc-anomaly-non-existing-dir.rst
Owners: @ghost

Add tests about ambiguous Require.
  test-suite/misc/deps-order-subdir1-file.sh
  test-suite/misc/deps-order-subdir2-file.sh
  test-suite/misc/deps-order-subdir3-file.sh
  test-suite/misc/deps/Theory1/File1.v
  test-suite/misc/deps/Theory1/File2.v
  test-suite/misc/deps/Theory1/Subtheory1/File1.v
  test-suite/misc/deps/Theory1/Subtheory1/Subsubtheory1/File1.v
  test-suite/misc/deps/Theory1/Subtheory1/Subsubtheory2/File1.v
  test-suite/misc/deps/Theory1/Subtheory2/File1.v
  test-suite/misc/deps/Theory1/Subtheory2/Subsubtheory1/File1.v
  test-suite/misc/deps/Theory1/Subtheory2/Subsubtheory2/File1.v
  test-suite/misc/deps/Theory1Deps.out
  test-suite/misc/deps/Theory2/File2.v
  test-suite/misc/deps/Theory2/Subtheory1/File1.v
  test-suite/misc/deps/Theory2/Subtheory1/Subsubtheory1/File1.v
  test-suite/misc/deps/Theory2/Subtheory1/Subsubtheory2/File1.v
  test-suite/misc/deps/Theory2/Subtheory2/File1.v
  test-suite/misc/deps/Theory2/Subtheory2/Subsubtheory1/File1.v
  test-suite/misc/deps/Theory2/Subtheory2/Subsubtheory2/File1.v
  test-suite/misc/deps/Theory2Deps.out
  test-suite/misc/deps/Theory3/File2.v
  test-suite/misc/deps/Theory3/Subtheory1/File1.v
  test-suite/misc/deps/Theory3/Subtheory1/Subsubtheory1/File1.v
  test-suite/misc/deps/Theory3/Subtheory1/Subsubtheory2/File1.v
  test-suite/misc/deps/Theory3/Subtheory2/File1.v
  test-suite/misc/deps/Theory3Deps.out
  test-suite/misc/deps/_CoqTheory1Project
  test-suite/misc/deps/_CoqTheory2Project
  test-suite/misc/deps/_CoqTheory3Project
  test-suite/success/TestRefine.v
Owners: none

Updating reference manual with new rules for Require disambiguation.
  doc/sphinx/language/core/modules.rst
  doc/sphinx/practical-tools/utilities.rst
  doc/sphinx/proof-engine/vernacular-commands.rst
  doc/tools/docgram/common.edit_mlg
  doc/tools/docgram/orderedGrammar
Owners: @coq/doc-maintainers

Remove "TOKEN" object
  plugins/ltac/extraargs.mlg
  vernac/metasyntax.ml
  vernac/metasyntax.mli
Owners: @coq/ltac-maintainers

fix #9319 by checking that files in VFILES realy exist
  doc/changelog/08-cli-tools/13541-fix9319.rst
  test-suite/coq-makefile/gen-v-during-make/run.sh
  test-suite/coq-makefile/missing-included/run.sh
  test-suite/coq-makefile/missing-required/run.sh
  tools/CoqMakefile.in
Owners: @ghost, @coq/coq-makefile-maintainers

ExtrOcamlChar: export ExtrOcamlBasic
  test-suite/success/extraction.v
  theories/extraction/ExtrOcamlChar.v
Owners: @coq/extraction-maintainers

Add changelog
  doc/changelog/12-misc/15075-extraction-string.rst
Owners: @ghost

Fix more bugs
  doc/changelog/12-misc/15075-extraction-string.rst
  test-suite/success/extraction.v
  theories/extraction/ExtrOcamlNativeString.v
Owners: @ghost, @coq/number-maintainers

Add string function to test suite
  test-suite/success/extraction.v
Owners: none

Make namegen pure w.r.t. the global environment.
  engine/namegen.ml
  engine/namegen.mli
  interp/constrextern.ml
  plugins/funind/functional_principles_proofs.ml
  plugins/funind/gen_principle.ml
  plugins/funind/indfun_common.ml
  plugins/funind/recdef.ml
  plugins/ltac/evar_tactics.ml
  pretyping/detyping.ml
  pretyping/unification.ml
  proofs/clenv.ml
  tactics/tactics.ml
Owners: @coq/funind-maintainers, @coq/ltac-maintainers

Remove some hopefully useless Global.env calls introduced in this PR.
  ide/coqide/idetop.ml
  plugins/funind/functional_principles_proofs.ml
  plugins/ltac/evar_tactics.ml
  plugins/ltac/rewrite.ml
  plugins/ring/ring.ml
  pretyping/coercion.ml
  pretyping/pretyping.ml
  pretyping/unification.ml
  printing/printer.ml
  proofs/clenv.ml
  proofs/evar_refiner.ml
  tactics/tactics.ml
  vernac/declare.ml
  vernac/himsg.ml
Owners: @coq/coqide-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/ring-maintainers

Make Termops pure w.r.t. the global environment.
  engine/evarutil.ml
  engine/termops.ml
  engine/termops.mli
  ide/coqide/idetop.ml
  plugins/funind/functional_principles_proofs.ml
  plugins/ssr/ssrcommon.ml
  pretyping/detyping.ml
  pretyping/pretyping.ml
  printing/printer.ml
  printing/printer.mli
  printing/proof_diffs.ml
  proofs/evar_refiner.ml
  stm/partac.ml
  tactics/equality.ml
  tactics/hints.ml
  tactics/tactics.ml
  vernac/declare.ml
  vernac/himsg.ml
  vernac/vernacentries.ml
Owners: @coq/coqide-maintainers, @coq/funind-maintainers, @coq/ssreflect-maintainers

Remove the easy call to Global.env from Evarutil.
  doc/plugin_tutorial/tuto3/src/construction_game.ml
  engine/evarutil.ml
  engine/evarutil.mli
  plugins/ltac/rewrite.ml
  plugins/ring/ring.ml
  pretyping/coercion.ml
  pretyping/program.ml
  tactics/tactics.ml
  vernac/comFixpoint.ml
  vernac/comProgramFixpoint.ml
  vernac/declare.ml
  vernac/indschemes.ml
Owners: @coq/plugin-tutorial-maintainers, @coq/ltac-maintainers, @coq/ring-maintainers

Adding overlays.
  dev/ci/user-overlays/15069-ppedrot-engine-without-global.sh
Owners: @ghost

Remove Evarutil.new_global.
  doc/plugin_tutorial/tuto3/src/construction_game.ml
  engine/evarutil.ml
  engine/evarutil.mli
  plugins/ltac/rewrite.ml
  plugins/ring/ring.ml
  pretyping/coercion.ml
  pretyping/program.ml
  tactics/tactics.ml
  vernac/comFixpoint.ml
  vernac/comProgramFixpoint.ml
  vernac/declare.ml
  vernac/indschemes.ml
Owners: @coq/plugin-tutorial-maintainers, @coq/ltac-maintainers, @coq/ring-maintainers

Remove some calls to Global functions in UnivGen.
  doc/plugin_tutorial/tuto3/src/tuto_tactic.ml
  engine/univGen.ml
  engine/univGen.mli
  plugins/btauto/refl_btauto.ml
  plugins/funind/functional_principles_proofs.ml
  plugins/funind/gen_principle.ml
  plugins/funind/indfun_common.ml
  plugins/funind/recdef.ml
  plugins/micromega/coq_micromega.ml
  plugins/micromega/zify.ml
  plugins/nsatz/nsatz.ml
  plugins/ring/ring.ml
  plugins/rtauto/refl_tauto.ml
  plugins/ssr/ssrcommon.ml
  plugins/ssr/ssrequality.ml
  vernac/auto_ind_decl.ml
Owners: @coq/plugin-tutorial-maintainers, @coq/btauto-maintainers, @coq/funind-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/rtauto-maintainers, @coq/ssreflect-maintainers

Namegen.next_ident_away_in_goal: avoid names of all visible refs
  engine/namegen.ml
  test-suite/bugs/closed/bug_3523.v
  theories/Floats/FloatLemmas.v
  theories/Reals/Abstract/ConstructiveLimits.v
  theories/Reals/Abstract/ConstructiveReals.v
  theories/Reals/Abstract/ConstructiveRealsMorphisms.v
  theories/Reals/Abstract/ConstructiveSum.v
  theories/Reals/AltSeries.v
  theories/Reals/Cauchy_prod.v
  theories/Reals/Cos_plus.v
  theories/Reals/Exp_prop.v
  theories/Reals/MVT.v
  theories/Reals/NewtonInt.v
  theories/Reals/PSeries_reg.v
  theories/Reals/PartSum.v
  theories/Reals/Ranalysis4.v
  theories/Reals/Ranalysis5.v
  theories/Reals/Ratan.v
  theories/Reals/RiemannInt.v
  theories/Reals/RiemannInt_SF.v
  theories/Reals/Rprod.v
  theories/Reals/Rseries.v
  theories/Reals/Rsqrt_def.v
  theories/Reals/Rtopology.v
  theories/Reals/SeqSeries.v
  theories/micromega/QMicromega.v
  theories/micromega/RMicromega.v
  theories/rtauto/Bintree.v
Owners: @coq/number-maintainers, @coq/reals-library-maintainers, @coq/micromega-maintainers, @coq/rtauto-maintainers

Fix #15070
  kernel/parray.ml
  kernel/parray.mli
Owners: none

Extend release process with rc announcement.
  dev/doc/release-process.md
Owners: @coq/contributing-process-maintainers

Fix compilation on master after a race with #15069.
  vernac/proof_using.ml
Owners: none

Tentatively make the check_and_clear functions not depend on Global.
  engine/evarutil.ml
Owners: none

Infrastructure for import categories
  checker/values.ml
  clib/cString.ml
  clib/cString.mli
  clib/predicate.ml
  clib/predicate.mli
  doc/sphinx/language/core/modules.rst
  doc/tools/docgram/fullGrammar
  doc/tools/docgram/orderedGrammar
  interp/syntax_def.ml
  kernel/names.ml
  library/libobject.ml
  library/libobject.mli
  vernac/declare.ml
  vernac/declareInd.ml
  vernac/declaremods.ml
  vernac/g_vernac.mlg
  vernac/library.ml
  vernac/ppvernac.ml
  vernac/printmod.ml
  vernac/vernacentries.ml
  vernac/vernacexpr.ml
Owners: @coq/kernel-maintainers, @coq/doc-maintainers

Import category for coercions.
  test-suite/success/ImportCat.v
  vernac/comCoercion.ml
Owners: none

Import category for hints
  tactics/autorewrite.ml
  tactics/hints.ml
  tactics/hints.mli
  vernac/classes.ml
Owners: none

Import category for canonical structures
  vernac/canonical.ml
Owners: none

Import categories for notations
  interp/notation.ml
  interp/notation.mli
  vernac/metasyntax.ml
Owners: none

Add a few import_cat notation tests
  test-suite/success/ImportCat.v
Owners: none

Doc for import categories
  doc/changelog/07-vernac-commands-and-options/14892-import-cat.rst
  doc/sphinx/language/core/modules.rst
Owners: @ghost, @coq/doc-maintainers

Import categories for ltac and ltac2 tactic notations
  doc/sphinx/language/core/modules.rst
  doc/tools/docgram/fullGrammar
  doc/tools/docgram/orderedGrammar
  plugins/ltac/tacentries.ml
  user-contrib/Ltac2/tac2entries.ml
  vernac/g_vernac.mlg
Owners: @coq/doc-maintainers, @coq/ltac-maintainers, @coq/ltac2-maintainers

Overlays for import cats
  dev/ci/user-overlays/14892-SkySkimmer-import-cat.sh
Owners: @ghost

Clarifying nested positivity condition.
  doc/sphinx/language/core/inductive.rst
Owners: @coq/doc-maintainers

Fixing #14938 (missing mention in doc of non-rec. uniform params in positivity).
  doc/sphinx/language/core/inductive.rst
Owners: @coq/doc-maintainers

Clarify the positivity condition for mutual inductive types.
  doc/sphinx/language/core/inductive.rst
Owners: @coq/doc-maintainers

Strict positivity: use same terminology in code and in reference manual.
  kernel/indtypes.ml
Owners: none

Unifying the role of names in describing typing of inductive types.
  doc/sphinx/language/core/inductive.rst
Owners: @coq/doc-maintainers

Changelog for #14938
  doc/changelog/02-specification-language/14967-master+fix-non-rec-uniform-positivity-doc.rst
Owners: @ghost

.github/CODEOWNERS:

# This file associates maintainer teams to each component.
# See CONTRIBUTING.md

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers

########## Build system ##########

/Makefile*                      @coq/legacy-build-maintainers
/dev/tools/make_git_revision.sh @coq/legacy-build-maintainers

/configure              @coq/legacy-build-maintainers @coq/build-maintainers
/tools/configure/*      @coq/legacy-build-maintainers @coq/build-maintainers

/boot/               @coq/build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/dev/lint-*.sh       @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/.github/workflows   @coq/ci-maintainers
/dev/ci/platform/    @coq/windows-build-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh @ghost
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/bench/            @coq/bench-maintainers

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/Makefile.doc          @coq/doc-maintainers

/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst @ghost
/dev/doc/changes.md    @ghost
# Trick to avoid getting review requests
# each time someone modifies the changelog

/dev/doc/build-system*.txt    @coq/legacy-build-maintainers
/dev/doc/build-system.dune.md @coq/build-maintainers
/dev/doc/critical-bugs        @coq/kernel-maintainers
/dev/doc/econstr.md           @coq/engine-maintainers
/dev/doc/proof-engine.md      @coq/engine-maintainers
/dev/doc/release-process.md   @coq/contributing-process-maintainers
/dev/doc/shield-icon.png      @coq/contributing-process-maintainers
/dev/doc/SProp.md             @coq/universes-maintainers
/dev/doc/style.txt            @coq/contributing-process-maintainers
/dev/doc/unification.txt      @coq/pretyper-maintainers
/dev/doc/universes.md         @coq/universes-maintainers
/dev/doc/xml-protocol         @coq/stm-maintainers

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/core/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/core/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/core/engine/          @coq/engine-maintainers

/core/engine/univ*     @coq/universes-maintainers
/core/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/core/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/core/kernel/          @coq/kernel-maintainers

/core/kernel/byterun/  @coq/vm-native-maintainers
/core/kernel/native*   @coq/vm-native-maintainers
/core/kernel/vm*       @coq/vm-native-maintainers
/core/kernel/vconv.*   @coq/vm-native-maintainers
/core/kernel/genOpcodefiles.* @coq/vm-native-maintainers

/core/kernel/sorts.*   @coq/universes-maintainers
/core/kernel/uGraph.*  @coq/universes-maintainers
/core/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/core/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/core/gramlib/         @coq/parsing-maintainers
/core/parsing/         @coq/parsing-maintainers

########## Standard library and plugins ##########

/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers

/plugins/btauto/       @coq/btauto-maintainers
/theories/btauto/      @coq/btauto-maintainers

/plugins/cc/           @coq/cc-maintainers
/theories/cc/          @coq/cc-maintainers

/plugins/derive/       @coq/derive-maintainers
/theories/derive/      @coq/derive-maintainers

/plugins/extraction/   @coq/extraction-maintainers
/theories/extraction/  @coq/extraction-maintainers

/plugins/firstorder/   @coq/firstorder-maintainers
/theories/firstorder/  @coq/firstorder-maintainers

/plugins/funind/       @coq/funind-maintainers
/theories/funind/      @coq/funind-maintainers

/plugins/ltac/         @coq/ltac-maintainers
/theories/ltac/        @coq/ltac-maintainers

/plugins/micromega/    @coq/micromega-maintainers
/theories/micromega/   @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/        @coq/nsatz-maintainers
/theories/nsatz/       @coq/nsatz-maintainers

/plugins/ring/  @coq/ring-maintainers
/theories/setoid_ring/ @coq/ring-maintainers

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/theories/ssrmatching/ @coq/ssreflect-maintainers

/plugins/ssr/          @coq/ssreflect-maintainers
/theories/ssr/         @coq/ssreflect-maintainers

/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @coq/rtauto-maintainers
/theories/rtauto/      @coq/rtauto-maintainers

/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/core/pretyping/             @coq/pretyper-maintainers

/core/pretyping/vnorm.*      @coq/vm-native-maintainers
/core/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/core/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/core/proofs/          @coq/engine-maintainers

########## STM ##########

/core/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/core/tactics/         @coq/tactics-maintainers

/core/tactics/class_tactics.* @coq/typeclasses-maintainers
/test-suite/typeclasses/ @coq/typeclasses-maintainers

########## Number ##########

/interp/numTok.*                     @coq/number-maintainers
/kernel/float64*                     @coq/number-maintainers
/kernel/uint63*                      @coq/number-maintainers
/plugins/syntax/g_number_string.mlg  @coq/number-maintainers
/plugins/syntax/int63_syntax_plugin.mllib  @coq/number-maintainers
/plugins/syntax/number.ml            @coq/number-maintainers
/plugins/syntax/number_string_notation_plugin.mllib  @coq/number-maintainers
/user-contrib/Ltac2/Int.v            @coq/number-maintainers
/test-suite/output/FloatExtraction*  @coq/number-maintainers
/test-suite/output/*Number*          @coq/number-maintainers
/test-suite/primitive/float/         @coq/number-maintainers
/test-suite/primitive/sint63/        @coq/number-maintainers
/test-suite/primitive/uint63/        @coq/number-maintainers
/theories/Init/Decimal.v             @coq/number-maintainers
/theories/Init/Hexadecimal.v         @coq/number-maintainers
/theories/Init/Nat.v                 @coq/number-maintainers
/theories/Init/Number.v              @coq/number-maintainers
/theories/*Arith/                    @coq/number-maintainers
/theories/Numbers/                   @coq/number-maintainers
/theories/Floats/                    @coq/number-maintainers
/theories/extraction/Extr*Nat*       @coq/number-maintainers
/theories/extraction/Extr*Z*         @coq/number-maintainers
/theories/extraction/ExtrOCamlFloats.v  @coq/number-maintainers
/theories/extraction/ExtrOCamlInt*   @coq/number-maintainers

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coqdep*  @coq/legacy-build-maintainers @coq/build-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/core/toplevel/   @coq/toplevel-maintainers
/core/sysinit/    @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers

########## Vernacular ##########

/core/vernac/              @coq/vernac-maintainers

/core/vernac/metasyntax.*  @coq/parsing-maintainers

/core/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers
