Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/legacy-build-maintainers, @coq/build-maintainers, @coq/ci-maintainers, @coq/windows-build-maintainers, @coq/nix-maintainers, @ghost, @coq/bench-maintainers, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/kernel-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/pretyper-maintainers, @coq/stm-maintainers, @coq/plugin-tutorial-maintainers, @coq/lib-maintainers, @coq/coqide-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/stdlib-maintainers, @coq/typeclasses-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/number-maintainers, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @herbelin, @coq/dev-tools-maintainers

Make some match-all cases more precise in stm.ml
  stm/stm.ml
Owners: none

Do not perform type-checking feedback from the kernel.
  kernel/entries.ml
  kernel/safe_typing.ml
  kernel/term_typing.ml
  vernac/declare.ml
  vernac/opaques.ml
  vernac/opaques.mli
Owners: none

Remove the open recursion on the branch type in VCS API.
  stm/stm.ml
  stm/vcs.ml
  stm/vcs.mli
Owners: none

Killing backticks in the STM.
  ide/coqide/idetop.ml
  stm/proofBlockDelimiter.ml
  stm/stm.ml
  stm/stm.mli
  stm/stmargs.ml
  toplevel/ccompile.ml
  toplevel/coqloop.ml
  toplevel/vernac.ml
Owners: @coq/coqide-maintainers

coq#14689 fix printing of Existing Instances command
  test-suite/output/ExistingInstance.out
  test-suite/output/ExistingInstance.v
  vernac/ppvernac.ml
Owners: none

Moving find_mrectype earlier for use in compute_projections.
  pretyping/inductiveops.ml
Owners: none

Extending Inductiveops.compute_projections to the non-primitive case.
  pretyping/inductiveops.ml
  pretyping/inductiveops.mli
  pretyping/structures.ml
Owners: none

Issue #6633 works since 8.13.
  test-suite/bugs/closed/bug_6633.v
Owners: none

Unification being able to decompose the pattern structure of the instances.
  pretyping/evarsolve.ml
  pretyping/pretype_errors.ml
  pretyping/pretype_errors.mli
  test-suite/bugs/closed/bug_5264.v
  test-suite/output/unification.out
  test-suite/output/unification.v
  test-suite/success/LetPat.v
  test-suite/success/unification.v
  vernac/himsg.ml
Owners: none

For convenience, adding a field nparamdecls in mutual inductive bodies.
  checker/checkInductive.ml
  checker/values.ml
  kernel/cooking.ml
  kernel/declarations.ml
  kernel/declareops.ml
  kernel/indtypes.ml
Owners: @coq/kernel-maintainers

Support inverting constructors in primitive records for pattern unification.
  pretyping/evarsolve.ml
  test-suite/success/LetPat.v
Owners: none

[build] Ensure `dune install` is called with the right root detection options.
  Makefile.common
  Makefile.install
Owners: @coq/legacy-build-maintainers

Fixing #15043: trailing let-ins were dropped in specialize.
  tactics/tactics.ml
  test-suite/bugs/closed/bug_15043.v
Owners: none

Change log for #15046
  doc/changelog/04-tactics/15046-master+fix-bug15043-specialize-with-trailing-let.rst
Owners: @ghost

Add Top_printers.ppprojrepr
  dev/base_include
  dev/top_printers.dbg
  dev/top_printers.ml
  dev/top_printers.mli
Owners: none

[kernel] API to inspect the current module
  kernel/safe_typing.ml
  kernel/safe_typing.mli
Owners: none

[lib] implement is_modtype & co using kernel primitives
  library/lib.ml
Owners: none

Update kernel/safe_typing.mli
  kernel/safe_typing.mli
Owners: none

[nativelib] Don't pass to $LD non-existing dirs.
  kernel/nativelib.ml
Owners: none

Fix coercions from projections
  interp/notation.ml
  pretyping/coercionops.ml
  test-suite/bugs/closed/bug_15042.v
  test-suite/bugs/closed/bug_15048.v
  vernac/comCoercion.ml
Owners: none

Add periods to error messages.
  checker/check.ml
  interp/implicit_quantifiers.ml
  interp/notation.ml
  interp/reserve.ml
  interp/syntax_def.ml
  kernel/safe_typing.ml
  lib/objFile.ml
  lib/system.ml
  library/lib.ml
  library/nametab.ml
  plugins/funind/gen_principle.ml
  plugins/funind/glob_term_to_relation.ml
  plugins/funind/recdef.ml
  plugins/ltac/leminv.ml
  plugins/ltac/rewrite.ml
  plugins/ring/ring.ml
  plugins/rtauto/refl_tauto.ml
  plugins/ssr/ssrcommon.ml
  pretyping/inductiveops.ml
  pretyping/pretyping.ml
  pretyping/structures.ml
  proofs/logic.ml
  stm/stm.ml
  tactics/eauto.ml
  tactics/hints.ml
  tactics/redexpr.ml
  test-suite/output/Int63NumberSyntax.out
  topbin/coqnative_bin.ml
  vernac/comProgramFixpoint.ml
  vernac/comSearch.ml
  vernac/declare.ml
  vernac/declareUniv.ml
  vernac/library.ml
  vernac/mltop.ml
  vernac/record.ml
  vernac/vernacentries.ml
Owners: @coq/kernel-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/ring-maintainers, @coq/rtauto-maintainers, @coq/ssreflect-maintainers, @coq/number-maintainers, @coq/toplevel-maintainers

Use mutation in delayed_app_body
  pretyping/coercion.ml
Owners: none

Try to build application terms in 1 step in pretyping
  pretyping/coercion.ml
  pretyping/coercion.mli
  pretyping/pretyping.ml
Owners: none

remove -debug option
  sysinit/coqargs.ml
  sysinit/coqargs.mli
  sysinit/usage.ml
Owners: none

CI QuickChick: install executable properly
  dev/ci/ci-quickchick.sh
Owners: @coq/ci-maintainers

Add overlays
  dev/ci/user-overlays/15055-liyishuai-ci-quickchick.sh
Owners: @ghost

Set version
  ide/coqide/idetop.ml
  plugins/ltac/tactic_debug.ml
  tools/configure/configure.ml
Owners: @coq/coqide-maintainers, @coq/ltac-maintainers, @coq/legacy-build-maintainers, @coq/build-maintainers

Fix backtracing and profiling
  plugins/ltac/profile_ltac.ml
  plugins/ltac/tacinterp.ml
  plugins/ltac/tactic_debug.ml
  plugins/ltac/tactic_debug.mli
Owners: @coq/ltac-maintainers

Make Debug menu top-level
  ide/coqide/coqide.ml
  ide/coqide/coqide_ui.ml
Owners: @coq/coqide-maintainers

Merge fixup
  ide/coqide/idetop.ml
  plugins/ltac/tactic_debug.ml
Owners: @coq/coqide-maintainers, @coq/ltac-maintainers

No break on Windows for now
  ide/coqide/idetop.ml
Owners: @coq/coqide-maintainers

Warn when Collection and Variable names clash
  doc/sphinx/proofs/writing-proofs/proof-mode.rst
  test-suite/output/ProofUsingClashWarning.out
  test-suite/output/ProofUsingClashWarning.v
  vernac/proof_using.ml
Owners: @coq/doc-maintainers

Have locations in attributes
  user-contrib/Ltac2/tac2entries.ml
  vernac/attributes.ml
  vernac/attributes.mli
  vernac/g_vernac.mlg
  vernac/vernacentries.ml
Owners: @coq/ltac2-maintainers

Test attribute error locations
  test-suite/output-coqtop/attributes.out
  test-suite/output-coqtop/attributes.v
  test-suite/output/attributes.out
  test-suite/output/attributes.v
Owners: none

Overlays for attribute locations
  dev/ci/user-overlays/15052-SkySkimmer-atts-loc.sh
Owners: @ghost

Test coqdep -dumpgraph(box)
  test-suite/coq-makefile/dumpgraph/Makefile.local
  test-suite/coq-makefile/dumpgraph/_CoqProject
  test-suite/coq-makefile/dumpgraph/dumpgraph.expected
  test-suite/coq-makefile/dumpgraph/dumpgraphbox.expected
  test-suite/coq-makefile/dumpgraph/run.sh
Owners: @coq/coq-makefile-maintainers

Put back coqdep -dumpgraph(box) options
  tools/coqdep.ml
  tools/coqdep_common.ml
  tools/coqdep_common.mli
Owners: @coq/legacy-build-maintainers, @coq/build-maintainers

Tweak overlays
  dev/ci/user-overlays/14252-jfehrle-debugger_stack.sh
  dev/ci/user-overlays/14354-jfehrle-modname_in_loct.sh
  dev/ci/user-overlays/14913-jfehrle-debugger_preview.sh
  tools/configure/configure.ml
Owners: @ghost, @coq/legacy-build-maintainers, @coq/build-maintainers

refresh_universes: produce flexible univs by default
  pretyping/evarsolve.ml
  vernac/comInductive.ml
Owners: none

changelog
  doc/changelog/06-ssreflect/14314-fix-ssr-rew-order.rst
Owners: @ghost

.github/CODEOWNERS:

# This file associates maintainer teams to each component.
# See CONTRIBUTING.md

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers

########## Build system ##########

/Makefile*                      @coq/legacy-build-maintainers
/dev/tools/make_git_revision.sh @coq/legacy-build-maintainers

/configure              @coq/legacy-build-maintainers @coq/build-maintainers
/tools/configure/*      @coq/legacy-build-maintainers @coq/build-maintainers

/boot/               @coq/build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/dev/lint-*.sh       @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/.github/workflows   @coq/ci-maintainers
/dev/ci/platform/    @coq/windows-build-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh @ghost
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/bench/            @coq/bench-maintainers

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/Makefile.doc          @coq/doc-maintainers

/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst @ghost
/dev/doc/changes.md    @ghost
# Trick to avoid getting review requests
# each time someone modifies the changelog

/dev/doc/build-system*.txt    @coq/legacy-build-maintainers
/dev/doc/build-system.dune.md @coq/build-maintainers
/dev/doc/critical-bugs        @coq/kernel-maintainers
/dev/doc/econstr.md           @coq/engine-maintainers
/dev/doc/proof-engine.md      @coq/engine-maintainers
/dev/doc/release-process.md   @coq/contributing-process-maintainers
/dev/doc/shield-icon.png      @coq/contributing-process-maintainers
/dev/doc/SProp.md             @coq/universes-maintainers
/dev/doc/style.txt            @coq/contributing-process-maintainers
/dev/doc/unification.txt      @coq/pretyper-maintainers
/dev/doc/universes.md         @coq/universes-maintainers
/dev/doc/xml-protocol         @coq/stm-maintainers

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/core/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/core/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/core/engine/          @coq/engine-maintainers

/core/engine/univ*     @coq/universes-maintainers
/core/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/core/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/core/kernel/          @coq/kernel-maintainers

/core/kernel/byterun/  @coq/vm-native-maintainers
/core/kernel/native*   @coq/vm-native-maintainers
/core/kernel/vm*       @coq/vm-native-maintainers
/core/kernel/vconv.*   @coq/vm-native-maintainers
/core/kernel/genOpcodefiles.* @coq/vm-native-maintainers

/core/kernel/sorts.*   @coq/universes-maintainers
/core/kernel/uGraph.*  @coq/universes-maintainers
/core/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/core/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/core/gramlib/         @coq/parsing-maintainers
/core/parsing/         @coq/parsing-maintainers

########## Standard library and plugins ##########

/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers

/plugins/btauto/       @coq/btauto-maintainers
/theories/btauto/      @coq/btauto-maintainers

/plugins/cc/           @coq/cc-maintainers
/theories/cc/          @coq/cc-maintainers

/plugins/derive/       @coq/derive-maintainers
/theories/derive/      @coq/derive-maintainers

/plugins/extraction/   @coq/extraction-maintainers
/theories/extraction/  @coq/extraction-maintainers

/plugins/firstorder/   @coq/firstorder-maintainers
/theories/firstorder/  @coq/firstorder-maintainers

/plugins/funind/       @coq/funind-maintainers
/theories/funind/      @coq/funind-maintainers

/plugins/ltac/         @coq/ltac-maintainers
/theories/ltac/        @coq/ltac-maintainers

/plugins/micromega/    @coq/micromega-maintainers
/theories/micromega/   @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/        @coq/nsatz-maintainers
/theories/nsatz/       @coq/nsatz-maintainers

/plugins/ring/  @coq/ring-maintainers
/theories/setoid_ring/ @coq/ring-maintainers

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/theories/ssrmatching/ @coq/ssreflect-maintainers

/plugins/ssr/          @coq/ssreflect-maintainers
/theories/ssr/         @coq/ssreflect-maintainers

/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @coq/rtauto-maintainers
/theories/rtauto/      @coq/rtauto-maintainers

/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/core/pretyping/             @coq/pretyper-maintainers

/core/pretyping/vnorm.*      @coq/vm-native-maintainers
/core/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/core/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/core/proofs/          @coq/engine-maintainers

########## STM ##########

/core/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/core/tactics/         @coq/tactics-maintainers

/core/tactics/class_tactics.* @coq/typeclasses-maintainers
/test-suite/typeclasses/ @coq/typeclasses-maintainers

########## Number ##########

/interp/numTok.*                     @coq/number-maintainers
/kernel/float64*                     @coq/number-maintainers
/kernel/uint63*                      @coq/number-maintainers
/plugins/syntax/g_number_string.mlg  @coq/number-maintainers
/plugins/syntax/int63_syntax_plugin.mllib  @coq/number-maintainers
/plugins/syntax/number.ml            @coq/number-maintainers
/plugins/syntax/number_string_notation_plugin.mllib  @coq/number-maintainers
/user-contrib/Ltac2/Int.v            @coq/number-maintainers
/test-suite/output/FloatExtraction*  @coq/number-maintainers
/test-suite/output/*Number*          @coq/number-maintainers
/test-suite/primitive/float/         @coq/number-maintainers
/test-suite/primitive/sint63/        @coq/number-maintainers
/test-suite/primitive/uint63/        @coq/number-maintainers
/theories/Init/Decimal.v             @coq/number-maintainers
/theories/Init/Hexadecimal.v         @coq/number-maintainers
/theories/Init/Nat.v                 @coq/number-maintainers
/theories/Init/Number.v              @coq/number-maintainers
/theories/*Arith/                    @coq/number-maintainers
/theories/Numbers/                   @coq/number-maintainers
/theories/Floats/                    @coq/number-maintainers
/theories/extraction/Extr*Nat*       @coq/number-maintainers
/theories/extraction/Extr*Z*         @coq/number-maintainers
/theories/extraction/ExtrOCamlFloats.v  @coq/number-maintainers
/theories/extraction/ExtrOCamlInt*   @coq/number-maintainers

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coqdep*  @coq/legacy-build-maintainers @coq/build-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/core/toplevel/   @coq/toplevel-maintainers
/core/sysinit/    @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers

########## Vernacular ##########

/core/vernac/              @coq/vernac-maintainers

/core/vernac/metasyntax.*  @coq/parsing-maintainers

/core/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers
