Repository coq/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coq/contributing-process-maintainers, @coq/legacy-build-maintainers, @coq/build-maintainers, @coq/ci-maintainers, @coq/windows-build-maintainers, @coq/nix-maintainers, @ghost, @coq/bench-maintainers, @coq/doc-maintainers, @coq/code-of-conduct-team, @coq/kernel-maintainers, @coq/engine-maintainers, @coq/universes-maintainers, @coq/pretyper-maintainers, @coq/stm-maintainers, @coq/plugin-tutorial-maintainers, @coq/lib-maintainers, @coq/coqide-maintainers, @coq/extensible-syntax-maintainers, @coq/vm-native-maintainers, @coq/library-maintainers, @coq/parsing-maintainers, @coq/stdlib-maintainers, @coq/typeclasses-maintainers, @coq/reals-library-maintainers, @coq/compat-maintainers, @coq/btauto-maintainers, @coq/cc-maintainers, @coq/derive-maintainers, @coq/extraction-maintainers, @coq/firstorder-maintainers, @coq/funind-maintainers, @coq/ltac-maintainers, @coq/micromega-maintainers, @coq/nsatz-maintainers, @coq/ring-maintainers, @coq/ssreflect-maintainers, @coq/rtauto-maintainers, @coq/ltac2-maintainers, @coq/tactics-maintainers, @coq/number-maintainers, @coq/coqdoc-maintainers, @coq/coq-makefile-maintainers, @silene, @coq/toplevel-maintainers, @coq/vernac-maintainers, @coq/test-suite-maintainers, @herbelin, @coq/dev-tools-maintainers

.github/CODEOWNERS:

# This file associates maintainer teams to each component.
# See CONTRIBUTING.md

########## Contributing process ##########

/.github/                   @coq/contributing-process-maintainers

/CONTRIBUTING.md            @coq/contributing-process-maintainers

########## Build system ##########

/Makefile*                      @coq/legacy-build-maintainers
/dev/tools/make_git_revision.sh @coq/legacy-build-maintainers

/configure              @coq/legacy-build-maintainers @coq/build-maintainers
/tools/configure/*      @coq/legacy-build-maintainers @coq/build-maintainers

/boot/               @coq/build-maintainers

########## CI infrastructure ##########

/dev/ci/             @coq/ci-maintainers
/dev/lint-*.sh       @coq/ci-maintainers
/.travis.yml         @coq/ci-maintainers
/.gitlab-ci.yml      @coq/ci-maintainers
/.github/workflows   @coq/ci-maintainers
/dev/ci/platform/    @coq/windows-build-maintainers
/Makefile.ci         @coq/ci-maintainers

/dev/ci/nix          @coq/nix-maintainers
*.nix                @coq/nix-maintainers

/dev/ci/user-overlays/*.sh @ghost
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/bench/            @coq/bench-maintainers

########## Documentation ##########

/README.md             @coq/doc-maintainers
/INSTALL.md            @coq/doc-maintainers

/CODE_OF_CONDUCT.md    @coq/code-of-conduct-team

/doc/                  @coq/doc-maintainers
/Makefile.doc          @coq/doc-maintainers

/dev/doc/              @coq/doc-maintainers

/doc/changelog/*/*.rst @ghost
/dev/doc/changes.md    @ghost
# Trick to avoid getting review requests
# each time someone modifies the changelog

/dev/doc/build-system*.txt    @coq/legacy-build-maintainers
/dev/doc/build-system.dune.md @coq/build-maintainers
/dev/doc/critical-bugs        @coq/kernel-maintainers
/dev/doc/econstr.md           @coq/engine-maintainers
/dev/doc/proof-engine.md      @coq/engine-maintainers
/dev/doc/release-process.md   @coq/contributing-process-maintainers
/dev/doc/shield-icon.png      @coq/contributing-process-maintainers
/dev/doc/SProp.md             @coq/universes-maintainers
/dev/doc/style.txt            @coq/contributing-process-maintainers
/dev/doc/unification.txt      @coq/pretyper-maintainers
/dev/doc/universes.md         @coq/universes-maintainers
/dev/doc/xml-protocol         @coq/stm-maintainers

/man/                  @coq/doc-maintainers

/doc/plugin_tutorial/  @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/              @coq/kernel-maintainers
/test-suite/coqchk/    @coq/kernel-maintainers

########## Coq lib ##########

/core/clib/                       @coq/lib-maintainers
/test-suite/unit-tests/clib/ @coq/lib-maintainers
/core/lib/                        @coq/lib-maintainers

########## Proof engine ##########

/core/engine/          @coq/engine-maintainers

/core/engine/univ*     @coq/universes-maintainers
/core/engine/uState.*  @coq/universes-maintainers

########## CoqIDE ##########

/ide/             @coq/coqide-maintainers
/ide/protocol/    @coq/stm-maintainers
/test-suite/ide/  @coq/stm-maintainers

########## Desugaring ##########

/core/interp/          @coq/extensible-syntax-maintainers

########## Kernel ##########

/core/kernel/          @coq/kernel-maintainers

/core/kernel/byterun/  @coq/vm-native-maintainers
/core/kernel/native*   @coq/vm-native-maintainers
/core/kernel/vm*       @coq/vm-native-maintainers
/core/kernel/vconv.*   @coq/vm-native-maintainers
/core/kernel/genOpcodefiles.* @coq/vm-native-maintainers

/core/kernel/sorts.*   @coq/universes-maintainers
/core/kernel/uGraph.*  @coq/universes-maintainers
/core/kernel/univ.*    @coq/universes-maintainers

########## Library ##########

/core/library/         @coq/library-maintainers

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/core/gramlib/         @coq/parsing-maintainers
/core/parsing/         @coq/parsing-maintainers

########## Standard library and plugins ##########

/theories/         @coq/stdlib-maintainers

/theories/Classes/ @coq/typeclasses-maintainers

/theories/Reals/   @coq/reals-library-maintainers

/theories/Compat/  @coq/compat-maintainers

/plugins/btauto/       @coq/btauto-maintainers
/theories/btauto/      @coq/btauto-maintainers

/plugins/cc/           @coq/cc-maintainers
/theories/cc/          @coq/cc-maintainers

/plugins/derive/       @coq/derive-maintainers
/theories/derive/      @coq/derive-maintainers

/plugins/extraction/   @coq/extraction-maintainers
/theories/extraction/  @coq/extraction-maintainers

/plugins/firstorder/   @coq/firstorder-maintainers
/theories/firstorder/  @coq/firstorder-maintainers

/plugins/funind/       @coq/funind-maintainers
/theories/funind/      @coq/funind-maintainers

/plugins/ltac/         @coq/ltac-maintainers
/theories/ltac/        @coq/ltac-maintainers

/plugins/micromega/    @coq/micromega-maintainers
/theories/micromega/   @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/        @coq/nsatz-maintainers
/theories/nsatz/       @coq/nsatz-maintainers

/plugins/ring/  @coq/ring-maintainers
/theories/setoid_ring/ @coq/ring-maintainers

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/theories/ssrmatching/ @coq/ssreflect-maintainers

/plugins/ssr/          @coq/ssreflect-maintainers
/theories/ssr/         @coq/ssreflect-maintainers

/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @coq/rtauto-maintainers
/theories/rtauto/      @coq/rtauto-maintainers

/user-contrib/Ltac2    @coq/ltac2-maintainers

########## Pretyper ##########

/core/pretyping/             @coq/pretyper-maintainers

/core/pretyping/vnorm.*      @coq/vm-native-maintainers
/core/pretyping/nativenorm.* @coq/vm-native-maintainers

########## Pretty printer ##########

/core/printing/        @coq/extensible-syntax-maintainers

########## Proof infrastructure ##########

/core/proofs/          @coq/engine-maintainers

########## STM ##########

/core/stm/                    @coq/stm-maintainers
/test-suite/interactive/ @coq/stm-maintainers
/test-suite/stm/         @coq/stm-maintainers
/test-suite/vio/         @coq/stm-maintainers

########## Tactics ##########

/core/tactics/         @coq/tactics-maintainers

/core/tactics/class_tactics.* @coq/typeclasses-maintainers
/test-suite/typeclasses/ @coq/typeclasses-maintainers

########## Number ##########

/interp/numTok.*                     @coq/number-maintainers
/kernel/float64*                     @coq/number-maintainers
/kernel/uint63*                      @coq/number-maintainers
/plugins/syntax/g_number_string.mlg  @coq/number-maintainers
/plugins/syntax/int63_syntax_plugin.mllib  @coq/number-maintainers
/plugins/syntax/number.ml            @coq/number-maintainers
/plugins/syntax/number_string_notation_plugin.mllib  @coq/number-maintainers
/user-contrib/Ltac2/Int.v            @coq/number-maintainers
/test-suite/output/FloatExtraction*  @coq/number-maintainers
/test-suite/output/*Number*          @coq/number-maintainers
/test-suite/primitive/float/         @coq/number-maintainers
/test-suite/primitive/sint63/        @coq/number-maintainers
/test-suite/primitive/uint63/        @coq/number-maintainers
/theories/Init/Decimal.v             @coq/number-maintainers
/theories/Init/Hexadecimal.v         @coq/number-maintainers
/theories/Init/Nat.v                 @coq/number-maintainers
/theories/Init/Number.v              @coq/number-maintainers
/theories/*Arith/                    @coq/number-maintainers
/theories/Numbers/                   @coq/number-maintainers
/theories/Floats/                    @coq/number-maintainers
/theories/extraction/Extr*Nat*       @coq/number-maintainers
/theories/extraction/Extr*Z*         @coq/number-maintainers
/theories/extraction/ExtrOCamlFloats.v  @coq/number-maintainers
/theories/extraction/ExtrOCamlInt*   @coq/number-maintainers

########## Tools ##########

/tools/coqdoc/            @coq/coqdoc-maintainers
/test-suite/coqdoc/       @coq/coqdoc-maintainers
/tools/coqwc*             @coq/coqdoc-maintainers
/test-suite/coqwc/        @coq/coqdoc-maintainers

/tools/coq_makefile*      @coq/coq-makefile-maintainers
/tools/CoqMakefile*       @coq/coq-makefile-maintainers
/test-suite/coq-makefile/ @coq/coq-makefile-maintainers

/tools/TimeFileMaker.py   @coq/coq-makefile-maintainers
/tools/make-*-tim*.py     @coq/coq-makefile-maintainers

/tools/coqdep*  @coq/legacy-build-maintainers @coq/build-maintainers

/tools/coq_tex*        @silene
# Secondary maintainer @gares

########## Toplevel ##########

/core/toplevel/   @coq/toplevel-maintainers
/core/sysinit/    @coq/toplevel-maintainers
/topbin/     @coq/toplevel-maintainers

########## Vernacular ##########

/core/vernac/              @coq/vernac-maintainers

/core/vernac/metasyntax.*  @coq/parsing-maintainers

/core/vernac/classes.*     @coq/typeclasses-maintainers

########## Test suite ##########

/test-suite/Makefile        @coq/test-suite-maintainers
/test-suite/README.md       @coq/test-suite-maintainers
/test-suite/report.sh       @coq/test-suite-maintainers
/test-suite/unit-tests/src/ @coq/test-suite-maintainers

/test-suite/complexity/ @herbelin

/test-suite/success/Compat*.v @coq/compat-maintainers

########## Developer tools ##########

/dev/tools/ @coq/dev-tools-maintainers

/dev/tools/update-compat.py      @coq/compat-maintainers
/test-suite/tools/update-compat/ @coq/compat-maintainers

########## Dune  ##########

/.ocamlinit  @coq/build-maintainers
*dune*       @coq/build-maintainers
*.opam       @coq/build-maintainers

Register "proof-using" warnings once, fix typos in documentation
  doc/sphinx/proofs/writing-proofs/proof-mode.rst
  test-suite/output/ProofUsingClashWarning.out
  vernac/proof_using.ml
Owners: @coq/doc-maintainers

additions made in math-comp PR #757
  doc/changelog/06-ssreflect/15059-reflect-combinators.rst
  theories/ssr/ssrbool.v
Owners: @ghost, @coq/ssreflect-maintainers

Occur-check modulo the equivalence generated by evar-evar unification problems.
  engine/evarutil.ml
  engine/evarutil.mli
  engine/evd.ml
  engine/evd.mli
  pretyping/evarsolve.ml
  pretyping/evarsolve.mli
  proofs/evar_refiner.ml
  tactics/hints.ml
  test-suite/bugs/closed/bug_3010.v
  test-suite/bugs/closed/bug_3092.v
  test-suite/bugs/closed/bug_3186.v
  test-suite/bugs/closed/bug_7059.v
  test-suite/output/Notations4.out
Owners: none

Apply suggestions from code review
  pretyping/evarsolve.ml
Owners: none

Adding change log for #14673.
  doc/changelog/04-tactics/14673-master+fix4415-small-improvement-restriction-evars-with-letin.rst
Owners: @ghost

Fine-tuning evar restriction when a choice has to be made.
  pretyping/evarsolve.ml
  test-suite/bugs/closed/bug_4415.v
Owners: none

Partially fixes #14151: coqdoc error on ill-bracketed begin details/show.
  tools/coqdoc/cpretty.mll
Owners: @coq/coqdoc-maintainers

Add explicit support for recognizing bullets as sentences.
  tools/coqdoc/cpretty.mll
Owners: @coq/coqdoc-maintainers

Replacing some uses of "subentries" by "non-terminal" (more standard terminology already in used).
  parsing/notgram_ops.ml
  parsing/notgram_ops.mli
  vernac/metasyntax.ml
Owners: none

Reformulating comment about ETProdConstr.
  parsing/extend.ml
Owners: none

subentry -> entry_relative
  vernac/metasyntax.ml
Owners: none

More renaming subentry -> entry_relative.
  interp/notation.ml
  interp/notation.mli
  vernac/metasyntax.ml
Owners: none

Add overlay for coq-elpi
  dev/ci/user-overlays/13025-master+fix-printing-custom-no-level.sh
Owners: @ghost

Renaming notation_subentry_level -> notation_entry_relative_level
  interp/constrexpr.ml
  interp/constrextern.ml
  interp/notation.ml
  interp/notation.mli
  interp/notation_ops.ml
  interp/notation_term.ml
  vernac/metasyntax.ml
Owners: none

We introduce a type notation_subentry_level to preserve more informations about the subentries: we remember whether we are at any level, at the next level or at the self level.
  dev/doc/changes.md
  interp/constrexpr.ml
  interp/constrextern.ml
  interp/notation.ml
  interp/notation.mli
  interp/notation_ops.ml
  interp/notation_ops.mli
  interp/notation_term.ml
  parsing/extend.ml
  parsing/extend.mli
  printing/ppextend.ml
  printing/ppextend.mli
  test-suite/output/PrintingParentheses.out
  test-suite/output/PrintingParentheses.v
  vernac/metasyntax.ml
Owners: @ghost

Clarify the test for a coercion-like rule to really be a coercion + other doc.
  interp/notation.ml
  interp/notation.mli
  test-suite/output/Notations4.out
  test-suite/output/Notations4.v
  vernac/metasyntax.ml
Owners: none

Registering the notation_level_map to summaries.
  interp/notation.ml
  test-suite/output/Notations4.out
  test-suite/output/Notations4.v
Owners: none

To make the treatment more uniform, we use levels also in constr.
  interp/constrexpr.ml
  interp/constrextern.ml
  interp/notation.ml
  interp/notation.mli
  interp/notation_ops.ml
  vernac/metasyntax.ml
Owners: none

GUI tweaks
  ide/coqide/coqide.ml
  ide/coqide/coqide_ui.ml
  ide/coqide/wg_Debugger.ml
  ide/coqide/wg_Detachable.ml
  ide/coqide/wg_Detachable.mli
Owners: @coq/coqide-maintainers

Updating coqdep man page and coqdep section in reference manual.
  doc/sphinx/practical-tools/utilities.rst
  man/coqdep.1
Owners: @coq/doc-maintainers

Coqdep: Reworking treatment of From clause of Require.
  tools/coqdep_common.ml
Owners: @coq/legacy-build-maintainers, @coq/build-maintainers

Refman: removing outdated reference to Coq 8.5 regarding loadpath.
  doc/sphinx/language/core/modules.rst
Owners: @coq/doc-maintainers

Changing coqc loadpath order to fit coqdep regarding subdir order traversal.
  tools/coqdep_common.ml
  vernac/loadpath.ml
Owners: @coq/legacy-build-maintainers, @coq/build-maintainers

Adding a function System.all_in_path.
  lib/system.ml
  lib/system.mli
Owners: none

A useless try in coqdep.
  tools/coqdep_common.ml
Owners: @coq/legacy-build-maintainers, @coq/build-maintainers

Coqdep: interleave files and directories as in coqc.
  tools/coqdep_common.ml
Owners: @coq/legacy-build-maintainers, @coq/build-maintainers

Dead code and typos in coqdep_common.ml.
  tools/coqdep_common.ml
Owners: @coq/legacy-build-maintainers, @coq/build-maintainers

Add tests for coqdep "From" bugs #11631 (initial report) and #14539.
  test-suite/misc/deps-order-from.sh
  test-suite/misc/deps/deps-from.out
  test-suite/misc/deps/test-from/A/C.v
  test-suite/misc/deps/test-from/B/C.v
  test-suite/misc/deps/test-from/D.v
  test-suite/misc/deps/test-from/E.v
Owners: none

Coqdep: Fix redundancy in stat error message.
  tools/coqdep_common.ml
Owners: @coq/legacy-build-maintainers, @coq/build-maintainers

Parenthesise extracted functions
  theories/extraction/ExtrOcamlNatBigInt.v
  theories/extraction/ExtrOcamlZBigInt.v
Owners: @coq/number-maintainers

Remove ExtrOcamlBigIntConv module
  doc/changelog/12-misc/08252-extract_big.rst
  doc/stdlib/hidden-files
  test-suite/success/extraction.v
  theories/extraction/ExtrOcamlBigIntConv.v
Owners: @ghost, @coq/doc-maintainers, @coq/extraction-maintainers

[extraction] use big_int from Zarith
  doc/changelog/12-misc/08252-extract_big.rst
  plugins/extraction/big.ml
  plugins/extraction/extract_env.ml
  test-suite/success/extraction.v
  theories/extraction/ExtrOcamlBigIntConv.v
  theories/extraction/ExtrOcamlNatBigInt.v
  theories/extraction/ExtrOcamlZBigInt.v
Owners: @ghost, @coq/extraction-maintainers, @coq/number-maintainers

Add overlays
  dev/ci/user-overlays/8252-liyishuai-extract-big.sh
Owners: @ghost

Reynolds proof that Prop does not inject into a proposition
  doc/changelog/10-standard-library/15061-reynolds.rst
  doc/stdlib/index-list.html.template
  theories/Logic/Reynolds.v
Owners: @ghost, @coq/doc-maintainers, @coq/stdlib-maintainers

Changelog/doc for TC Opaque locality
  doc/changelog/07-vernac-commands-and-options/14685-alizter+locality-typeclasses-opaque.rst
  doc/sphinx/addendum/type-classes.rst
Owners: @ghost, @coq/doc-maintainers

Added locality attributes for Typeclasses Opaque and Transparent
  plugins/ltac/g_class.mlg
  test-suite/success/TypeclassesOpaque.v
  vernac/classes.ml
  vernac/classes.mli
  vernac/record.ml
Owners: @coq/ltac-maintainers

Adapt stdlib to warning on TC Opaque/Transparent
  theories/Classes/CMorphisms.v
  theories/Classes/CRelationClasses.v
  theories/Classes/Init.v
  theories/Classes/Morphisms.v
  theories/Classes/RelationClasses.v
  theories/Classes/RelationPairs.v
  theories/ssr/ssrbool.v
  theories/ssr/ssrfun.v
Owners: @coq/typeclasses-maintainers, @coq/ssreflect-maintainers

Overlays for set_typeclass_transparency hint_locality
  dev/ci/user-overlays/14685-SkySkimmer-alizter+locality-typeclasses-opaque.sh
Owners: @ghost

Use separate warning for Typeclasses Transparent/Opaque locality
  plugins/ltac/g_class.mlg
Owners: @coq/ltac-maintainers

Move set_typeclass_tc implem to classes.ml
  plugins/ltac/g_class.mlg
  vernac/classes.ml
  vernac/classes.mli
Owners: @coq/ltac-maintainers
